@media only screen and (min-width: 31.25em) {
  /* line 2, ../_sass/media-queries.scss */
  .container {
    max-width: 768px;
    margin: 0 auto;
  }

  /* line 6, ../_sass/media-queries.scss */
  table {
    width: 500px;
  }

  /* line 9, ../_sass/media-queries.scss */
  #conspiracy-of-shadows {
    max-width: 1040px;
  }

  /* line 12, ../_sass/media-queries.scss */
  article.postings {
    width: auto;
    float: left;
  }
}
@media only screen and (min-width: 48em) {
  /* line 18, ../_sass/media-queries.scss */
  #content aside {
    width: 30%;
    float: left;
  }

  /* line 22, ../_sass/media-queries.scss */
  #content aside.first {
    margin: 13% auto 1% auto;
  }

  /* line 26, ../_sass/media-queries.scss */
  article.postings {
    width: 62%;
  }

  /* line 29, ../_sass/media-queries.scss */
  article.first {
    margin: 13% auto 1% auto;
  }

  /* line 34, ../_sass/media-queries.scss */
  .gutters .col {
    margin-left: 2%;
  }
  /* line 37, ../_sass/media-queries.scss */
  .gutters .col:first-child {
    margin-left: 0;
  }

  /* line 43, ../_sass/media-queries.scss */
  .span-1 {
    width: 8.33333333333%;
  }

  /* line 44, ../_sass/media-queries.scss */
  .span-2 {
    width: 16.6666666667%;
  }

  /* line 45, ../_sass/media-queries.scss */
  .span-3 {
    width: 25%;
  }

  /* line 46, ../_sass/media-queries.scss */
  .span-4 {
    width: 33.3333333333%;
  }

  /* line 47, ../_sass/media-queries.scss */
  .span-5 {
    width: 41.6666666667%;
  }

  /* line 48, ../_sass/media-queries.scss */
  .span-6 {
    width: 50%;
  }

  /* line 49, ../_sass/media-queries.scss */
  .span-7 {
    width: 58.3333333333%;
  }

  /* line 50, ../_sass/media-queries.scss */
  .span-8 {
    width: 66.6666666667%;
  }

  /* line 51, ../_sass/media-queries.scss */
  .span-9 {
    width: 75%;
  }

  /* line 52, ../_sass/media-queries.scss */
  .span-10 {
    width: 83.3333333333%;
  }

  /* line 53, ../_sass/media-queries.scss */
  .span-11 {
    width: 91.6666666667%;
  }

  /* line 54, ../_sass/media-queries.scss */
  .span-12 {
    width: 100%;
  }

  /* line 57, ../_sass/media-queries.scss */
  .gutters .span-1 {
    width: 6.5%;
  }
  /* line 58, ../_sass/media-queries.scss */
  .gutters .span-2 {
    width: 15.0%;
  }
  /* line 59, ../_sass/media-queries.scss */
  .gutters .span-3 {
    width: 23.5%;
  }
  /* line 60, ../_sass/media-queries.scss */
  .gutters .span-4 {
    width: 32.0%;
  }
  /* line 61, ../_sass/media-queries.scss */
  .gutters .span-5 {
    width: 40.5%;
  }
  /* line 62, ../_sass/media-queries.scss */
  .gutters .span-6 {
    width: 49.0%;
  }
  /* line 63, ../_sass/media-queries.scss */
  .gutters .span-7 {
    width: 57.5%;
  }
  /* line 64, ../_sass/media-queries.scss */
  .gutters .span-8 {
    width: 66.0%;
  }
  /* line 65, ../_sass/media-queries.scss */
  .gutters .span-9 {
    width: 74.5%;
  }
  /* line 66, ../_sass/media-queries.scss */
  .gutters .span-10 {
    width: 83.0%;
  }
  /* line 67, ../_sass/media-queries.scss */
  .gutters .span-11 {
    width: 91.5%;
  }
  /* line 68, ../_sass/media-queries.scss */
  .gutters .span-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 65em) {
  /* line 74, ../_sass/media-queries.scss */
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  /* line 78, ../_sass/media-queries.scss */
  #conspiracy-of-shadows {
    max-width: 500px;
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
  }

  /* line 86, ../_sass/media-queries.scss */
  #fixed-container {
    outline: 0;
    position: absolute;
    left: 30%;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for viewports that meet the condition */
}
