/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
	#toc, .toc{
		display:none;
	}
	.table-scroll{
		display: table;
		position: static;

		caption{
			display:table-caption;
		}

		thead{
			display: table-header-group;
			vertical-align: middle;
			float:none;
			border-bottom:3px solid $dark-gray;
			tr{
			display:table-row;
			}
			th{
				display:table-cell;
			}
			th.twelve{
				width:12%;
			}
			th.twenty{
				width:20%;
			}
			th.thirty-three{
				width:33%;
			}
			th.sixty-six{
				width:66%;
			}
			th.forty{
				width:40%;
			}
			th.five{
				width:5%;
			}
			th.ten{
				width:10%;
			}
		}
		tbody{
			display: table-row-group;
			position: static;
			vertical-align: middle;
			white-space:normal;
			tr{
				display:table-row;
				td{
					display:table-cell;
				}
			}
		}
	}