<section class="clearfix gutters block">
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>The Leader</h3>
		<p class="first">The Leader is a character that is at the forefront of each Arc. This can be decided informally as play progresses, or can be selected from among the members of the Cell. Either way, for that Arc they take on the responsibility of molding the direction of the Cell. Of course this also exposes them to the Conspiracy, making the character the primary target for that Arc and suffering the most.</p>
	</div>
	<aside class="span-3 col empty">&nbsp;
	</aside>
</section>
