<section class="clearfix gutters block" id="missing-session">
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>Missing a Session</h3>
		<p class="first"><em>Conspiracy of Shadows</em> is designed to be played as an ongoing game, but with an eye towards the busy schedules of working adults. Despite the modular nature of play, life happens and players can miss out on sessions.</p>
		<p>Before play begins, the missing player must take a few minutes to explain what happend to their character. Where did they go? How did they find the rest of the Cell? What trials did they suffer?</p>
		<p>Once the missing player describes the events of their character's absense, the Game Master is allowed to apply Wound or add a Twist to the game that falls in line with the events described. They don't have to do this, but it often provides the opportunity to shift the game in a new direction.</p>
	</div>
	<aside class="span-3 col empty">&nbsp;
	</aside>
</section>
