<div class="clearfix gutters block" id="taint">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>Taint</h3>
		<p class="first">Taint is the potential corruption of a character brought on by following their dark impulses and through encounters with the supernatural. This corruption is both a descent into evil and the progressive loss of a character's humanity. The corruption infuses the character and slowly removes what makes them human.</p>
		<p>Whenever a character takes an action that puts their humanity in jeopardy consult the Taint Modifier table. Toss the listed number of rune stones and compare the result against the Taint Modifier Table. If the result has a successful the character then tosses against the Taint Effects Table.</p>

		<table>
			<caption>Taint Modifier Table</caption>
			<thead>
				<tr>
					<th>Action</th>
					<th>Number of Runes</th>
					<th class="sixty-six">Modifier</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Crime of Passion</td>
					<td>6</td>
					<td class="futhark">F H O</td>
				</tr>
				<tr>
					<td>Betrayal</td>
					<td>18</td>
					<td class="futhark">L P F H O</td>
				</tr>
				<tr>
					<td>Breaking a Tenet of Faith</td>
					<td>12</td>
					<td class="futhark">L V  H O</td>
				</tr>
				<tr>
					<td>Breaking an Oath</td>
					<td>12</td>
					<td class="futhark">L V P F</td>
				</tr>
				<tr>
					<td>Defilement</td>
					<td>18</td>
					<td class="futhark">V P F H O</td>
				</tr>
				<tr>
					<td>Premeditated Murder</td>
					<td>24</td>
					<td class="futhark">L V P F H O</td>
				</tr>
				<tr>
					<td>Wyrding or Ritual</td>
					<td>6</td>
					<td class="futhark">L V P</td>
				</tr>
				<tr>
					<td>Using a Sinkhole's Powers</td>
					<td>12</td>
					<td class="futhark">L F H O</td>
				</tr>
			</tbody>
		</table>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>
<div class="clearfix gutters block">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">

		<h4>Becoming Tainted</h4>
		<p class="first">When a character first becomes Tainted, they gain an aura. It is a subtle hint of the otherworldly power that has begun to infuse the character. Add to your character sheet what this subtle aura is. It could be a constant rustling of wind that surrounds the character, a particular odor, or any other colorful effect.</p>
		<p>After this initial effect, any additional Taint requires the player to pull a single rune stone and toss it. Update your character sheet with the the results.</p>
		<table class="table-scroll">
			<caption>Taint Effects Table</caption>
			<thead>
				<tr>
					<th class="ten">Rune</th>
					<th>Effect</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><span class="futhark">J</span> Astrild Face Down</td>
					<td>Always speaks in a whisper, leaning in uncomfortably close.</td>
				</tr>
				<tr>
					<td><span class="futhark">J</span> Astrild Face Up</td>
					<td>Has tattoos that seem to shift and move out of the corner of your eye.</td>
				</tr>
				<tr>
					<td><span class="futhark">A</span> Atridr Face Up</td>
					<td>Fingers and hands constantly twitch.</td>
				</tr>
				<tr>
					<td><span class="futhark">A</span> Atridr Face Down</td>
					<td>Nose trickles blood at random moments.</td>
				</tr>
				<tr>
					<td><span class="futhark">L</span> Avling Face Down</td>
					<td>Sweats constantly.</td>
				</tr>
				<tr>
					<td><span class="futhark">L</span> Avling Face Up</td>
					<td>One eye appears to be glazed over and dead.</td>
				</tr>
				<tr>
					<td><span class="futhark">M</span> Beli Face Down</td>
					<td>Raises the hair on people's necks when within a few feet.</td>
				</tr>
				<tr>
					<td><span class="futhark">M</span> Beli Face Up</td>
					<td>Dogs bark whenever near the character.</td>
				</tr>
				<tr>
					<td><span class="futhark">Y</span> Bragi Face Down</td>
					<td>Jaw is locked shut, forcing the character to speak through clenched teeth.</td>
				</tr>
				<tr>
					<td><span class="futhark">Y</span> Bragi Face Up</td>
					<td>Sounds seem muffled when they are near.</td>
				</tr>
				<tr>
					<td><span class="futhark">K</span> Cheru Face Up</td>
					<td>Suffers from stigmata.</td>
				</tr>
				<tr>
					<td><span class="futhark">K</span> Cheru Face Down</td>
					<td>Unable to make eye contact.</td>
				</tr>
				<tr>
					<td><span class="futhark">V</span> Dod Face Up</td>
					<td>Makes no sound walking about, despite what the character is wearing.</td>
				</tr>
				<tr>
					<td><span class="futhark">V</span> Dod Face Down</td>
					<td>Skin is almost translucent.</td>
				</tr>
				<tr>
					<td><span class="futhark">B</span> Fiollnir Face Down</td>
					<td>Can only stomach raw meat.</td>
				</tr>
				<tr>
					<td><span class="futhark">B</span> Fiollnir Face Up</td>
					<td>Mutters the same prayer under their breath compulsively.</td>
				</tr>
				<tr>
					<td><span class="futhark">S</span> Fiolsvid Face Down</td>
					<td>Skin is constantly peeling.</td>
				</tr>
				<tr>
					<td><span class="futhark">S</span> Fiolsvid Face Up</td>
					<td>Face trapped in a rictus grin.</td>
				</tr>
				<tr>
					<td><span class="futhark">Q</span> Fiorgyn Face Up</td>
					<td>Unable to maintain weight and has a skeletal appearance.</td>
				</tr>
				<tr>
					<td><span class="futhark">Q</span> Fiorgyn Face Down</td>
					<td>Forked tongue.</td>
				</tr>
				<tr>
					<td><span class="futhark">I</span> Glede Face Down</td>
					<td>Eyes have taken on the aspect of a snake.</td>
				</tr>
				<tr>
					<td><span class="futhark">I</span> Glede Face Up</td>
					<td>Glows softly in darkness.</td>
				</tr>
				<tr>
					<td><span class="futhark">Z</span> Mot Face Down</td>
					<td>Lights dim when they enter a room.</td>
				</tr>
				<tr>
					<td><span class="futhark">Z</span> Mot Face Up</td>
					<td>Does not cast a reflection.</td>
				</tr>
				<tr>
					<td><span class="futhark">O</span> Modi Face Down</td>
					<td>Vermin become bold when they are around.</td>
				</tr>
				<tr>
					<td><span class="futhark">O</span> Modi Face Up</td>
					<td>Skin has taken on a greenish color with a hint of scales.</td>
				</tr>
				<tr>
					<td><span class="futhark">R</span> Reise Face Up</td>
					<td>Radiates heat enough that when they touch water it noticeably warms.</td>
				</tr>
				<tr>
					<td><span class="futhark">R</span> Reise Face Down</td>
					<td>Their blood is black and smells foul.</td>
				</tr>
				<tr>
					<td><span class="futhark">U</span> Rikdom Face Up</td>
					<td>Smells faintly of blood.</td>
				</tr>
				<tr>
					<td><span class="futhark">U</span> Rikdom Face Down</td>
					<td>Skin is overly dry. Constantly cracking and bleeding.</td>
				</tr>
				<tr>
					<td><span class="futhark">P</span> Sannhet Face Down</td>
					<td>Skin has taken on a blueish white color.</td>
				</tr>
				<tr>
					<td><span class="futhark">P</span> Sannhet Face Up</td>
					<td>Ears have taken on a sharp, pointed shape.</td>
				</tr>
				<tr>
					<td><span class="futhark">D</span> Skadi Face Down</td>
					<td>Skin is ice cold to the touch, even chilling cups in their hand.</td>
				</tr>
				<tr>
					<td><span class="futhark">D</span> Skadi Face Up</td>
					<td>Fires suddenly glow brighter when they are near.</td>
				</tr>
				<tr>
					<td><span class="futhark">X</span> Smerte Face Up</td>
					<td>Patches of skin have taken on a rocky look and feel.</td>
				</tr>
				<tr>
					<td><span class="futhark">X</span> Smerte Face Down</td>
					<td>Wounds heal over with a waxy substance rather than skin.</td>
				</tr>
				<tr>
					<td><span class="futhark">E</span> Trenger Face Up</td>
					<td>Has hair growing on their palms.</td>
				</tr>
				<tr>
					<td><span class="futhark">E</span> Trenger Face Down</td>
					<td>Cannot abide sunlight.</td>
				</tr>
				<tr>
					<td><span class="futhark">W</span> Uthold Face Up</td>
					<td>Covered in a constant rash.</td>
				</tr>
				<tr>
					<td><span class="futhark">W</span> Uthold Face Down</td>
					<td>A third eye has sprouted on their body somewhere.</td>
				</tr>
				<tr>
					<td><span class="futhark">F</span> Vajir Face Up</td>
					<td>Eyes tear up with blood.</td>
				</tr>
				<tr>
					<td><span class="futhark">F</span> Vajir Face Down</td>
					<td>Wracked by bloody coughing fits.</td>
				</tr>
				<tr>
					<td><span class="futhark">N</span> Velded Face Down</td>
					<td>Eyes glow red in the darkness.</td>
				</tr>
				<tr>
					<td><span class="futhark">N</span> Velded Face Up</td>
					<td>Completely hairless.</td>
				</tr>
				<tr>
					<td><span class="futhark">T</span> Vijir Face Down</td>
					<td>Lips are a bright purple.</td>
				</tr>
				<tr>
					<td><span class="futhark">T</span> Vijir Face Up</td>
					<td>Teeth are sharp like a predators.</td>
				</tr>
				<tr>
					<td><span class="futhark">H</span> Vojin Face Down</td>
					<td>Smells like rotting meat.</td>
				</tr>
				<tr>
					<td><span class="futhark">H</span> Vojin Face Up</td>
					<td>Eyes are black pools like a shark.</td>
				</tr>
			</tbody>
		</table>
		
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>
