<section class="clearfix gutters block">
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>Building an Arc</h3>
		<p class="first">Arcs are both a series of events that occur at a single location on the journey map as well as the central idea being explored. Each Arc begins with a concept to function as a framework. It guides the GM in the creation process and should be expressed as an opposing idea (e.g. Loyalty vs Faith), a simple statement (e.g. Retribution), or a question (e.g. What is the cost of revealing the truth?). Some appropriate concepts are:</p>
		<ul class="unstyled spaced-list">
			<li><strong>Betrayal</strong><br/>Betrayal can play a key role in the game. It is based upon the idea that anyone can be a villain. Anyone can step over the line and expose comrades to risk, even death. Betrayal can appear in a symbolic fashion or as a tragic character flaw in one of the characters or supporting cast members. However, this can be easily overused. Don’t use betrayal commonly in the forefront of every arc.</li>
			<li><strong>Corruption</strong><br/>The slow, spiraling descent from the light into the pit of evil is a core aspect of the game. It is easy to introduce symbolism in an arc with scenes of decaying flesh, rotting wood, and other common horror trappings. Or, corruption can appear as the eroding morality of a protagonist or key supporting cast member in the face of evil. The most obvious use of this mission concept is when the Cell must defend a corrupt world from an even worse alternative.</li>
			<li><strong>Doom</strong><br/>Doom is a difficult concept to use in a game because it is an end result instead of an ongoing struggle. It is the ultimate destiny of corruption. Doom can hang over the characters, antagonists, supporting cast members, or the world at large. It can also appear as a part of a prophecy, or in the ruins of the ancient empires throughout parts of the world. Regardless of the way the GM uses Doom, it works best when balanced against other themes.</li>
			<li><strong>Struggle</strong><br/>Struggle is a key concept for all <em>Conspiracy of Shadows</em> games. Fighting a powerful conspiracy hinges on the idea of a struggle. It is rooted in both the internal struggles of characters as well as their external struggles. The GM can represent this concept in black-and-white, such as "good versus evil." It can also be used effectively with complex issues like, "Do the ends justify the means?" and "How do you defeat violence with violence?"</li>
			<li><strong>Faith</strong><br/>The setting of Conspiracy of Shadows is built upon faith. Religion is not simply a series of beliefs, but a solid way of life to people in the world. However, the mission concept of Faith also covers an individual’s belief in themself and their allies. This makes it an excellent concept to use. Test characters’ faiths at every opportunity. The characters should see and hear things that shake their faith to its foundation. When these tests are subtle, they are more effective.</li>	
		</ul>
		<p>Arcs are constructed by combining a location, a McGuffin, and the Conspiracy. We do this by tossing rune stones onto a piece of paper and using the results and location of the dice to map out the situation of the Arc.</p>
		<ul class="unstyled spaced-list">
			<li><strong>Step One</strong><br/></li>
		</ul>
		<p>Arcs typically follow one of three sets of Turn structures; the Gauntlet, the Quest, and the Confrontation. Deciding upon one will go a long way in helping the Game Master both prepare the right obstacles as well as guide both the atomosphere and the pace of play.</p>
		<h4>The Gauntlet</h4>
		<p class="first">The Gauntlet always begins with the Cell in some peril from which they must escape. The focus of the Arc is the characters themselves and their actions, not on the antagonists trying to harm them. This is a very common structure in a Conspiracy of Shadows game, as the Cell often finds itself in trouble either as a consequence of player choices or by the actions of the Conspiracy.</p>
		<p>Gauntlet Arcs work best with a pendulum style of pacing. The Arc starts in a tense series of moments with the Cell in a crisis from which they must escape without much time to think, only to act. After that moment of crisis, the pace slows a bit, allowing the Cell characters to rest and collect their breath. Then, the pace again picks up towards the ultimate end of the mission as they try to overcome the danger.</p>
		<ul class="spaced-list">
			<li>Escape from a city under siege.</li>
			<li>Escort an ally to safety.</li>
			<li>Kidnap a member of the Cult.</li>
			<li>Break into or out of a prison.</li>
			<li>Fight a running battle on the road.</li>
			<li>Escort refugees through a warzone.</li>
		</ul>
		<h4>The Quest</h4>
		<p class="first">The Quest structure centers on the Cell moving through a series of horrifying places in order to obtain something of value. It is very much influenced by the literary hero story arc in which the hero travels through the metaphorical wasteland to reach his ultimate goal. In this type of session, the focus is on the journey of the Cell and its interaction with the terrifying locations and horrific situations encountered. It is effectively the larger game but on a smaller scale.</p>
		<p>Quest Arcs work best as a gradual rise towards a crisis point, which can be at the end of a mission. Or, the GM can pull the rug out from under the Cell earlier as a surprise. The Arc starts off quietly, with plenty of time for planning and preparation by the Cell. As the Arc progresses, things slowly pick up as the GM throws increasingly difficult challenges at them, eventually leading to a crisis point at the end.</p>
		<ul class="spaced-list">
			<li>Find the corpse of the liche king.</li>
			<li>Destroy an unholy instrument.</li>
			<li>Rescue an important noble from bondage.</li>
			<li>Recover a lost weapon from a ruined city.</li>
			<li>Bring aid from a neighboring kingdome.</li>
		</ul>
		<h4>The Confrontation</h4>
		<p class="first">In a Confrontation Arc a villain directly opposes the Cell. The focus is upon the relationship between this nemesis and the Cell. Typically these Arcs only make their appearance at important milestones in the greater journey. Confrontation Arcs work best with a pendulum style of pacing.</p>
		<p>The Arc starts with a confrontation with the nemesis or their agents, but with no time for Cell to plan, only to react. After the confrontation, the Cell gets a chance to be proactive, setting the stage for the next confrontation, where the nemesis is forced to react to the Cell.</p>
		<ul class="spaced-list">
			<li>Compete for the favor of the ruler.</li>
			<li>Thwart the nemesis' illegal activities.</li>
			<li>Discover the nemesis' secret.</li>
			<li>Destroy the nemesis' most valuable asset.</li>
			<li>Force the nemesis to sign a treaty.</li>
			<li>Destroy the nemesis.</li>
		</ul>
	</div>
	<aside class="span-3 col empty">&nbsp;
	</aside>
</section>
<section class="clearfix gutters block">
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>Creating Locations</h3>
		<p class="first">Locations are an interesting dynamic and a map that fits on a single piece of paper (letter format or A4). It can be a city, a neighborhood a building, an unexplored tomb or any other place you can imagine. The important thing is to utilize the constraints a single piece of paper provides.</p>

		<h4>Taint Sinkholes</h4>
		<p class="first">The world in many ways is shaped by the passion and fear of those that came before. Emotions linger, warping the land and creating sinkholes of Taint. Near these sinkholes, resolve is weakened, baser instincts are embraced, and in some cases, previous acts of evil repeat through possessed mortal proxies. Using sinkholes is a key way to ratchet up the gothic horror implicet in Conspiracy of Shadows.</p>
		<p>To create a sinkhole toss three rune stones and assign the results to a column on the Sinkhole table. Cause outlines what events occured to cause the sinkhole to appear. Manifestations are how the Sinkhole physically asserts it's will. Powers are specific abilities that can be used by individuals who successfully complete a Dominance ritual. The use of Powers do not require the character to be in the Sinkhole they have dominated unless otherwise stated. Each use automatically graints the character new Taint.</p>

	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</section>
<section class="clearfix gutters block">
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<table class="table-scroll">
			<caption>Sinkhole Table</caption>
			<thead>
				<tr>
					<th class="twenty">Toss</th>
					<th class="twenty">Cause</th>
					<th class="twenty">Manifestations</th>
					<th class="twenty">Powers</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><span class="futhark">J</span> Astrild Face Down</td>
					<td>A spiritualist died while making contact with the other side at this location, locking both souls here together.</td>
					<td>Zombies that rise with the mist</td>
					<td><strong>Sleep</strong><br/><small>The target must overcome a Temperament Challenge versus the Strength of the Sinkhole or fall asleep for a number of scenes equal to the margin of failure.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">J</span> Astrild Face Up</td>
					<td>A mother and infant went into the water together and drowned. The mother's body was found and consecrated, but the child was never recovered.</td>
					<td>Dead Eaters prowl the shadows</td>
					<td><strong>Augury</strong><br/><small>Once per Turn you may ask the GM if an action you are considering will be good or bad and they must answer truthfully.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">A</span> Atridr Face Up</td>
					<td>During the last war, this location was used to house injured enemy soldiers, who were put to the sword by the current ruler of this place to save money.</td>
					<td>Dead trees kill so that they may drink blood</td>
					<td><strong>Dream Stalker</strong><br/><small>Once per Turn force a target to enter a Skirmish in their dreams. The opponent is a nightmare with stats equal to the target. The results of the Skirmish are real.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">A</span> Atridr Face Down</td>
					<td>A mason's apprentice fell into the cement and no one heard his cries, entombing him forever in the foundation.</td>
					<td>Black grass grows in the shape of wards</td>
					<td><strong>Dream Walking</strong><br/><small>Once per Turn you may enter the dreams of another. The player of that individual must tell you one true thing about the character and their plans.</small></td>
					
				</tr>
				<tr>
					<td><span class="futhark">L</span> Avling Face Down</td>
					<td>A young girl was raped by a close family member here repeatedly.</td>
					<td>The rocks bleed a caustic blood.</td>
					<td><strong>Stun</strong><br/><small>The target must overcome a Athletics Challenge versus the Strength of the Sinkhole or be unable to take an action for a number of rounds in a Skirmish equal to the margin of failure.</small></td>
					
				</tr>
				<tr>
					<td><span class="futhark">L</span> Avling Face Up</td>
					<td>The stoneway to Alfarhiem was corrupted by a Galgarmr.</td>
					<td>A foul smell permeates the air.</td>
					<td><strong>Bestow Wound</strong><br/><small>When taking a wound, you may transfer it to another within your line of sight by spending 1 Willpower from your pool.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">M</span> Beli Face Down</td>
					<td>A person wrongly accused of witchcraft was burnt at the stake here.</td>
					<td>A child's voice whispers horrific acts.</td>
					<td><strong>Parasitic Touch</strong><br/><small>When successfully touching another (Athletics Challenge) transfer Vitality from that character to your character in an amount equal to the Sinkhole Strength.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">M</span> Beli Face Up</td>
					<td>The Dark Prophet was born in this very ground.</td>
					<td>A black fog burns the throat and obscures vision.</td>
					<td><strong>Hate</strong><br/><small>The individual you identify becomes the target of all attacks in a Skirmish for a period of time equal to the Sinkhole's Strength while within the confines of the Sinkhole.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">Y</span> Bragi Face Down</td>
					<td>Two young lovers took there own lives on this spot.</td>
					<td>Sounds of battle float on the wind.</td>
					<td><strong>Imprison</strong><br/><small>The soul of an individual recently dead by your hands becomes imprisoned in the Sinkhole. Their Willpower can then be drawn upon like an additional Willpower Pool.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">Y</span> Bragi Face Up</td>
					<td>A kidnapping when horribly wrong in this spot.</td>
					<td>The tears of all who enter turn to blood.</td>
					<td><strong>Undead Plague</strong><br/><small>Roll D66 and multiply that number by the Sinkhole's Strength. This is the number of Soldiers of the Damned that rise up to serve you.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">K</span> Cheru Face Up</td>
					<td>The doctor constructed his first abomination here.</td>
					<td>A high pitched whine drowns out all sound.</td>
					<td><strong>Resurrection</strong><br/><small>If your character is killed you turn to dust instantly and are born by a wind back to the Sinkhole. In three days you are resurrected naked but whole.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">K</span> Cheru Face Down</td>
					<td>The dark prince renounced his allegience to the gods and was cursed on this very spot.</td>
					<td>Ghosts of the dead manifest at will</td>
					<td><strong>Master's Lament</strong><br/><small>The target suffers a loss of Vitality equal to the number of slaves they own times the Sinkhole's Strength.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">V</span> Dod Face Up</td>
					<td>A ritual murder was attempted here, only with unintended consequences.</td>
					<td>Pixies are drawn to the spot with malicious intent.</td>
					<td><strong>Dreaming Assassin</strong><br/><small>Once per Turn you may possess the body of another for one Scene while the character sleeps using that character's stats. The target wakes up assuming what happened was a dream.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">V</span> Dod Face Down</td>
					<td>A necromancer successfully completed a ritual murder, taking the first step towards Lichdom.</td>
					<td>All who enter must face the ghosts of those they have killed.</td>
					<td><strong>Abomination</strong><br/><small>You may summon forth a number of Abomniations equal to the Sinkhole's Strength.</small></td>			
				</tr>
				<tr>
					<td><span class="futhark">B</span> Fiollnir Face Down</td>
					<td>This is where she used to cook the children.</td>
					<td>Cackling laughter echoes in the distance.</td>
					<td><strong>Death Knight</strong><br/><small>You may summon forth a Death Knight which will serve you until destroyed.</small></td>			
					
				</tr>
				<tr>
					<td><span class="futhark">B</span> Fiollnir Face Up</td>
					<td>One part of the dead god is buried here.</td>
					<td>An icey chill make limbs numb.</td>
					<td><strong>Haunting Melody</strong><br/><small>You summon forth a melody that causes all within the Sinkhole to make a Temperament Challenge against a Difficulty equal to the Sinkhole's Strength. If failed they are Broken for one round of a Skirmish.</small></td>	
				</tr>
				<tr>
					<td><span class="futhark">S</span> Fiolsvid Face Down</td>
					<td>When the great lord conquered this land, this is where he crucified his first victim.</td>
					<td>The heat is oppressive and exhausting.</td>
					<td><strong>Unnatural Will</strong><br/><small>Add the Sinkhole's Strength to any Temperament Challenge.</small></td>	
					
				</tr>
				<tr>
					<td><span class="futhark">S</span> Fiolsvid Face Up</td>
					<td>The great fire started here with a brother lighting his sister on fire for sport.</td>
					<td>All food turns to ash when it enters.</td>
					<td><strong>Bane</strong><br/><small>Pick a specific Adversary template. That type of enemy suffers an additional amount of damange from you in a Skirmish equal to the Sinkhole's Strength.</small></td>						
				</tr>
				<tr>
					<td><span class="futhark">Q</span> Fiorgyn Face Up</td>
					<td>An entire family of 8 was murdered at this location by two wanted criminals.</td>
					<td>Skin itches uncontrollably.</td>
					<td><strong>Forbidden Knowledge</strong><br/><small>When engaging in a Challenge centered on the gathering of knowledge, gain +s equal to the Strength of the Sinkhole.</small></td>						
					
				</tr>
				<tr>
					<td><span class="futhark">Q</span> Fiorgyn Face Down</td>
					<td>This is where he murdered his brother's wife, but not where he hid the body.</td>
					<td>Death has no hold here, but those who die and leave collapse into ash.</td>
					<td><strong>Wyrd Resistance</strong><br/><small>Add +s equal to Sinkhole's Strength when resisting the effects of Wyrds used against you.</small></td>						
					
				</tr>
				<tr>
					<td><span class="futhark">I</span> Glede Face Down</td>
					<td>A jutun was slain here two ages ago.</td>
					<td>Liquid tastes like blood when drank here.</td>
					<td><strong>Translocate</strong><br/><small>You may instantainiously transport yourself and the gear you have on you a distance in feet equal to 10 times the Sinkhole's Strength.</small></td>						
					
				</tr>
				<tr>
					<td><span class="futhark">I</span> Glede Face Up</td>
					<td>This place used to house his soul.</td>
					<td>Wounds taken here fester.</td>
					<td><strong>Poison Resistance</strong><br/><small>Add +s equal to Sinkhole's Strength when resisting the effects of Poisons used against you.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">Z</span> Mot Face Down</td>
					<td>This place is sacred to the War God and has seen many sacrifices.</td>
					<td>Here the blind can see, but everything looks dead.</td>
					<td><strong>Fire Resistance</strong><br/><small>Add +s equal to Sinkhole's Strength when resisting the effects of Fire used against you.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">Z</span> Mot Face Up</td>
					<td>She would not be touched again, and so took out her vengeance here.</td>
					<td>The screaming of the damned echoes off the walls.</td>
					<td><strong>Cold Resistance</strong><br/><small>Add +s equal to Sinkhole's Strength when resisting the effects of Cold used against you.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">O</span> Modi Face Down</td>
					<td>They battled for three days on this spot.</td>
					<td>Everything smells of sulfur.</td>
					<td><strong>Acid Resistance</strong><br/><small>Add +s equal to Sinkhole's Strength when resisting the effects of Acid used against you.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">O</span> Modi Face Up</td>
					<td>Here she bathed in the blood of children to maintain her youth.</td>
					<td>The ground shakes ever so slightly, making footing uncertain.</td>
					<td><strong>Dark Vision</strong><br/><small>You can see as if it was a clear day regardless of the level of darkness surrounding you.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">R</span> Reise Face Up</td>
					<td>The resurrection ritual went very, very wrong.</td>
					<td>Only lies can be spoken in this place.</td>
					<td><strong>True Sight</strong><br/><small>You can see through any illusion or invisibility in your Sinkhole. You also gain +s equal to the Sinkhole's Strength when attempting to discover those hidden by more conventional means.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">R</span> Reise Face Down</td>
					<td>Vijir spoke a secret on this very spot.</td>
					<td>No matter what language you speak, it comes out in the God Tongue.</td>
					<td><strong>The Spider</strong><br/><small>You may climb any surface, including upside down on ceilings.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">U</span> Rikdom Face Up</td>
					<td>Modi was thwarted here, forcing his rage into the ground.</td>
					<td>Any fire struck explodes to burn everyone close.</td>
					<td><strong>Shimmering Image</strong><br/><small>In your Sinkhole you seem to shimmer adding +s to your Defense Rolls in a Skirmish.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">U</span> Rikdom Face Down</td>
					<td>Here she betrayed them all, leaving them exposed to true horror.</td>
					<td>The wind blows constantly with a gale force.</td>
					<td><strong>Stealthy</strong><br/><small>Add +s equal to Sinkhole's Strength when entering Skullduggery Challenges.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">P</span> Sannhet Face Down</td>
					<td>Here he plied his trade, enslaving many children for the dperavations of others.</td>
					<td>Object fly about the room at random when emotions are high.</td>
					<td><strong>Natural Weapons</strong><br/><small>When striking unarmed you deal damage as if using an Arming Sword.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">P</span> Sannhet Face Up</td>
					<td>A door to Dod's Fields has been opened here.</td>
					<td>All who enter forget why they came.</td>
					<td><strong>Telepathy</strong><br/><small>You may communicate with another through thought.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">D</span> Skadi Face Down</td>
					<td>This graveyard has been forgotten.</td>
					<td>Those who are wounded here suffer twice as much as normal.</td>
					<td><strong>Wall of Ice</strong><br/><small>Once per Turn you may surround yourself in a Wall of Ice that is 30 feet tall. The Wall will remain for a number of scenes equal to the Sinkhole's Strength.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">D</span> Skadi Face Up</td>
					<td>Here they froze to death in a single hour.</td>
					<td>Iron and steel shatter when struck</td>
					<td><strong>Fireballs</strong><br/><small>You may use a sling to hurl stones that turn into fiery explosions. Instead of doing damage as normal, the fiery stones explode to deal 10 damage that ignore DR.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">X</span> Smerte Face Up</td>
					<td>They chopped down a tree that stood here since the Dead Queen led the First Men out of the north.</td>
					<td>Wood and cloth rots to nothing when entering.</td>
					<td><strong>Invisibility</strong><br/><small>Once per Turn you may turn invisibile. The invisibility lasts until you wish it to end or you successfully strike another.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">X</span> Smerte Face Down</td>
					<td>Here the Deathless earned his name.</td>
					<td>Vermin cover every surface</td>
					<td><strong>Rejuvination</strong><br/><small>In a Skirmish at the Sinkhole, double your recovery rate for your Vitality and Willpower pools.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">E</span> Trenger Face Up</td>
					<td>On this location the Guardian fell, shattering time.</td>
					<td>Animals refuse to enter.</td>
					<td><strong>Infused Fighter</strong><br/><small>In a Skirmish you can make two Melee Attacks against one or more targets.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">E</span> Trenger Face Down</td>
					<td>The Savior ascended by sacrificing so many here.</td>
					<td>Snakes in vast numbers have made this place their home.</td>
					<td><strong>Aura of Fear</strong><br/><small>In the Sinkhole you are always considered to have the Feared Advantage.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">W</span> Uthold Face Up</td>
					<td>The Purifier burned it down full of people.</td>
					<td>Skeletons rise up from the ground to attack everything living.</td>
					<td><strong>Bolster</strong><br/><small>While in the Sinkhole, no ally of yours can ever become Broken during a Skirmish.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">W</span> Uthold Face Down</td>
					<td>The Axeman claimed his first soul here.</td>
					<td>Every surface is wet.</td>
					<td><strong>Trembling Earth</strong><br/><small>During a Skirmish each round you may designate a number of squares equal to the Strength of the Sinkhole as Very Difficult Ground.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">F</span> Vajir Face Up</td>
					<td>No place in the world has seen more torture than here.</td>
					<td>Dust swirls in the air with the slightest movement obscuring sight.</td>
					<td><strong>Webbing</strong><br/><small>In your Sinkhole you may used a Ranged Attack to trip up a target with spider-like webbing. If you successfully hit the individual, they are unable to Move for a number of rounds equal to the Strength of the Sinkhole.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">F</span> Vajir Face Down</td>
					<td>Instead of showing mercy with a quick death, she let him linger here for a week.</td>
					<td>Monks can be heard chanting blasphemy.</td>
					<td><strong>Place of Power</strong><br/><small>When using Wards in the Sinkhole, add the Sinkhole's Strength as +s to all tosses in the process.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">N</span> Velded Face Down</td>
					<td>Plague victims were buried here without concecration.</td>
					<td>Something dark and bloody is always moving out of the corn of the eye.</td>
					<td><strong>Infused Archer</strong><br/><small>In a Skirmish you can make two Ranged Attacks against one or more targets.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">N</span> Velded Face Up</td>
					<td>One does not betray a god-king and go to death easily.</td>
					<td>No sound can raise above a whisper.</td>
					<td><strong>Necromantic Focus</strong><br/><small>When using the Animation Ritual in your Sinkhole, add the Sinkhole's Strength as +s to all tosses in the process.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">T</span> Vijir Face Down</td>
					<td>They thought he was dead so buried him alive.</td>
					<td>All vision is warped as if seen through a fishbowl.</td>
					<td><strong>Summoner's Circle</strong><br/><small>When using the Summoning Ritual in your Sinkhole, add the Sinkhole's Strength as +s to all tosses in the process.</small></td>
				</tr>
				<tr>
					<td><span class="futhark">T</span> Vijir Face Up</td>
					<td>Here she acquired the tast for flesh.</td>
					<td>The successful fail and the failures succeed.</td>
					<td><strong>Infused Geas</strong><br/><small>When using the Geas Ritual in your Sinkhole, add the Sinkhole's Strength as +s to all tosses in the process.</small></td>
					
				</tr>
				<tr>
					<td><span class="futhark">H</span> Vojin Face Down</td>
					<td>The entire caravan starved to death on this spot.</td>
					<td>Animals turn rabid attacking their masters here.</td>
					<td><strong>Dominator</strong><br/><small>When using the Domination Ritual on an individual in your Sinkhole, add the Sinkhole's Strength as +s to all tosses in the process.</small></td>
					
				</tr>
				<tr>
					<td><span class="futhark">H</span> Vojin Face Up</td>
					<td>Here a god was stillborn, yet walked away.</td>
					<td>The dead rise immediately and attack those closest to them.</td>
					<td><strong>Formless</strong><br/><small>When using the Shapechanging Ritual in your Sinkhole, add the Sinkhole's Strength as +s to all tosses in the process.</small></td>					
				</tr>
			</tbody>
		</table>


	</div>
	<aside class="span-3 col empty">&nbsp;
	</aside>
</section>
