<section class="clearfix gutters block">
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>Loot</h3>
		<p class="first">In Conspiracy of Shadows, Loot is the genearic term used to describe anything of value that characters can get out of a Challenge or Skirmish. It isn't just tangible objects like gear or artifacts, but can easily be knowlege about the Cell's enemies, having the powerful owe you a favor, or even a new ally.</p>
		<p>Typically, Loot is something planned by the GM as the reward or Twist the character's receive at the end of an encounter. However, it can be just as fun to embrace a random toss of the rune stones. When doing so, compare your toss against the Loot Type Table then use that result to toss against the appropriate follow up table.</p>
		<table>
			<caption>Loot Type Table</caption>
			<thead>
				<tr>
					<th class="twenty"># of Successes</th>
					<th>Loot Type</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1 - 4</td>
					<td>Detritus</td>
				</tr>
				<tr>
					<td>5 - 8</td>
					<td>Lore</td>
				</tr>
				<tr>
					<td>9 - 12</td>
					<td>Gear</td>
				</tr>
				<tr>
					<td>13 - 18</td>
					<td>Valuables</td>
				</tr>
				<tr>
					<td>19 - 24</td>
					<td>Artifacts</td>
				</tr>
			</tbody>
		</table>
		<table>
			<caption>Lore Table</caption>
			<thead>
				<tr>
					<th class="twenty"># of Successes</th>
					<th>Lore Type</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1 - 4</td>
					<td>Lore that leads to a potentially profitable side quest</td>
				</tr>
				<tr>
					<td>5 - 8</td>
					<td>Lore that details a way to defeat a particular Adversary</td>
				</tr>
				<tr>
					<td>9 - 12</td>
					<td>Lore regarding a specific Ritual or Named Wyrd</td>
				</tr>
				<tr>
					<td>13 - 18</td>
					<td>Lore that provides a +1R Advantage against your next enemy</td>
				</tr>
				<tr>
					<td>19 - 24</td>
					<td>Lore regarding the plans of the Conspiracy</td>
				</tr>
			</tbody>
		</table>
	<table>
		<caption>Gear Table</caption>
		<thead>
			<tr>
					<th class="twenty"># of Successes</th>
				<th>Gear Type</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1 - 3</td>
				<td>A masterwork weapon (+1 to all Weapon Stats)</td>
			</tr>
			<tr>
				<td>4 - 6</td>
				<td>A standard weapon</td>
			</tr>
			<tr>
				<td>7 - 10</td>
				<td>Armor</td>
			</tr>
			<tr>
				<td>11 - 13</td>
				<td>A container</td>
			</tr>
			<tr>
				<td>14 - 16</td>
				<td>Food</td>
			</tr>
			<tr>
				<td>17 - 19</td>
				<td>Apothecary Goods</td>
			</tr>
			<tr>
				<td>20 - 22</td>
				<td>Clothing</td>
			</tr>
			<tr>
				<td>23 - 24</td>
				<td>Tools</td>
			</tr>
		</tbody>
	</table>
	<table>
		<caption>Detritus Table</caption>
		<thead>
			<tr>
				<th class="twenty"># of Successes</th>
				<th>Detritus Type</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1 - 3</td>
				<td>A fresh corpse</td>
			</tr>
			<tr>
				<td>4 - 6</td>
				<td>Indecipherable notes in a familiar hand</td>
			</tr>
			<tr>
				<td>7 - 10</td>
				<td>An unknown religious idol</td>
			</tr>
			<tr>
				<td>11 - 13</td>
				<td>A child's toy</td>
			</tr>
			<tr>
				<td>14 - 16</td>
				<td>Ancient bones</td>
			</tr>
			<tr>
				<td>17 - 19</td>
				<td>Broken tools</td>
			</tr>
			<tr>
				<td>20 - 22</td>
				<td>Broken weapon with a curious smith mark</td>
			</tr>
			<tr>
				<td>23</td>
				<td>Rotting food in a familiar package</td>
			</tr>
			<tr>
				<td>24</td>
				<td>Ruined books or scrolls</td>
			</tr>
		</tbody>
	</table>
	<table>
		<caption>Valuables Table</caption>
		<thead>
			<tr>
				<th class="twenty"># of Successes</th>
				<th>Valuables Type</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1 - 4</td>
				<td>Gems</td>
			</tr>
			<tr>
				<td>5 - 8</td>
				<td>Jewelry</td>
			</tr>
			<tr>
				<td>9 - 12</td>
				<td>Cash</td>
			</tr>
			<tr>
				<td>13 - 18</td>
				<td>Artwork</td>
			</tr>
			<tr>
				<td>19 - 24</td>
				<td>Toss Twice</td>
			</tr>
		</tbody>
	</table>
	<table>
		<caption>Gems Table</caption>
		<thead>
			<tr>
				<th class="twenty"># of Successes</th>
				<th>Gem Type</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1 - 3</td>
				<td>Lapis Lazul worth (toss 12 x 3d)</td>
			</tr>
			<tr>
				<td>4 - 6</td>
				<td>Turquoise worth (toss 12 x 2d)</td>
			</tr>
			<tr>
				<td>7 - 10</td>
				<td>Moonstone worth (toss 6 x 10d)</td>
			</tr>
			<tr>
				<td>11 - 13</td>
				<td>Onyx worth (toss 6 x 12d)</td>
			</tr>
			<tr>
				<td>14 - 16</td>
				<td>Amber worth (toss 12 x 12d)</td>
			</tr>
			<tr>
				<td>17 - 19</td>
				<td>Jade worth (toss 12 x 10d)</td>
			</tr>
			<tr>
				<td>20 - 22</td>
				<td>Black Pearl worth (toss 6 x 100d)</td>
			</tr>
			<tr>
				<td>23</td>
				<td>Emerald worth (toss 12 x 100d)</td>
			</tr>
			<tr>
				<td>24</td>
				<td>Ruby worth (toss 6 x 1,200d)</td>
			</tr>
		</tbody>
	</table>
	<table>
		<caption>Jewlry Table</caption>
		<thead>
			<tr>
				<th class="twenty"># of Successes</th>
				<th>Jewelry Type</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1 - 3</td>
				<td>Gold Braclet worth (toss 12 x 5d)</td>
			</tr>
			<tr>
				<td>4 - 6</td>
				<td>Silver Locket worth (toss 12 x 4d)</td>
			</tr>
			<tr>
				<td>7 - 10</td>
				<td>Bronze Crown worth (toss 6 x 12d)</td>
			</tr>
			<tr>
				<td>11 - 13</td>
				<td>Silver and Gold Brooch worth (toss 6 x 15d)</td>
			</tr>
			<tr>
				<td>14 - 16</td>
				<td>Gem Encrusted Mask worth (toss 12 x 15d)</td>
			</tr>
			<tr>
				<td>17 - 19</td>
				<td>Fine gold chain worth (toss 12 x 12d)</td>
			</tr>
			<tr>
				<td>20 - 22</td>
				<td>Gold circlet worth (toss 6 x 200d)</td>
			</tr>
			<tr>
				<td>23</td>
				<td>Gem encrusted eye patch worth (toss 12 x 200d)</td>
			</tr>
			<tr>
				<td>24</td>
				<td>Gem encrusted crown worth (toss 6 x 2,000d)</td>
			</tr>
		</tbody>
	</table>
	<table>
		<caption>Cash Table</caption>
		<thead>
			<tr>
				<th class="twenty"># of Successes</th>
				<th>Cash Type</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1 - 3</td>
				<td>Pentanidi (toss 24)<br/>Numis (toss 12 x 10)</td>
			</tr>
			<tr>
				<td>4 - 6</td>
				<td>Pentanidi (toss 6 x 10)<br/>Numis (toss 12 x 100)</td>
			</tr>
			<tr>
				<td>7 - 10</td>
				<td>Decanidi (toss 12 x 10)<br/>Pentanidi (toss 18 x 100)</td>
			</tr>
			<tr>
				<td>11 - 13</td>
				<td>Decanidi (toss 12 x 1,000)<br/>Pentanidi (toss 24 x 10)</td>
			</tr>
			<tr>
				<td>14 - 16</td>
				<td>Folidi (toss 6 x 100)<br/>Decanidi (toss 24 x 10)</td>
			</tr>
			<tr>
				<td>17 - 19</td>
				<td>Folidi (toss 12 x 10)<br/>Decanidi (toss 18 x 10)</td>
			</tr>
			<tr>
				<td>20 - 22</td>
				<td>Solidi (toss 18)<br/>Folidi (toss 12 x 10)</td>
			</tr>
			<tr>
				<td>23</td>
				<td>Solidi (toss 12 x 10)<br/>Folidi (toss 12 x 100)</td>
			</tr>
			<tr>
				<td>24</td>
				<td>Solidi (toss 12 x 100)<br/>Folidi (toss 6 x 1,000)</td>
			</tr>
		</tbody>
	</table>
	<table>
		<caption>Artwork Table</caption>
		<thead>
			<tr>
				<th class="twenty"># of Successes</th>
				<th>Artwork Type</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1 - 3</td>
				<td>Engraved bone dice worth (toss 12 x 5d)</td>
			</tr>
			<tr>
				<td>4 - 6</td>
				<td>Copper chalice with silver filigree worth (toss 12 x 4d)</td>
			</tr>
			<tr>
				<td>7 - 10</td>
				<td>Carved ivory statuette worth (toss 6 x 12d)</td>
			</tr>
			<tr>
				<td>11 - 13</td>
				<td>Box of carved turquoise chess pieces worth (toss 6 x 15d)</td>
			</tr>
			<tr>
				<td>14 - 16</td>
				<td>A carved harp with gold inlay worth (toss 12 x 15d)</td>
			</tr>
			<tr>
				<td>17 - 19</td>
				<td>Ornamental silver plated sword worth (toss 12 x 12d)</td>
			</tr>
			<tr>
				<td>20 - 22</td>
				<td>Tapestry worth (toss 6 x 200d)</td>
			</tr>
			<tr>
				<td>23</td>
				<td>Gold music box worth (toss 12 x 200d)</td>
			</tr>
			<tr>
				<td>24</td>
				<td>Ivory drinking horn with gold filigree worth (toss 6 x 2,000d)</td>
			</tr>
		</tbody>
	</table>
	<h5>Artifacts</h5>
	<p class="first">When choosing an artifact you can either choose from the list provided or create your own using the Warding Ritual rules. Regardless of they way you generate your Artifact, once you have roll twice on the Artifact details page.</p>
	<table>
		<caption>Artifact Details Table</caption>
		<thead>
			<tr>
				<th class="twenty"># of Successes</th>
				<th class="forty">History</th>
				<th class="forty">Property</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1 - 3</td>
				<td>Created to be used by a famouse thrall of the Dead Queen</td>
				<td>The artifact always stay clean and shining</td>
			</tr>
			<tr>
				<td>4 - 6</td>
				<td>The artifact was created for a famous saint</td>
				<td>The artifact can let the holder's voice carry clearly across a battlefield</td>
			</tr>
			<tr>
				<td>7 - 10</td>
				<td>The artifact was created by the Jutun for one of their mortal servants</td>
				<td>A long dead soul inhabits the artifact with secret knowledge</td>
			</tr>
			<tr>
				<td>11 - 13</td>
				<td>The artifact was created for a Fey champion</td>
				<td>The artifact whisper's warnings regarding danger making the holder immune to surprise</td>
			</tr>
			<tr>
				<td>14 - 16</td>
				<td>Created to be used by a famouse thrall of the Dead Queen</td>
				<td>The artifact is entirely unbreakable</td>
			</tr>
			<tr>
				<td>17 - 19</td>
				<td>The artifact was created through a great evil</td>
				<td>The artifact is tainted, increasing the amount of Taint recieved by one.</td>
			</tr>
			<tr>
				<td>20 - 22</td>
				<td>The artifact is the focus of a terrible prophecy</td>
				<td>The artifact is pure, decreasing the amount of Taint recieved by one.</td>
			</tr>
			<tr>
				<td>23</td>
				<td>The artifact was created to honor a great local hero</td>
				<td>The artifact always knows what direction to go</td>
			</tr>
			<tr>
				<td>24</td>
				<td>The artifact was greated to destroy the Tainted</td>
				<td>The artifact strengthens user at +1s to Athletics Challenges</td>
			</tr>
		</tbody>
	</table>
	
	</div>
	<aside class="span-3 col empty">&nbsp;
	</aside>
</section>
