<header id="hero">
	<div class="button rearrange close-me"><span class="grid"></span></div>
	<div class="clearfix">
		<div class="span-8 col">
			<img src="{{site.baseurl}}/img/articles/{{ post.image }}"/>
		</div>
		<div class="span-4 col article-meta">
			<h2>{{ post.title }}</h2>
			<h3>{{ post.subtitle }}</h3>
			<p class="first"><em>By {{ post.author }}</em></p>
			<p class="first"><em>Translated on {{ post.date | date: "%b %-d, %Y" }}</em></p>		
			<p class="first">{{ post.excerpt }}</p>
		</div>
	</div>
</header>	
