<section id="criticalmass">
	<div class="content">
		<div class="col span-3 empty"></div>
		<div class="col span-6">
			<a href="http://criticalmass.com" target="blank">
				<img src="/assets/img/homepage/cm-logo.jpg" alt="Critical Mass" width="150px"/>
			</a>
			<hr/>
			<h3 class="text-center">An Experience Design Agency Focused On The Customer</h3>
			<p class="text-center">This is where I work, honing my craft as a technologist, creating digital experiences</p>
		</div>
		<div class="col span-3 empty"></div>
	</div>
</section>