<div class="clearfix gutters block" id="the-wyrding">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>The Wyrding</h3>
		<p class="first">The Wyrding is the way in which individuals tap into supernatural powers to change the world around them. It takes on two forms, the Wyrds and Rituals. The Wyrds are paths to power taken by on the rare few who have made a study of converting the will into power. Rituals are esoteric processes that anyone can engage in should they desire to risk their humanity.</p>
		<p>The ability to use the Wyrds requires a character to have the Wyrding Talent. This allows the character to engage in a Wyrd Challenge, meaning they leverage they spend Willpower to use their Wyrd Trait to make some effect on the world. To do so, the player constructs the Wyrd from the components (effect, scope, and duration) below, determining the Difficulty of the Wyrd as well as the cost in Willpower (equal to Difficulty). The player then names the Wyrd and rolls dice. If the Challenge is failed, the GM chooses the consequences.</p>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>
