<div class="clearfix gutters block" id="scope">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h4>Scope</h4>
		<p class="first">Scope describes how much area or how many targets the Wyrd impacts. Choose the scope from the list below:</p>
		<table>
			<caption>Scope Table</caption>
			<thead>
				<tr>
					<th>Scope</th>
					<th>Difficulty Modifier</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Self
					</td>
					<td>
						No Modifier
					</td>
				</tr>
				<tr>
					<td>
						Single Target or Ability
					</td>
					<td>
						+1 Difficulty
					</td>
				</tr>
				<tr>
					<td>
						Several Targets, Two Abilities
					</td>
					<td>
						+2 Difficulty
					</td>
				</tr>
				<tr>
					<td>
						Crowd of Targets, Three Abilities
					</td>
					<td>
						+3 Difficulty
					</td>
				</tr>
				<tr>
					<td>
						A Building, Four Abilities
					</td>
					<td>
						+4 Difficulty
					</td>
				</tr>
				<tr>
					<td>
						A Neighborhood or Village, Five Abilities
					</td>
					<td>
						+5 Difficulty
					</td>
				</tr>
				<tr>
					<td>
						A City, Six Abilities
					</td>
					<td>
						+6 Difficulty
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>