<section class="clearfix gutters block">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h4>Duration</h4>
		<p class="first">Duration describes how long the effect of a Wyrd lasts; Instant, one Scene, one Turn or one Arc.</p>
		<table>
			<caption>Duration Table</caption>
			<thead>
				<tr>
					<th>Duration</th>
					<th>Difficulty Modifier</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Instant
					</td>
					<td>
						No Modifier
					</td>
				</tr>
				<tr>
					<td>
						One Scene
					</td>
					<td>
						+1 Difficulty
					</td>
				</tr>
				<tr>
					<td>
						One Turn
					</td>
					<td>
						+2 Difficulty
					</td>
				</tr>
				<tr>
					<td>
						One Arc
					</td>
					<td>
						+3 Difficulty
					</td>
				</tr>
			</tbody>
		</table>

	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</section>