<div class="clearfix gutters block" id="consequences">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h4>Consequences of Failure</h4>
		<p class="first">A Condition is the most basic of consequences of a failed Wyrd. The Wyrd is successful, but the GM assigns a Condition tied to your margin of failure. See the Condition section for some examples to use as a guide.</p>
		<p>Reversal of Fortune can be disastrous for a user of the Wyrd. Instead of the intended effect, the opposite occurs. A Hinder on an enemy warrior might become a Help. A Harm used on a crowd might strike the character's allies instead. The GM gets to decide how it all shakes out.</p>
		<p>The Wyrd is not the domain of humanity, but of creatures alien and often terrible. Something from the other side has marked the character for special interest. The GM creates a new Adversary that they may now introduce to the game using the rules in the Adversary section.</p>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>