<div class="clearfix gutters block" id="necromancy">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h4>Necromancy Rituals</h4>
		<p>The Necromancy Rituals allow the necromancer to command a corpse to rise up and follow commands. The base Difficulty of this Ritual is determined by the type plus the level of decomposition and the type of undead. When used in a Skirmish, it takes a number of Rounds equal to the Difficulty.</p>
		<p>Success creates an animated minion that lasts until it is dismissed or destroyed. Failure means the minion rises up, but attacks the necromancer instead of following orders.</p>
		<table class="clearfix">
			<caption>Minion Type Table</caption>
			<thead>
				<tr>
					<th>Type</th>
					<th>Difficulty Modifier</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Soldier of the Damned
					</td>
					<td>
						+3 Difficulty
					</td>
				</tr>
				<tr>
					<td>
						Abomination
					</td>
					<td>
						+4 Difficulty
					</td>
				</tr>
				<tr>
					<td>
						Death Knight
					</td>
					<td>
						+5 Difficulty
					</td>
				</tr>
			</tbody>
		</table>
		<table class="clearfix">
			<caption>Minion State Table</caption>
			<thead>
				<tr>
					<th>State</th>
					<th>Difficulty Modifier</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						3 Days Dead or Less
					</td>
					<td>
						No Modifier
					</td>
				</tr>
				<tr>
					<td>
						4 to 10 Days Dead
					</td>
					<td>
						+2 Difficulty
					</td>
				</tr>
				<tr>
					<td>
						11 to 20 Days Dead
					</td>
					<td>
						+3 Difficulty
					</td>
				</tr>
				<tr>
					<td>
						21 to 50 Days Dead
					</td>
					<td>
						+4 Difficulty
					</td>
				</tr>
				<tr>
					<td>
						51 to 365 Days Dead
					</td>
					<td>
						+5 Difficulty
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>