<div class="clearfix gutters block" id="exorcism">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h4>Exorcism Rituals</h4>
		<p class="first">The Exorcism Rituals allow a character to send a spirit, demon or animated corpse back to where it came. The Difficulty of this Ritual is equal to the target's Taint Trait. When used in a Skirmish it takes a number of Rounds equal to the Difficulty.</p>
		<p>Success ends possessions, unbinds spirits from objects, banishes demons back to the infernal realm, and causes the undead to collapse as their souls are released. Failure in most cases means the evil was unaffected, with the exception of attempts to end possessions. In the case of possessions, the spirit jumps to the character, taking over their body for a number of Scenes equal to it's Taint Trait.</p>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>