<div class="clearfix gutters block" id="enchantment">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h4>Enchantment Rituals</h4>
		<p class="first">Enchanting Rituals allow an enchanter to bind a spirit to an object, imbuing it with power. This ritual requires two steps, the first being the construction of the item by the occultist, and the second being the binding of the spirit.</p>
		<p>The first step requires the creation of the vessel. This can be acquired using Influence, money or crafted by the enchanter. If crafter by the enchanter, a Craftsmanship Challenge in which the character creates the vessel. The Difficulty of this Challenge is determined by the nature of the vessel. When doing so successfully, the Enchanter must name it, granting the character a 1D Advantage to enchanting it.</p>
		<p>Following the acquisition of the vessel, a token that represents the ability or abilities the enchanter desires to imbue in the vessel must be acquired. The more powerful the desired ability, the more difficulty the character will have in acquiring the needed item. The GM must choose something suitable for the character to acquire.</p>
		<p>An Enchantment can provide one of two things, and Advantage or the ability to cast an already named Wyrding. The Difficulty for the Advantage is equal to the total number of advantage dice plus four and the Advantage can only apply to the user. The Difficulty of the Wyrding is equal to the Difficulty of the Wyrding plus one.</p>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>