<div class="clearfix gutters block" id="geas">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h4>Geas Ritual</h4>
		<p class="first">A Geas ritual places a compulsion upon an individual to carry out a service or to refrain from a specific activity. The only restriction is that the geas cannot compel the individual to kill themselves. If the subject attempts to resist the Geas they suffer a -1 to all of their Traits each Turn they resist. Should the character reach 0 in three or more Traits they die. If they resume the conditions of the Geas this damage is reveresed at the same rate.</p>
		<p>Should the subject of the Geas Ritual die without completing the conditions of the Ritual, the Geas transfers to the closest living member. If the subject has no family, they are resurrected as a Death Knight to complete the condition of the Geas.</p>
		<p>The Difficulty of the Wyrding Challenge of this Ritual is equal to the target's Temperament roll. When used in a Skirmish it takes a number of Rounds equal to the Difficulty. Failure always results in a Twist or Condition dtermined by the GM.</p>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>