<div class="clearfix gutters block" id="shapechanging">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h4>Shapechanging Rituals</h4>
		<p class="first">The Shapechanging Ritual enables you to assume the form of any single creature, including impersonating any individual you have seen before. In doing so you gain all the abilities of that creature, but do not retain any of your own.</p>
		<p>The Difficulty of this Wyrding Challenge is determined by the GM with simple common forms being easiest and less common or particular forms being the most difficult. When used in a Skirmish it takes a number of Rounds equal to the Difficulty. Failure always results in a Twist or Condition dtermined by the GM.</p>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>