<div class="clearfix gutters block" id="warding">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h4>Warding Rituals</h4>
		<p class="first">Wards allow you to combine two or more Runes to get a desired effect. When used as a part of crafting, the ward becomes permanent, transforming the object into an Artifact. When used by simply writing the appropriate Runes on an object, the ward is triggered once then loses it's power.</p>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>
<div class="clearfix gutters block">
		<div class="span-4 col">
							<ul class="unstyled spaced-list">
						       <li><span class="futhark">F</span> Vajir<br><small>Wrath, Deep Seas</small></li>
						        <li><span class="futhark">U</span> Rikdom<br><small>Wealth, Earth</small></li>
						        <li><span class="futhark">W</span> Uthold<br><small>Endurance, Dogs</small></li>
						        <li><span class="futhark">A</span> Atridr<br><small>Storms, Sky Rider</small></li>
						        <li><span class="futhark">R</span> Reise<br><small>Journey, Horses</small></li>
						        <li><span class="futhark">K</span> Cheru<br><small>War, Strength</small></li>
								<li><span class="futhark">E</span> Trenger<br><small>Need, Despair</small></li>
			<li><span class="futhark">Q</span> Fiorgyn<br><small>Night, Moon</small></li>
							</ul>		
		</div>
		<div class="span-4 col">
					<ul class="unstyled spaced-list">
						<li><span class="futhark">X</span> Smerte<br><small>Pain, Fire</small></li>
				        <li><span class="futhark">V</span> Dod<br><small>Death, Underworld</small></li>
				        <li><span class="futhark">H</span> Vojin<br><small>Intelligence, Culture</small></li>
				        <li><span class="futhark">N</span> Velded<br><small>Charity, Peace</small></li>
				        <li><span class="futhark">I</span> Glede<br><small>Joy, Home</small></li>
				        <li><span class="futhark">J</span> Astrild<br><small>Love, Fertility</small></li>
	<li><span class="futhark">M</span> Beli<br><small>Leadership, Charisma</small></li>
	<li><span class="futhark">O</span> Modi<br><small>Revenge, Satisfaction</small></li>
					</ul>
		</div>
		<div class="span-4 col">
							<ul class="unstyled spaced-list">
						       <li><span class="futhark">Y</span> Bragi<br><small>Poetry, Art, Music</small></li>
						        <li><span class="futhark">P</span> Sannhet<br><small>Sunlight, Truth</small></li>
						        <li><span class="futhark">Z</span> Mot<br><small>Glory, Single Combat</small></li>
						        <li><span class="futhark">S</span> Fiolsvid<br><small>Wisdom, Writing</small></li>
						        <li><span class="futhark">T</span> Vijir<br><small>Cunning, Secrets</small></li>
						        <li><span class="futhark">B</span> Fiollnir<br><small>Burning Cold, Winter</small></li>
			<li><span class="futhark">L</span> Avling<br><small>Sadness, Darkness</small></li>
			<li><span class="futhark">D</span> Skadi<br><small>Survival, Hunt</small></li>
							</ul>	
		</div>	
</div>
<div class="clearfix gutters block">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h5>Temporary Wards</h5>
		<p class="first">To create a temporary Ward first determine what the effect is you are trying to achieve and the conditions that will trigger it. The GM will be the final arbiter as to the number or Runes needed to create the desired effect. The base difficulty of this Ritual is then determined. It is equal to 3 plus the number of Runes used. If more than one condition will trigger it, add 1 to the Difficulty for each additional condition.</p>
		<p>A successful Wyrding Challenge creates a Ward that is triggered based upon the conditions you determined.  When used in a Skirmish it takes a number of Rounds equal to the Difficulty. Failure always results in a Twist or Condition dtermined by the GM.</p>
		<h5>Permanent Wards</h5>		
		<p class="first">To create a permanent Ward you must first determine both the physical form the artifact will take as well as what effects you are trying to achieve. The GM will be the final arbiter as to the number or Runes needed to create the desired effect. The base difficulty of this Ritual is then determined. It is equal to 3 plus the number of Runes used. If more than one condition will trigger it, add 1 to the Difficulty for each additional condition.</p>
		<p>The character must make two successful Challenges. The first is a Crafting Challenge with a Difficulty determined by the GM. The GM may also put specific conditions on the crafting, such as requiring specific rare materials. The second is a Wyrding Challenge that infuses the object with the power of the Wards. Failure always results in a Twist or Condition determined by the GM.</p> 
		
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>

		
