<article class="item" data-nav="The Wyrding">
{% include mountain/wyrding/01-creating-wyrds.html %}
{% include mountain/wyrding/02-effects.html %}
{% include mountain/wyrding/03-scope.html %}
{% include mountain/wyrding/04-duration.html %}
{% include mountain/wyrding/05-consequences.html %}
{% include mountain/wyrding/06-named-wyrds.html %}
	<div class="divider"></div>
</article>
<article class="item" data-nav="Rituals">
{% include mountain/wyrding/07-rituals.html %}
{% include mountain/wyrding/08-necromancy.html %}
{% include mountain/wyrding/16-domination.html %}
{% include mountain/wyrding/09-exorcism.html %}
{% include mountain/wyrding/12-geas.html %}
{% include mountain/wyrding/13-shapechanging.html %}
{% include mountain/wyrding/11-summoning.html %}
{% include mountain/wyrding/15-warding.html %}
	<div class="divider"></div>
</article>
