{% include mountain/wyrding/01-creating-wyrds.html %}
{% include mountain/wyrding/02-effects.html %}
{% include mountain/wyrding/03-scope.html %}
{% include mountain/wyrding/04-duration.html %}
{% include mountain/wyrding/05-consequences.html %}
{% include mountain/wyrding/06-named-wyrds.html %}
{% include mountain/wyrding/07-rituals.html %}
{% include mountain/wyrding/08-necromancy.html %}
{% include mountain/wyrding/09-exorcism.html %}
{% include mountain/wyrding/10-enchantment.html %}
{% include mountain/wyrding/11-summoning.html %}
<div class="clearfix gutters block" id="wyrding">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<hr>
		<h3>The Wyrding</h3>
		<p class="first">The Wyrding is the way in which individuals tap into supernatural powers to change the world around them. It takes on two forms, the Wyrds and Rituals. The Wyrds are paths to power taken by on the rare few who have made a study of converting the will into power. Rituals are esoteric processes that anyone can engage in should they desire to risk their humanity.</p>
		<p>The ability to use the Wyrds requires a character to have the Wyrding Talent. This allows the character to engage in a Wyrd Challenge, meaning they leverage they spend Willpower to use their Wyrd Trait to make some effect on the world. To do so, the player constructs the Wyrd from the components (effect, scope, and duration) below, determining the Difficulty of the Wyrd as well as the cost in Willpower (equal to Difficulty). The player then names the Wyrd and rolls dice. If the Challenge is failed, the GM chooses the consequences.</p>
		<h4>Effects</h4>
		<p class="first">Wyrds can have one of the following five effects. It may confuse, hinder, help, harm or manipulate.</p>
		<p>A character may use the Wyrd to create illusions that confuse or deceive others. When using a Confuse Wyrd, enter a Versus Challenge between the character's Wyrd and the victim's Temperament Trait. If successful, the victim believes the illusion to be true.</p>
		<p>A character may use the Wyrd to hinder a victim's abilities. When doing this, the ability or abilities must be named. Each +1 Difficulty the character wishes to add to an opponent's Challenge adds 1 to the Wyrd's Difficulty.</p>
		<p>A character may use the Wyrd to help themself or another. When doing this, the ability or abilities that you wish the help must be named. Each 1D of Advantage the character wishes to add to the target's roll adds 1 to the Wyrd's Difficulty.</p>
		<p>Conversely Help can also be used to remove Harm or Taint from a character. Each Harm or Taint effect the character wishes to remove adds 1 to the Wyrd's Difficulty.</p>
		<p>A character may use the Wyrd to unleash eldritch energies to harm an opponent. The form in which this takes is up to the player. The base difficulty is always four.</p>
		<p>A character may manipulate the Wyrd by forcing a Versus Challenge between their Wyrd Trait and an opponent's Athletics Trait. When doing so they declare how they are trying to manipulate their target (push, pull, knock down, stun, immobilize). If successful, the victim suffers.</p>
		<h4>Scope</h4>
		<p class="first">Scope describes how much area or how many targets the Wyrd impacts. Choose the scope from the list below:</p>
		<table>
			<caption>Scope Table</caption>
			<thead>
				<tr>
					<th>Scope</th>
					<th>Difficulty Modifier</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Self
					</td>
					<td>
						No Modifier
					</td>
				</tr>
				<tr>
					<td>
						Single Target or Ability
					</td>
					<td>
						+1 Difficulty
					</td>
				</tr>
				<tr>
					<td>
						Several Targets, Two Abilities
					</td>
					<td>
						+2 Difficulty
					</td>
				</tr>
				<tr>
					<td>
						Crowd of Targets, Three Abilities
					</td>
					<td>
						+3 Difficulty
					</td>
				</tr>
				<tr>
					<td>
						A Building, Four Abilities
					</td>
					<td>
						+4 Difficulty
					</td>
				</tr>
				<tr>
					<td>
						A Neighborhood or Village, Five Abilities
					</td>
					<td>
						+5 Difficulty
					</td>
				</tr>
				<tr>
					<td>
						A City, Six Abilities
					</td>
					<td>
						+6 Difficulty
					</td>
				</tr>
			</tbody>
		</table>
		<h4>Duration</h4>
		<p class="first">Duration describes how long the effect of a Wyrd lasts; Instant, one Scene, one Turn or one Arc.</p>
		<table>
			<caption>Duration Table</caption>
			<thead>
				<tr>
					<th>Duration</th>
					<th>Difficulty Modifier</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Instant
					</td>
					<td>
						No Modifier
					</td>
				</tr>
				<tr>
					<td>
						One Scene
					</td>
					<td>
						+1 Difficulty
					</td>
				</tr>
				<tr>
					<td>
						One Turn
					</td>
					<td>
						+2 Difficulty
					</td>
				</tr>
				<tr>
					<td>
						One Arc
					</td>
					<td>
						+3 Difficulty
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>
<div class="clearfix gutters block">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h4>Named Wyrds</h4>
		<p class="first">After a Wyrd is used for the first time, a player may write it on their character sheet in the Wyrd section. Any Wyrd found there gets a 1D Advantage.</p>
	</div>
	<aside class="span-3 col">
	<blockquote>
		<p><em>Surge of Malevolence</em><br/>Effect: Help 3D Fighting<br/> Scope: Self <br/> Duration: One Scene<br/> Difficulty: 4<br/> Willpower: 4</p>
	</blockquote>
	</aside>
</div>
<div class="clearfix gutters block">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h4>Consequences of Failure</h4>
		<p class="first">Harm is the most basic of consequences of a failed Wyrd. The Wyrd is successful, but the GM assigns a Harm tied to the spell with a duration equal to the duration of the Wyrd. Wyrds with an Instant duration cause Harm that lasts a Scene. See the Harm section for some examples to use as a guide.</p>
		<p>Reversal of Fortune can be disastrous for a user of the Wyrd. Instead of the intended effect, the opposite occurs. A Hinder on an enemy warrior might become a Help. A Harm used on a crowd might strike the character's allies instead. The GM gets to decide how it all shakes out.</p>
		<p>The Wyrd is not the domain of humanity, but of creatures alien and often terrible. Something from the other side has marked the character for special interest. The GM creates a new Horror that they may now introduce to the game. They may decide if the Horror is an outsider or a part of the Court of Shadows.</p>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>
<div class="clearfix gutters block">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h4>Rituals</h4>
		<p class="first">Rituals are the means by which anyone with the right information can manipulate the Wryd to get what they want. They are acts of great power and even greater danger. This is doing via a Challenge using the Wyrd trait.</p>
		<h4>Necromancy Rituals</h4>
		<p>The Necromancy Rituals allow the necromancer to command a corpse to rise up and follow commands. The base Difficulty of this Ritual is determined by the type plus the level of decomposition and the type of undead. When used in a Skirmish, it takes a number of Rounds equal to the Difficulty.</p>
		<p>Success creates an animated minion that lasts until it is dismissed or destroyed. Failure means the minion rises up, but attacks the necromancer instead of following orders.</p>
		<table>
			<caption>Minion Type Table</caption>
			<thead>
				<tr>
					<th>Type</th>
					<th>Difficulty Modifier</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Soldier of the Damned
					</td>
					<td>
						+3 Difficulty
					</td>
				</tr>
				<tr>
					<td>
						Abomination
					</td>
					<td>
						+4 Difficulty
					</td>
				</tr>
				<tr>
					<td>
						Death Knight
					</td>
					<td>
						+5 Difficulty
					</td>
				</tr>
			</tbody>
		</table>
		<table>
			<caption>Minion State Table</caption>
			<thead>
				<tr>
					<th>State</th>
					<th>Difficulty Modifier</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						3 Days Dead or Less
					</td>
					<td>
						No Modifier
					</td>
				</tr>
				<tr>
					<td>
						4 to 10 Days Dead
					</td>
					<td>
						+2 Difficulty
					</td>
				</tr>
				<tr>
					<td>
						11 to 20 Days Dead
					</td>
					<td>
						+3 Difficulty
					</td>
				</tr>
				<tr>
					<td>
						21 to 50 Days Dead
					</td>
					<td>
						+4 Difficulty
					</td>
				</tr>
				<tr>
					<td>
						51 to 365 Days Dead
					</td>
					<td>
						+5 Difficulty
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>
<div class="clearfix gutters block">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h4>Exorcism Rituals</h4>
		<p class="first">The Exorcism Rituals allow a character to send a spirit, demon or animated corpse back to where it came. The Difficulty of this Ritual is equal to the target's Taint Trait. When used in a Skirmish it takes a number of Rounds equal to the Difficulty.</p>
		<p>Success ends possessions, unbinds spirits from objects, banishes demons back to the infernal realm, and causes the undead to collapse as their souls are released. Failure in most cases means the evil was unaffected, with the exception of attempts to end possessions. In the case of possessions, the spirit jumps to the character, taking over their body for a number of Scenes equal to it's Taint Trait.</p>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>
<div class="clearfix gutters block">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h4>Enchantment Rituals</h4>
		<p class="first">Enchanting Rituals allow an enchanter to bind a spirit to an object, imbuing it with power. This ritual requires two steps, the first being the construction of the item by the occultist, and the second being the binding of the spirit.</p>
		<p>The first step requires the creation of the vessel. This can be acquired using Influence, money or crafted by the enchanter. If crafter by the enchanter, a Craftsmanship Challenge in which the character creates the vessel. The Difficulty of this Challenge is determined by the nature of the vessel. When doing so successfully, the Enchanter must name it, granting the character a 1D Advantage to enchanting it.</p>
		<p>Following the acquisition of the vessel, a token that represents the ability or abilities the enchanter desires to imbue in the vessel must be acquired. The more powerful the desired ability, the more difficulty the character will have in acquiring the needed item. The GM must choose something suitable for the character to acquire.</p>
		<p>An Enchantment can provide one of two things, and Advantage or the ability to cast an already named Wyrding. The Difficulty for the Advantage is equal to the total number of advantage dice plus four and the Advantage can only apply to the user. The Difficulty of the Wyrding is equal to the Difficulty of the Wyrding plus one.</p>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>
<div class="clearfix gutters block">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h4>Summoning Rituals</h4>
		<p class="first">Summoning Rituals allow a diabolist to summon a spirit or demonic entity and bind it to their service. The entity once summoned can provide one of three services. They can perform a physical task, empower the diabolist, or reveal an unknown truth.</p>
		<p>The Summoning ritual is a Wyrding Challenge with the Difficulty being equal to the target entity's Taint Trait. If success the target is bound to serve the diabolist at a price. If failed, the target will either arrive angry and need to be convinced to enter into a contract with the diabolist, or some other entity will be summoned. The GM should use their imagination to see where that goes.</p>
		<p>Any deal made with a summoned entity is a bargain, with the diabolist paying a price in exchange for a service. If both sides can't come to an agreement a Skullduggery or Temperament Challenge against the entity's Taint Trait is necessary. Failure in this case means the diabolist earns the enmity of the entity after it leaves.</p>
		<p>The terms of the bargain are on one side the entity performs a specific service for a set duration. On the other, the diabolist must pay a specific price. The greater the service, the steeper the price.</p>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>