<section class="clearfix block gutters">
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>Aftermath</h3>
		<p class="first">Every character that has engaged in a Skirmish loses Vitality equal to the number of Rounds the Skirmish took divided by half. This is in addition to any lost during the Skirmish.</p>
		<p>For each character that has suffered damage you must roll on the following table. Roll a D66 subtracting the total amount of damage the character suffered.</p>
		<table class="table-scroll">
			<caption>Aftermath Table</caption>
			<thead>
				<tr>
					<th class="twenty">D66 Roll</th>
					<th>Result</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						11 - 15
					</td>
					<td>
						Death<br/><small>The character succumbs to their wounds.</small>
					</td>
				</tr>
				<tr>
					<td>
						16 - 19
					</td>
					<td>
						Multiple Injuries<br/><small>Roll D6. Roll that many times on this table, re-rolling Death, Multiple Injuries, and the Unharmed results.</small>
					</td>
				</tr>
				<tr>
					<td>
						20 - 21
					</td>
					<td>
						Chest Wound<br/><small>Roll D6.<br/>
						1 = Internal organ damage. Permanent -2R to physical actions.<br/>
						2-6 = Suffers a -2R to physical actions for a number Turns equal to your wound total.</small>
					</td>
				</tr>
				<tr>
					<td>
						22 - 23
					</td>
					<td>
						Lost Eye<br/><small>If this is the first eye lost, the character suffers a permanent -1R to all sight based rolls. If it is the second eye to go the character is blind and fails all sight based rolls. All other rolls in which sight is a key component suffer a -4D Disadvantage.</small>
					</td>
				</tr>
				<tr>
					<td>
						24 - 25
					</td>
					<td>
						Leg Wound<br/><small>Roll D6.<br/>
						1 = The leg must be amputated. Permanent -2R to physical actions.<br/>
						2-6 = Suffers a -2R to physical actions for a number Turns equal to your wound total.</small>
					</td>
				</tr>
				<tr>
					<td>
						26 - 27
					</td>
					<td>
						Arm Wound<br/><small>Roll D6.<br/>
						1 = The arm must be amputated. Permanent -2R to physical actions.<br/>
						2-6 = Suffers a -2R to physical actions for a number Turns equal to your wound total.</small>
					</td>
				</tr>
				<tr>
					<td>
						28 - 29
					</td>
					<td>
						Foot Wound<br/><small>Roll D6.<br/>
						1 = The foot must be amputated. Permanent -2R to physical actions.<br/>
						2-6 = Suffers a -1R to physical actions for a number Turns equal to your wound total.</small>
					</td>
				</tr>
				<tr>
					<td>
						30 - 31
					</td>
					<td>
						Hand Wound<br/><small>Roll D6.<br/>
						1 = The hand must be amputated. Permanent -2R to physical actions.<br/>
						2-6 = Suffers a -1R to physical actions for a number Turns equal to your wound total.</small>
					</td>
				</tr>
				<tr>
					<td>
						32 - 42
					</td>
					<td>
						PTSD<br/><small>Roll D6.<br/>
						1 = Fear. Permanent +2R to everything.<br/>
						2 - 3 = Injury triggered response. When suffering an injury suffer a -1R for the Turn.<br/>
						4 - 6 = Temporary Breakdown. Suffers a -2R to everything for a number Turns equal to your wound total.</small>
					</td>
				</tr>
				<tr>
					<td>
						43 - 44
					</td>
					<td>Wounded<br/><small>The character suffers from several minor wounds that causes a -1R to every Challenge for a number Turns equal to your wound total.</small>
					
					</td>
				</tr>
				<tr>
					<td>
						45
					</td>
					<td>
						Captured<br/><small>The character regains consciousness and is held captive by the enemy of the other side. If the unit is one of the PCs, end the Turn and open the next Turn centered on their rescue or escape.</small>
					</td>
				</tr>
				<tr>
					<td>
						46
					</td>
					<td>
						Robbed<br/><small>The character managed to escape but all of their Gear was lost in the fight.</small>
					</td>
				</tr>
				<tr>
					<td>
						47 - 50
					</td>
					<td>
						Scarred<br/><small>The character suffered superficial wounds that left horrible scars, leaving the character with a Permanent Advantage of Feared.</small>
					</td>
				</tr>
				<tr>
					<td>
						51 - 52
					</td>
					<td>
						Hardened<br/><small>The character survived and has come out stronger for it with a Permanent +1R against Fear inducing effects.</small>
					</td>
				</tr>
				<tr>
					<td>
						53 - 66
					</td>
					<td>
						Unharmed<br/><small>The wounds were not as grievous as they first appeared and the character walks away unharmed. The character also learned form the experience and advances their Fighting Trait by one.</small>
					</td>
				</tr>
			</tbody>
		</table>		
	</div>
	<aside class="span-3 col empty">&nbsp;
	</aside>
</section>
