<section class="clearfix gutters block">
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>The Journey Begins</h3>
		<p class="first">When starting <em>The Mountain</em>, the game always begins <em>in media res</em> with the characters fleeing enemies in The Great City towards the Mountain. The Mountain could be any of the point on the map. There are two obvious locations, but the Mountain could by symbolic of anything. The only constant in all games is that the Great City is Cidiero, where once the Cell fought the good fight, but now has been forced to ride out.</p>
	</div>
	<aside class="span-3 col empty">&nbsp;
	</aside>
</section>
