<section class="clearfix gutters block">
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>The Litany of Heroes</h3>
		<p class="first">The Litany of Heroes serves as a living narrative of the trials and tribulations of the Cell and the Conspiracy. The Litany also serves of a mechanical record of everything that is in play. It marks every important Scene, Turn and Arc in the game. It is an artifact that you create together, with everyone at the table taking maintaning the record in their own voice for a full Arc.</p>
		<p>If something is not recored in the Litany of Heroes, it did not happen. Any knowledge gained, places discovered, friends or enemies made, betrayals or triumphs not recorded then the event was just a dream. The Litany of Heroes is the reality of your game and not negotiable.</p>
	</div>
	<aside class="span-3 col empty">&nbsp;
	</aside>
</section>
