<section class="clearfix gutters block">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>Advancement</h3>
		<p class="first">Every time a character engages in a Challenge, roll D666 and add the Difficulty of all the Challenges the character has engaged in since the last time they advanced. If you roll 666 or greater, the character advances. You may select any Talent so long as your character meets it's requirements.</p>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</section>
