<div class="clearfix gutters block" id="advancement">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<hr>
		<h3>Advancement</h3>
		<p class="first">Every time a character engages in a Challenge, roll D666 and add the Difficulty of all the Challenges the character has engaged in since the last time they advanced. If you roll 666 or higher, the character advances. You may select a new Talent from the Talent list in which you meet it's requirements.</p>
		<h4>Character Death</h4>
		<p class="first">When a character is killed in play, that is not the end of the game for that player. The Archetype lives on to continue the quest to the Mountain and the ultimate confrontation with the Cult of the Unseen. As a player you have two choices. You can either apply the Archetype to a member of your deceased character's Network or you can apply the Archetype to a member of one of the other player's Network. In doing so you generate a character as normal if the character hasn't already been fleshed out with a class and background.</p>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>
