<div class="clearfix gutters block" id="taint">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>Taint</h3>
		<p class="first">Taint is the potential corruption of a character brought on by following a character's dark impulses and through encounters with the supernatural. This corruption is both a descent into evil and the progressive loss of a character's humanity. The corruption infuses the character and slowly removes what makes them human.</p>
		<p>Whenever a character takes an action that puts their humanity in jeopardy consult the Taint Modifier table. Add that modifier to a D666 roll. If the result is 666 or greater, the character then rolls on the Taint Effects Table.</p>

		<table class="clearfix table-scroll">
			<caption>Taint Modifier Table</caption>
			<thead>
				<tr>
					<th>Action</th>
					<th>Modifier</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Crime of Passion</td>
					<td>+40</td>
				</tr>
				<tr>
					<td>Betrayal</td>
					<td>+60</td>
				</tr>
				<tr>
					<td>Breaking a Tenet of Faith</td>
					<td>+30</td>
				</tr>
				<tr>
					<td>Breaking an Oath</td>
					<td>+60</td>
				</tr>
				<tr>
					<td>Defilement</td>
					<td>+50</td>
				</tr>
				<tr>
					<td>Premeditated Murder</td>
					<td>+70</td>
				</tr>
				<tr>
					<td>Wyrding</td>
					<td>+10 per Difficulty</td>
				</tr>
			</tbody>
		</table>
		<h4>Taint Sinkholes</h4>
		<p class="first">The world in many ways is shaped by the passion and fear of those that came before. Emotions linger, warping the land and creating sinkholes of Taint. These sinkholes, resolve is weakened, baser instincts are embraced, and in some cases, previous acts of evil repeat through possessed mortal proxies. Using sinkholes is a key way to ratchet up the gothic horror implicet in <em>The Mountain</em>.</p>
		<p>To create a sinkhole roll D66 for each column in the Sinkhole table. Strength dictates the number of dice the Sinkhole rolls when working against invaders as well as determines the difficulty for any attempts to destroy the Sinkhole. Cause outlines what events occured to cause the sinkhole to appear and if they are reenacted force those who did the reenactment to roll four times on the Taint Effects Table. Manifestations are how the Sinkhole physically asserts it's will. Powers are specific abilities that can be used by individuals who successfully complete a Dominance ritual. The use of Powers do not require the character to be in the Sinkhole they have dominated unless otherwise stated. Each use automatically graints the character new Taint.</p>

	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>
		<table class="clearfix table-scroll">
			<caption>Sinkhole Table</caption>
			<thead>
				<tr>
					<th class="twenty">D66 Roll</th>
					<th class="twenty">Strength</th>
					<th class="twenty">Cause</th>
					<th class="twenty">Manifestations</th>
					<th class="twenty">Powers</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>11</td>
					<td>6</td>
					<td>A spiritualist died while making contact with the other side at this location, locking both souls here together.</td>
					<td>Zombies that rise with the mist</td>
					<td><strong>Sleep</strong><br/><small>The target must overcome a Temperament Challenge versus the Strength of the Sinkhole or fall asleep for a number of scenes equal to the margin of failure.</small></td>
				</tr>
				<tr>
					<td>12</td>
					<td>5</td>
					<td>A mother and infant went into the water together and drowned. The mother's body was found and consecrated, but the child was never recovered.</td>
					<td>Dead Eaters prowl the shadows</td>
					<td><strong>Augury</strong><br/><small>Once per Turn you may ask the GM if an action you are considering will be good or bad and they must answer truthfully.</small></td>
				</tr>
				<tr>
					<td>13</td>
					<td>4</td>
					<td>During the last war, this location was used to house injured enemy soldiers, who were put to the sword by the current ruler of this place to save money.</td>
					<td>Dead trees kill so that they may drink blood</td>
					<td><strong>Dream Stalker</strong><br/><small>Once per Turn force a target to enter a Skirmish in their dreams. The opponent is a nightmare with stats equal to the target. The results of the Skirmish are real.</small></td>
				</tr>
				<tr>
					<td>14</td>
					<td>3</td>
					<td>A mason's apprentice fell into the cement and no one heard his cries, entombing him forever in the foundation.</td>
					<td>Black grass grows in the shape or wards</td>
					<td><strong>Dream Walking</strong><br/><small>Once per Turn you may enter the dreams of another. The player of that individual must tell you one true thing about the character and their plans.</small></td>
					
				</tr>
				<tr>
					<td>15</td>
					<td>4</td>
					<td>A young girl was raped by a close family member here repeatedly.</td>
					<td>The rocks bleed a caustic blood.</td>
					<td><strong>Stun</strong><br/><small>The target must overcome a Athletics Challenge versus the Strength of the Sinkhole or be unable to take an action for a number of rounds in a Skirmish equal to the margin of failure.</small></td>
					
				</tr>
				<tr>
					<td>16</td>
					<td>5</td>
					<td>The stoneway to Alfarhiem was corrupted by a Galgarmr.</td>
					<td>A foul smell permeates the air.</td>
					<td><strong>Bestow Wound</strong><br/><small>When taking a wound, you may transfer it to another within your line of sight by spending 1 Willpower from your pool.</small></td>
				</tr>
				<tr>
					<td>17</td>
					<td>6</td>
					<td>A person wrongly accused of witchcraft was burnt at the stake here.</td>
					<td>A child's voice whispers horrific acts.</td>
					<td><strong>Parasitic Touch</strong><br/><small>When successfully touching another (Athletics Challenge) transfer Vitality from that character to your character in an amount equal to the Sinkhole Strength.</small></td>
				</tr>
				<tr>
					<td>18</td>
					<td>6</td>
					<td>The Dark Prophet was born in this very ground.</td>
					<td>A black fog burns the throat and obscures vision.</td>
					<td><strong>Hate</strong><br/><small>The individual you identify becomes the target of all attacks in a Skirmish for a period of time equal to the Sinkhole's Strength while within the confines of the Sinkhole.</small></td>
				</tr>
				<tr>
					<td>19</td>
					<td>5</td>
					<td>Two young lovers took there own lives on this spot.</td>
					<td>Sounds of battle float on the wind.</td>
					<td><strong>Imprison</strong><br/><small>The soul of an individual recently dead by your hands becomes imprisoned in the Sinkhole. Their Willpower can then be drawn upon like an additional Willpower Pool.</small></td>
				</tr>
				<tr>
					<td>20</td>
					<td>4</td>
					<td>A kidnapping when horribly wrong in this spot.</td>
					<td>The tears of all who enter turn to blood.</td>
					<td><strong>Undead Plague</strong><br/><small>Roll D66 and multiply that number by the Sinkhole's Strength. This is the number of Soldiers of the Damned that rise up to serve you. They may only venture away from the Sinkhole a distance in miles equal to 10 times the Sinkhole's Strength.</small></td>
				</tr>
				<tr>
					<td>21</td>
					<td>3</td>
					<td>The doctor constructed his first abomination here.</td>
					<td>A high pitched whine drowns out all sound.</td>
					<td><strong>Resurrection</strong><br/><small>If your character is killed you turn to dust instantly and are born by a wind beck to the Sinkhole. In three days you are resurrected naked but whole.</small></td>
				</tr>
				<tr>
					<td>22</td>
					<td>4</td>
					<td>The dark prince renounced his allegience to the gods and was cursed on this very spot.</td>
					<td>Ghosts of the dead manifest at will</td>
					<td><strong>Master's Lament</strong><br/><small>The target suffers a loss of Vitality equal to the number of slaves they own times the Sinkhole's Strength.</small></td>
				</tr>
				<tr>
					<td>23</td>
					<td>5</td>
					<td>A ritual murder was attempted here, only with unintended consequences.</td>
					<td>Pixies are drawn to the spot with malicious intent.</td>
					<td><strong>Dreaming Assassin</strong><br/><small>Once per Turn you may possess the body of another for one Scene while the character sleeps using that character's stats. The target wakes up assuming what happened was a dream.</small></td>
				</tr>
				<tr>
					<td>24</td>
					<td>6</td>
					<td>A necromancer successfully completed a ritual murder, taking the first step towards Lichdom.</td>
					<td>All who enter must face the ghosts of those they have killed.</td>
					<td><strong>Abomination</strong><br/><small>You may summon forth a number of Abomniations equal to the Sinkhole's Strength. They may only venture away from the Sinkhole a distance in miles equal to 10 times the Sinkhole's Strength.</small></td>			
				</tr>
				<tr>
					<td>25</td>
					<td>6</td>
					<td>This is where she used to cook the children.</td>
					<td>Cackling laughter echoes in the distance.</td>
					<td><strong>Death Knight</strong><br/><small>You may summon forth a Death Knight which will serve you until destroyed. There are no limitations to it's travel.</small></td>			
					
				</tr>
				<tr>
					<td>26</td>
					<td>5</td>
					<td>One part of the dead god is buried here.</td>
					<td>An icey chill make limbs numb.</td>
					<td><strong>Haunting Melody</strong><br/><small>You summon forth a melody that causes all within the Sinkhole to make a Temperament Challenge against a Difficulty equal to the Sinkhole's Strength. If failed they are Broken for one round of a Skirmish.</small></td>	
				</tr>
				<tr>
					<td>27</td>
					<td>4</td>
					<td>When the great lord conquered this land, this is where he crucified his first victim.</td>
					<td>The heat is oppressive and exhausting.</td>
					<td><strong>Unnatural Will</strong><br/><small>Add the Sinkhole's Strength to any Temperament Challenge.</small></td>	
					
				</tr>
				<tr>
					<td>28</td>
					<td>3</td>
					<td>The great fire started here with a brother lighting his sister on fire for sport.</td>
					<td>All food turns to ash when it enters.</td>
					<td><strong>Bane</strong><br/><small>Pick a specific Adversary type. That type of enemy suffers an additional amount of damange from you in a Skirmish equal to the Sinkhole's Strength.</small></td>						
				</tr>
				<tr>
					<td>29</td>
					<td>4</td>
					<td>An entire family of 8 was murdered at this location by two wanted criminals.</td>
					<td>Skin itches uncontrollably.</td>
					<td><strong>Forbidden Knowledge</strong><br/><small>When engaging in a Challenge centered on the gathering of knowledge, gain +s equal to the Strength of the Sinkhole.</small></td>						
					
				</tr>
				<tr>
					<td>30</td>
					<td>5</td>
					<td>This is where he murdered his brother's wife, but not where he hid the body.</td>
					<td>Death has no hold here, but those who die and leave collapse into ash.</td>
					<td><strong>Wyrd Resistance</strong><br/><small>Add +s equal to Sinkhole's Strength when resisting the effects of Wyrds used against you.</small></td>						
					
				</tr>
				<tr>
					<td>31</td>
					<td>6</td>
					<td>A jutun was slain here two ages ago.</td>
					<td>Liquid tastes like blood when drank here.</td>
					<td><strong>Translocate</strong><br/><small>You may instantainiously transport yourself and the gear you have on you a distance in feet equal to 10 times the Sinkhole's Strength.</small></td>						
					
				</tr>
				<tr>
					<td>32</td>
					<td>6</td>
					<td>This place used to house his soul.</td>
					<td>Wounds taken here fester.</td>
					<td><strong>Poison Resistance</strong><br/><small>Add +s equal to Sinkhole's Strength when resisting the effects of Poisons used against you.</small></td>
				</tr>
				<tr>
					<td>33</td>
					<td>5</td>
					<td>This place is sacred to the War God and has seen many sacrifices.</td>
					<td>Here the blind can see, but everything looks dead.</td>
					<td><strong>Fire Resistance</strong><br/><small>Add +s equal to Sinkhole's Strength when resisting the effects of Fire used against you.</small></td>
				</tr>
				<tr>
					<td>34</td>
					<td>4</td>
					<td>She would not be touched again, and so took out her vengeance here.</td>
					<td>The screaming of the damned echoes off the walls.</td>
					<td><strong>Cold Resistance</strong><br/><small>Add +s equal to Sinkhole's Strength when resisting the effects of Cold used against you.</small></td>
				</tr>
				<tr>
					<td>35</td>
					<td>3</td>
					<td>They battled for three days on this spot.</td>
					<td>Everything smells of sulfur.</td>
					<td><strong>Acid Resistance</strong><br/><small>Add +s equal to Sinkhole's Strength when resisting the effects of Acid used against you.</small></td>
				</tr>
				<tr>
					<td>36</td>
					<td>4</td>
					<td>Here she bathed in the blood of children to maintain her youth.</td>
					<td>The ground shakes ever so slightly, making footing uncertain.</td>
					<td><strong>Dark Vision</strong><br/><small>You can see as if it was a clear day regardless of the level of darkness surrounding you.</small></td>
				</tr>
				<tr>
					<td>37</td>
					<td>5</td>
					<td>The resurrection ritual went very, very wrong.</td>
					<td>Only lies can be spoken in this place.</td>
					<td><strong>True Sight</strong><br/><small>You can see through any illusion or invisibility in your Sinkhole. You also gain +s equal to the Sinkhole's Strength when attempting to discover those hidden by more conventional means.</small></td>
				</tr>
				<tr>
					<td>38</td>
					<td>6</td>
					<td>Vijir spoke a secret on this very spot.</td>
					<td>No matter what language you speak, it comes out in the God Tongue.</td>
					<td><strong>The Spider</strong><br/><small>You may climb any surface, including upside down on ceilings.</small></td>
				</tr>
				<tr>
					<td>39</td>
					<td>6</td>
					<td>Modi was thwarted here, forcing his rage into the ground.</td>
					<td>Any fire struck explodes to burn everyone close.</td>
					<td><strong>Shimmering Image</strong><br/><small>In your Sinkhole you seem to shimmer adding +s to your Defense Rolls in a Skirmish.</small></td>
				</tr>
				<tr>
					<td>40</td>
					<td>5</td>
					<td>Here she betrayed them all, leaving them exposed to true horror.</td>
					<td>The wind blows constantly with a gale force.</td>
					<td><strong>Stealthy</strong><br/><small>Add +s equal to Sinkhole's Strength when entering Skullduggery Challenges.</small></td>
				</tr>
				<tr>
					<td>41</td>
					<td>4</td>
					<td>Here he plied his trade, enslaving many children for the dperavations of others.</td>
					<td>Object fly about the room at random when emotions are high.</td>
					<td><strong>Natural Weapons</strong><br/><small>When striking unarmed you deal damage as if using an Arming Sword.</small></td>
				</tr>
				<tr>
					<td>42</td>
					<td>3</td>
					<td>A door to Dod's Fields has been opened here.</td>
					<td>All who enter forget why they came.</td>
					<td><strong>Telepathy</strong><br/><small>You may communicate with another through thought.</small></td>
				</tr>
				<tr>
					<td>43</td>
					<td>4</td>
					<td>This graveyard has been forgotten.</td>
					<td>Those who are wounded here suffer twice as much as normal.</td>
					<td><strong>Wall of Ice</strong><br/><small>Once per Turn you may surround your Sinkhole in a Wall of Ice that is 30 feet tall. The Wall will remain for a number of scenes equal to the Sinkhole's Strength.</small></td>
				</tr>
				<tr>
					<td>44</td>
					<td>5</td>
					<td>Here they froze to death in a single hour.</td>
					<td>Iron and steel shatter when struck</td>
					<td><strong>Fireballs</strong><br/><small>You may use a sling to hurl stones that turn into fiery explosions. Instead of doing damage as normal, the fiery stones explode to deal 10 damage that ignore DR.</small></td>
				</tr>
				<tr>
					<td>45</td>
					<td>6</td>
					<td>They chopped down a tree that stood here since the Dead Queen led the First Men out of the north.</td>
					<td>Wood and cloth rots to nothing when entering.</td>
					<td><strong>Invisibility</strong><br/><small>Once per Turn you may turn invisibile. The invisibility lasts until you wish it to end or you successfully strike another.</small></td>
				</tr>
				<tr>
					<td>46</td>
					<td>6</td>
					<td>Here the Deathless earned his name.</td>
					<td>Vermin cover every surface</td>
					<td><strong>Rejuvination</strong><br/><small>In a Skirmish at the Sinkhole, double your recovery rate for your Vitality and Willpower pools.</small></td>
				</tr>
				<tr>
					<td>47</td>
					<td>5</td>
					<td>On this location the Guardian fell, shattering time.</td>
					<td>Animals refuse to enter.</td>
					<td><strong>Infused Fighter</strong><br/><small>In a Skirmish you can make two Melee Attacks against one or more targets.</small></td>
				</tr>
				<tr>
					<td>48</td>
					<td>4</td>
					<td>The Savior ascended by sacrificing so many here.</td>
					<td>Snakes in vast numbers have made this place their home.</td>
					<td><strong>Aura of Fear</strong><br/><small>In the Sinkhole you are always considered to have the Feared Advantage.</small></td>
				</tr>
				<tr>
					<td>49</td>
					<td>3</td>
					<td>The Purifier burned it down full of people.</td>
					<td>Skeletons rise up from the ground to attack everything living.</td>
					<td><strong>Bolster</strong><br/><small>While in the Sinkhole, no ally of yours can ever become Broken during a Skirmish.</small></td>
				</tr>
				<tr>
					<td>50</td>
					<td>4</td>
					<td>The Axeman claimed his first soul here.</td>
					<td>Every surface is wet.</td>
					<td><strong>Trembling Earth</strong><br/><small>During a Skirmish each round you may designate a number of squares equal to the Strength of the Sinkhole as Very Difficult Ground.</small></td>
				</tr>
				<tr>
					<td>51</td>
					<td>5</td>
					<td>No place in the world has seen more torture than here.</td>
					<td>Dust swirls in the air with the slightest movement obscuring sight.</td>
					<td><strong>Webbing</strong><br/><small>In your Sinkhole you may used a Ranged Attack to trip up a target with spider-like webbing. If you successfully hit the individual, they are unable to Move for a number of rounds equal to the Strength of the Sinkhole.</small></td>
				</tr>
				<tr>
					<td>52</td>
					<td>6</td>
					<td>Instead of showing mercy with a quick death, she let him linger here for a week.</td>
					<td>Monks can be heard chanting blasphemy.</td>
					<td><strong>Place of Power</strong><br/><small>When using Wards in the Sinkhole, add the Sinkhole's Strength as +s to all rolls in the process.</small></td>
				</tr>
				<tr>
					<td>53</td>
					<td>6</td>
					<td>Plague victims were buried here without concecration.</td>
					<td>Something dark and bloody is always moving out of the corn of the eye.</td>
					<td><strong>Infused Archer</strong><br/><small>In a Skirmish you can make two Ranged Attacks against one or more targets.</small></td>
				</tr>
				<tr>
					<td>54</td>
					<td>5</td>
					<td>One does not betray a god-king and go to death easily.</td>
					<td>No sound can raise above a whisper.</td>
					<td><strong>Necromantic Focus</strong><br/><small>When using the Animation Ritual in your Sinkhole, add the Sinkhole's Strength as +s to all rolls in the process.</small></td>
				</tr>
				<tr>
					<td>55</td>
					<td>4</td>
					<td>They thought he was dead so buried him alive.</td>
					<td>All vision is warped as if seen through a fishbowl.</td>
					<td><strong>Summoner's Circle</strong><br/><small>When using the Summoning Ritual in your Sinkhole, add the Sinkhole's Strength as +s to all rolls in the process.</small></td>
				</tr>
				<tr>
					<td>56</td>
					<td>3</td>
					<td>Here she acquired the tast for flesh.</td>
					<td>The successful fail and the failures succeed.</td>
					<td><strong>Infused Geas</strong><br/><small>When using the Geas Ritual in your Sinkhole, add the Sinkhole's Strength as +s to all rolls in the process.</small></td>
					
				</tr>
				<tr>
					<td>57</td>
					<td>4</td>
					<td>The entire caravan starved to death on this spot.</td>
					<td>Animals turn rabid attacking their masters here.</td>
					<td><strong>Dominator</strong><br/><small>When using the Domination Ritual on an individual in your Sinkhole, add the Sinkhole's Strength as +s to all rolls in the process.</small></td>
					
				</tr>
				<tr>
					<td>58</td>
					<td>5</td>
					<td>Here a god was stillborn, yet walked away.</td>
					<td>The dead rise immediately and attack those closest to them.</td>
					<td><strong>Formless</strong><br/><small>When using the Shapechanging Ritual in your Sinkhole, add the Sinkhole's Strength as +s to all rolls in the process.</small></td>
					
				</tr>
				<tr>
					<td>59</td>
					<td>6</td>
					<td>An ancient city of a million souls was snuffed out at this site in mere moments.</td>
					<td>Perception is skewed, with up becoming down and down up.</td>
					<td><strong>Formless</strong><br/><small>When using the Shapechanging Ritual in your Sinkhole, add the Sinkhole's Strength as +s to all rolls in the process.</small></td>
				</tr>
				<tr>
					<td>60</td>
					<td>7</td>
					<td>Cause</td>
					<td>Nothing will burn in this place</td>
					<td><strong>Tongues</strong><br/><small>You may speak and understand any language for a single scene.</small></td>
				</tr>
				<tr>
					<td>61</td>
					<td>8</td>
					<td>A star fell to the ground here and walked away.</td>
					<td>All light dims here.</td>
					<td><strong>Amphibious</strong><br/><small>Once per Turn you may move through water unhindered breathing equally well in and out of water.</small></td>
				</tr>
				<tr>
					<td>62</td>
					<td>9</td>
					<td>A great battle was fought here with tens of thousands giving their bones to the soil.</td>
					<td>Children with pure white eyes move out of the shadows.</td>
					<td><strong>Powerful</strong><br/><small>When using your physical strength within in your Sinkhole, add the Sinkhole's Strength as +s to the rolls.</small></td>
				</tr>
				<tr>
					<td>63</td>
					<td>10</td>
					<td>Here a Queen of Ivory died, taking an army with her.</td>
					<td>Grims guard this place.</td>
					<td><strong>Resilient</strong><br/><small>Your very skin becomes armor-like in the Sinkhole. Add the Sinkhole's Strength to your DR in Skirmishes.</small></td>
				</tr>
				<tr>
					<td>64</td>
					<td>11</td>
					<td>Here the king made his last stand against those that come from beyond.</td>
					<td>The weather is always unseasonable.</td>
					<td><strong>Malevolent Surge</strong><br/><small>Once per Skirmish you may add the Sinkhole's Strength to your movement.</small></td>
				</tr>
				<tr>
					<td>65</td>
					<td>12</td>
					<td>This place is sacred to the Dead God's children.</td>
					<td>Black flies move about in great clouds.</td>
					<td><strong>Roll Twice</strong><br/><small>Roll twice ignoring rolls of 65 and 66.</small></td>
				</tr>
				<tr>
					<td>66</td>
					<td>13</td>
					<td>This is where they feed on other men.</td>
					<td>Servitors of the gods manifest.</td>
					<td><strong>Pick One</strong><br/><small>Pick the power you prefer.</small></td>
				</tr>
			</tbody>
		</table>
<div class="clearfix gutters block">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">

		<h4>Becoming Tainted</h4>
		<p class="first">When a character first becomes Tainted, they gain an aura. It is a subtle hint of the otherworldly power that has begun to infuse the character. Add to your character sheet what this subtle aura is. It could be a constant rustling of wind that surrounds the character, a particular odor, or any other colorful effect.</p>
		<p>After this initial effect, any additional Taint requires the player to roll D66 on the following chart. You may also select an option if you wish to maintain a theme for your character. Update your character sheet with the following details:</p>
		<table class="clearfix table-scroll">
			<caption>Taint Effects Table</caption>
			<thead>
				<tr>
					<th class="ten">D66 Roll</th>
					<th>Effect</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						11
					</td>
					<td>
						Always speaks in a whisper, leaning in uncomfortably close.
					</td>
				</tr>
				<tr>
					<td>
						12
					</td>
					<td>
						Makes no sound walking about, despite what the character is wearing.
					</td>
				</tr>
				<tr>
					<td>
						13
					</td>
					<td>
						Unblinking.
					</td>
				</tr>
				<tr>
					<td>
						14
					</td>
					<td>
						Unable to make eye contact.
					</td>
				</tr>
				<tr>
					<td>
						15
					</td>
					<td>
						Suffers from stigmata.
					</td>
				</tr>
				<tr>
					<td>
						16
					</td>
					<td>
						Sounds seem muffled when they are near.
					</td>
				</tr>
				<tr>
					<td>
						17
					</td>
					<td>
						Jaw is locked shut, forcing the character to speak through clenched teeth.
					</td>
				</tr>
				<tr>
					<td>
						18
					</td>
					<td>
						Dogs bark whenever near the character.
					</td>
				</tr>
				<tr>
					<td>
						19
					</td>
					<td>
						Raises the hair on people's necks when within a few feet.
					</td>
				</tr>
				<tr>
					<td>
						20
					</td>
					<td>
						One eye appears to be glazed over and dead.
					</td>
				</tr>
				<tr>
					<td>
						21
					</td>
					<td>
						Sweats constantly.
					</td>
				</tr>
				<tr>
					<td>
						22
					</td>
					<td>
						Nose trickles blood at random moments.
					</td>
				</tr>
				<tr>
					<td>
						23
					</td>
					<td>
						Fingers and hands constantly twitch.
					</td>
				</tr>
				<tr>
					<td>
						24
					</td>
					<td>
						Has tattoos that seem to shift and move out of the corner of your eye.
					</td>
				</tr>
				<tr>
					<td>
						25
					</td>
					<td>
						Eyes are black pools like a shark.
					</td>
				</tr>
				<tr>
					<td>
						26
					</td>
					<td>
						Smells like rotting meat.
					</td>
				</tr>
				<tr>
					<td>
						27
					</td>
					<td>
						 Teeth are sharp like a predators.
					</td>
				</tr>
				<tr>
					<td>
						28
					</td>
					<td>
						Lips are a bright purple.
					</td>
				</tr>
				<tr>
					<td>
						29
					</td>
					<td>
						Completely hairless.
					</td>
				</tr>
				<tr>
					<td>
						30
					</td>
					<td>
						Can only stomach raw meat.
					</td>
				</tr>
				<tr>
					<td>
						31
					</td>
					<td>
						Body covered with lesions.
					</td>
				</tr>
				<tr>
					<td>
						32
					</td>
					<td>
						Hears a constant hum of whispers.
					</td>
				</tr>
				<tr>
					<td>
						33
					</td>
					<td>
						Skin is almost translucent.
					</td>
				</tr>
				<tr>
					<td>
						34
					</td>
					<td>
						Face trapped in a rictus grin.
					</td>
				</tr>
				<tr>
					<td>
						35
					</td>
					<td>
						Flies are a constant presence around them.
					</td>
				</tr>
				<tr>
					<td>
						36
					</td>
					<td>
						Mutters the same prayer under their breath compulsively.
					</td>
				</tr>
				<tr>
					<td>
						37
					</td>
					<td>
						Eyes have taken on the aspect of a snake.
					</td>
				</tr>
				<tr>
					<td>
						38
					</td>
					<td>
						Forked tongue.
					</td>
				</tr>
				<tr>
					<td>
						39
					</td>
					<td>
						Unable to maintain weight and has a skeletal appearance.
					</td>
				</tr>
				<tr>
					<td>
						40
					</td>
					<td>
						Has grown a tail.
					</td>
				</tr>
				<tr>
					<td>
						41
					</td>
					<td>
						Skin is constantly peeling.
					</td>
				</tr>
				<tr>
					<td>
						42
					</td>
					<td>
						Has grown small horns just above the hairline.
					</td>
				</tr>
				<tr>
					<td>
						43
					</td>
					<td>
						Eyes glow red in the darkness.
					</td>
				</tr>
				<tr>
					<td>
						44
					</td>
					<td>
						Wracked by bloody coughing fits.
					</td>
				</tr>
				<tr>
					<td>
						45
					</td>
					<td>
						Eyes tear up with blood.
					</td>
				</tr>
				<tr>
					<td>
						46
					</td>
					<td>
						A third eye has sprouted on their body somewhere.
					</td>
				</tr>
				<tr>
					<td>
						47
					</td>
					<td>
						Covered in a constant rash.
					</td>
				</tr>
				<tr>
					<td>
						48
					</td>
					<td>
						Cannot abide sunlight.
					</td>
				</tr>
				<tr>
					<td>
						49
					</td>
					<td>
						Has hair growing on their palms.
					</td>
				</tr>
				<tr>
					<td>
						50
					</td>
					<td>
						Ring fingers have grown longer than other fingers.
					</td>
				</tr>
				<tr>
					<td>
						51
					</td>
					<td>
						Wounds heal over with a waxy substance rather than skin.
					</td>
				</tr>
				<tr>
					<td>
						52
					</td>
					<td>
						Patches of skin have taken on a rocky look and feel.
					</td>
				</tr>
				<tr>
					<td>
						53
					</td>
					<td>
						Fires suddenly glow brighter when they are near.
					</td>
				</tr>
				<tr>
					<td>
						54
					</td>
					<td>
						Skin is ice cold to the touch, even chilling cups in their hand.
					</td>
				</tr>
				<tr>
					<td>
						55
					</td>
					<td>
						Ears have taken on a sharp, pointed shape.
					</td>
				</tr>
				<tr>
					<td>
						56
					</td>
					<td>
						Skin has taken on a blueish white color.
					</td>
				</tr>
				<tr>
					<td>
						57
					</td>
					<td>
						Skin is overly dry. Constantly cracking and bleeding.
					</td>
				</tr>
				<tr>
					<td>
						58
					</td>
					<td>
						Smells faintly of blood.
					</td>
				</tr>
				<tr>
					<td>
						59
					</td>
					<td>
						Their blood is black and smells foul.
					</td>
				</tr>
				<tr>
					<td>
						60
					</td>
					<td>
						Radiates heat enough that when they touch water it noticeably warms.
					</td>
				</tr>
				<tr>
					<td>
						61
					</td>
					<td>
						Skin has taken on a greenish color with a hint of scales.
					</td>
				</tr>
				<tr>
					<td>
						62
					</td>
					<td>
						Vermin become bold when they are around.
					</td>
				</tr>
				<tr>
					<td>
						63
					</td>
					<td>
						Does not cast a reflection.
					</td>
				</tr>
				<tr>
					<td>
						64
					</td>
					<td>
						Lights dim when they enter a room.
					</td>
				</tr>
				<tr>
					<td>
						65
					</td>
					<td>
						Glows softly in darkness.
					</td>
				</tr>
				<tr>
					<td>
						66
					</td>
					<td>
						Select an Adversary with the Tainted Descriptor and apply those Talents to your character.
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>