<div class="clearfix gutters block" id="doom">
	<aside class="span-3 col empty">&nbsp;</aside>
	<div class="span-6 col">
		<hr>
		<h3>Doom Dice</h3>
		<p class="first">Doom is both a blessing and a curse. They give the characters an edge against their enemies when the chips are down, but also work against them in the long run. They fuel the most potent powers of the Cell's enemies and ultimately lead to the character's doom.</p>
		<p>Doom Dice provide free successes for a Challenge that the player can choose to use. The dice are still rolled and if you roll a one (1) or six (6), your character suffers from Visions of Torment (roll D66 on the Visions of Torment table). Once Doom Dice are used they become the property of the Game Master.</p>
		<p>Being a member of the Cell does not ever end well. All of the characters are Doomed to some horrible fate. Visions of Torment are small snippets used to shape your character's ultimate Doom. Read the description of the vision that torments your character then narrate a vision to the rest of the table centered on that theme.</p>
		<p>For every six visions your character suffers, something must be lost. Look at your character sheet and remove a character from your Network, remove named gear, or a Talent and explain how that loss feeds into your character's Doom.</p>
		<table id="visions-torment">
			<caption>Visions of Torment Table</caption>
			<thead>
				<tr>
					<th>Roll</th>
					<th>Result</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>11</td>
					<td>A slowly drowning child.</td>
				</tr>
				<tr>
					<td>12</td>
					<td>A man puts on an owl mask.</td>
				</tr>
				<tr>
					<td>13</td>
					<td>A laughing man stumbles.</td>
				</tr>
				<tr>
					<td>14</td>
					<td>An arrow strikes an unseen archer.</td>
				</tr>
				<tr>
					<td>15</td>
					<td>You follow a crow that holds a finger in it's beak.</td>
				</tr>
				<tr>
					<td>16</td>
					<td>A bridge collapses beneath your feet.</td>
				</tr>
				<tr>
					<td>17</td>
					<td>Your staunchest enemy sheds a tear for you.</td>
				</tr>
				<tr>
					<td>18</td>
					<td>You cut open a lizard and find your mother's wedding ring within.</td>
				</tr>
				<tr>
					<td>19</td>
					<td>Massive storm clouds cover the land</td>
				</tr>
				<tr>
					<td>20</td>
					<td>A wooden wheel shatters with a resounding bang.</td>
				</tr>
				<tr>
					<td>21</td>
					<td>You are strapped to the wheel of fire.</td>
				</tr>
				<tr>
					<td>22</td>
					<td>A figure is surrounded by wild dogs.</td>
				</tr>
				<tr>
					<td>23</td>
					<td>A baby cries from the end of a dark hallway.</td>
				</tr>
				<tr>
					<td>24</td>
					<td>A voice whispers to you from the darkness.</td>
				</tr>
				<tr>
					<td>25</td>
					<td>Icy hands pull you down.</td>
				</tr>
				<tr>
					<td>26</td>
					<td>A blade is held to your throat by a loved one.</td>
				</tr>
				<tr>
					<td>27</td>
					<td>A crown is placed upon your brow, drawing blood.</td>
				</tr>
				<tr>
					<td>28</td>
					<td>Spiders cover the wall spelling your name.</td>
				</tr>
				<tr>
					<td>29</td>
					<td>The streets are littered with the dead.</td>
				</tr>
				<tr>
					<td>30</td>
					<td>A dying child begs you not to kill her.</td>
				</tr>
				<tr>
					<td>31</td>
					<td>A statue comes to life, turning to face you.</td>
				</tr>
				<tr>
					<td>32</td>
					<td>A dark figure bursts through a window.</td>
				</tr>
				<tr>
					<td>33</td>
					<td>You tears turn to blood.</td>
				</tr>
				<tr>
					<td>34</td>
					<td>Insects pour from your mouth.</td>
				</tr>
				<tr>
					<td>35</td>
					<td>An earthquake brings buildings down around you.</td>
				</tr>
				<tr>
					<td>36</td>
					<td>You best friend stabs you in the back and whispers, "You know why..."</td>
				</tr>
				<tr>
					<td>37</td>
					<td>Your hand is bitten reaching into a bag.</td>
				</tr>
				<tr>
					<td>38</td>
					<td>A drunk tells you an unwanted truth.</td>
				</tr>
				<tr>
					<td>39</td>
					<td>Everyone in a room turns to face you and speak a name in unison.</td>
				</tr>
				<tr>
					<td>40</td>
					<td>A horse engulfed in flames rides past you.</td>
				</tr>
				<tr>
					<td>41</td>
					<td>A wolf turns to you and says, "Follow me"</td>
				</tr>
				<tr>
					<td>42</td>
					<td>You reach, but are unable to save her.</td>
				</tr>
				<tr>
					<td>43</td>
					<td>You are brought before the gallows to pay for your crimes.</td>
				</tr>
				<tr>
					<td>44</td>
					<td>Hair bursts out of your skin, covering your body.</td>
				</tr>
				<tr>
					<td>45</td>
					<td>You fall into a lake of blood.</td>
				</tr>
				<tr>
					<td>46</td>
					<td>You kill the one you love most.</td>
				</tr>
				<tr>
					<td>47</td>
					<td>A ship crashes into the shore.</td>
				</tr>
				<tr>
					<td>48</td>
					<td>A fire rages throughout the city.</td>
				</tr>
				<tr>
					<td>49</td>
					<td>A mountain top explodes, raining ash.</td>
				</tr>
				<tr>
					<td>50</td>
					<td>A voice demands, "Why have you abandoned me?"</td>
				</tr>
				<tr>
					<td>51</td>
					<td>Everything you touch crumbles to dust.</td>
				</tr>
				<tr>
					<td>52</td>
					<td>Your hair falls out in patches.</td>
				</tr>
				<tr>
					<td>53</td>
					<td>Your ancestors all scream out to you with anger.</td>
				</tr>
				<tr>
					<td>54</td>
					<td>Ice engulfs the landscape.</td>
				</tr>
				<tr>
					<td>55</td>
					<td>A murder of crows repeat the same word over and over again as you walk across a barren landscape.</td>
				</tr>
				<tr>
					<td>56</td>
					<td>The wind blows the leaves at your feet into a single phrase.</td>
				</tr>
				<tr>
					<td>57</td>
					<td>Your lover's skin peals off in chunks as you try to save them.</td>
				</tr>
				<tr>
					<td>58</td>
					<td>The dead claw their way from the earth.</td>
				</tr>
				<tr>
					<td>59</td>
					<td>You are eating your own flesh one cut at a time.</td>
				</tr>
				<tr>
					<td>60</td>
					<td>Your lover asks a question that leads to your suicide.</td>
				</tr>
				<tr>
					<td>61</td>
					<td>You are beaten by a relative.</td>
				</tr>
				<tr>
					<td>62</td>
					<td>You strangle a child to keep it quiet.</td>
				</tr>
				<tr>
					<td>63</td>
					<td>You watch the fates measure and cut your thread.</td>
				</tr>
				<tr>
					<td>64</td>
					<td>The sun turns to sack cloth.</td>
				</tr>
				<tr>
					<td>65</td>
					<td>A man with glowing eyes offers you a bargain.</td>
				</tr>
				<tr>
					<td>66</td>
					<td>It will only hurt a little.</td>
				</tr>
			</tbody>
		</table>
	</div>
	<aside class="span-3 col empty">
		&nbsp;
	</aside>
</div>
