<div class="clearfix gutters block" id="being-gm">
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>Being the GM</h3>
		<p class="first">Taking on the role of the Game Master is taking on the lionshare of the responsibility in the game. The GM guides the flow of play, inhabits the roll of allies, enemies and everyone inbetween as well as arbitrates the rules. They lead the way through vivid descriptions of the environment and the NPC reactions to the Cell's actions.</p>
		<p>Think of the GM as a person leading a conversation and setting the tone of play through the Socratic method. The players will ask questions like, "Can Rodrigo jump to the next building?" or "Where did that bastard sneak off to?" It is your job to ask back, "How is your character trying to make that leap?" or "Where are you looking for him?" You continue back and forth in this manner until you get to a point of conflict when dicec an be rolled.</p>
		<p>The only effective way of making this conversation fruitful is to build atmosphere, mood and tone. Utilize small concise details to solidfy imagery in the minds of eveyrone at the table. Leverage all the senses in your descriptions and your game will come to life.</p>
	</div>
	<aside class="span-3 col empty">&nbsp;
	</aside>
</div>
