<section class="clearfix gutters block">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>The Journey</h3>
		<p class="first">The Mountain is more about the journey of the Cell than the final confrontation at the end. The travel from their starting point to their ultimate destination is both what helps shape the narrative of their story as well as what mechanically breaks up time in the game.</p>
		<p>Each leg of the journey of the Cell is broken into distinct segments which are always initiated by the players. Each of these segments is broken up in the following way:</p>
		<ol class="spaced-list unstyled">
			<li><strong>Set Destination and Route</strong><br><small>The Cell chooses a destination and outlines to the Game Master the route they will take to that destination. The Game Master decides based on the distance and terrain if the proposed leg of the journey needs to be broken up into multiple legs.</small></li>
			<li><strong>Measure Distance</strong><br><small>Using the hex map, count the number of hexes along the route the players have defined. Each hex represents 20 miles. Each hex in the journey marks the number of Challenges the Cell will have to make.</small></li>
			<li><strong>Identify Terrain</strong><br><small>Using the Terrain Table identify the types of terrain the route will cross over. This creates the base difficulty of the Challenges the characters will have to make for each hex.</small></li>
			<li><strong>Journey Speed</strong><br><small>Consult the Journey Speed Table. The nature of the Cell's mode of travel will modify the cost of each Challenge the characters have to roll for. Multiply the modifier by the Vitality cost of the terrain of each Challenge and round down.</small></li>
			<li><strong>Athletics Challenges</strong><br><small>With each hex, each member of the Cell must make an Athletics Challenge. If successful, they pass through that portion of their journey uneventfully. If one player fails, future Challenges in this part of the journey suffer a cumulative +1R or the Game Master can choose to bring this leg of the journey to a halt, introducing a new Arc and location.</small></li>
		</ol>
		<table class="table-scroll">
			<caption>Terrain Table</caption>
			<thead>
				<tr>
					<td>Terrain Type</td>
					<td>Base Difficulty</td>
					<td>Vitality Cost</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Open Road</td>
					<td>2</td>
					<td>3</td>
				</tr>
				<tr>
					<td>Open Terrain, A Navigable River, Well Worn Trails</td>
					<td>3</td>
					<td>4</td>
				</tr>
				<tr>
					<td>Hills, Young Woods, Bogs</td>
					<td>4</td>
					<td>5</td>
				</tr>
				<tr>
					<td>Marshes, Old Woods</td>
					<td>5</td>
					<td>6</td>
				</tr>
				<tr>
					<td>Broken Ground, Ancient Woods</td>
					<td>6</td>
					<td>7</td>
				</tr>
				<tr>
					<td>Open Desert, Mountains, Desolation</td>
					<td>7</td>
					<td>8</td>
				</tr>
			</tbody>
		</table>
		<table class="table-scroll">
			<caption>Journey Speed Table</caption>
			<thead>
				<tr>
					<td>Traveling...</td>
					<td>Miles per Day</td>
					<td>Challenge Cost Modifier</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>On foot</td>
					<td>20 Miles</td>
					<td>x1</td>
				</tr>
				<tr>
					<td>Riding Horses</td>
					<td>40 Miles</td>
					<td>x.75</td>
				</tr>
				<tr>
					<td>Downstream on a River</td>
					<td>30 Miles</td>
					<td>x.4</td>
				</tr>
				<tr>
					<td>Upstream on a River</td>
					<td>10 Miles</td>
					<td>x.5</td>
				</tr>
				<tr>
					<td>Coastal Vessel</td>
					<td>50 Miles</td>
					<td>x.25</td>
				</tr>
				<tr>
					<td>Open Ocean Vessel</td>
					<td>100 Miles</td>
					<td>x.25</td>
				</tr>
			</tbody>
		</table>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</section>
