<section class="clearfix gutters block">
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>Twists &amp; Conditions</h3>
		<p class="first">As with any role-playing game, <em>The Mountain</em> requires the Game Master to be able to think fast and introduce new complications on the fly. These complications are called Twists and Conditions. Twists take the game in a new direction while Conditions hinder a character in some way. The following tables can be selected from or rolled on when you need a moment of inspiration.</p>
		<table class="table-scroll">
			<caption>Conditions Table</caption>
			<thead>
				<tr>
					<td>Roll D66</td>
					<td>Condition</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>11 - 18</td>
					<td>Blindness</td>
				</tr>
				<tr>
					<td>19 - 26</td>
					<td>Confused</td>
				</tr>
				<tr>
					<td>27 - 33</td>
					<td>Exhausted</td>
				</tr>
				<tr>
					<td>34 - 40</td>
					<td>Hungry</td>
				</tr>
				<tr>
					<td>41 - 48</td>
					<td>Illness</td>
				</tr>
				<tr>
					<td>49 - 55</td>
					<td>Minor Injury</td>
				</tr>
				<tr>
					<td>56 - 66</td>
					<td>Uncontrollable Anger</td>
				</tr>
			</tbody>
		</table>
		<table class="table-scroll">
			<caption>Twists Table</caption>
			<thead>
				<tr>
					<th class="twenty">Roll D666</th>
					<th>Twist</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>111 - 123</td>
					<td>You attrack the attention of something nearby</td>
				</tr>
				<tr>
					<td>124 - 136</td>
					<td>Something unholy awakens</td>
				</tr>
				<tr>
					<td>137 - 149</td>
					<td>Something ate your supplies, animals or servants</td>
				</tr>
				<tr>
					<td>150 - 162</td>
					<td>Something ate your supplies, animals or hirelings</td>
				</tr>
				<tr>
					<td>163 - 175</td>
					<td>Whatever you were hunting is being hunted by something much worse</td>
				</tr>
				<tr>
					<td>176 - 188</td>
					<td>That water sure is deep</td>
				</tr>
				<tr>
					<td>189 - 201</td>
					<td>You're totally lost</td>
				</tr>
				<tr>
					<td>202 - 214</td>
					<td>This place looks familiar, but something isn't right</td>
				</tr>
				<tr>
					<td>215 - 227</td>
					<td>A torrential downpour starts</td>
				</tr>
				<tr>
					<td>228 - 240</td>
					<td>Are those bandits on the horizon</td>
				</tr>
				<tr>
					<td>241 - 253</td>
					<td>It starts to snow</td>
				</tr>
				<tr>
					<td>254 - 266</td>
					<td>There is a rock slide</td>
				</tr>
				<tr>
					<td>267 - 279</td>
					<td>Is that a stampede or a flood</td>
				</tr>
				<tr>
					<td>280 - 292</td>
					<td>This is a dead end</td>
				</tr>
				<tr>
					<td>293 - 305</td>
					<td>There is no clean air left</td>
				</tr>
				<tr>
					<td>306 - 318</td>
					<td>That was the wrong thing to say</td>
				</tr>
				<tr>
					<td>319 - 331</td>
					<td>You don't know what to say</td>
				</tr>
				<tr>
					<td>332 - 344</td>
					<td>They demand all your possessions</td>
				</tr>
				<tr>
					<td>345 - 357</td>
					<td>They summon their allies</td>
				</tr>
				<tr>
					<td>358 - 370</td>
					<td>You are overheard</td>
				</tr>
				<tr>
					<td>371 - 383</td>
					<td>They are not who you thought they were</td>
				</tr>
				<tr>
					<td>384 - 396</td>
					<td>You lose the contents of your pack</td>
				</tr>
				<tr>
					<td>397 - 409</td>
					<td>Your weapon breaks</td>
				</tr>
				<tr>
					<td>410 - 422</td>
					<td>Something of value is stolen</td>
				</tr>
				<tr>
					<td>423 - 435</td>
					<td>Your information is out of date</td>
				</tr>
				<tr>
					<td>436 - 448</td>
					<td>They get away</td>
				</tr>
				<tr>
					<td>449 - 461</td>
					<td>A surge of energy explodes in your face</td>
				</tr>
				<tr>
					<td>462 - 474</td>
					<td>You cast the wrong Wyrd</td>
				</tr>
				<tr>
					<td>475 - 487</td>
					<td>You fall into a crevace</td>
				</tr>
				<tr>
					<td>488 - 500</td>
					<td>You are now betrothed</td>
				</tr>
				<tr>
					<td>501 - 513</td>
					<td>That translation was wrong</td>
				</tr>
				<tr>
					<td>514 - 526</td>
					<td>Oh Gods, a fire</td>
				</tr>
				<tr>
					<td>527 - 539</td>
					<td>The dead rise</td>
				</tr>
				<tr>
					<td>540 - 552</td>
					<td>The watch has been called</td>
				</tr>
				<tr>
					<td>553 - 565</td>
					<td>You've been framed</td>
				</tr>
				<tr>
					<td>566 - 578</td>
					<td>You've awoken a dead Jutun</td>
				</tr>
				<tr>
					<td>579 - 591</td>
					<td>Their family swears revenge</td>
				</tr>
				<tr>
					<td>592 - 604</td>
					<td>Is that poison</td>
				</tr>
				<tr>
					<td>605 - 617</td>
					<td>Why is it suddenly so cold</td>
				</tr>
				<tr>
					<td>618 - 630</td>
					<td>Earthquake</td>
				</tr>
				<tr>
					<td>631 - 643</td>
					<td>They are a shapechanger</td>
				</tr>
				<tr>
					<td>644 - 656</td>
					<td>The wind blows</td>
				</tr>
				<tr>
					<td>657 - 660</td>
					<td>What is that crawling under your skin</td>
				</tr>
				<tr>
					<td>661 - 665</td>
					<td>Is that a baby crying</td>
				</tr>
				<tr>
					<td>666</td>
					<td>Possessed by a demon</td>
				</tr>
			</tbody>
		</table>
		
	</div>
	<aside class="span-3 col empty">&nbsp;
	</aside>
</section>