<div class="clearfix gutters block" id="twists-conditions">
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>Twists &amp; Conditions</h3>
		<p class="first">As with any role-playing game, <em>The Mountain</em> requires the Game Master to be able to think fast and introduce new complications on the fly. These complications are called Twists and Conditions. Twists take the game in a new direction while Conditions hinder a character in some way. The following tables can be selected from or rolled on when you need a moment of inspiration.</p>
		<table class="clearfix table-scroll">
			<caption>Conditions Table</caption>
			<thead>
				<tr>
					<td>Roll D66</td>
					<td>Condition</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>11 - 18</td>
					<td>Blindness</td>
				</tr>
				<tr>
					<td>19 - 26</td>
					<td>Confused</td>
				</tr>
				<tr>
					<td>27 - 33</td>
					<td>Exhausted</td>
				</tr>
				<tr>
					<td>34 - 40</td>
					<td>Hungry</td>
				</tr>
				<tr>
					<td>41 - 48</td>
					<td>Illness</td>
				</tr>
				<tr>
					<td>49 - 55</td>
					<td>Minor Injury</td>
				</tr>
				<tr>
					<td>56 - 66</td>
					<td>Uncontrollable Anger</td>
				</tr>
			</tbody>
		</table>
		<table class="clearfix table-scroll">
			<caption>Twists Table</caption>
			<thead>
				<tr>
					<td>Roll D666</td>
					<td>Twist</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>11 - 18</td>
					<td></td>
				</tr>
				<tr>
					<td>19 - 26</td>
					<td></td>
				</tr>
				<tr>
					<td>27 - 33</td>
					<td></td>
				</tr>
				<tr>
					<td>34 - 40</td>
					<td></td>
				</tr>
				<tr>
					<td>41 - 48</td>
					<td></td>
				</tr>
				<tr>
					<td>49 - 55</td>
					<td></td>
				</tr>
				<tr>
					<td>56 - 66</td>
					<td></td>
				</tr>
			</tbody>
		</table>
		
	</div>
	<aside class="span-3 col empty">&nbsp;
	</aside>
</div>