<section class="clearfix gutters block">
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>Loot</h3>
		<p class="first">In The Mountain, Loot is the genearic term used to describe anything of value that characters can get out of a Challenge or Skirmish. It isn't just tangible objects like gear or artifacts, but can easily be knowlege about the Cell's enemies, having the powerful owe you a favor, or even a new ally.</p>
		<p>Typically, Loot is something planned by the GM as the reward or Twist the character's receive at the end of an encounter. However, it can be just as fun to embrace a random dice roll on the Loot tables to see where the game takes you. When doing so, roll on the  Loot Type Table then use that result to roll on the appropriate follow up table.</p>
		<table class="table-scroll">
			<caption>Loot Type Table</caption>
			<thead>
				<tr>
					<th class="twenty">Roll D66</th>
					<th>Loot Type</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>11 - 18</td>
					<td>Lore</td>
				</tr>
				<tr>
					<td>19 - 30</td>
					<td>Gear</td>
				</tr>
				<tr>
					<td>31 - 54</td>
					<td>Detritus</td>
				</tr>
				<tr>
					<td>55 - 59</td>
					<td>Valuables</td>
				</tr>
				<tr>
					<td>60 - 66</td>
					<td>Artifacts</td>
				</tr>
			</tbody>
		</table>
		<table class="table-scroll">
			<caption>Lore Table</caption>
			<thead>
				<tr>
					<th class="twenty">Roll D66</th>
					<th>Lore Type</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>11 - 18</td>
					<td>Lore that leads to a potentially profitable side quest</td>
				</tr>
				<tr>
					<td>19 - 30</td>
					<td>Lore that details a way to defeat a particular Adversary</td>
				</tr>
				<tr>
					<td>31 - 54</td>
					<td>Lore regarding a specific Ritual or Named Wyrd</td>
				</tr>
				<tr>
					<td>55 - 59</td>
					<td>Lore that provides a +1D Advantage against your next enemy</td>
				</tr>
				<tr>
					<td>60 - 66</td>
					<td>Lore regarding the plans of the Conspiracy</td>
				</tr>
			</tbody>
		</table>
	<table class="table-scroll">
		<caption>Gear Table</caption>
		<thead>
			<tr>
				<th class="twenty">Roll D66</th>
				<th>Gear Type</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>11 - 18</td>
				<td>A masterwork weapon (+1 to all Weapon Stats)</td>
			</tr>
			<tr>
				<td>19 - 25</td>
				<td>A standard weapon</td>
			</tr>
			<tr>
				<td>26 - 31</td>
				<td>Armor</td>
			</tr>
			<tr>
				<td>32 - 36</td>
				<td>A container</td>
			</tr>
			<tr>
				<td>37 - 42</td>
				<td>Food</td>
			</tr>
			<tr>
				<td>43 - 48</td>
				<td>Apothecary Goods</td>
			</tr>
			<tr>
				<td>49 - 54</td>
				<td>Clothing</td>
			</tr>
			<tr>
				<td>55 - 60</td>
				<td>Tools</td>
			</tr>
			<tr>
				<td>60 - 66</td>
				<td>Roll Twice</td>
			</tr>
		</tbody>
	</table>
	<table class="table-scroll">
		<caption>Detritus Table</caption>
		<thead>
			<tr>
				<th class="twenty">Roll D66</th>
				<th>Detritus Type</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>11 - 18</td>
				<td>A fresh corpse</td>
			</tr>
			<tr>
				<td>19 - 25</td>
				<td>Indecipherable notes in a familiar hand</td>
			</tr>
			<tr>
				<td>26 - 31</td>
				<td>An unknown religious idol</td>
			</tr>
			<tr>
				<td>32 - 36</td>
				<td>A child's toy</td>
			</tr>
			<tr>
				<td>37 - 42</td>
				<td>Ancient bones</td>
			</tr>
			<tr>
				<td>43 - 48</td>
				<td>Broken tools</td>
			</tr>
			<tr>
				<td>49 - 54</td>
				<td>Broken weapon with a curious smith mark</td>
			</tr>
			<tr>
				<td>55 - 60</td>
				<td>Rotting food in a familiar package</td>
			</tr>
			<tr>
				<td>60 - 66</td>
				<td>Ruined books or scrolls</td>
			</tr>
		</tbody>
	</table>
	<table class="table-scroll">
		<caption>Valuables Table</caption>
		<thead>
			<tr>
				<th class="twenty">Roll D66</th>
				<th>Valuables Type</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>11 - 18</td>
				<td>Gems</td>
			</tr>
			<tr>
				<td>19 - 30</td>
				<td>Jewelry</td>
			</tr>
			<tr>
				<td>31 - 54</td>
				<td>Cash</td>
			</tr>
			<tr>
				<td>55 - 59</td>
				<td>Artwork</td>
			</tr>
			<tr>
				<td>60 - 66</td>
				<td>Roll Twice</td>
			</tr>
		</tbody>
	</table>
	<table class="table-scroll">
		<caption>Gems Table</caption>
		<thead>
			<tr>
				<th class="twenty">Roll D66</th>
				<th>Gem Type</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>11 - 18</td>
				<td>Lapis Lazul worth 2D6 x 3d</td>
			</tr>
			<tr>
				<td>19 - 25</td>
				<td>Turquoise worth 2D6 x 2d</td>
			</tr>
			<tr>
				<td>26 - 31</td>
				<td>Moonstone worth 1D6 x 10d</td>
			</tr>
			<tr>
				<td>32 - 36</td>
				<td>Onyx worth 1D6 x 12d</td>
			</tr>
			<tr>
				<td>37 - 42</td>
				<td>Amber worth 2D6 x 12d</td>
			</tr>
			<tr>
				<td>43 - 48</td>
				<td>Jade worth 2D6 x 10d</td>
			</tr>
			<tr>
				<td>49 - 54</td>
				<td>Black Pearl worth 1D6 x 100d</td>
			</tr>
			<tr>
				<td>55 - 60</td>
				<td>Emerald worth 2D6 x 100d</td>
			</tr>
			<tr>
				<td>60 - 66</td>
				<td>Ruby worth 1D6 x 1,200d</td>
			</tr>
		</tbody>
	</table>
	<table class="table-scroll">
		<caption>Jewlry Table</caption>
		<thead>
			<tr>
				<th class="twenty">Roll D66</th>
				<th>Jewlry Type</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>11 - 18</td>
				<td>Gold Braclet worth 2D6 x 5d</td>
			</tr>
			<tr>
				<td>19 - 25</td>
				<td>Silver Locket worth 2D6 x 4d</td>
			</tr>
			<tr>
				<td>26 - 31</td>
				<td>Bronze Crown worth 1D6 x 12d</td>
			</tr>
			<tr>
				<td>32 - 36</td>
				<td>Silver and Gold Brooch worth 1D6 x 15d</td>
			</tr>
			<tr>
				<td>37 - 42</td>
				<td>Gem Encrusted Mask worth 2D6 x 15d</td>
			</tr>
			<tr>
				<td>43 - 48</td>
				<td>Fine gold chain worth 2D6 x 12d</td>
			</tr>
			<tr>
				<td>49 - 54</td>
				<td>Gold circlet worth 1D6 x 200d</td>
			</tr>
			<tr>
				<td>55 - 60</td>
				<td>Gem encrusted eye patch worth 2D6 x 200d</td>
			</tr>
			<tr>
				<td>60 - 66</td>
				<td>Gem encrusted crown worth 1D6 x 2,000d</td>
			</tr>
		</tbody>
	</table>
	<table class="table-scroll">
		<caption>Cash Table</caption>
		<thead>
			<tr>
				<th class="twenty">Roll D66</th>
				<th>Cash Type</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>11 - 18</td>
				<td>Pentanidi 6D6<br/>Numis 2D6 x 10</td>
			</tr>
			<tr>
				<td>19 - 25</td>
				<td>Pentanidi 1D6 x 10<br/>Numis 2D6 x 100</td>
			</tr>
			<tr>
				<td>26 - 31</td>
				<td>Decanidi 2D6 x 10<br/>Pentanidi 3D6 x 100</td>
			</tr>
			<tr>
				<td>32 - 36</td>
				<td>Decanidi 2D6 x 1,000<br/>Pentanidi 4D6 x 100</td>
			</tr>
			<tr>
				<td>37 - 42</td>
				<td>Folidi 1D6 x 100<br/>Decanidi 6D6 x 10</td>
			</tr>
			<tr>
				<td>43 - 48</td>
				<td>Folidi 2D6 x 10<br/>Decanidi 3D6 x 10</td>
			</tr>
			<tr>
				<td>49 - 54</td>
				<td>Solidi 3D6<br/>Folidi 2D6 x 10</td>
			</tr>
			<tr>
				<td>55 - 60</td>
				<td>Solidi 2D6 x 10<br/>Folidi 2D6 x 100</td>
			</tr>
			<tr>
				<td>60 - 66</td>
				<td>Solidi 2D6 x 100<br/>Folidi 1D6 x 1,000</td>
			</tr>
		</tbody>
	</table>
	<table class="table-scroll">
		<caption>Artwork Table</caption>
		<thead>
			<tr>
				<th class="twenty">Roll D66</th>
				<th>Artwork Type</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>11 - 18</td>
				<td>Engraved bone dice worth 2D6 x 5d</td>
			</tr>
			<tr>
				<td>19 - 25</td>
				<td>Copper chalice with silver filigree worth 2D6 x 4d</td>
			</tr>
			<tr>
				<td>26 - 31</td>
				<td>Carved ivory statuette worth 1D6 x 12d</td>
			</tr>
			<tr>
				<td>32 - 36</td>
				<td>Box of carved turquoise chess pieces worth 1D6 x 15d</td>
			</tr>
			<tr>
				<td>37 - 42</td>
				<td>A carved harp with gold inlay worth 2D6 x 15d</td>
			</tr>
			<tr>
				<td>43 - 48</td>
				<td>Ornamental silver plated sword worth 2D6 x 12d</td>
			</tr>
			<tr>
				<td>49 - 54</td>
				<td>Tapestry worth 1D6 x 200d</td>
			</tr>
			<tr>
				<td>55 - 60</td>
				<td>Gold music box worth 2D6 x 200d</td>
			</tr>
			<tr>
				<td>60 - 66</td>
				<td>Ivory drinking horn with gold filigree worth 1D6 x 2,000d</td>
			</tr>
		</tbody>
	</table>
	<h5>Artifacts</h5>
	<p class="first">When choosing an artifact you can either choose from the list provided or create your own using the Warding Ritual rules. Regardless of they way you generate your Artifact, once you have roll twice on the Artifact details page.</p>
	<table class="table-scroll">
		<caption>Artifact Details Table</caption>
		<thead>
			<tr>
				<th class="twenty">Roll D66</th>
				<th class="forty">History</th>
				<th class="forty">Property</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>11 - 18</td>
				<td>Created to be used by a famouse thrall of the Dead Queen</td>
				<td>The artifact always stay clean and shining</td>
			</tr>
			<tr>
				<td>19 - 25</td>
				<td>The artifact was created for a famous saint</td>
				<td>The artifact can let the holder's voice carry clearly across a battlefield</td>
			</tr>
			<tr>
				<td>26 - 31</td>
				<td>The artifact was created by the Jutun for one of their mortal servants</td>
				<td>A long dead soul inhabits the artifact with secret knowledge</td>
			</tr>
			<tr>
				<td>32 - 36</td>
				<td>The artifact was created for a Fey champion</td>
				<td>The artifact whisper's warnings regarding danger making the holder immune to surprise</td>
			</tr>
			<tr>
				<td>37 - 42</td>
				<td>Created to be used by a famouse thrall of the Dead Queen</td>
				<td>The artifact is entirely unbreakable</td>
			</tr>
			<tr>
				<td>43 - 48</td>
				<td>The artifact was created through a great evil</td>
				<td>The artifact is tainted, increasing the amount of Taint recieved by one.</td>
			</tr>
			<tr>
				<td>49 - 54</td>
				<td>The artifact is the focus of a terrible prophecy</td>
				<td>The artifact is pure, decreasing the amount of Taint recieved by one.</td>
			</tr>
			<tr>
				<td>55 - 60</td>
				<td>The artifact was created to honor a great local hero</td>
				<td>The artifact always knows what direction to go</td>
			</tr>
			<tr>
				<td>60 - 66</td>
				<td>The artifact was greated to destroy the Tainted</td>
				<td>The artifact strengthens user at +1s to Athletics Challenges</td>
			</tr>
		</tbody>
	</table>
	
	</div>
	<aside class="span-3 col empty">&nbsp;
	</aside>
</section>
