<div class="clearfix gutters"  id="journey-begins">
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<hr>
		<h3>The Journey Begins</h3>
		<p class="first"></p>
		<p></p>
	</div>
	<aside class="span-3 col empty">&nbsp;
	</aside>
</div>
{% include mountain/journey/01-first-game.html %}
{% include mountain/journey/02-what-came-before.html %}
{% include mountain/journey/03-leader.html %}
{% include mountain/journey/04-missing-session.html %}
{% include mountain/journey/05-challenges-skirmishes.html %}
{% include mountain/journey/06-advancement.html %}
{% include mountain/journey/07-taint.html %}
{% include mountain/journey/08-doom.html %}
{% include mountain/journey/09-GM-role.html %}
{% include mountain/journey/10-journey.html %}
{% include mountain/journey/11-building-arc.html %}
{% include mountain/journey/12-interesting-twists.html %}
{% include mountain/journey/13-loot.html %}