<article class="item" data-nav="Getting Started">
{% include mountain/journey/01-first-game.html %}
{% include mountain/journey/02-what-came-before.html %}
{% include mountain/journey/03-leader.html %}
{% include mountain/journey/04-missing-session.html %}
	<div class="divider"></div>
</article>
<article class="item" data-nav="Advancement &amp; Character Death">
{% include mountain/journey/06-advancement.html %}
{% include mountain/journey/05-character-death.html %}
	<div class="divider"></div>
</article>
<article class="item" data-nav="Taint">
{% include mountain/journey/07-taint.html %}
	<div class="divider"></div>
</article>
<article class="item" data-nav="Doom">
{% include mountain/journey/08-doom.html %}
	<div class="divider"></div>
</article>
<article class="item" data-nav="Being the GM">
{% include mountain/journey/09-GM-role.html %}
{% include mountain/journey/10-journey.html %}
{% include mountain/journey/14-languages.html %}
{% include mountain/journey/11-building-arc.html %}
{% include mountain/journey/12-interesting-twists.html %}
	<div class="divider"></div>
</article>
<article class="item" data-nav="Loot">
{% include mountain/journey/13-loot.html %}
	<div class="divider"></div>
</article>
<article class="item" data-nav="Artifacts">
{% include mountain/journey/artifacts/corpse-ring.html %}
	<div class="divider"></div>
</article>