<article id="archive">
	<section class="header">
		<div class="content">
			<div class="col span-3 empty"></div>
			<div class="col span-6">
				<h1>there are worst ways to spend your time</h1>
				<p class="subtitle">Longer than a tweet but shorter than most of my unintelligable ramblings. Reading this nonsense is <strong><em>guaranteed to waste your time</em></strong>, but couldn't we all spend a little more time doing unimportant things?</p>
			</div>
			<div class="col span-3 empty"></div>
	
		</div>
	</section>
<section class="page-nav">
	<div class="content">
		<div class="col span-6 empty"></div>
		<div class="col span-6">
			<ul class="unstyled">
				<li><a href="#" class="prev">Previous</a></li>
				<li><a href="#" class="next">Next</a></li>
				<li>Page <span class="counter"></span> of <span class="counter-total"></span></li>
			</ul>
		</div>
	</div>
</section>
<div class="pagination">
	{% for post in site.posts %}
	  {% for cat in post.categories %}
	    {% if cat == 'musings' %}
		{% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
		{% if thecycle == 'odd' %}
<section class="archive-article odd">
	<div class="content">
		<div class="col span-3 empty"></div>
		<div class="col span-6">
          <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
		  
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
		  <p class="excerpt">{{ post.excerpt}}</p>
		</div>
		<div class="col span-3 empty"></div>


	</div>

</section>
 {% else %}
 <section class="archive-article even">
 	<div class="content">
 		<div class="col span-3 empty"></div>
 		<div class="col span-6">
           <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
           <h2>
             <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
           </h2>
 		  <p class="excerpt">{{ post.excerpt}}</p>
 		</div>
 		<div class="col span-3 empty"></div>


 	</div>

 </section>
  {% endif %}
	    {% endif %}
	  {% endfor %}
	{% endfor %}
</div>
<section class="page-nav">
	<div class="content">
		<div class="col span-6 empty"></div>
		<div class="col span-6">
			<ul class="unstyled">
				<li><a href="#" class="prev">Previous</a></li>
				<li><a href="#" class="next">Next</a></li>
				<li>Page <span class="counter"></span> of <span class="counter-total"></span></li>
			</ul>
		</div>
	</div>
</section>

</article>