<div class="clearfix gutters block" id="the-character">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>The Anatomy of a Character</h3>
		<p class="first"></p>
		<p></p>
		<h4>Traits</h4>
		<p class="first">Talents are abilities a character has that provide them an advantage. The nature of each talent is outlined in its description and can only be used in the defined manner and context. Some provide call on abilities to do something in play while others provide additions to the character's Network, improve the character's Derived Traits, or specific Resources.</p>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>
