<div class="clearfix gutters block" id="first-talent">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>Choose an Your First Talent</h3>
		<p class="first">Talents are abilities a character has that provide them an advantage. The nature of each talent is outlined in its description and can only be used in the defined manner and context. Some provide call on abilities to do something in play while others provide additions to the character's Network, improve the character's Derived Traits, or specific Resources. Select a Talent from the following list.</p>
		{% include mountain/characters/classes/talents.html %}
		
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>
