<article class="item" data-nav="Choose Your Archetypes">
	<section class="clearfix gutters block">
		<aside class="span-3 col empty">&nbsp;
		</aside>
		<div class="span-6 col">
			<h3>Choose Your Archetypes</h3>
			<p class="first">Archetypes represent the type of individual on each side in the struggle between the Conspiracy and the Cell. Each one is modeled around a broad set of motivations that power special abilities only they possess in the game. The Archetype remains with the player through the life of the game, being applied to new characters should they die or be retired.</p>
	
		</div>
		<aside class="span-3 col empty">&nbsp;
		</aside>
	</section>
	<section class="clearfix gutters block">
		<aside class="span-3 col empty">&nbsp;
		</aside>
		<div class="span-6 col">
			<h4>The Avenger (Cell Archetype)</h4>
			<p class="first">The Avenger is a character who has been horribly wronged by someone acting on the behalf of the Conspiracy. The character may have been beaten, raped and left for dead, seen their parents murdered before their eyes at a young age, witnessed their spouse slaughtered in a gruesome fashion or any of a myriad of other horrific experiences. Instead of succumbing to the despair of survivor's guilt, they have nurtured their emotions into a weapon to motivate their every action.</p>
			<ol class="spaced-list">
				<li>Pick an individual or group of people that have wronged you in a powerful way. Define how they wronged you and what you will do to avenge this wrong. When you take action to Avenge this wrong, you earn a Doom.</li>
				<li>When a target of your wrath is in a Scene you are not currently a part of, you may narrate yourself into the Scene.</li>
				<li>Define a Taint Aura and draw once on the Taint Effects Table.</li>
				<li>Add 2 Doom</li>
			</ol>
		</div>
		<aside class="span-3 col empty">&nbsp;
		</aside>
	</section>
	<section class="clearfix gutters block">
		<aside class="span-3 col empty">&nbsp;
		</aside>
		<div class="span-6 col">
			<h4>The Explorer (Cell Archetype)</h4>
			<p class="first">The Explorer is a character who when faced with the actions of the Conspiracy decided to learn more. While the character fears and loathes their enemy, they can't help but be curious about it and it's mysterious purpose. Their weapon is knowledge of their enemy's ways and they seek that knowledge wherever it may lay.</p>
			<ol class="spaced-list">
				<li>Each time the Explorer discovers something new regarding the Conspiracy, you earn a Doom.</li>
				<li>Once per Turn, the Explorer can ask the GM where in their current location Conspiracy activity is rumored. The GM must answer with a location.</li>
				<li>Once per Scene the Explorer can spend 3 Influence to discover in their gear something useful to the situation at hand.</li>
				<li>Add 1 Doom</li>
			</ol>
		</div>
		<aside class="span-3 col empty">&nbsp;
		</aside>
	</section>
	<section class="clearfix gutters block">
		<aside class="span-3 col empty">&nbsp;
		</aside>
		<div class="span-6 col">
			<h4>The Shepherd (Cell Archetype)</h4>
			<p class="first">The Shepherd is a character who believes in the strength and power of a group working together over the wants and needs of the individual. When they look at the Conspiracy, they are not blinded by it's evil, but see the power it wields by working together. Everything they do stems from the core belief that the Cell is greater than it's individual parts.</p>
			<ol class="spaced-list">
				<li>Each time the Shepherd provides help to a Cell member they earn a Doom.</li>
				<li>Once per Turn, the Shepherd can narrate all the members of the Cell into a Scene together.</li>
				<li>Add +3 to the character's Willpower Pool</li>
				<li>Add 1 Doom</li>
			</ol>
		</div>
		<aside class="span-3 col empty">&nbsp;
		</aside>
	</section>
	<section class="clearfix gutters block">
		<aside class="span-3 col empty">&nbsp;
		</aside>
		<div class="span-6 col">
			<h4>The Traitor (Cell Archetype)</h4>
			<p class="first">The Traitor was once a member of the Conspiracy, knowingly doing the bidding of an unstoppable evil force. Eventually they saw the error of their ways, either on their own or with the help of another Cell member. Now they work tirelessly to bring a sharp end to the evil in an effort to atone for their myriad of sins.</p>
			<ol class="spaced-list">
				<li>Pick or create a character. That character is the one the Traitor must prove that their past is behind them to. When the Traitor takes action to prove themselves to this character they earn a Doom.</li>
				<li>Once per Turn, the Traitor may ask the Game Master a question about the Conspiracy. The GM must answer truthfully.</li>
				<li>Add +3 to the character's Influence Pool</li>
				<li>Add 2 Doom</li>
			</ol>
		</div>
		<aside class="span-3 col empty">&nbsp;
		</aside>
	</section>
	<section class="clearfix gutters block">
		<aside class="span-3 col empty">&nbsp;
		</aside>
		<div class="span-6 col">
			<h4>The Warden (Cell Archetype)</h4>
			<p class="first">The Warden is a character driven by a need to protect those who cannot protect themselves. They are the guardian angel standing before the Conspiracy declaring "No harm shall come to you while I watch." It is their all consuming drive to protect the defenseless in any way they can.</p>
			<ol class="spaced-list">
				<li>Pick or create a character. That character is the Warden's charge and must be protected at all costs. When the Warden takes action to defend this character, they earn a Doom.</li>
				<li>When the target of your protection is in a Scene that the Warden is not currently a part of, you may narrate yourself into the Scene.</li>
				<li>Add +3 to the character's Vitality Pool</li>
				<li>Add 1 Doom</li>
			</ol>
		</div>
		<aside class="span-3 col empty">&nbsp;
		</aside>
	</section>

</article>