<div class="clearfix gutters block" id="culture">
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<hr>
		<h3>Choose Your Culture &amp; Name</h3>
		<p class="first">Creating a character's background is done by defining the character's culture and personal history. The personal history feeds into your character's Network and provides a framework to build character motivations and stories in play. The character's cultural background helps to flesh out this framework as well as provide specific talents and potential synergies with certain classes.</p>
		<h5>Cultures</h5>
		<p class="first">After deciding on your cultural upbringing, construct a culturally appropriate name for your character. Then select a Talent you find interesting.</p>
	</div>
	<aside class="span-3 col empty">&nbsp;
	</aside>
</div>
{% include mountain/characters/backgrounds/hellas.html %}
{% include mountain/characters/backgrounds/malins.html %}
{% include mountain/characters/backgrounds/vors.html %}
{% include mountain/characters/backgrounds/rankians.html %}
{% include mountain/characters/backgrounds/zehar.html %}
