<article class="item" data-nav="Character Details">
	<section class="clearfix gutters block">
		<aside class="span-3 col empty">&nbsp;
		</aside>
		<div class="span-6 col">
			<h3>Character Details</h3>
			<p class="first">Fleshing out your character's personal details is as simple as answering as drawing from the Doom Deck against the Character Details Table. Draw against each column separately, reshuffling the deck each time. Update your character sheet and fill out any additional details. This table is to inspire you and help you make each of the character's your own.</p>
		</div>
		<aside class="span-3 col empty">&nbsp;
		</aside>
	</section>
	<table class="table-scroll">
		<caption>Character Details Table</caption>
		<thead>
			<tr>
				<th class="twenty">Draw</th>
				<th class="twenty">Vocation</th>
				<th class="twenty">Dirty Secret</th>
				<th class="twenty">Affectation</th>
				<th class="ten">Relationship</th>
				<th class="ten">Additional Language</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>The Avenger</td>
				<td>Orthodox Monk</td>
				<td>Fears inheriting the throne</td>
				<td>Always in military uniform</td>
				<td>Engaged to..</td>
				<td>Hellas</td>
			</tr>
			<tr>
				<td>The Beast</td>
				<td>Arms Smuggler</td>
				<td>Haunted by memories of their past life</td>
				<td>Is short with red hair and old scars</td>
				<td>Married to...</td>
				<td>Zeher</td>
			</tr>
			<tr>
				<td>The Charlatan</td>
				<td>University Student</td>
				<td>Seeks to be free from an ancient curse</td>
				<td>Tall, thin and pale</td>
				<td>Murdered...</td>
				<td>Daskan</td>
			</tr>
			<tr>
				<td>The Dark Master</td>
				<td>Cult Leader</td>
				<td>Is searching for a First Men artifact...</td>
				<td>So fat they can't walk without assistance</td>
				<td>Always avoiding...</td>
				<td>Toloskan</td>
			</tr>
			<tr>
				<td>The Fates</td>
				<td>Imperial Officer</td>
				<td>Suffers from prophetic fits</td>
				<td>Wears too much makeup</td>
				<td>Openly Loves...</td>
				<td>Bravish</td>
			</tr>
			<tr>
				<td>The Fool</td>
				<td>University Professor</td>
				<td>They are scouring the land for their lost love</td>
				<td>Has a green and yellow eye</td>
				<td>Lives in fear of...</td>
				<td>Sarl</td>
			</tr>
			<tr>
				<td>The Ghost</td>
				<td>Converted Pagan</td>
				<td>They are dying from a terminal illness and seek immortality</td>
				<td>Is entirely hairless</td>
				<td>Holds a grudge against...</td>
				<td>Vashish</td>
			</tr>
			<tr>
				<td>The Hanged God</td>
				<td>Assassin</td>
				<td>Seeks revenge against their sibling who betrayed them</td>
				<td>Has tattoos that change daily</td>
				<td>Hates...</td>
				<td>Vorish</td>
	</tr>
			<tr>
				<td>The Hooded Man</td>
				<td>Alchemist</td>
				<td>Suffers from fits of insanity</td>
				<td>Constantly eating</td>
				<td>Secretly stalks...</td>
				<td>Castanata</td>
			</tr>
			<tr>
				<td>The Horseman</td>
				<td>Demon Hunter</td>
				<td>They stalk the poor at night</td>
				<td>Bloodshot eyes</td>
				<td>Writes poetry for...</td>
				<td>Vlesi</td>
			</tr>
			<tr>
				<td>The Innocent</td>
				<td>Bandit</td>
				<td>They compulsively need to touch everything</td>
				<td>Fingers stained with ink</td>
				<td>Slept with...</td>
				<td>Falkan</td>
			</tr>
			<tr>
				<td>The Jutun</td>
				<td>Smuggler</td>
				<td>They suffer a sever allergy to iron</td>
				<td>Has shaky hands</td>
				<td>Pines after...</td>
				<td>Nisi</td>
			</tr>
			<tr>
				<td>The Lost</td>
				<td>Converted Pagan</td>
				<td>They are obsessive and violent</td>
				<td>Tunelessly whistles</td>
				<td>Always lies about...</td>
				<td>Avagoni</td>
			</tr>
			<tr>
				<td>The Puppet</td>
				<td>Disinherited Noble</td>
				<td>They secretly worship the War God</td>
				<td>Covered in self mutilated scars</td>
				<td>Has murdered the eldest child of...</td>
				<td>Orun</td>
			</tr>
			<tr>
				<td>The Raven</td>
				<td>Apothecary</td>
				<td>They are not the last scion of their house, but an impostor</td>
				<td>Wears a toupe/wig</td>
				<td>Is the parent of...</td>
				<td>Irun</td>
			</tr>
			<tr>
				<td>The Sanctuary</td>
				<td>Beggar</td>
				<td>They are deaf in one ear</td>
				<td>Shocking head of white hair</td>
				<td>Is the child of...</td>
				<td>Barun</td>
			</tr>
			<tr>
				<td>The Shepherd</td>
				<td>Vampire Hunter</td>
				<td>Has their eye on the throne</td>
				<td>Sloppily dressed</td>
				<td>Has blackmail on...</td>
				<td>Davrun</td>
			</tr>
			<tr>
				<td>The Torturers</td>
				<td>Bodyguard</td>
				<td>Their house is on the edge of financial ruin</td>
				<td>Constantly grooming</td>
				<td>Covets...</td>
				<td>Luvilun</td>
			</tr>
			<tr>
				<td>The Traitor</td>
				<td>Bounty Hunter</td>
				<td>They murdered their father.</td>
				<td>An albino</td>
				<td>Lives to please...</td>
				<td>Navari</td>
			</tr>
			<tr>
				<td>The Warden</td>
				<td>Astrologer</td>
				<td>They are possessed by a demon</td>
				<td>Is comically terrible with names</td>
				<td>Constantly forgets...</td>
				<td>Isoli</td>
			</tr>
			<tr>
				<td>The Wild Hunt</td>
				<td>Bored Rich Kid</td>
				<td>Is secretly a nercomancer</td>
				<td>Has no short term memory</td>
				<td>Is never without...</td>
				<td>Eskari</td>
			</tr>
			<tr>
				<td>The Torn Sky</td>
				<td>Burglar</td>
				<td>They see and speak with the dead</td>
				<td>Missing an eye</td>
				<td>Has tasted...</td>
				<td>Tarathan</td>
			</tr>
			<tr>
				<td>The Discovery</td>
				<td>Con Man</td>
				<td>Once worked the high seas</td>
				<td>Missing a limb</td>
				<td>Once found...</td>
				<td>Omeroni</td>
			</tr>
			<tr>
				<td>The Forging</td>
				<td>Reformed Criminal</td>
				<td>They are a serial killer.</td>
				<td>Profusely hairy</td>
				<td>Once fell in...</td>
				<td>Besh</td>
			</tr>
			<tr>
				<td>The Prayer</td>
				<td>Orthodox Priest</td>
				<td>Thinks their pet cat is the herald of end times</td>
				<td>Constantly strokes face</td>
				<td>Always forgets their...</td>
				<td>Kida</td>
			</tr>
			<tr>
				<td>The Meeting</td>
				<td>Street Thug</td>
				<td>Is a master of poisons</td>
				<td>Very short</td>
				<td>Never notices...</td>
				<td>Nardosh</td>
			</tr>
			<tr>
				<td>The Courtship</td>
				<td>Duelist</td>
				<td>Is the secret leader of the Guild</td>
				<td>Swarthy skinned</td>
				<td>Engaged to...</td>
				<td>Otash</td>
			</tr>
			<tr>
				<td>The Perfect Moment</td>
				<td>City Watchman</td>
				<td>Has spent time in a Kalifate prison</td>
				<td>Wears an eye patch</td>
				<td>Married to...</td>
				<td>Skari</td>
			</tr>
			<tr>
				<td>The Beginning of the End</td>
				<td>Hermit</td>
				<td>Is slowly poisoning their spouse</td>
				<td>Carries an ornate cane</td>
				<td>Lives in fear of...</td>
				<td>Kol</td>
			</tr>
			<tr>
				<td>The Unfortunate Need</td>
				<td>Peasant Farmer</td>
				<td>They masquerade as their sibling</td>
				<td>Wears outrageous outfits</td>
				<td>Compelled to protect..</td>
				<td>Uar</td>
			</tr>
			<tr>
				<td>The Escape</td>
				<td>Escaped Slave</td>
				<td>Is working to get their son on the throne</td>
				<td>Constantly checking time</td>
				<td>Was once attacked by...</td>
				<td>Inga</td>
			</tr>
			<tr>
				<td>The Perfect Gift</td>
				<td>Hunter</td>
				<td>Has perfected a youth elixir</td>
				<td>Fat and skulking</td>
				<td>Has rivalry with...</td>
				<td>Salot</td>
			</tr>
			<tr>
				<td>The Long Road</td>
				<td>Information Broker</td>
				<td>Has true visions when on drugs</td>
				<td>Very old</td>
				<td>Owes money too...</td>
				<td>Anab</td>
			</tr>
			<tr>
				<td>The Bull God</td>
				<td>Investigator</td>
				<td>Collects human fat for his work</td>
				<td>Very young</td>
				<td>Always lies about...</td>
				<td>Ayun</td>
			</tr>
			<tr>
				<td>The Axeman</td>
				<td>Locksmith</td>
				<td>Eats the flesh of the dead</td>
				<td>Covered in scars</td>
				<td>Trusts only...</td>
				<td>Hazan</td>
			</tr>
			<tr>
				<td>The Archer</td>
				<td>Scout</td>
				<td>Once pushed a coworker into the fire</td>
				<td>Always apologizing when talking</td>
				<td>Always avoiding...</td>
				<td>Hanud</td>
			</tr>
			<tr>
				<td>The Destroyer</td>
				<td>Rebel</td>
				<td>Is hundreds of years old, but looks 25</td>
				<td>Always eating</td>
				<td>Covets...</td>
				<td>Ranka</td>
			</tr>
			<tr>
				<td>The Parasites</td>
				<td>Pirate</td>
				<td>Studies the dark arts</td>
				<td>Has parchment like skin</td>
				<td>Slept with...</td>
				<td>Umarsi</td>
			</tr>
			<tr>
				<td>Ther Purifier</td>
				<td>Sailor</td>
				<td>Wants to die, but fears to take their own life</td>
				<td>Gums and teeth horribly stained</td>
				<td>Is never without...</td>
				<td>Vessasi</td>
			</tr>
			<tr>
				<td>The Savior</td>
				<td>Historian</td>
				<td>Has been replaced by "something" else</td>
				<td>Childlike appearance</td>
				<td>Murdered...</td>
				<td>Larjeti</td>
			</tr>
			<tr>
				<td>The Warlord</td>
				<td>Physician</td>
				<td>Is bound to an ancient artifact</td>
				<td>Shocking green eyes</td>
				<td>Hates...</td>
				<td>Zimbish</td>
			</tr>
			<tr>
				<td>The Guardian</td>
				<td>Witch/Wizard</td>
				<td>Is a compulsive liar</td>
				<td>Always plays with knives</td>
				<td>Loves...</td>
				<td>Bemi</td>
			</tr>
			<tr>
				<td>The Dead Eaters</td>
				<td>Missionary</td>
				<td>When they sing, small animals that hear them die</td>
				<td>Missing fingers</td>
				<td>Compelled to protect...</td>
				<td>Hellas</td>
			</tr>
			<tr>
				<td>The Deathless</td>
				<td>Cup Knight Soldier</td>
				<td>They bathe in the blood of orphans</td>
				<td>Smells like lilacs</td>
				<td>Writes poetry for...</td>
				<td>Hellas</td>
	</tr>
			<tr>
				<td>The Dead Queen</td>
				<td>Cup Knight</td>
				<td>Has invented an explosive compound</td>
				<td>Has an unnerving stare</td>
				<td>Never notices...</td>
				<td>Besh</td>
			</tr>
			<tr>
				<td>The Bull</td>
				<td>Gladiator</td>
				<td>Has prophetic dreams</td>
				<td>Fidgets</td>
				<td>Is the parent of...</td>
				<td>Kida</td>
			</tr>
			<tr>
				<td>The Coyote</td>
				<td>Smith</td>
				<td>Is a ghost that can take corporeal form for short periods of time</td>
				<td>Smells musky</td>
				<td>Loves...</td>
				<td>Avagoni</td>
			</tr>
			<tr>
				<td>The Crab</td>
				<td>Thief Catcher</td>
				<td>They secretly fought in the war under the guise of their famous uncle</td>
				<td>Shining, observant eyes</td>
				<td>Compelled to protect...</td>
				<td>Ayun</td>
			</tr>
			<tr>
				<td>The Ouroboros</td>
				<td>Militia</td>
				<td>Owes a substantial debt</td>
				<td>Has bleeding gums</td>
				<td>Writes poetry for...</td>
				<td>Umarsi</td>
			</tr>
			<tr>
				<td>The Balance</td>
				<td>Herdsman</td>
				<td>They cover up for her sibling's murders</td>
				<td>Always carries a weapon</td>
				<td>Is never without...</td>
				<td>Inga</td>
			</tr>
			<tr>
				<td>The Stag</td>
				<td>Servant</td>
				<td>Is an addict</td>
				<td>Moves very deliberately</td>
				<td>Never notices...</td>
				<td>Skari</td>
			</tr>
			<tr>
				<td>The Mermaid</td>
				<td>Cook</td>
				<td>Has constructed a flesh golem that has since escaped</td>
				<td>Covered in tattoos</td>
				<td>Engaged to...</td>
				<td>Navari</td>
			</tr>
			<tr>
				<td>The Lovers</td>
				<td>Animal Trainer</td>
				<td>Eats the flesh of the dead</td>
				<td>Covered in scars</td>
				<td>Is the parent of...</td>
				<td>Hellas</td>
			</tr>
			<tr>
				<td>The Usurper</td>
				<td>Cartographer</td>
				<td>Is a cult member</td>
				<td>Missing an eye</td>
				<td>Murdered...</td>
				<td>Bemi</td>
			</tr>
			<tr>
				<td>The High Priest</td>
				<td>Artist</td>
				<td>Is a cult leader</td>
				<td>Always whispers</td>
				<td>Has tasted...</td>
				<td>Vorish</td>
			</tr>
			<tr>
				<td>The Scorpion</td>
				<td>Fisherman</td>
				<td>Once patrolled the sea as a pirate</td>
				<td>Speaks with an unidentifiable accent</td>
				<td>Always lies about...</td>
				<td>Ayun</td>
			</tr>
			<tr>
				<td>Cheru</td>
				<td>Laborer</td>
				<td>Does freelance muscle work</td>
				<td>Never travels alone</td>
				<td>Once found...</td>
				<td>Hellas</td>
			</tr>
			<tr>
				<td>Uthold</td>
				<td>Street Orphan</td>
				<td>Only steals from wealthy men</td>
				<td>Short and tedious</td>
				<td>Slept with...</td>
				<td>Vorish</td>
			</tr>
			<tr>
				<td>Astrild</td>
				<td>Prostitute</td>
				<td>Served in the war</td>
				<td>Always too warm</td>
				<td>Has murdered the eldest child of...</td>
				<td>Larjeti</td>
			</tr>
			<tr>
				<td>Rikdom</td>
				<td>Ratter</td>
				<td>Won their home in a card game</td>
				<td>Ends every sentence with "what"</td>
				<td>Jealous of...</td>
				<td>Ranka</td>
			</tr>
			<tr>
				<td>Fiollnir</td>
				<td>Tutor</td>
				<td>Is embroiled in a dangerous love affair</td>
				<td>Never blinks</td>
				<td>Looking for...</td>
				<td>Otash</td>
			</tr>
			<tr>
				<td>Skadi</td>
				<td>Scribe</td>
				<td>Has a pet that isn't really an animal</td>
				<td>Never looks you in the eyes</td>
				<td>Tinkers with...</td>
				<td>Toloskan</td>
			</tr>
			<tr>
				<td>Sannhet</td>
				<td>Mercenary Soldier</td>
				<td>Gullible</td>
				<td>Incredibly beautiful</td>
				<td>Engaged to...</td>
				<td>Sarl</td>
			</tr>
			<tr>
				<td>Smerte</td>
				<td>Yeoman Soldier</td>
				<td>Always armed with one extra weapon</td>
				<td>Has 25 children</td>
				<td>Wants to kill...</td>
				<td>Falkan</td>
			</tr>
			<tr>
				<td>Glede</td>
				<td>Teamster</td>
				<td>Murdered someone with dangerous connections</td>
				<td>Walks with a limp</td>
				<td>Never notices...</td>
				<td>Daskan</td>
			</tr>
			<tr>
				<td>Vajir</td>
				<td>Thatcher</td>
				<td>Always avoids the authorities</td>
				<td>Has a deformed hand</td>
				<td>Hiding from...</td>
				<td>Umarsi</td>
			</tr>
			<tr>
				<td>Vijir</td>
				<td>Toymaker</td>
				<td>Lives in fear of a family member</td>
				<td>Covered in burn scars</td>
				<td>Is the parent of...</td>
				<td>Ayun</td>
			</tr>
			<tr>
				<td>Vojin</td>
				<td>Chandler</td>
				<td>Stalks people of authority</td>
				<td>Never completes their sentences</td>
				<td>Friends with...</td>
				<td>Vorish</td>
			</tr>
		</tbody>
	</table>
	<div class="divider"></div>
</article>