<article class="item" data-nav="What is Your History?">
	<section class="clearfix gutters block">
		<aside class="span-3 col empty">&nbsp;
		</aside>
		<div class="span-6 col">
			<h3>What is Your History?</h3>
			<p class="first">Building out your character's personal history is as simple as answering as rolling D666 on the Personal History Table. First roll on the Vocation column and add the Vocation Talent to your character sheet along with the Vocation you rolled. Then roll once for each of the other columns and note on the results on your character sheet, filling out the details.</p>
		</div>
		<aside class="span-3 col empty">&nbsp;
		</aside>
	</section>
	<table class="table-scroll">
		<caption>Personal History Table</caption>
		<thead>
			<tr>
				<th class="twenty">Roll</th>
				<th class="twenty">Vocation</th>
				<th class="twenty">Dirty Secret</th>
				<th class="twenty">Affectation</th>
				<th class="ten">Relationship</th>
				<th class="ten">Additional Language</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>111 - 116</td>
				<td>Orthodox Monk</td>
				<td>Fears inheriting the throne</td>
				<td>Always in military uniform</td>
				<td>Engaged to..</td>
				<td>Hellas</td>
			</tr>
			<tr>
				<td>117 - 122</td>
				<td>Arms Smuggler</td>
				<td>Haunted by memories of their past life</td>
				<td>Is short with red hair and old scars</td>
				<td>Married to...</td>
				<td>Zeher</td>
			</tr>
			<tr>
				<td>123 - 128</td>
				<td>University Student</td>
				<td>Seeks to be free from an ancient curse</td>
				<td>Tall, thin and pale</td>
				<td>Murdered...</td>
				<td>Daskan</td>
			</tr>
			<tr>
				<td>129 - 134</td>
				<td>Cult Leader</td>
				<td>Is searching for a First Men artifact...</td>
				<td>So fat they can't walk without assistance</td>
				<td>Always avoiding...</td>
				<td>Toloskan</td>
			</tr>
			<tr>
				<td>135 - 140</td>
				<td>Imperial Officer</td>
				<td>Suffers from prophetic fits</td>
				<td>Wears too much makeup</td>
				<td>Openly Loves...</td>
				<td>Bravish</td>
			</tr>
			<tr>
				<td>141 - 146</td>
				<td>University Professor</td>
				<td>They are scouring the land for their lost love</td>
				<td>Has a green and yellow eye</td>
				<td>Lives in fear of...</td>
				<td>Sarl</td>
			</tr>
			<tr>
				<td>147 - 152</td>
				<td>Converted Pagan</td>
				<td>They are dying from a terminal illness and seek immortality</td>
				<td>Is entirely hairless</td>
				<td>Holds a grudge against...</td>
				<td>Vashish</td>
			</tr>
			<tr>
				<td>153 - 157</td>
				<td>Assassin</td>
				<td>Seeks revenge against their sibling who betrayed them</td>
				<td>Has tattoos that change daily</td>
				<td>Hates...</td>
				<td>Vorish</td>
	</tr>
			<tr>
				<td>158 - 162</td>
				<td>Alchemist</td>
				<td>Suffers from fits of insanity</td>
				<td>Constantly eating</td>
				<td>Secretly stalks...</td>
				<td>Castanata</td>
			</tr>
			<tr>
				<td>163 - 167</td>
				<td>Demon Hunter</td>
				<td>They stalk the poor at night</td>
				<td>Bloodshot eyes</td>
				<td>Writes poetry for...</td>
				<td>Vlesi</td>
			</tr>
			<tr>
				<td>168 - 172</td>
				<td>Bandit</td>
				<td>They compulsively need to touch everything</td>
				<td>Fingers stained with ink</td>
				<td>Slept with...</td>
				<td>Falkan</td>
			</tr>
			<tr>
				<td>173 - 177</td>
				<td>Smuggler</td>
				<td>They suffer a sever allergy to iron</td>
				<td>Has shaky hands</td>
				<td>Pines after...</td>
				<td>Nisi</td>
			</tr>
			<tr>
				<td>178 - 182</td>
				<td>Converted Pagan</td>
				<td>They are obsessive and violent</td>
				<td>Tunelessly whistles</td>
				<td>Always lies about...</td>
				<td>Avagoni</td>
			</tr>
			<tr>
				<td>183 - 187</td>
				<td>Disinherited Noble</td>
				<td>They secretly worship the War God</td>
				<td>Covered in self mutilated scars</td>
				<td>Has murdered the eldest child of...</td>
				<td>Orun</td>
			</tr>
			<tr>
				<td>188 - 192</td>
				<td>Apothecary</td>
				<td>They are not the last scion of their house, but an impostor</td>
				<td>Wears a toupe/wig</td>
				<td>Is the parent of...</td>
				<td>Irun</td>
			</tr>
			<tr>
				<td>193 - 197</td>
				<td>Beggar</td>
				<td>They are deaf in one ear</td>
				<td>Shocking head of white hair</td>
				<td>Is the child of...</td>
				<td>Barun</td>
			</tr>
			<tr>
				<td>198 - 202</td>
				<td>Vampire Hunter</td>
				<td>Has their eye on the throne</td>
				<td>Sloppily dressed</td>
				<td>Has blackmail on...</td>
				<td>Davrun</td>
			</tr>
			<tr>
				<td>203 - 207</td>
				<td>Bodyguard</td>
				<td>Their house is on the edge of financial ruin</td>
				<td>Constantly grooming</td>
				<td>Covets...</td>
				<td>Luvilun</td>
			</tr>
			<tr>
				<td>208 - 212</td>
				<td>Bounty Hunter</td>
				<td>They murdered their father.</td>
				<td>An albino</td>
				<td>Lives to please...</td>
				<td>Navari</td>
			</tr>
			<tr>
				<td>213 - 217</td>
				<td>Astrologer</td>
				<td>They are possessed by a demon</td>
				<td>Is comically terrible with names</td>
				<td>Constantly forgets...</td>
				<td>Isoli</td>
			</tr>
			<tr>
				<td>218 - 222</td>
				<td>Bored Rich Kid</td>
				<td>Is secretly a nercomancer</td>
				<td>Has no short term memory</td>
				<td>Is never without...</td>
				<td>Eskari</td>
			</tr>
			<tr>
				<td>223 - 227</td>
				<td>Burglar</td>
				<td>They see and speak with the dead</td>
				<td>Missing an eye</td>
				<td>Has tasted...</td>
				<td>Tarathan</td>
			</tr>
			<tr>
				<td>228 - 232</td>
				<td>Con Man</td>
				<td>Once worked the high seas</td>
				<td>Missing a limb</td>
				<td>Once found...</td>
				<td>Omeroni</td>
			</tr>
			<tr>
				<td>233 - 237</td>
				<td>Reformed Criminal</td>
				<td>They are a serial killer.</td>
				<td>Profusely hairy</td>
				<td>Once fell in...</td>
				<td>Besh</td>
			</tr>
			<tr>
				<td>238 - 242</td>
				<td>Orthodox Priest</td>
				<td>Thinks their pet cat is the herald of end times</td>
				<td>Constantly strokes face</td>
				<td>Always forgets their...</td>
				<td>Kida</td>
			</tr>
			<tr>
				<td>243 - 247</td>
				<td>Street Thug</td>
				<td>Is a master of poisons</td>
				<td>Very short</td>
				<td>Never notices...</td>
				<td>Nardosh</td>
			</tr>
			<tr>
				<td>248 - 252</td>
				<td>Duelist</td>
				<td>Is the secret leader of the Guild</td>
				<td>Swarthy skinned</td>
				<td>Engaged to...</td>
				<td>Otash</td>
			</tr>
			<tr>
				<td>253 - 257</td>
				<td>City Watchman</td>
				<td>Has spent time in a Kalifate prison</td>
				<td>Wears an eye patch</td>
				<td>Married to...</td>
				<td>Skari</td>
			</tr>
			<tr>
				<td>258 - 262</td>
				<td>Hermit</td>
				<td>Is slowly poisoning their spouse</td>
				<td>Carries an ornate cane</td>
				<td>Lives in fear of...</td>
				<td>Kol</td>
			</tr>
			<tr>
				<td>263 - 267</td>
				<td>Peasant Farmer</td>
				<td>They masquerade as their sibling</td>
				<td>Wears outrageous outfits</td>
				<td>Compelled to protect..</td>
				<td>Uar</td>
			</tr>
			<tr>
				<td>268 - 272</td>
				<td>Escaped Slave</td>
				<td>Is working to get their son on the throne</td>
				<td>Constantly checking time</td>
				<td>Was once attacked by...</td>
				<td>Inga</td>
			</tr>
			<tr>
				<td>273 - 277</td>
				<td>Hunter</td>
				<td>Has perfected a youth elixir</td>
				<td>Fat and skulking</td>
				<td>Has rivalry with...</td>
				<td>Salot</td>
			</tr>
			<tr>
				<td>278 - 282</td>
				<td>Information Broker</td>
				<td>Has true visions when on drugs</td>
				<td>Very old</td>
				<td>Owes money too...</td>
				<td>Anab</td>
			</tr>
			<tr>
				<td>283 - 287</td>
				<td>Investigator</td>
				<td>Collects human fat for his work</td>
				<td>Very young</td>
				<td>Always lies about...</td>
				<td>Ayun</td>
			</tr>
			<tr>
				<td>288 - 292</td>
				<td>Locksmith</td>
				<td>Eats the flesh of the dead</td>
				<td>Covered in scars</td>
				<td>Trusts only...</td>
				<td>Hazan</td>
			</tr>
			<tr>
				<td>293 - 297</td>
				<td>Scout</td>
				<td>Once pushed a coworker into the fire</td>
				<td>Always apologizing when talking</td>
				<td>Always avoiding...</td>
				<td>Hanud</td>
			</tr>
			<tr>
				<td>298 - 302</td>
				<td>Rebel</td>
				<td>Is hundreds of years old, but looks 25</td>
				<td>Always eating</td>
				<td>Covets...</td>
				<td>Ranka</td>
			</tr>
			<tr>
				<td>303 - 307</td>
				<td>Pirate</td>
				<td>Studies the dark arts</td>
				<td>Has parchment like skin</td>
				<td>Slept with...</td>
				<td>Umarsi</td>
			</tr>
			<tr>
				<td>308 - 312</td>
				<td>Sailor</td>
				<td>Wants to die, but fears to take their own life</td>
				<td>Gums and teeth horribly stained</td>
				<td>Is never without...</td>
				<td>Vessasi</td>
			</tr>
			<tr>
				<td>313 - 317</td>
				<td>Historian</td>
				<td>Has been replaced by "something" else</td>
				<td>Childlike appearance</td>
				<td>Murdered...</td>
				<td>Larjeti</td>
			</tr>
			<tr>
				<td>318 - 322</td>
				<td>Physician</td>
				<td>Is bound to an ancient artifact</td>
				<td>Shocking green eyes</td>
				<td>Hates...</td>
				<td>Zimbish</td>
			</tr>
			<tr>
				<td>323 - 327</td>
				<td>Witch/Wizard</td>
				<td>Is a compulsive liar</td>
				<td>Always plays with knives</td>
				<td>Loves...</td>
				<td>Bemi</td>
			</tr>
			<tr>
				<td>328 - 332</td>
				<td>Missionary</td>
				<td>When they sing, small animals that hear them die</td>
				<td>Missing fingers</td>
				<td>Compelled to protect...</td>
				<td>Hellas</td>
			</tr>
			<tr>
				<td>333 - 337</td>
				<td>Cup Knight Soldier</td>
				<td>They bathe in the blood of orphans</td>
				<td>Smells like lilacs</td>
				<td>Writes poetry for...</td>
				<td>Hellas</td>
	</tr>
			<tr>
				<td>338 - 342</td>
				<td>Cup Knight</td>
				<td>Has invented an explosive compound</td>
				<td>Has an unnerving stare</td>
				<td>Never notices...</td>
				<td>Besh</td>
			</tr>
			<tr>
				<td>343 - 347</td>
				<td>Gladiator</td>
				<td>Has prophetic dreams</td>
				<td>Fidgets</td>
				<td>Is the parent of...</td>
				<td>Kida</td>
			</tr>
			<tr>
				<td>348 - 352</td>
				<td>Smith</td>
				<td>Is a ghost that can take corporeal form for short periods of time</td>
				<td>Smells musky</td>
				<td>Loves...</td>
				<td>Avagoni</td>
			</tr>
			<tr>
				<td>353 - 357</td>
				<td>Thief Catcher</td>
				<td>They secretly fought in the war under the guise of their famous uncle</td>
				<td>Shining, observant eyes</td>
				<td>Compelled to protect...</td>
				<td>Ayun</td>
			</tr>
			<tr>
				<td>358 - 362</td>
				<td>Militia</td>
				<td>Owes a substantial debt</td>
				<td>Has bleeding gums</td>
				<td>Writes poetry for...</td>
				<td>Umarsi</td>
			</tr>
			<tr>
				<td>363 - 367</td>
				<td>Herdsman</td>
				<td>They cover up for her sibling's murders</td>
				<td>Always carries a weapon</td>
				<td>Is never without...</td>
				<td>Inga</td>
			</tr>
			<tr>
				<td>368 - 372</td>
				<td>Servant</td>
				<td>Is an addict</td>
				<td>Moves very deliberately</td>
				<td>Never notices...</td>
				<td>Skari</td>
			</tr>
			<tr>
				<td>373 - 377</td>
				<td>Cook</td>
				<td>Has constructed a flesh golem that has since escaped</td>
				<td>Covered in tattoos</td>
				<td>Engaged to...</td>
				<td>Navari</td>
			</tr>
			<tr>
				<td>378 - 382</td>
				<td>Animal Trainer</td>
				<td>Eats the flesh of the dead</td>
				<td>Covered in scars</td>
				<td>Is the parent of...</td>
				<td>Hellas</td>
			</tr>
			<tr>
				<td>383 - 387</td>
				<td>Cartographer</td>
				<td>Is a cult member</td>
				<td>Missing an eye</td>
				<td>Murdered...</td>
				<td>Bemi</td>
			</tr>
			<tr>
				<td>388 - 392</td>
				<td>Artist</td>
				<td>Is a cult leader</td>
				<td>Always whispers</td>
				<td>Has tasted...</td>
				<td>Vorish</td>
			</tr>
			<tr>
				<td>393 - 397</td>
				<td>Fisherman</td>
				<td>Once patrolled the sea as a pirate</td>
				<td>Speaks with an unidentifiable accent</td>
				<td>Always lies about...</td>
				<td>Ayun</td>
			</tr>
			<tr>
				<td>398 - 402</td>
				<td>Laborer</td>
				<td>Does freelance muscle work</td>
				<td>Never travels alone</td>
				<td>Once found...</td>
				<td>Hellas</td>
			</tr>
			<tr>
				<td>403 - 407</td>
				<td>Street Orphan</td>
				<td>Only steals from wealthy men</td>
				<td>Short and tedious</td>
				<td>Slept with...</td>
				<td>Vorish</td>
			</tr>
			<tr>
				<td>408 - 412</td>
				<td>Prostitute</td>
				<td>Served in the war</td>
				<td>Always too warm</td>
				<td>Has murdered the eldest child of...</td>
				<td>Larjeti</td>
			</tr>
			<tr>
				<td>413 - 417</td>
				<td>Ratter</td>
				<td>Won their home in a card game</td>
				<td>Ends every sentence with "what"</td>
				<td>Jealous of...</td>
				<td>Ranka</td>
			</tr>
			<tr>
				<td>418 - 422</td>
				<td>Tutor</td>
				<td>Is embroiled in a dangerous love affair</td>
				<td>Never blinks</td>
				<td>Looking for...</td>
				<td>Otash</td>
			</tr>
			<tr>
				<td>423 - 427</td>
				<td>Scribe</td>
				<td>Has a pet that isn't really an animal</td>
				<td>Never looks you in the eyes</td>
				<td>Tinkers with...</td>
				<td>Toloskan</td>
			</tr>
			<tr>
				<td>428 - 432</td>
				<td>Mercenary Soldier</td>
				<td>Gullible</td>
				<td>Incredibly beautiful</td>
				<td>Engaged to...</td>
				<td>Sarl</td>
			</tr>
			<tr>
				<td>433 - 437</td>
				<td>Yeoman Soldier</td>
				<td>Always armed with one extra weapon</td>
				<td>Has 25 children</td>
				<td>Wants to kill...</td>
				<td>Falkan</td>
			</tr>
			<tr>
				<td>438 - 442</td>
				<td>Teamster</td>
				<td>Murdered someone with dangerous connections</td>
				<td>Walks with a limp</td>
				<td>Never notices...</td>
				<td>Daskan</td>
			</tr>
			<tr>
				<td>443 - 447</td>
				<td>Thatcher</td>
				<td>Always avoids the authorities</td>
				<td>Has a deformed hand</td>
				<td>Hiding from...</td>
				<td>Umarsi</td>
			</tr>
			<tr>
				<td>448 - 452</td>
				<td>Toymaker</td>
				<td>Lives in fear of a family member</td>
				<td>Covered in burn scars</td>
				<td>Is the parent of...</td>
				<td>Ayun</td>
			</tr>
			<tr>
				<td>453 - 457</td>
				<td>Chandler</td>
				<td>Stalks people of authority</td>
				<td>Never completes their sentences</td>
				<td>Friends with...</td>
				<td>Vorish</td>
			</tr>
			<tr>
				<td>458 - 462</td>
				<td>Charcoaler</td>
				<td>Is always in trouble with the law</td>
				<td>Stutters</td>
				<td>Wants to kill...</td>
				<td>Skari</td>
			</tr>
			<tr>
				<td>463 - 467</td>
				<td>Clothier</td>
				<td>Always takes their time</td>
				<td>Always stroking a pet in their lap</td>
				<td>Never notices...</td>
				<td>Hellas</td>
			</tr>
			<tr>
				<td>468 - 472</td>
				<td>Courtesan</td>
				<td>Never sleeps for more than 3 hours at a time</td>
				<td>Talks incredibly fast</td>
				<td>Has murdered the eldest child of...</td>
				<td>Nardosh</td>
			</tr>
			<tr>
				<td>473 - 477</td>
				<td>Embalmer</td>
				<td>Has safe houses everywhere</td>
				<td>Has black eyes like a shark</td>
				<td>Friends with...</td>
				<td>Eskari</td>
			</tr>
			<tr>
				<td>478 - 482</td>
				<td>Harper/Skald</td>
				<td>Dabbles in the dark arts</td>
				<td>Has spots of greens scales in place of skin</td>
				<td>Wants to kill...</td>
				<td>Barun</td>
			</tr>
			<tr>
				<td>483 - 487</td>
				<td>Hideworker</td>
				<td>Was once a king</td>
				<td>Is missing a limb</td>
				<td>Looking for...</td>
				<td>Hazan</td>
			</tr>
			<tr>
				<td>488 - 492</td>
				<td>Innkeeper</td>
				<td>Hunts werewolves</td>
				<td>Missing their nose</td>
				<td>Is the parent of...</td>
				<td>Ayun</td>
			</tr>
			<tr>
				<td>493 - 497</td>
				<td>Jeweler</td>
				<td>Was shipwrecked for five years</td>
				<td>Their ears were notched by the law</td>
				<td>Friends with...</td>
				<td>Vorish</td>
			</tr>
			<tr>
				<td>498 - 502</td>
				<td>Lexigrapher</td>
				<td>Is the seventh son of the seventh son</td>
				<td>Suffers from narcolepsy</td>
				<td>Wants to kill...</td>
				<td>Tarathan</td>
			</tr>
			<tr>
				<td>503 - 507</td>
				<td>Litigant</td>
				<td>Suffers awful short term memory loss</td>
				<td>Has long painted nails that glitter</td>
				<td>Never notices...</td>
				<td>Hellas</td>
			</tr>
			<tr>
				<td>508 - 512</td>
				<td>Mason</td>
				<td>Has a half demon child</td>
				<td>Music always plays out of tune around them</td>
				<td>Looking for...</td>
				<td>Skari</td>
			</tr>
			<tr>
				<td>513 - 417</td>
				<td>Mercantyler</td>
				<td>Is actually have their stated age</td>
				<td>Skin is as black as night</td>
				<td>Friends with...</td>
				<td>Anab</td>
			</tr>
			<tr>
				<td>518 - 522</td>
				<td>Metalsmith</td>
				<td>Eyes will glow when aroused</td>
				<td>Compulsive storyteller</td>
				<td>Wants to kill...</td>
				<td>Uar</td>
			</tr>
			<tr>
				<td>523 - 527</td>
				<td>Miller</td>
				<td>Wanted by the church for something they know</td>
				<td>Constantly complains</td>
				<td>Hiding from...</td>
				<td>Bravish</td>
			</tr>
			<tr>
				<td>528 - 532</td>
				<td>Ostler</td>
				<td>Was the reason the keep fell</td>
				<td>Will talk constantly when nervous</td>
				<td>Has rivalry with...</td>
				<td>Zimbish</td>
			</tr>
			<tr>
				<td>533 - 537</td>
				<td>Perfumer</td>
				<td>Betrayed their family for drugs</td>
				<td>Swears constantly</td>
				<td>Is the parent of...</td>
				<td>Ranka</td>
			</tr>
			<tr>
				<td>538 - 542</td>
				<td>Pilot</td>
				<td>Is not who they say they are</td>
				<td>Spits after every statement</td>
				<td>Friends with...</td>
				<td>Castanata</td>
			</tr>
			<tr>
				<td>543 - 547</td>
				<td>Potter</td>
				<td>Is losing their sight</td>
				<td>Cackles like a madman when they laugh</td>
				<td>Wants to kill...</td>
				<td>Hazan</td>
			</tr>
			<tr>
				<td>549 - 552</td>
				<td>Salter</td>
				<td>Once murdered an entire village</td>
				<td>Missing two fingers on each hand</td>
				<td>Married to...</td>
				<td>Hellas</td>
			</tr>
			<tr>
				<td>553 - 557</td>
				<td>Shipwright</td>
				<td>Sold their children for money</td>
				<td>Never smiles or laughs</td>
				<td>Looking for...</td>
				<td>Vorish</td>
			</tr>
			<tr>
				<td>558 - 562</td>
				<td>Tentmaker</td>
				<td>Can't fight like they used to</td>
				<td>Has a lazy eye</td>
				<td>Kidnapped...</td>
				<td>Besh</td>
			</tr>
			<tr>
				<td>563 - 567</td>
				<td>Actor</td>
				<td>Suffers from wasting disease</td>
				<td>Wears bear skins</td>
				<td>Wants to kill...</td>
				<td>Nardosh</td>
			</tr>
			<tr>
				<td>568 - 572</td>
				<td>Guildsman</td>
				<td>Never did the thing they are famous for</td>
				<td>Has a glass eye</td>
				<td>Has rivalry with...</td>
				<td>Umarsi</td>
			</tr>
			<tr>
				<td>573 - 577</td>
				<td>Unaligned Thief</td>
				<td>Dislikes fighting</td>
				<td>Has no teeth</td>
				<td>Is the parent of...</td>
				<td>Skari</td>
			</tr>
			<tr>
				<td>578 - 582</td>
				<td>Timberwright</td>
				<td>Has never told the truth</td>
				<td>Always playing a musical instrument</td>
				<td>Friends with...</td>
				<td>Falkan</td>
			</tr>
			<tr>
				<td>583 - 587</td>
				<td>Weaponcrafter</td>
				<td>Once killed the wrong man</td>
				<td>Very short</td>
				<td>Hates...</td>
				<td>Ayun</td>
			</tr>
			<tr>
				<td>588 - 592</td>
				<td>Woodworker</td>
				<td>They bathe in the blood of orphans</td>
				<td>Smells like lilacs</td>
				<td>Always forgets...</td>
				<td>Hellas</td>
			</tr>
			<tr>
				<td>593 - 597</td>
				<td>Herald</td>
				<td>Is a member of a revolutionary group</td>
				<td>Always playing with fire</td>
				<td>Fears...</td>
				<td>Vorish</td>
			</tr>
			<tr>
				<td>598 - 602</td>
				<td>Knight Bachelor</td>
				<td>Haunted by memories of their past life</td>
				<td>Never sober</td>
				<td>Kidnapped...</td>
				<td>Anab</td>
			</tr>
			<tr>
				<td>603 - 607</td>
				<td>Knight</td>
				<td>Possesses an artifact of power</td>
				<td>Asks if you "hear that too" constantly</td>
				<td>Trusts only...</td>
				<td>Skari</td>
			</tr>
			<tr>
				<td>608 - 612</td>
				<td>Slave Soldier</td>
				<td>Suffers from a virulent contagion</td>
				<td>Wears ancient armor covered in runes</td>
				<td>Married to...</td>
				<td>Bemi</td>
			</tr>
			<tr>
				<td>613 - 617</td>
				<td>Spy</td>
				<td>Finds marks for the Guild</td>
				<td>Nervous and twitching</td>
				<td>Was once attacked by...</td>
				<td>Umarsi</td>
			</tr>
			<tr>
				<td>618 - 622</td>
				<td>Murderer</td>
				<td>Studies forbidden science</td>
				<td>Smells of sulfur</td>
				<td>Is friends with...</td>
				<td>Ranka</td>
			</tr>
			<tr>
				<td>623 - 627</td>
				<td>Athlete</td>
				<td>Is a serial rapist</td>
				<td>Booming voice</td>
				<td>Owes money to...</td>
				<td>Ayun</td>
			</tr>
			<tr>
				<td>628 - 632</td>
				<td>Vintner</td>
				<td>Buried a treasure, but forgot where</td>
				<td>Walks about with a pet</td>
				<td>Always tells the truth about...</td>
				<td>Nardosh</td>
			</tr>
			<tr>
				<td>633 - 637</td>
				<td>Slaver</td>
				<td>Replaced their hands with the hands of another</td>
				<td>Has three silver teeth</td>
				<td>Has rivalry with...</td>
				<td>Besh</td>
			</tr>
			<tr>
				<td>638 - 642</td>
				<td>Lictor</td>
				<td>Is forging weapons with forbidden texts</td>
				<td>Bold and charismatic</td>
				<td>Childhood friend of...</td>
				<td>Tarathan</td>
			</tr>
			<tr>
				<td>643 - 647</td>
				<td>Torturer</td>
				<td>Lied about their credentials</td>
				<td>Dresses in silver and fine clothes</td>
				<td>Married to...</td>
				<td>Navari</td>
			</tr>
			<tr>
				<td>648 - 652</td>
				<td>Architect</td>
				<td>Spent time in prison for horrific crimes</td>
				<td>Wears unfashionable clothes</td>
				<td>Owes money to...</td>
				<td>Bravish</td>
			</tr>
			<tr>
				<td>653 - 657</td>
				<td>Engineer</td>
				<td>Steals from their family</td>
				<td>Arthritic hands</td>
				<td>Jealous of...</td>
				<td>Daskan</td>
			</tr>
			<tr>
				<td>658 - 662</td>
				<td>Vagabond</td>
				<td>Sold their soul to save their child</td>
				<td>Always seems to have a cold</td>
				<td>Trusts only...</td>
				<td>Falkan</td>
			</tr>
			<tr>
				<td>663 - 666</td>
				<td>Clerk</td>
				<td>Is a demon in disguise</td>
				<td>Grim and unbending</td>
				<td>Adopted by...</td>
				<td>Vorish</td>
			</tr>
		</tbody>
	</table>
	<div class="divider"></div>
</article>