<div class="clearfix gutters block" id="network">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>Who Do You Know?</h3>
		<p class="first">With your character's personal history sketched out, now you can flesh out your character's Network. The character's Network consistes of friends, enemies, and business associates that they can utilize to aid them on their journey to the Mountain.</p>
		<p>Each character's Network consists of an Inner Circle and an Outer Circle. The Inner Circle holds a maximum of three individuals that are protected from the actions of the GM's Archetypes. The Outer Circle holds a maximum of four individuals that are not protected from the GM. A character can move individuals between these two Circles before the start of any scene so long as their is space.</p>
		<p>To flesh out who these individuals are, you need to answer the following questions within the context of the character's history. As you do you may choose to add as many character's to your Network as you would like up to the maximum of seven characters. Any other characters not in your Network should be marked down on your sheet as well in case they can be useful later in the game.</p>
		<ol class="spaced-list">
			<li>What is your relationship with your family, if any?</li>
			<li>Do you associate with anyone in regard to your dirty secret?</li>
			<li>Is your affectation a result of a previous relationship?</li>
			<li>Who is your relationship with?</li>
		</ol>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>