
.apprentice{
	background:url('../img/apprentice/map.jpg') top center no-repeat fixed;
	
	header{
		padding: 1em 3em;
		background:$white;
		border-left: 1px solid rgba(0,0,0,0.07);
		border-right: 1px solid rgba(0,0,0,0.07);
		h1{
			text-align:center;
			margin:0;
			padding-top:1em;
			text-transform:uppercase;
			color:$darkest-color;
			letter-spacing:2px;
			font-size:120%;
		}
		h2{
			text-align:center;
			margin:0;
			padding:1em 0;
			color:$darker-color;
			letter-spacing:2px;
			font-size:100%;
		}
		nav{
			text-align:center;
			font-size:2em;
			ul{
				margin:0;
				padding:0;
				li{
					margin-top:0.5em;
					padding-right:0.35em;
					&.sup{
						margin-top:-0.5em;
						margin-right: 0.4em;
					}
					a{
						span{
							display:block;
							width: 0;
							height: 0;
							border: 8px solid transparent;
							border-bottom-color: $highlight-color;
							position: relative;
							top: -8px;
							text-indent:-9999px;
							&:after{
								content: '';
								position: absolute;
								left: -8px;
								top: 8px;
								width: 0;
								height: 0;
								border: 8px solid transparent;
								border-top-color: $highlight-color;
							}
							&.down{
								border-bottom-color: $white;
							}
							&.down:after{
								border-top-color: $darker-color;
							}
							&.up{
								border-bottom-color: $darker-color;
							}
							&.up:after{
								border-top-color: $white;
							}
						}
						
					}
				}
			}
		}
	}
	article{
		background:$white;
		padding: 1em 1.75em 100px;
		border: 1px solid rgba(0,0,0,0.07);
		border-bottom: 0;
		min-height:600px;
		#rune-stone-results{
			margin: 0;
			padding: 0;
			list-style-type: none;
			
			li{
				float:left;
				font-size:300%;
				border-radius:999px;
				display:inline-block;
				height:50px;
				width:50px;
				margin:10px;
				background:url(../img/apprentice/rune-stones.jpg) no-repeat;
				&.tails{
					text-indent:-99999px;
				}
				&.black-stone{
					background:#222222 !important;
				}
				span{
					display:block;
					width:100%;
					height:100%;
					text-align:center;
					margin-top:12px;
				}
			}
		}
		.chapter-icon{
			display:block;
			margin:1em auto;
		}
		ul,ol{
			font-size:120%;
			line-height:160%;
			margin: 10px 0px 10px 25px;
			&.rune-stones{
				span{
				cursor:help;
				color:$highlight-color;
				}
			}			
		}
		aside{
			padding:1.5em;
			
			&.related-content{
				padding: 1.5em 0;
			}
			h4{
				margin:1.5em 0 0 0;
			}
			.toc{
				h4{
					margin:0;
				}
			}	
			
		}
		h3{
			margin:0 0 1.5em 0;
			text-transform:uppercase;
		}
		p{
			margin: 0;
			text-indent: 1.25em;
			line-height:160%;
			font-size:120%;
			.footnote{
				font-style:italic;
				color:$lightest-color;
				cursor:help;
			}
			&.first{
				text-indent:0;
			}
		}
		.important{
			font-weight:600;
			color:$deep-gray;
			padding:1.5em;
			background:$lightest-color;
			float:left;
			width:100%;
			margin:0 1em 1em 0;
			border-radius:8px;
			h4{
			text-indent: 0;
			margin:0 0 .5em 0;
			}
		}
		#map-wrapper{
			height:596px;
			overflow:scroll;
			margin:0px auto;
			
			.interactive-map{
				height:596px;
				width:982px;
				background:url('../img/apprentice/interactive-map.jpg') no-repeat center center;
				position:relative;
				
				div{
					position:absolute;
					cursor:help;
				}
				.modi{
					width:79px;
					height:40px;
					top:98px;
					left:354px;
				}
				.morning-star{
					width:106px;
					height:16px;
					top:371px;
					left:46px;
				}
				.lesser-vijir{
					width:72px;
					height:33px;
					top:438px;
					left:98px;
				}
				.mork{
					width:67px;
					height:16px;
					top:396px;
					left:169px;
				}
				.tarnet-stone{
					width:54px;
					height:31px;
					top:518px;
					left:198px;	
				}
				.blavik{
					width:51px;
					height:19px;
					top:403px;
					left:271px;
				}
				.thors-doorstep{
					width:63px;
					height:30px;
					top:444px;
					left:373px;
				}
				.vegars-barrow{
					width:47px;
					height:25px;
					top:508px;
					left:393px;
				}
				.skumring{
					width:54px;
					height:19px;
					top:427px;
					left:0px;
				}
				.kaldbran{
					width:70px;
					height:20px;
					top:315px;
					left:9px;
				}
				.fraja-tilfaukt{
					width:63px;
					height:33px;
					top:495px;
					left:285px;
				}
				.feolnir{
					width:104px;
					height:20px;
					top:57px;
					left:30px;
				}
				.greater-vijir{
					width:68px;
					height:38px;
					top:144px;
					left:176px;
				}
				.red-dame{
					width:107px;
					height:20px;
					top:224px;
					left:7px;
				}
				.svart-blooded{
					width:52px;
					height:48px;
					top:171px;
					left:372px;
				}
				.winter{
					width:70px;
					height:21px;
					top:519px;
					left:572px;
				}
				.frostflit{
					width:79px;
					height:22px;
					top:576px;
					left:538px;
				}
				.mot{
					width:72px;
					height:32px;
					top:580px;
					left:635px;
				}
				.storm{
					width:77px;
					height:20px;
					top:346px;
					left:683px;
				}
				.dod{
					width:72px;
					height:18px;
					top:541px;
					left:813px;
				}
				.haakon-barrow{
					width:45px;
					height:27px;
					top:491px;
					left:792px;
				}
				.daskan-colony{
					width:61px;
					height:27px;
					top:558px;
					left:884px;
				}
				.skirn{
					width:77px;
					height:20px;
					top:427px;
					left:807px;
				}
				.jutu{
					width:40px;
					height:40px;
					top:419px;
					left:911px;
				}
				.jons-barrow{
					width:49px;
					height:31px;
					top:370px;
					left:953px;
				}
				.walf{
					width:81px;
					height:20px;
					top:373px;
					left:764px;
				}
				.rawn{
					width:79px;
					height:19px;
					top:312px;
					left:840px;
				}
				.slang-stone{
					width:50px;
					height:30px;
					top:257px;
					left:939px;
				}
				.ivars-barrow{
					width:47px;
					height:31px;
					top:296px;
					left:732px;
				}
				.hall-heroes{
					width:59px;
					height:49px;
					top:197px;
					left:709px;
				}
				.rojk{
					width:43px;
					height:17px;
					top:241px;
					left:561px;
				}
				.taptwor{
					width:105px;
					height:17px;
					top:169px;
					left:614px;
				}
				.siststop{
					width:80px;
					height:19px;
					top:133px;
					left:580px;
				}
				.nat{
					width:71px;
					height:22px;
					top:227px;
					left:420px;
				}
				.dagree{
					width:50px;
					height:19px;
					top:290px;
					left:532px;
				}
				.jerntree{
					width:67px;
					height:16px;
					top:320px;
					left:421px;
				}
				.fiolnir{
					width:63px;
					height:36px;
					top:68px;
					left:626px;
				}
				.fiorgins-barrow{
					width:72px;
					height:34px;
					top:13px;
					left:544px;
				}
				
			}	
			
		}
		
	}
}

/* ==========================================================================
   GRID
   ========================================================================== */

.introduction-text{
	padding:1em;
	height:0;
	padding-bottom:80%;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */


@media only screen and (min-width: 31.250em) {
	.apprentice{
		.content{
			width:31.250em;
		}
		#map-wrapper{
			width:28em;
		}
	}
}
@media only screen and (min-width: 48.000em) {
	.apprentice{
		.content{
			width:48em;
		}
		#map-wrapper{
			width:42em;
		}
		aside.important{
			width:49%;
		}
	}
	
}
@media only screen and (min-width: 65.000em) {
	.apprentice{
		.content{
			width:65em;
		}
		#map-wrapper{
			width:65em;
		}
	}

}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}
