/* ==========================================================================
   ARTICLES
   ========================================================================== */
.homepage, .about, .single, .archive, .show{
	padding-bottom:51px;
	section{
		padding:1em;
	}
}
.divider{
	display:block;
	margin:50px auto;
	width:300px;
	height:50px;
}
.button{
	min-width:100px;
	height:50px;
	padding:0 1%;
	line-height:50px;
	text-align:center;
	background:$gray;
	border:$highlight 3px solid;
	color:$highlight;
	display:block;
	box-shadow: 1px 1px 5px $dark-gray;
	&:focus, &:hover{
		background:$off-white;
		color:$dark-gray;
	}
}
.gutenberg{
	font-family:$gutenberg !important;
}
nav{
	padding:0% 5%;
}
.archive{
	h3{
		margin:.25em;
		a{
			color:$dark-gray;
			&:hover{
				color:$highlight
			}
		}
	}
}
#throw-stones{
	padding:5% 0%;
}
#rune-stone-results{
	margin: 0;
	padding: 0;
	list-style-type: none;
	li{
		float:left;
		font-size:300%;
		border-radius:100%;
		display:inline-block;
		height:70px;
		width:70px;
		margin:10px;
		background:url('../img/articles/apprentice/stones.jpg') no-repeat;
		&.tails{
			text-indent:-99999px;
		}
		&.blackstone{
			background:$black !important;
		}
		span{
			display:block;
			width:100%;
			height:100%;
			text-align:center;
			margin-top:12px;
		}
	}	
}
.to-the-top{
	position:fixed;
	bottom:5%;
	right:5%;
	display:none;
	cursor:pointer;
	z-index:500;
}

#toc{
	cursor: pointer;
	position:fixed;
	display:block;
	bottom:0;
	left:0px;
	background:$off-white;
	width:100%;
	min-height:40px;
	padding:1% 5%;
	z-index:10;
	border-top:3px solid $black;
	h4{
		margin:0;
		text-align:center;
		color:$highlight;		
	}
	
}

.toc{
    /* by default it's hidden - on top of the viewport */
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
	padding:0px 0px 60px 30px;
	background:$gray;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
	font-size:.75em;
    overflow: auto;
    /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
	&.is-visible{
	    -webkit-transform: translateY(0);
	    -moz-transform: translateY(0);
	    -ms-transform: translateY(0);
	    -o-transform: translateY(0);
	    transform: translateY(0);
	}
	.child{
		display:none;
	}
	.open{
		.child{
			display:block;
		}
	}
	
}



article{
	section{
		table{
			border:3px solid $dark-gray;
			width:100%;
			caption{
				font-size:1.6em;
				font-family:$secondary-stack;
				line-height:1.7em;
				text-align:center;
				margin:.8em 0;
			}
			thead{
				background:$off-white;
				border-bottom:3px solid $dark-gray;
				tr{
					th{
						font-weight:800;
						padding:12px 30px;
						color:$dark-gray;
						text-align:left;
					}
				}
			}
			tbody{
				tr{
					td{
						padding:12px 30px;
						color:$dark-gray;
					}
				}
			}
		}
		figure{
			padding:2% 0;
			figcaption{
			}
		}
		.futhark{
			font-family:$futhark;
			color: $highlight; 		
		}
		.dream{
			figcaption{
				border-top:3px solid $gray;
				padding-top:.05em;
				margin:.5em 0 0;
				font-size:.75em;
				line-height:1.5em;
				font-weight:400;
				font-family:$secondary-stack;
				text-transform:uppercase;
				color:$dark-gray;
			}
		}
		ul{
			.futhark{
				float: left; 
				font-size: 2.688em; 
				line-height: .75em; 
				padding: 4px 8px 0px 3px; 
				width:50px;
				display:block;
			}
		}
		.toc{
			text-transform:uppercase;
			font-weight:bold;
		}
		.block{
			margin:1.8em 0;
		}
		hr{
			height:3px;
			border:0;
			background:$black;
			background-image:-webkit-linear-gradient(left, $white, $black, $white);
			margin:1em 0;
		}
		h3{
			text-transform:uppercase;
			margin:0 0 1em;
			font-size:2em;
		}
		h4, h5, h6{
			margin:1.8em 0 .25em 0;
		}
		.maps{
			border-top:3px solid $black;
			margin:1% 0;
		}
		
	}
}
#all-titles{
	margin:20px auto;
}
#results{
	opacity:0;
	background:transparent;
	transition:all .5s;
	position:absolute;
	top: 65px;
	left:0;
	right:0;
	width: 100%;
	height:0;
	&.show{
		height:auto;
		z-index:1;
		opacity:1;
		transition:all .5s;
		background:$white;
	}
	li{
		border-bottom:2px solid $highlight;
		padding:0 1% 0 1%;
		&:last-of-type{
			border-bottom:none;
			padding-bottom:1%;
		}
		&:first-of-type{
			padding-top:1%;
		}
	}
	a{
		display:block;
		padding:2% 1%;
		h3{
			color:$dark-gray;
			margin:.25em 0;
		}
		p{
			color:$black;
			margin:0 0 .75em;
		}
	}
}
#articles{
	width:100%;
	height:100%;
	z-index:10;
	background:$white;
	overflow:hidden;
	transition:all .5s;
	overflow-y:scroll;
	&.in{
		transition:all .5s;
		right:0;
	}
}
/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
@media only screen and (min-width: 31.250em) {
}
@media only screen and (min-width: 48.000em) {
}
@media only screen and(min-width:58em){
}
@media only screen and (min-width: 78.125em) {
	article{
		#toc{
			display:block;
			h4{
				.toggle{
					display:none;
				}
			}
			.toc{
				display:block;
			}
			&.fixed{
				h4{
					.toggle{
						display:block;
					}
				}
				
				.toc{	
					display:none;
				}
			}
		}
	}
}