/* ==========================================================================
   ARTICLES
   ========================================================================== */
.divider{
	display:block;
	margin:em(50px) auto 0;
	width:300px;
	height:50px;
	background:url('../img/articles/divider.png') no-repeat;
	background-size:100% 100%;
	@include clearfix;	
}
.single{
	.header{
		padding:4% 2% 2%;
		.post-meta{
			font-family:$secondary-stack;
			margin:0;
			font-weight:400;
		}
		h1{
			font-family:$secondary-stack;
			margin:0 0 50px;
			line-height:105%;
		}
		p{
			margin:0 0 20px;
			strong{
				font-family:$secondary-stack;			
			}
		}
	}
	.continued{
		p{
			margin:0 0 20px;
			strong{
				font-family:$secondary-stack;
			}		
		}	
	}
	figure{
		figcaption{
			margin:0 0 em(20px);
			padding:em(10px);
			font-size:em(14px);
			line-height:120%;
			font-style:italic;
			@include breakpoint(portrait){
				margin:0;
			}
		}
	}
}

#futhark{
	.header{
		background:$primary-light url('../img/articles/futhark.jpg') no-repeat;
		background-size:cover;
		color:$white;
	}
}
#CSS{
	.header{
		background:$tertiary-light url('../img/musings/css.jpg') no-repeat;
		background-size:cover;
		color:$white;		
	}
	.code{
		padding:4% 2% 2%;
		code{
			border:1px dashed $tertiary-dark;
			background:$tertiary-light;
			color:white;
			margin:0 0 20px;
		}
		p{
			strong{
				color:$tertiary-color;			
			}			
		}
		figure{
			border-top:2px solid $tertiary-dark;
			border-left:2px solid $tertiary-dark;
			border-right:2px solid $tertiary-dark;
			figcaption{
				border-bottom:2px solid $tertiary-dark;
				background:$tertiary-light;
			}
		}
		
	}
}

#strategic-review{
	.header{
		background:$primary-light url('../img/articles/dragon/generic.jpg') no-repeat;
		background-size:cover;
		color:$white;		
	}
	.review{
		padding:4% 2% 2%;
		p{
			strong{
				color:$primary-light;			
			}		
		}	
		figure{
			border-left:2px solid $secondary-dark;
			border-right:2px solid $secondary-dark;
			border-top:2px solid $secondary-dark;
			figcaption{
				border-bottom:2px solid $secondary-dark;
				background:$secondary-light;
			}
		}
	}
	h2{
		font-family:$secondary-stack;
		margin:0 0 50px;
		color:$primary-dark;			
		line-height:105%;
	}
}
#dragon-year-one{
	.header{
		background:$primary-light url('../img/articles/dragon/year-one/cover.jpg') no-repeat;
		background-size:cover;
		color:$white;		
	}
	.review{
		padding:4% 2% 2%;
		
		h2{
			margin:0 0 em(20px);
			color:$secondary-dark;
		}
		p{
			strong{
				color:$secondary-light;			
			}			
		}
		figure{
			border-left:2px solid $secondary-dark;
			border-right:2px solid $secondary-dark;
			border-top:2px solid $secondary-dark;
			figcaption{
				border-bottom:2px solid $secondary-dark;
				background:$secondary-light;
				color:$white;
			}
		}
		
	}
	
}
article{
	table{
		border:3px solid $dark-gray;
		width:100%;
		caption{
			font-size:1.6em;
			font-family:$secondary-stack;
			line-height:1.7em;
			text-align:center;
			margin:.8em 0;
		}
		thead{
			background:$off-white;
			border-bottom:3px solid $dark-gray;
			tr{
				th{
					font-weight:800;
					padding:12px 30px;
					color:$dark-gray;
					text-align:left;
				}
			}
		}
		tbody{
			tr{
				td{
					padding:12px 30px;
					color:$dark-gray;
				}
			}
		}
	}
	.dream{
		figcaption{
			border-top:3px solid $gray;
			padding-top:.05em;
			margin:.5em 0 0;
			font-size:.75em;
			line-height:1.5em;
			font-weight:400;
			font-family:$secondary-stack;
			text-transform:uppercase;
			color:$dark-gray;
		}
	}
	ul{
		.futhark{
			float: left; 
			font-size: 2.688em; 
			line-height: .75em; 
			padding: 4px 8px 0px 3px; 
			width:50px;
			display:block;
		}
	}
	.toc{
		text-transform:uppercase;
		font-weight:bold;
	}
	.block{
		margin:1.8em 0;
	}
	h3{
		text-transform:uppercase;
		margin:0 0 1em;
		font-size:2em;
	}
	h3 + p.first{
		margin-top:-1.25em;
	}
	h4, h5, h6{
		margin:1.8em 0 .25em 0;
	}
	.maps{
		border-top:3px solid $black;
		margin:1% 0;
	}
}
#all-titles{
	margin:20px auto;
}

