/* ==========================================================================
   ARTICLE AND MUSINGS GLOBAL STYLES
   ========================================================================== */
.divider{
	display:block;
	margin:em(50px) auto 0;
	width:300px;
	height:50px;
	background:url('../img/articles/divider.png') no-repeat;
	background-size:100% 100%;
	@include clearfix;	
}
.single{
	.header{
		padding:4% 2% 2%;
		color:$white;	
		.post-meta{
			font-family:$secondary-stack;
			margin:0;
			font-weight:400;
		}
		h1{
			font-family:$secondary-stack;
			margin:0 0 50px;
			line-height:105%;
		}
		p{
			margin:0 0 20px;
			strong, em{
				font-family:$secondary-stack;			
			}
		}
	}
	.continued{
		p{
			margin:0 0 20px;
			strong, em{
				font-family:$secondary-stack;			
			}
		}	
		ul{
			strong, em{
				font-family:$secondary-stack;			
			}
			
		}
	}
	figure{
		figcaption{
			margin:0 0 em(20px);
			padding:em(10px);
			font-size:em(14px);
			line-height:120%;
			font-style:italic;
			@include breakpoint(portrait){
				margin:0;
			}
		}
	}
	table{
		border:3px solid $dark-gray;
		width:100%;
		margin-bottom:em(30px);
		caption{
			font-size:1.6em;
			font-family:$secondary-stack;
			line-height:1.7em;
			text-align:center;
			margin:.8em 0;
		}
		thead{
			background:$off-white;
			font-family:$secondary-stack;
			text-transform:uppercase;
			border-bottom:3px solid $dark-gray;
			tr{
				th{
					font-weight:800;
					padding:12px 30px;
					color:$dark-gray;
					text-align:left;
				}
			}
		}
		tbody{
			tr{
				td{
					padding:12px 30px;
					color:$dark-gray;
				}
			}
		}
	}
	
}
/* ==========================================================================
   PRIMARY COLOR SCHEME
   ========================================================================== */
.primary{
	.review, .continued{
		padding:4% 2% 2%;
		table{
			border:3px solid $primary-dark;
			thead{
				background:$white;
				border-bottom:3px solid $primary-dark;
				tr{
					th{
						color:$primary-dark;
					}
				}
			}
			tbody{
				tr{
					td{
						color:$primary-dark;
					}
				}
				tr:nth-of-type(odd){
					background:$primary-light;
					td{
						color:$white;
					}
				}
				
			}
		}
		
		code{
			border:1px dashed $primary-dark;
			background:$primary-light;
			color:white;
			margin:0 0 20px;
		}
		h2{
			margin:0 0 em(20px);
			color:$primary-dark;
		}
		h3, h4, h5, h6{
			color:$primary-dark;
		}
		p,ul, ol{
			em, strong{
				color:$primary-light;			
			}			
		}
		figure{
			border-left:2px solid $primary-dark;
			border-right:2px solid $primary-dark;
			border-top:2px solid $primary-dark;
			margin-bottom:3%;
			figcaption{
				border-bottom:2px solid $primary-dark;
				background:$primary-light;
				color:$white;
			}
		}	
	}	
}

/* ==========================================================================
   SECONDARY COLOR SCHEME
   ========================================================================== */
.secondary{
	.review{
		padding:4% 2% 2%;
		code{
			border:1px dashed $secondary-dark;
			background:$secondary-light;
			color:white;
			margin:0 0 20px;
		}
		p,ul, ol{
			em, strong{
				color:$primary-light;			
			}		
		}	
		figure{
			border-left:2px solid $secondary-dark;
			border-right:2px solid $secondary-dark;
			border-top:2px solid $secondary-dark;
			margin-bottom:3%;
			figcaption{
				border-bottom:2px solid $secondary-dark;
				background:$secondary-light;
				color:$white;
			}
		}
	}
	h2{
		font-family:$secondary-stack;
		margin:0 0 50px;
		color:$secondary-dark;			
		line-height:105%;
	}
	
}
/* ==========================================================================
   TERTIARY COLOR SCHEME
   ========================================================================== */
.tertiary{
	.code, .review{
		padding:4% 2% 2%;
		code{
			border:1px dashed $tertiary-dark;
			background:$tertiary-light;
			color:white;
			margin:0 0 20px;
		}
		p, ul, ol{
			em, strong{
				color:$tertiary-color;			
			}			
		}
		figure{
			border-top:2px solid $tertiary-dark;
			border-left:2px solid $tertiary-dark;
			border-right:2px solid $tertiary-dark;
			margin-bottom:3%;
			figcaption{
				border-bottom:2px solid $tertiary-dark;
				background:$tertiary-light;
			}
		}
		
	}
	h2{
		font-family:$secondary-stack;
		margin:0 0 50px;
		color:$tertiary-dark;			
		line-height:105%;
	}
}

/* ==========================================================================
   ARTICLES AND MUSINGS HEADERS
   ========================================================================== */
#futhark{
	.header{
		background:$primary-light url('../img/articles/futhark.jpg') no-repeat;
		background-size:cover;	
	}
}
#CSS{
	.header{
		background:$tertiary-light url('../img/musings/css.jpg') no-repeat;
		background-size:cover;	
	}
}
#generic-games{
	.header{
		background:$primary-light url('../img/articles/dragon/generic.jpg') no-repeat;
		background-size:cover;	
	}
}
#dragon-year-one{
	.header{
		background:$secondary-light url('../img/articles/dragon/year-one/cover.jpg') no-repeat;
		background-size:cover;	
	}
}
#dragon-issue007{
	.header{
		background:$primary-light url('../img/articles/dragon/007/cover.jpg') no-repeat;
		background-size:cover;	
	}	
}
#dragon-issue008{
	.header{
		background:$tertiary-light url('../img/articles/dragon/008/cover.jpg') no-repeat;
		background-size:cover;	
	}	
}
#dragon-issue044{
	.header{
		background:$tertiary-light url('../img/articles/dragon/044/cover.jpg') no-repeat;
		background-size:cover;	
	}	
}
#dragon-issue045{
	.header{
		background:$tertiary-light url('../img/articles/dragon/045/cover.jpg') no-repeat;
		background-size:cover;	
	}	
}
#core-rules{
	.header{
		background:$primary-light url('../img/articles/core/cover.jpg') no-repeat;
		background-size:cover;	
	}		
}
#traits-talents{
	.header{
		background:$primary-light url('../img/articles/core/traits-talents.jpg') no-repeat;
		background-size:cover;	
	}
	ul{
		margin-bottom:em(40px);
		.futhark{
			font-size:em(20px);
		}
	}
}
#gear{
	.header{
		background:$primary-light url('../img/articles/core/gear.jpg') no-repeat;
		background-size:cover;	
	}
}
#playing-the-game{
	.header{
		background:$primary-light url('../img/articles/core/playing-game.jpg') no-repeat;
		background-size:cover;	
	}
	ul{
		margin-bottom:em(40px);
	}
	.futhark{
		font-size:em(40px);
	}	
}
#running-the-game{
	.header{
		background:$primary-light url('../img/articles/core/running-game.jpg') no-repeat;
		background-size:cover;	
	}
	ul{
		margin-bottom:em(40px);
	}
	.futhark{
		font-size:em(40px);
	}	
}
#skirmishes{
	.header{
		background:$primary-light url('../img/articles/core/skirmishes.jpg') no-repeat;
		background-size:cover;	
	}
}
#culture{
	.header{
		background:$primary-light url('../img/articles/core/culture.jpg') no-repeat;
		background-size:cover;	
	}
}
#templates{
	.header{
		background:$primary-light url('../img/articles/core/templates.jpg') no-repeat;
		background-size:cover;	
	}
}
#something-new{
	.header{
		background:$tertiary-light url('../img/articles/adventure/it-begins/cover.jpg') no-repeat;
		background-size:cover;	
	}
}

/* ==========================================================================
   SOON TO BE REPLACED
   ========================================================================== */
article{
	.dream{
		figcaption{
			border-top:3px solid $gray;
			padding-top:.05em;
			margin:.5em 0 0;
			font-size:.75em;
			line-height:1.5em;
			font-weight:400;
			font-family:$secondary-stack;
			text-transform:uppercase;
			color:$dark-gray;
		}
	}
	h3 + p.first{
		margin-top:-1.25em;
	}
	h4, h5, h6{
		margin:1.8em 0 .25em 0;
	}
	.maps{
		border-top:3px solid $black;
		margin:1% 0;
	}
}
