/* ==========================================================================
   SITE FOOTER
   ========================================================================== */
#site-footer{
	border-right:solid 4px $black;
	border-left:solid 4px $black;
	border-top:solid 4px $black;
	padding:em(15px) em(10px);
	background:$gray;
	width:100%;
	z-index:500;
	p{
		font-size:.875em;
		text-indent:0;
	}
}
