/* ==========================================================================
   SITE FOOTER
   ========================================================================== */
#site-footer{
	padding:.5em;
	background:$gray;
	width:100%;
	z-index:500;
	min-height:160px;
	p{
		font-size:.875em;
		text-indent:0;
	}
	nav{
		text-transform:uppercase;
		font-weight:bold;
		font-size:.75em;
		font-family:$tertiary-stack;
		line-height:4em;
		padding:0;
	}
}
/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
@media only screen and (min-width: 31.250em) {
}
@media only screen and (min-width: 48.000em) {
}
@media only screen and (min-width: 65.000em) {

}