/* ==========================================================================
   MAIN HEADER
   ========================================================================== */

#masthead {
	background:transparent;
	box-shadow:none;
	border-bottom:solid 4px $black;
	position:relative;
	height:36px;
	display:block;
	transition: all .25s ease-in-out;
	z-index:500;
	&:hover{
		background:$off-white;
		border-bottom-color:$highlight;
	}
	.logo{
		margin:0 auto;
	}
	
}

#hero{
	position:relative;
	border-bottom:3px solid $black;
	.article-meta{
		padding:1em;
		h2{
			font-size:2.25em;
			line-height:1em;
			margin-bottom:.25em;
			text-transform:uppercase;
		}
		h3{
			line-height:1em;
			margin-bottom:.875em;
			font-size:1.7em;
		}
		p{
			text-indent:0;
			&.byline{
				margin:0;
				font-size:1.2em;
				line-height:1.2em;
				font-weight:800;
			}
			&.description{
				font-size:1.2em;
				line-height:1.4em;
				margin:1em 0 0;
			}
			
		}
		
	}
}
/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */


@media only screen and (min-width: 31.250em) {
	#masthead {
		height:42px;
	}
}
@media only screen and (min-width: 48.000em) {
	#masthead {
		height:62px;
	}
	#hero{
		.article-meta{
			position:absolute;
			top:20px;
		}
	}
}
@media only screen and (min-width:58em){
		#hero{
			.article-meta{
				border:none;
				position:relative;
				top:0;
			}
			img{
				border-right:3px solid $black;
			}
		}
}
@media only screen and (min-width: 65.000em) {
	#masthead {
		height:82px;
	}
}
