/* ==========================================================================
   MAIN HEADER
   ========================================================================== */

#masthead {
	background-color:$white;
	box-shadow:none;
	border-bottom:solid 4px $black;
	border-right:solid 4px $black;
	border-left:solid 4px $black;
	position:relative;
	display:block;
	transition: all .25s ease-in-out;
	z-index:5;
	&:hover{
		background:$off-white;
		border-bottom-color:$highlight;
	}
	.logo{
		margin:0 auto;
	}
}
#search-box{
	display:none;
	padding:em(10px);
	background-color:$gray;
	border-right:solid 4px $black;
	border-left:solid 4px $black;
	border-bottom:solid 4px $black;
}
#menu{
	background:$white;	
	padding:1em;
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
	font-size:.75em;
	font-family:$tertiary-stack;
	border-left:none;
	.span-2 { width: 16.6666666667%; }
	.nav-item:first-child {
		margin-left: 0;
	}
	@include breakpoint(landscape){
		border-left:solid 4px $black;
	}
}
#hero, .hero{
	position:relative;
	background-color:$white;
	&.article-meta{
		padding:1em;
		h2{
			font-size:2.25em;
			line-height:1em;
			margin-bottom:.25em;
			text-transform:uppercase;
		}
		h3{
			line-height:1em;
			margin-bottom:.875em;
			font-size:1.7em;
			text-indent:0;
		}
		p{
			text-indent:0;
			&.byline{
				margin:0;
				font-size:1.2em;
				line-height:1.2em;
				font-weight:800;
			}
			&.description{
				font-size:1.2em;
				line-height:1.4em;
				margin:1em 0 0;
			}
			
		}		
	}
}