
.homepage{
	background:#000000 url('../img/homepage/looming.jpg')  top center no-repeat fixed;
	background-size:100%;
	header{
		padding: 1em 3em;
		background:$white;
		border-left: 1px solid rgba(0,0,0,0.07);
		border-right: 1px solid rgba(0,0,0,0.07);
		h1{
			text-align:center;
			margin:0;
			padding-top:1em;
			text-transform:uppercase;
			color:$darkest-color;
			letter-spacing:2px;
			font-size:120%;
		}
		h2{
			text-align:center;
			margin:0;
			padding:1em 0;
			color:$darker-color;
			letter-spacing:2px;
			font-size:100%;
		}
		nav{
			
		}
	}
	article{
		background:$white;
		padding: 1em 1.75em 100px;
		border: 1px solid rgba(0,0,0,0.07);
		border-bottom: 0;
		p{
			margin: 0;
			text-indent: 1.25em;
			line-height:160%;
			font-size:120%;
			&.first{
				text-indent:0;
			}
		}
	}
}

/* ==========================================================================
   GRID
   ========================================================================== */

.introduction-text{
	padding:1em;
	height:0;
	padding-bottom:80%;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */


@media only screen and (min-width: 31.250em) {
	.homepage{
		.content{
			width:31.250em;
		}
	}
}
@media only screen and (min-width: 48.000em) {
	.homepage{
		.content{
			width:48em;
		}
	}
	
}
@media only screen and (min-width: 65.000em) {
	.homepage{
		.content{
			width:65em;
		}
	}

}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}
