/* ==========================================================================
   MUSINGS
   ========================================================================== */

#CSS{
	.header{
		background:$tertiary-light url('../img/musings/css.jpg') no-repeat;
		background-size:cover;
		color:$white;		
	}
	.code{
		padding:4% 2% 2%;
		code{
			border:1px dashed $tertiary-dark;
			background:$tertiary-light;
			color:white;
			margin:0 0 20px;
		}
		p{
			margin:0 0 20px;
			strong{
				font-family:$secondary-stack;
				color:$tertiary-color;			
			}
			
		}
	}
}
