.page-nav{
	background:$white;	
	padding:0 0 em(15px);
	margin-top:em(10px);
	@include breakpoint(portrait){
		margin-top:em(26px);
	}
	ul{
		text-align:center;
		padding-left:0;		
		@include breakpoint(portrait){
			float:right;
		}
		li{
			display:inline;
			text-transform:uppercase;
			font-weight:700;
			letter-spacing:0.03em;
			margin-right:em(5px);
			font-size:em(14px);
			padding:1px;
			font-family:$secondary-stack;
			
			@include breakpoint(portrait){
				margin-right:em(18px);
			
			}
			
		}
	}
}