*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family:$primary-stack;
	font-weight:normal;
	font-size: 1em;
    line-height: 1.25em;
    font-weight: 300;
	color:$black;
	position:relative;
	background:$white;
}
main{
	max-width:100%;
	margin:0 auto;
	min-height:320px;
	width:100%;
}
/* ==========================================================================
   BUTTONS
   ========================================================================== */

/* ==========================================================================
   IMAGES
   ========================================================================== */

img {
    vertical-align: middle;
	width:100%;
	height:auto;
}

/* ==========================================================================
   TYPOGRAPHY - My preference is for percentages when working with fonts. Everyone has their own thing.
   ========================================================================== */
p{
	margin-bottom:0;
	text-indent:1.25em;
	line-height:1.60;
	font-size:1.2em;
	&.first{
		text-indent:0;
		&:first-child:first-letter{
			float: left; 
			color: $highlight; 
			font-size: 4.688em; 
			line-height: .75em; 
			padding: 4px 8px 0px 3px; 
			font-family: Georgia;
		}
	}
}
.small{
	font-size:.875em;
}
.text-left {
  text-align: left;
}
.text-uppercase{
	text-transform:uppercase;
}
.text-right {
  text-align: right;
}
.hidden{
	display:none !important;
}
.invisible{
	visibility:hidden !important;
}
.text-center {
  text-align: center;
}
.warning-text{
	color:$warning-gold;
}
.error-text{
	color:$error-red;
}
.success-text{
	color:$success-green;
}
blockquote {
	padding: 0 0 0 15px;
	margin: 1em 0;
	p {
		margin-bottom: 0;
		font-size: 1.2em;
		font-weight: 700;
		line-height: 1.6em;
		text-indent:0;
		color:$highlight;
		text-align:center;
		font-family:$tertiary-stack;
	}
	small {
		display: block;
		line-height: 100%;
	}
	small:before {
		content: '\2014 \00A0';
	}
}
sup{
	text-transform:uppercase;
}
/* ==========================================================================
   HEADING STYLES
   ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family:$secondary-stack;
	font-weight:normal;
	margin:0;
}
h1{
	font-size:2.250em;
	line-height:1em;
}
h2{
	font-size:1.875em;
	line-height:1em;
}
h3{
	font-size:1.750em;
	line-height:1em;
}
h4{
	font-size:1.6em;
	line-height:1em;
}
h5{
	font-size:1.4em;
	line-height:1em;
}
h6{
	font-size:1.3em;
	line-height:1em;
}
/* ==========================================================================
   LIST STYLES
   ========================================================================== */
ul,
ol {
  	padding: 0;
  	margin: 0px 0 10px 25px;
	line-height:1.6;
	font-size:1.2em;
	ul,ol{
		font-size:1em;
	}
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul.spaced-list, ol.spaced-list {
	margin-bottom:15px;
	margin-top:15px;
	li{
		margin:8px 0px;
		small{
			line-height:1.4em;
			display:block;
			margin:-5px 0px 10px;
		}
	}
}
ul.unstyled, ol.unstyled {
	margin-left: 0;
	list-style: none;
}
ul.inline, ol.inline {
	margin-left: 0;
	list-style: none;
	li{
		display:inline-block;
	}
}
ol.upper-roman{
	list-style-type:upper-roman;
}
ol.lower-roman{
	list-style-type:lower-roman;
}

/* ==========================================================================
   LINKS - My broad preference is to have no text decoration on links and apply a dotted border on hover.
   ========================================================================== */

a {
    color:$highlight;
	text-decoration:none;
}
a:hover{
}

/* ==========================================================================
   FORMS -
   ========================================================================== */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
fieldset{
	position: relative;
	display: inline;
	width:100%;	
	height:auto;
	background:transparent;
	box-shadow: 0 0 8px transparent;
	background-clip: padding-box;
	label{
		width:auto;
		-webkit-transform:translate(0,0);
		-webkit-transition:-webkit-transform 150ms, opacity 5s;
		font-size:.750em;
		font-family:$secondary-stack;
		color:$dark-gray;
		text-transform:uppercase;
		letter-spacing:.05em;		
		span{
			text-transform:none;
			font-style:italic;
		}
	}
	select, input[type="text"]{
		background: transparent;
		font-size: 1.2em;
		padding: 15px 0px 5px 0px;
		text-shadow: 0 1px $white;
		line-height: 20px;
		width: 100%;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		border-bottom:2px solid $gray;
		border-top:none;
		border-right:none;
		border-left:none;
		font-family:$secondary-stack;
		-webkit-appearance:none;
		border-radius:0px;		
	}
	input{
		color:$black;	
	}
	input:focus, select:focus{
		border-bottom:2px solid $highlight;	
	}
	
}
/* ==========================================================================
   CLEARFIX
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/* ==========================================================================
   ARTICLE ARCHIVE
   ========================================================================== */
#archive{
	padding:1em;
	position:absolute;
	bottom:5%;
	right:5%;
}

/* ==========================================================================
   TABLES
   ========================================================================== */
	.table-scroll{
		display: block;
		position: relative;
		width: 100%;
		caption{
			display:block;
		}
		thead{
			display:block;
			float:left;
			border-bottom:none;
			tr,th{
				display:block;
				width:100%;
			}
		}
		tbody{
			display:block;
			width:auto;
			position:relative;
			overflow-x:auto;
			white-space:nowrap;
			tr{
				display:inline-block;
				vertical-align:top;
				td{
					display:block;
				}
			}
		}
	}

table{
	width:100%;
	border-collapse:collapse;
	border-spacing: 0;
}
tr:nth-of-type(odd){
	background:$gray;
}
th{
	background:$off-white;
	font-weight:bold;
}
th.twelve, td.twelve{
	width:12%;
}
th.twenty, td.twenty{
	width:20%;
}
th.thirty-three, td.thirty-three{
	width:33%;
}
th.sixty-six, td.sixty-six{
	width:66%;
}
th.forty, td.forty{
	width:40%;
}
th.five, td.five{
	width:5%;
}
th.ten, td.ten{
	width:10%;
}

td,th{
	padding:6px;
	text-align:left;
}
td.top, th.top{
	vertical-align:top;
}
/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media only screen and (min-width: 31.250em) {

}
@media only screen and (min-width: 48.000em) {
	.table-scroll{
		display: table;
		position: static;
		caption{
			display:table-caption;
		}
		thead{
			display: table-header-group;
			vertical-align: middle;
			float:none;
			border-bottom:3px solid $dark-gray;
			tr{
				display:table-row;
			}
			th{
				display:table-cell;
			}
		}
		tbody{
			display: table-row-group;
			position: static;
			vertical-align: middle;
			white-space:normal;
			tr{
				display:table-row;
				td{
					display:table-cell;
				}
			}
		}
	}
	
}
@media only screen and (min-width: 65.000em) {
	
}
