// COLOR STACK
$warning-gold					:#D8C26C;
$error-red						:#ed1c2e;
$success-green					:#0da68e;

//RED
$primary-color					:#831409;
$primary-dark					:#5C0900;
$primary-light					:#c55145;

//BLUE
$secondary-color				:#074551;
$secondary-dark					:#013039;
$secondary-light				:#2c6d7a;

//GREEN
$tertiary-color					:#4e7908;
$tertiary-dark					:#355500;
$tertiary-light					:#89B640;

$white 							:#ffffff;
$off-white 						:#f2f2f2;
$gray							:#dedede;
$dark-gray						:#696760;
$black							:#200105;