// COLOR STACK
$white 							:#ffffff;
$black							:#000000;
$deep-gray						:#333333;
$gray							:#aaaaaa;

$bright-red						:#b52025;
$deep-red						:#880C0A;
$error-pink						:#FF7876;
$light-pink						:#ffedf2;

$gold							:#f6dcbb;
$warning-gold					:#D8C26C;

$success-green					:#21C023;

$primary-color 					:#ca2c1b;
$highlight-color 				:#ec9102;
$darker-color 					:#983E35;
$darkest-color 					:#831409;
$lighter-color 					:#E45E50;
$lightest-color 				:#E48278;
