// COLOR STACK
$warning-gold					:#D8C26C;
$error-red						:#ed1c2e;
$success-green					:#0da68e;

$highlight						:#831409;
$link-color						:#FFCBA8;
$white 							:#ffffff;
$off-white 						:#f2f2f2;
$gray							:#dedede;
$dark-gray						:#696760;
$black							:#200105;