<?xml version="1.0" encoding="utf-8"?>
<MenuItems>
	<Category name="Laptops" type="drop" url="">
		<SubCategory name="For Home - Ultraportable" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum, tellus vel viverra tristique, sem libero rhoncus magna, eget lobortis est elit non magna." url="#for-home-tablet-laptop/ultraportable">
		</SubCategory>
		<SubCategory name="For Home - High Performance" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum, tellus vel viverra tristique, sem libero rhoncus magna, eget lobortis est elit non magna. " url="#for-home-tablet-laptop/high-performance">
		</SubCategory>
		<SubCategory name="For Home - Everyday Computing" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum, tellus vel viverra tristique, sem libero rhoncus magna, eget lobortis est elit non magna. " url="#for-home-tablet-laptop/everyday-computing">
		</SubCategory>
		<SubCategory name="For Business - Tablets" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum, tellus vel viverra tristique, sem libero rhoncus magna, eget lobortis est elit non magna. " url="#for-business-tablet-laptop/tablets">
		</SubCategory>
		<SubCategory name="For Business - Ultrabook" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum, tellus vel viverra tristique, sem libero rhoncus magna, eget lobortis est elit non magna. " url="#for-business-tablet-laptop/ultrabook">
		</SubCategory>
		<SubCategory name="For Business - Probook" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum, tellus vel viverra tristique, sem libero rhoncus magna, eget lobortis est elit non magna. " url="#for-business-tablet-laptop/probook">
		</SubCategory>
		<SubCategory name="For Business - Elitebook" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum, tellus vel viverra tristique, sem libero rhoncus magna, eget lobortis est elit non magna. " url="#for-business-tablet-laptop/elitebook">
		</SubCategory>
		<SubCategory name="For Business - Mobile Workstation" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum, tellus vel viverra tristique, sem libero rhoncus magna, eget lobortis est elit non magna. " url="#for-business-tablet-laptop/mobile-workstation">
		</SubCategory>
		
	</Category>
	<Category name="Desktops" type="drop" url="">
		<SubCategory name="For Home - AIO" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum, tellus vel viverra tristique, sem libero rhoncus magna, eget lobortis est elit non magna. " url="#for-home-desktop/aio">
		</SubCategory>
		<SubCategory name="For Home - High Performance" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum, tellus vel viverra tristique, sem libero rhoncus magna, eget lobortis est elit non magna. " url="#for-home-desktop/high-performance">
		</SubCategory>
		<SubCategory name="For Home - Touchsmart" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum, tellus vel viverra tristique, sem libero rhoncus magna, eget lobortis est elit non magna. " url="#for-home-desktop/touchsmart">
		</SubCategory>
		<SubCategory name="For Home - Everyday Computing" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum, tellus vel viverra tristique, sem libero rhoncus magna, eget lobortis est elit non magna. " url="#for-home-desktop/everyday-computing">
		</SubCategory>
		<SubCategory name="For Business - Everyday Computing" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum, tellus vel viverra tristique, sem libero rhoncus magna, eget lobortis est elit non magna. " url="#for-business-desktop/pro">
		</SubCategory>
		<SubCategory name="For Business - Elite" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum, tellus vel viverra tristique, sem libero rhoncus magna, eget lobortis est elit non magna. " url="#for-business-desktop/elite">
		</SubCategory>
		<SubCategory name="For Business - AIO" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum, tellus vel viverra tristique, sem libero rhoncus magna, eget lobortis est elit non magna. " url="#for-business-desktop/aio">
		</SubCategory>
		<SubCategory name="For Business - Touchsmart" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum, tellus vel viverra tristique, sem libero rhoncus magna, eget lobortis est elit non magna. " url="#for-business-desktop/touchsmart">
		</SubCategory>
		<SubCategory name="For Business - Workstations" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum, tellus vel viverra tristique, sem libero rhoncus magna, eget lobortis est elit non magna. " url="#for-business-desktop/workstations">
		</SubCategory>
		
	</Category>
	<Category name="Monitors" type="drop" url="">
		<SubCategory name="Monitors for Home" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum, tellus vel viverra tristique, sem libero rhoncus magna, eget lobortis est elit non magna. " url="#for-home-monitors">
		</SubCategory>
		<SubCategory name="Monitors for Business" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum, tellus vel viverra tristique, sem libero rhoncus magna, eget lobortis est elit non magna. " url="#for-business-monitors">
		</SubCategory>
		<SubCategory name="Performance Monitors" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum, tellus vel viverra tristique, sem libero rhoncus magna, eget lobortis est elit non magna. " url="#performance-monitors">
		</SubCategory>
	</Category>
	<Category name="Printers" type="drop" url="">
		<SubCategory name="For Home - All-in-One" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum, tellus vel viverra tristique, sem libero rhoncus magna, eget lobortis est elit non magna. " url="#for-home-printers">
		</SubCategory>
		<SubCategory name="For Business - All-in-One" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum, tellus vel viverra tristique, sem libero rhoncus magna, eget lobortis est elit non magna. " url="#for-business-printers/business-all-in-one">
		</SubCategory>
		<SubCategory name="For Business - Single Function" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum, tellus vel viverra tristique, sem libero rhoncus magna, eget lobortis est elit non magna. " url="#for-business-printers/business-single-function">
		</SubCategory>
		<SubCategory name="Laserjet" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum, tellus vel viverra tristique, sem libero rhoncus magna, eget lobortis est elit non magna. " url="#laserjet-printers">
		</SubCategory>
	</Category>
	<Category name="Accessories" type="no-drop" url="accessories.html">
	</Category>
	<Category name="Services &amp; Warranty" type="no-drop" url="services.html">
	</Category>
	<Category name="Promotions" type="drop" url="promotions.html">		
	</Category>
	
</MenuItems>