<article class="item" data-nav="What is the Game About?">
	{% include mountain/introduction/01-what-about.html %}
{% include mountain/introduction/02-player-gm-responsibility.html %}
{% include mountain/introduction/03-kind-of-game.html %}
{% include mountain/introduction/04-what-you-need.html %}
{% include mountain/introduction/06-structure-play.html %}
	<div class="divider"></div>
</article>
<article class="item" data-nav="The Basic Rules">
{% include mountain/introduction/08-terminology.html %}
	<div class="divider"></div>
</article>
