<aside>
<h3>Table of Contents</h3>
<div class="clearfix gutters">
<ol class="upper-roman toc span-6 col">
	<li><h4><a href="/apprentice/introduction.html" title="Introduction">Introduction</a></h4></li>
	<li><h4><a href="/apprentice/destiny-stones.html" title="Destiny Stones">Destiny Stones</a></h4></li>
	<li><h4><a href="/apprentice/rune-stones.html" title="Rune Stones">Rune Stones</a></h4></li>
	<li><h4><a href="/apprentice/traits-heroics-talents.html" title="Traits, Heroics and Talents">Traits, Heroics and Talents</a></h4></li>
	<li><h4><a href="/apprentice/resources-locations.html" title="Resources and Locations">Resources and Locations</a></h4></li>
	<li><h4><a href="/apprentice/turn-structure.html" title="Turn Structure">Turn Structure</a></h4></li>
	<li><h4><a href="/apprentice/trial-declaration.html" title="Trial Declaration">Trial Declaration</a></h4></li>
	<li><h4><a href="/apprentice/journey-phase.html" title="Journey Phase">Journey Phase</a></h4></li>
</ol>
<ol class="upper-roman toc span-6 col" start="9">
	<li><h4><a href="/apprentice/challenge-phase.html" title="Challenge Phase">Challenge Phase</a></h4></li>   
	<li><h4><a href="/apprentice/teamwork.html" title="Teamwork">Teamwork</a></h4></li>
	<li><h4><a href="/apprentice/glorious-battle.html" title="Glorious Battle">Glorious Battle</a></h4></li>
	<li><h4><a href="/apprentice/litany-of-heroes.html" title="Litany of Heroes">Litany of Heroes</a></h4></li>
	<li><h4><a href="/apprentice/endgame.html" title="Endgame">Endgame</a></h4></li>   
	<li><h4><a href="/apprentice/rune-thrower.html" title="Rune Thrower">Rune Thrower</a></h4></li>
	<li><h4><a href="/apprentice/downloads.html" title="Downloads">Downloads</a></h4></li>
	<li><h4><a href="/apprentice/interactive-map.html" title="Interactive Map">Interactive Map</a></h4></li>
</ol>
</aside>