<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/libs/jquery-1.9.1.min.js"><\/script>')</script>
	<script src="/js/plugins.js"></script>
	<script src="/js/main.js"></script>

<script>
    var _gaq=[["_setAccount","UA-4424800-1"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
</script>
</main>
<footer class="content">
	<nav class="clearfix">
		<ul class="unstyled inline">
			<li><a href="/"><img src="/img/common/logo.png" alt="Home" /></a></li>
			<li><a href="#" data-container="gameContent" class="open"><img src="/img/common/die.png" alt="Games" /></a></li>
			<li><a href="#" data-container="bookContent" class="open"><img src="/img/common/books.png" alt="Books" /></a></li>
			<li><a href="#" data-container="artContent" class="open"><img src="/img/common/brush.png" alt="Art" /></a></li>
		</ul>
	</nav>
	<div id="menuContainer">
		<div class="overlay">
			<div class="gameContent">
				<h4 class="text-right"><a href="/apprentice.html">Apprentice</a></h4>
				<p class="text-right">Apprentice is a short form, self-contained role-playing game centered around one man's quest to take the place of his master.</p>
			</div>
			<div class="bookContent">
					<h4 class="text-right"><a href="/historia-imperio.html">Historica Imperio</a></h4>
					<p class="text-right">This translation is at once a memoir, a history of the Empire, and a conversation between a son and a father he never knew.</p>
					<h4 class="text-right"><a href="/historia-tarathica.html">Historica Tarathica</a></h4>
					<p class="text-right">The Historia Tarathica is an encyclopedia compiled by Isidro de Mercer in the 319th year of the Third Era of the Tarathi people.</p>
			</div>
			<div class="artContent">
					<h4 class="text-right"><a href="/art.html">Art Gallery</a></h4>
					<p class="text-right">The Art Gallery contains my work at recreating the artwork of the real world. Here you will find a combination of illustrations, wood work, book binding, and mixed media work.</p>
			</div>
		</div>
	</div>
</footer>
</body>
</html>