<ul id="menu">
	<li data-menu="home"><a href="/"> Home <span class="arrow"></span></a></li>
	<li class="border"></li>
	<li><a href="http://www.magcloud.com/browse/issue/413729" target="_blank"> Apprentice <span class="arrow"></span></a></li>
	<li class="border"></li>
	<li data-menu="credits"><a href="/credits.html"> Credits <span class="arrow"></span></a></li>
	<li class="border"></li>
	<li data-menu="tapestry"><a href="/tapestry-deck.html"> Tapestry Deck <span class="arrow"></span></a></li>
	<li class="border"></li>
	<!--li class="table-of-contents"><a href="#"> Etymologiae </a></li>
	<li class="border"></li>
	<li class="hidden-menu-item"><a href="/a-d.html">A - D</a> <span class="arrow"></span></li>
	<li class="border hidden-menu-item"></li>
	<li class="hidden-menu-item"><a href="/e-h.html">E - H</a> <span class="arrow"></span></li>
	<li class="border hidden-menu-item"></li>
	<li class="hidden-menu-item"><a href="/i-l.html">I - L</a> <span class="arrow"></span></li>
	<li class="border hidden-menu-item"></li>
	<li class="hidden-menu-item"><a href="/m-p.html">M - P</a> <span class="arrow"></span></li>
	<li class="border hidden-menu-item"></li>
	<li class="hidden-menu-item"><a href="/q-t.html">Q - T</a> <span class="arrow"></span></li>
	<li class="border hidden-menu-item"></li>
	<li class="hidden-menu-item"><a href="/u-x.html">U - X</a> <span class="arrow"></span></li>
	<li class="border hidden-menu-item"></li>
	<li class="hidden-menu-item"><a href="/y-z.html">Y - Z</a> <span class="arrow"></span></li>
	<li class="border hidden-menu-item"></li-->
	<li><a href="http://www.patreon.com/keithsenkowski" target="_blank"> Become a Patron <span class="arrow"></span></a></li>
	<li class="border"></li>
	<li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fconspiracyofshadows.com" target="_blank"> Share on Facebook <span class="arrow"></span></a></li>
	<li class="border"></li>
	<li><a href="https://twitter.com/intent/tweet?text=Conspiracy+of+Shadows:+Can+you+trust+history?+http://conspiracyofshadows.com&via=ksenkowski" target="_blank"> Share on Twitter <span class="arrow"></span></a></li>
	<li class="border"></li>
	<li><a href="https://github.com/ksenkowski/ksenkowski.github.io" target="_blank"> Source on Github <span class="arrow"></span></a></li>
	<li class="border"></li>
	
 </ul>