.button{
	display:block;
	background: $primary-color;
	color:$white;
	font-size: em(18px);
	font-weight:700;
	padding: 15px 8px 15px 4px;
	width: 100%;
	font-family:$secondary-stack;
	-webkit-appearance:none;
	border-radius:0px;		
	text-transform:uppercase;
	text-align:center;
	margin:10px auto;
}