<article class="single">
	<section class="header" style="background-image:url('/img/homepage/cm-background.jpg');">
		<div class="content">
			<div class="col span-3 empty"></div>
			<div class="col span-6">
				<h1>conspiracy of shadows: core rpg</h1>
		<p><em>Conspiracy of Shadows</em> is a play on the dark gothic fantasy role-playing games I so enjoyed in the 90's. In it you take on the role of the overwhelmed but determined heroes on an impossible quest to save the world from darkness. In doing so you explore gothic castles, face tainted monstrosities, and strive against the agents of a twisted conspiracy.</p>
		<p>This is a game about being the hero. It is about drawing a line in the sand and shaking your fist against the night. It isn't about survival, but about ensuring the world's survival.</p>
			</div>
			<div class="col span-3 empty"></div>
	
		</div>
	</section>
<section class="review continued">
	<div class="content gutters">
		<div class="span-3 col empty"></div>
		<div class="span-6 col">
			<p>After a few years of tinkering and months of writing I finally have a full draft of the core rules. Below is a link to a PDF of the most current draft. It contains all the rules to start play. The draft will be updated as editorial continues. If you are interested in doing some playtesting and providing feedback, let me know over at the <a href="https://www.facebook.com/ConspiracyofShadows/" target="_blank">Conspiracy of Shadows Facebook</a> page and I will send you a printed copy of the most recent draft.</p>
			<p><a href="/downloads/editorial-draft-1.0.pdf" target="_blank" class="button">Conspiracy of Shadows Core - Draft 1.0</a>
</p>
		</div>
		<div class="span-3 col empty"></div>	
	</div>
		<div class="divider"></div>	
</section>
</article>