/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// COLOR STACK
$white 							:#ffffff;

$bright-red						:#b52025;
$deep-red						:#880C0A;
$error-pink						:#FF7876;
$light-pink						:#ffedf2;

$black							:#000000;
$deep-gray						:#333333;
$gray							:#aaaaaa;

$gold							:#f6dcbb;
$warning-gold					:#D8C26C;

$success-green					:#21C023;

@import "normalize";
@import "fonts";
@import "base";
@import "layout";
@import "media-queries";
