<div class="clearfix gutters block">
	<aside class="span-3 col">
		<h4>Cell Archetypes</h4>
		<ul class="unstyled spaced-list">
			<li>The Avenger</li>
			<li>The Explorer</li>
			<li>The Shepherd</li>
			<li>The Traitor</li>
			<li>The Warden</li>
		</ul>		
	</aside>
	<div class="span-6 col">
		<h4>Archetypes</h4>
		<p class="first">Archetypes represent the type of individual on each side in the struggle between the Cult of the Unseen and the Cell. Each one is modeled around a broad set of motivations that power special abilities only they possess in the game. The Archetype remains with the player through the life of the game, being applied to new characters should they die or be retired.</p>
		<h5>The Avenger</h5>
		<p class="first">The Avenger is a character who has been horribly wronged by someone acting on the behalf of the Cult of the Unseen. The character may have been beaten, raped and left for dead, seen their parents murdered before their eyes at a young age, witnessed their spouse slaughtered in a gruesome fashion or any of a myriad of other horrific experiences. Instead of succumbing to the despair of survivor's guilt, they have nurtured their emotions into a weapon to motivate their every action.</p>
		<ol class="spaced-list">
			<li>Pick an individual or group of people that have wronged you in a powerful way. Define how they wronged you and what you will do to avenge this wrong. When you take action to Avenge this wrong, you earn a Doom Die.</li>
			<li>When a target of your wrath is in a Scene you are not currently a part of, you may narrate yourself into the Scene.</li>
			<li>Define a Taint Aura and roll once on the Taint Effects Table.</li>
			<li>Add 2 Doom Dice</li>
		</ol>
		<h5>The Destroyer</h5>
		<p class="first">The Destroyer is the embodiment of the wrath of the Cult of the Unseen. Everything they touch collapses under the weight of the wrath, and no two Destroyers are the same. Some are personifications of power, shattering obstacles in their path with brute force. Others are like wisps that float through the world, spreading rot and ruin.</p>
		<ol class="spaced-list">
			<li>The Destroyer may spend Doom Dice equal to an object's Influence Value to destroy it.</li>
			<li>After murdering someone, spend a Doom Die to bring them back with as a Bloodthirster.</li>
			<li>When someone gains Wound from a Skirmish with the Destroyer, roll twice on the post Skirmish Harm chart and let the Destroyer pick which result applies.</li>
		</ol>
		<h5>The Explorer</h5>
		<p class="first">The Explorer is a character who when faced with the actions of the Cult of the Unseen decided to learn more. While the character fears and loathes the cult, they can't help but be curious about it and it's mysterious purpose. Their weapon is knowledge of their enemy's ways and they seek that knowledge wherever it may lay.</p>
		<ol class="spaced-list">
			<li>Each time the Explorer discovers something new in a Cult of the Unseen temple, you earn a Doom Die.</li>
			<li>Once per Turn, the Explorer can ask the GM where in their current location there is Cult of the Unseen activity. As the cult is everywhere, the GM must answer with a location.</li>
			<li>Once per Scene the Explorer can spend 3 Influence to discover in their gear something useful to the situation at hand.</li>
			<li>Add 1 Doom Die</li>
		</ol>
		<h5>The Pawn</h5>
		<p class="first">There are many Pawns of the Cult of the Unseen. Some know who they are being manipulated by, but most do not, thinking they are pushing their own agenda. Anyone can be a pawn and almost anyone can be turned into one in the right situation.</p>
		<ol class="spaced-list">
			<li>The Pawn can spend one Doom Die to call 1D6 allies into a Scene they are a part of.</li>
			<li>The Pawn can spend 1 Doom Die to reveal one fact about the Cult of the Unseen and steal a Doom Die from each Cell member in the Scene.</li>
			<li>The Pawn can spend 1 Doom Die to acquire any piece of gear for any member of the Cult of the Unseen.</li>
		</ol>
		<h5>The Purifier</h5>
		<p class="first">The Purifier is the moral compass of the Cult of the Unseen, driven by the need to scour the world clean of the impure. While they would use a knife to excise the cancer that infests the world, they also will not hesitate to unleash the Destroyer. They will do whatever it takes to make the world pure.</p>
		<ol class="spaced-list">
			<li>When the Purifier murders someone, they may choose to bind that character's soul to a physical item. This item becomes an Artifact, as defined in the Wyrding section.</li>
			<li>When the Destroyer inflicts a Wound, the Purifier gains a Doom die.</li>
			<li>The Purifier may remove Taint Effects from another character and spend it like Willpower.</li>
			<li>If there is no Destroyer in play, the Purifier may upgrade one Pawn into a Destroyer.</li>
		</ol>
		<h5>The Savior</h5>
		<p class="first">The Savior is the prophesied one sent by the Unseen to guide the masses to enlightenment. They are the one the masses will turn to for leadership, enlightenment, and guidance. It does not matter that all they want is to see the world burn.</p>
		<ol class="spaced-list">
			<li>The Savior does not have to be in the Scene and can operate through proxies.</li>
			<li>The Savior does not suffer any penalties to die rolls brought on by physical Wounds.</li>
			<li>Once per Turn the Savior may remove all Wounds from any one character in the game.</li>
			<li>Once per Turn the Savior may resurrect any dead character. That character automatically becomes a Pawn.</li>
			<li>When facing a crowd, the Savior may give a speech to incite the crowd to taking a specific action (e.g. burn down the quarter, hunt for a person). The Savior makes a Temperament Challenge against a Difficulty of 4.</li>
		</ol>
		<h5>The Shepherd</h5>
		<p class="first">The Shepherd is a character who believes in the strength and power of a group working together over the wants and needs of the individual. When they look at the Cult of the Unseen, they are not blinded by it's evil, but see the power it wields by working together. Everything they do stems from the core belief that the Cell is greater than it's individual parts.</p>
		<ol class="spaced-list">
			<li>Each time the Shepherd convinces the other members of the Cell to follow his plan of action over others or their own agenda's, they earn a Doom Die.</li>
			<li>Once per Turn, the Shepherd can narrate all the members of the Cell into a Scene together.</li>
			<li>Add +3 to the character's Willpower Pool</li>
			<li>Add 1 Doom Die</li>
		</ol>
		<h5>The Sovereign</h5>
		<p class="first">The Sovereign is the invisible hand that guides the Cult of the Unseen. It is they that know the true purpose of their gods. It is they who manipulate the world like a chess master, moving pieces as they see fit towards an enigmatic goal only they are aware of.</p>
		<ol class="spaced-list">
			<li>The Sovereign does not have to be in a Scene to use one of their abilities to impact that scene.</li>
			<li>The Sovereign can attempt to turn a character to work for the Cult of the Unseen as a Pawn by simply speaking with them. The Sovereign makes an opposed Temperament Challenge role against the target, with each of the target's Taint Effects granting the Sovereign a Bonus Die.</li>
			<li>The Sovereign may murder a Pawn to gain Doom Dice equal to the Temperament of the Pawn</li>
			<li>Once per Turn the Game Master may ask a player a yes/no question about their character which they must answer truthfully.</li>
			<li>Has a +1A to cast any Wyrding.</li>
		</ol>
		<h5>The Traitor</h5>
		<p class="first">The Traitor was once a member of the Cult of the Unseen, knowingly doing the bidding of an unstoppable evil force. Eventually they saw the error of their ways, either on their own or with the help of another Cell member. Now they work tirelessly to bring a sharp end to the evil in an effort to atone for their myriad of sins.</p>
		<ol class="spaced-list">
			<li>Pick or create a character. That character is the one the Traitor must prove that their past is behind them to. When the Traitor takes action to prove themselves to this character they earn a Doom Die.</li>
			<li>Once per Turn, the Traitor may ask the Game Master a question about the Cult of the Unseen. The GM must answer truthfully.</li>
			<li>Add +3 to the character's Influence Pool</li>
			<li>Add 2 Doom Die</li>
		</ol>
		<h5>The Warden</h5>
		<p class="first">The Warden is a character driven by a need to protect those who cannot protect themselves. They are the guardian angel standing before the Cult of the Unseen declaring "No harm shall come to you while I watch." It is their all consuming drive to protect the defenseless in any way they can.</p>
		<ol class="spaced-list">
			<li>Pick or create a character. That character is the Warden's charge and must be protected at all costs. When the Warden takes action to defend this character, they earn a Doom Die.</li>
			<li>When the target of your protection is in a Scene that the Warden is not currently a part of, you may narrate yourself into the Scene.</li>
			<li>Add +3 to the character's Vitality Pool</li>
			<li>Add 1 Doom Die</li>
		</ol>
	</div>
	<aside class="span-3 col">
		<h4>Conspiracy Archetypes</h4>
		<ul class="unstyled spaced-list">
			<li>The Destroyer</li>
			<li>The Pawn</li>
			<li>The Purifier</li>
			<li>The Savior</li>
			<li>The Sovereign</li>
		</ul>		
	</aside>
</div>
