<div class="clearfix gutters block" id="characters">
	<aside class="span-3 col">
		<h4>Character Creation Steps</h4>
		<ol class="spaced-list">
			<li>Select an Archetype</li>
			<li>Create a Background</li>
			<li>Select a Class</li>
			<li>Purchase Gear</li>
		</ol>		
	</aside>
	<div class="span-6 col">
		<hr>
		<h3>Selecting Roles</h3>
		<p class="first"><em>The Mountain</em> is intended for three to six players who will play out the confrontation between the Cell and the Cult of the Unseen. Prior to play beginning, one player takes on the role of the Game Master and the other players take on the role of a Cell member.</p>
		<p>Taking the role of a Cell member is similar to a character for any number of role playing games. You first select one of the five archetypes, create a background, select a class and finally purchase gear. With all of that done, it is your responsibility to take that framework and bring it to life through play. You frame the character's actions, role dice, and play to the character's motivations.</p>
		<p>The Game Master has the more daunting task of pacing the game, framing scenes, and providing much of the color of the world the characters are journeying through in <em>The Mountain</em>. In this way it is much like the role of a GM in other role playing games only with a specific structure and archetypes to work with.</p>
		<p>At the start of play, each player selects a role and an archetype. They then place the Cell token on the map at the Great City of Cidiero. The Game Master selects an Adversary (found in the last section) and couples it with the Sovereign, Purifier, Savior and Pawn Archetypes. The GM then places a marker for each face down somewhere on the map between the Great City and the Mountain.</p>
	</div>
	<aside class="span-3 col">
		<h4>Game Master Conspiracy Creation</h4>
		<ol class="spaced-list">
			<li>Select an Archetype</li>
			<li>Select an Adversary</li>
			<li>Purchase Gear</li>
			<li>Place on the Map</li>
		</ol>		
	</aside>
</div>
