<div class="clearfix gutters block" id="classes">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h4>Classes</h4>
		<p class="first">The members of the Cell are extraordinary people driven by a desperate need to halt the machinations of the Cult of the Unseen. They are heroes on a quest, taking on a challenge lesser men and women would flee from if they knew of it. They are the ones who fight against the dying of the light for us all.</p>
		<p>The capabilities of these characters are defined by their class. A class is one part worldview and one part skills. Each represents the lifestyle of an individual that is no stranger to misfortune and the challenges of the world. In the case of the Cell though, they are the ones who have answered a greater calling than their adventurous starting point. When creating a character for the first time you may select any two Talents you meet the requirements for.</p>
		{% include mountain/classes/ana-sister.html %}
		<h4>General Talents</h4>
		{% include mountain/classes/talents.html %}
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>
<div class="clearfix gutters block">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h4>Assign Traits</h4>
		<p class="first">When assigning Traits, you assigning numbers following the pattern of 6/5/4/4/3/3/2/2. With these numbers in place you can derive your Vitality, Influence and Willpower Pools. When putting together your Pools, make sure to account for any bonuses based on your Talent choices.</p>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>
