<div class="clearfix gutters block" id="basic-mechanic">
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<hr>
		<h3>Basic Mechanics</h3>
		<p class="first">The basic mechanic has two parts. One is a resource management mechanic tied to the character's three main resources and the other is the actual dice. When a character falls into opposition with the Game Master, meaning the Game Master has decided to say no to the player's narration of events, the GM first determines what kind of Challenge the character must overcome.</p>
		<p>Challenges fall into three broad types; Physical, Mental and Social. These categories dictate how many successes the player must roll, the duration of any Harm that may be assigned them should they fail, and the cost to the character's appropriate resource. Vitality is required to engage in any physical activity, Influence for any social activity, and Willpower can be used for any physical, mental or Wyrding activity.</p>
		<blockquote>
			<p>The adversity a character must overcome is called the Difficulty and is dictated by the GM based upon the context of the situation. It is either a fixed number or equal to the number of successes rolled in opposition to the character.</p>
		</blockquote>
		<table id="dificulty-table">
			<caption>
				Difficulty Table
			</caption>
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>Difficulty</th>
					<th>Cost</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Tough</td>
					<td>2</td>
					<td>1</td>
				</tr>
				<tr>
					<td>Challenging</td>
					<td>3</td>
					<td>2</td>
				</tr>
				<tr>
					<td>Formidable</td>
					<td>4</td>
					<td>3</td>
				</tr>
				<tr>
					<td>Heroic</td>
					<td>5</td>
					<td>4</td>
				</tr>
				<tr>
					<td>Super Heroic</td>
					<td>6</td>
					<td>5</td>
				</tr>
				<tr>
					<td>Supernatural</td>
					<td>7</td>
					<td>6</td>
				</tr>
			</tbody>
		</table>
		<p class="first">To resolve a Challenge the player rolls a number of six sided dice equal to the Trait appropriate to the Challenge plus or minus dice dictated by Advantages (+1A) and Disadvantages (+1D). Advantages and Disadvantages are the result of environmental effects, the character's Skills, and Harm caused by previous Challenges. If the roll is opposed by another character directly, the Difficulty is the number of success the opponent makes with their own roll.</p>
		<blockquote>
			<p>In <em>The Mountain</em> you roll handfuls of six sided dice to resolve situations. Each die in each roll counts as it's own result, either being successful or failure. A roll of 4, 5, or 6 counts as a success, while a roll of 1, 2, or 3 counts as a failure.</p>
		</blockquote>
		
		<p> A Success is a roll on each die of 4, 5, or 6. The number of Successes are added together and then compared against the Difficulty of the Challenge.When a player rolls more Successes (s) than the Difficulty, they achieve their goal, whatever it may be.</p>
		<p>When a player fails the roll, the GM has two options they can pursue. They can either deny the character what they want (boring), give the character what they want and assign them Harm or give the character what they want and add a complication to their plan.</p>
		<p>Harm is essentially a condition that applies a +1D to a specific set of circumstances for a specific set of time. The time is lasts a number of Turns equal to the cost and the circumstances are based on the context of the situation as interpreted by the GM.</p>
		<h4 id="harm-examples">Harm Examples</h4>
		<ul class="spaced-list unstyled">
			<li>Blindness</li>
			<li>Confused</li>
			<li>Exhausted</li>
			<li>Hungry</li>
			<li>Illness</li>
			<li>Minor Injury</li>
			<li>Uncontrollable Anger</li>
		</ul>
		<p>Complications are narrative elements that shift the story in another direction as defined by the Game Master. It could be the introduction of a new villain, the destruction of some important gear, a distracting side quest, or even the loss of a key relationship. The GM has the opportunity to really show how consequential the failure really is.</p>
	</div>
	<aside class="span-3 col empty">&nbsp;		
	</aside>
</div>
