<nav id="toc">
	<h4>Table of Contents <span class="toggle open">></span></h4>
	<ol class="spaced-list upper-roman toc">
		<li class="parent"><a href='#introduction'>Introduction</a>
			<ol class="spaced-list lower-roman child">
				<li><a href="#structure-play">Structure of Play</a></li>
				<li><a href="#basic-mechanic">The Basic Mechanic</a></li>
				<li><a href="#dificulty-table">The Difficulty Table</a></li>
				<li><a href="#harm-examples">Harm Examples</a></li>
				<li><a href='#doom-dice'>Doom Dice</a></li>
			</ol>
		</li>
		<li class="parent"><a href='#doom-dice'>Doom Dice</a>
			<ol class="spaced-list lower-roman child">
				<li><a href="#visions-torment">Visions of Torment Table</a></li>
			</ol>
		</li>
		<li class="parent"><a href='#traits-intro'>Traits &amp; Talents</a>
			<ol class="spaced-list lower-roman child">
				<li><a href="#traits">Traits</a></li>
				<li><a href="#derived-traits">Derived Traits</a></li>
				<li><a href="#talents">Talents</a></li>
			</ol>
		</li>
		<li class="parent"><a href='#characters'>Characters</a>
			<ol class="spaced-list lower-roman child">
				<li><a href="#archetypes">Choose an Archetypes</a></li>
				<li><a href="#backgrounds">Create a Background</a>
				<ol class="spaced-list">
					<li><a href="#choose-culture">Choose a Culture</a></li>
					<li><a href="#personal-history">Generate Personal History &amp; Friend</a></li>
				</ol>
				</li>
				<li><a href="#classes">Choose a Class</a>
					<ol class="spaced-list">
						<li><a href="#ana-sister">Ana Sister</a></li>
						<li><a href="#archivist">Archivist</a></li>
						<li><a href="#caravan-master">Caravan Master</a></li>
						<li><a href="#guildsman">Guildsman</a></li>
						<li><a href="#imperial-guardsman">Imperial Guardsman</a></li>
						<li><a href="#kole">Kole</a></li>
						<li><a href="#inquisidor">Inquisidor</a></li>
						<li><a href="#sell-sword">Sell Sword</a></li>
						<li><a href="#sual">Sual</a></li>
					</ol>
				</li>
				<li><a href="#general-talents">Choose a General Talent</a></li>
				<li><a href="#network">Assign Network</a></li>
				<li><a href="#gear">Purchase Gear</a></li>
			</ol>
		</li>
		<li class="parent"><a href='#playing-the-game'>Playing the Game</a>
			<ol class="spaced-list lower-roman child">
				<li><a href="#play-structure">Play Structure</a></li>
				<li><a href="#advancement">The Journey</a></li>
				<li><a href="#advancement">Advancement</a></li>
				<li><a href="#advancement">Character Death</a></li>
			</ol>
		</li>
		<li class="parent"><a href='#skirmishes'>Skirmishes</a>
			<ol class="spaced-list lower-roman child">
				<li><a href="#terrain-table">Terrain Table</a></li>
				<li><a href="#round-sequence">Recovery Phase</a></li>
				<li><a href="#round-sequence">Determine Tempo</a></li>
				<li><a href="#round-sequence">Movement</a></li>
				<li><a href="#round-sequence">Range Attacks</a></li>
				<li><a href="#round-sequence">Melee Attacks</a></li>
				<li><a href="#round-sequence">Damage</a></li>
				<li><a href="#round-sequence">Morale</a></li>
				<li><a href="#round-sequence">Advantages &amp; Disadvantages</a></li>
				<li><a href="#round-sequence">Wyrding</a></li>
				<li><a href="#round-sequence">Winning &amp; Losing</a></li>
				<li><a href="#round-sequence">Aftermath</a></li>
			</ol>
		</li>
		<li class="parent"><a href='#the-wyrding'>The Wyrding</a>
			<ol class="spaced-list lower-roman child">
				<li><a href="#structure-play">Effects</a></li>
				<li><a href="#structure-play">Scope</a></li>
				<li><a href="#structure-play">Duration</a></li>
				<li><a href="#structure-play">Named Wyrds</a></li>
				<li><a href="#structure-play">Consequences of Failure</a></li>
				<li><a href="#structure-play">Rituals</a>
					<ol class="spaced-list">
						<li><a href="#ana-sister">Necromancy</a></li>
						<li><a href="#archivist">Exocrism</a></li>
						<li><a href="#caravan-master">Enchantment</a></li>
						<li><a href="#guildsman">Summoning</a></li>
					</ol>
				</li>
			</ol>
		</li>
		<li class="parent"><a href='#taint'>Taint</a>
			<ol class="spaced-list lower-roman child">
				<li><a href="#structure-play">Taint Modifier Tables</a></li>
				<li><a href="#structure-play">Taint Sinkholes</a></li>
				<li><a href="#structure-play">Becoming Tainted</a></li>
			</ol>
		</li>
		<li class="parent"><a href='#adversaries'>Adversaries</a>
			<ol class="spaced-list lower-roman child">
				<li><a href="#structure-play">The Tainted</a></li>
			</ol>
		</li>
	</ol>
</nav>
