<nav id="toc">
	<h4>Table of Contents</h4>
</nav>
<nav class="toc">
	<ol class="spaced-list upper-roman">
		<li class="parent"><a href='#introduction'>Introduction</a>
			<ol class="spaced-list lower-roman child">
				<li><a href="#what-about">What is the Game About?</a></li>
				<li><a href="#player-gm">Roles &amp; Responsibilities</a></li>
				<li><a href="#kind-of-game">What Kind of Game is This?</a></li>
				<li><a href="#what-you-need">What You Need to Play</a></li>
				<li><a href="#playing-the-game">Playing the Game</a></li>
				<li><a href='#structure-play'>Structure of Play</a></li>
				<li><a href='#character-sheet'>The Character Sheet</a></li>
				<li><a href='#terminology'>Terminology</a></li>
			</ol>
		</li>
		<li class="parent"><a href='#characters'>Creating a Character</a>
			<ol class="spaced-list lower-roman child">
				<li><a href="#the-cell">The Cell</a></li>
				<li><a href="#the-character">Anatomy of a Character</a></li>
				<li><a href="#archetypes">Choose Your Archetypes</a></li>
				<li><a href="#culture">Choose Your Culture &amp; Name</a></li>
				<li><a href="#class">Choose Your Class</a>
					<ol class="spaced-list">
						<li><a href="#ana-sister">Ana Sister</a></li>
						<li><a href="#archivist">Archivist</a></li>
						<li><a href="#caravan-master">Caravan Master</a></li>
						<li><a href="#guildsman">Guildsman</a></li>
						<li><a href="#imperial-guardsman">Imperial Guardsman</a></li>
						<li><a href="#kole">Kole</a></li>
						<li><a href="#inquisidor">Inquisidor</a></li>
						<li><a href="#sell-sword">Sell Sword</a></li>
						<li><a href="#sual">Sual</a></li>
					</ol>
				</li>
				<li><a href="#history">What is Your History?</a></li>
				<li><a href="#network">Who Do You Know?</a></li>
				<li><a href="#traits">Assign Traits</a></li>
				<li><a href="#additional-talent">Select An Additional Talent</a></li>
				<li><a href="#gear">The Things You Carry</a></li>
			</ol>
		</li>
		<li class="parent"><a href='#journey-begins'>The Journey-Begins</a>
			<ol class="spaced-list lower-roman child">
				<li><a href="#first-game">Your First Game</a></li>
				<li><a href="#litany-heroes">The Litany of Heroes</a></li>
				<li><a href="#leader">The Leader</a></li>
				<li><a href="#missing-session">Missing a Session</a></li>
				<li><a href="#challenges-skirmishes">Challenges vs. Skirmishes</a></li>
				<li><a href="#advancement">Advancement</a></li>
				<li><a href="#taint">Taint</a></li>
				<li><a href="#doom">Doom</a></li>
				<li><a href="#being-gm">Being the GM</a></li>
				<li><a href="#journey-mechanics">Journey Mechanics</a></li>
				<li><a href="#building-arc">Building an Arc</a></li>
				<li><a href="#twists-conditions">Twists &amp; Conditions</a></li>
				<li><a href="#loot">Loot</a></li>
			</ol>
		</li>
		<li class="parent"><a href='#skirmishes'>Skirmishes</a>
			<ol class="spaced-list lower-roman child">
				<li><a href="#terrain-table">Terrain</a></li>
				<li><a href="#sequence-play">Sequence of Play</a></li>
				<li><a href="#tempo">Determine Tempo</a></li>
				<li><a href="#movement">Movement</a></li>
				<li><a href="#ranged-attacks">Ranged Attacks</a></li>
				<li><a href="#melee-attacks">Melee Attacks</a></li>
				<li><a href="#wounds">Wounds</a></li>
				<li><a href="#morale">Morale</a></li>
				<li><a href="#adv-dis">Advantages &amp; Disadvantages</a></li>
				<li><a href="#wyrding-skirm">Wyrding in Skirmishes</a></li>
				<li><a href="#winning-losing">Winning &amp; Losing</a></li>
				<li><a href="#aftermath">Aftermath</a></li>
			</ol>
		</li>
		<li class="parent"><a href='#the-wyrding'>The Wyrding</a>
			<ol class="spaced-list lower-roman child">
				<li><a href="#effects">Effects</a></li>
				<li><a href="#scope">Scope</a></li>
				<li><a href="#duration">Duration</a></li>
				<li><a href="#consequences">Consequences</a></li>
				<li><a href="#true-names">True Names</a></li>
				<li><a href="#rituals">Rituals</a>
					<ol class="spaced-list">
						<li><a href="#necromancy">Necromancy</a></li>
						<li><a href="#exorcism">Exorcism</a></li>
						<li><a href="#enchantment">Enchantment</a></li>
						<li><a href="#summoning">Summoning</a></li>
					</ol>
				</li>
			</ol>
		</li>
		<li class="parent"><a href='#adversaries'>Adversaries</a>
			<ol class="spaced-list lower-roman child">
				<li><a href="#the-tainted">The Tainted</a></li>
			</ol>
		</li>
	</ol>
	
</nav>