<div class="clearfix gutters block" id="taint">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<hr>
		<h3>Taint</h3>
		<p class="first">Taint is the potential corruption of a character brought on by following a character's dark impulses and through encounters with the supernatural. This corruption is both a descent into evil and the progressive loss of a character's humanity. The corruption infuses the character and slowly removes what makes them human.</p>
		<p>Whenever a character takes an action that puts their humanity in jeopardy consult the Taint Modifier table. Add that modifier to a D666 roll. If the result is 666 or greater, the character then rolls on the Taint Effects Table.</p>
		<table>
			<caption>Taint Modifier Table</caption>
			<thead>
				<tr>
					<th>Action</th>
					<th>Modifier</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Crime of Passion</td>
					<td>+40</td>
				</tr>
				<tr>
					<td>Betrayal</td>
					<td>+60</td>
				</tr>
				<tr>
					<td>Breaking a Tenet of Faith</td>
					<td>+30</td>
				</tr>
				<tr>
					<td>Breaking an Oath</td>
					<td>+60</td>
				</tr>
				<tr>
					<td>Defilement</td>
					<td>+50</td>
				</tr>
				<tr>
					<td>Premeditated Murder</td>
					<td>+70</td>
				</tr>
				<tr>
					<td>Wyrding</td>
					<td>+10 per Difficulty</td>
				</tr>
			</tbody>
		</table>
		<h4>Taint Sinkholes</h4>
		<p class="first">The world in many ways is shaped by the passion and fear of those that came before. Emotions linger, warping the land and creating sinkholes of Taint. These sinkholes, resolve is weakened, baser instincts are embraced, and in some cases, previous acts of evil repeat through possessed mortal proxies. </p>
		<p>INSERT DETAILS ON SINKHOLES CAUSING TAINT, HORROR/FEAR, AND MANIFESTING</p>
		<h4>Becoming Tainted</h4>
		<p class="first">When a character first becomes Tainted, they gain an aura. It is a subtle hint of the otherworldly power that has begun to infuse the character. Add to your character sheet what this subtle aura is. It could be a constant rustling of wind that surrounds the character, a particular odor, or any other colorful effect.</p>
		<p>After this initial effect, any additional Taint requires the player to roll D66 on the following chart. You may also select an option if you wish to maintain a theme for your character. Update your character sheet with the following details:</p>
		<table>
			<caption>Taint Effects Table</caption>
			<thead>
				<tr>
					<th>D66 Roll</th>
					<th>Effect</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						11
					</td>
					<td>
						Always speaks in a whisper, leaning in uncomfortably close.
					</td>
				</tr>
				<tr>
					<td>
						12
					</td>
					<td>
						Makes no sound walking about, despite what the character is wearing.
					</td>
				</tr>
				<tr>
					<td>
						13
					</td>
					<td>
						Unblinking.
					</td>
				</tr>
				<tr>
					<td>
						14
					</td>
					<td>
						Unable to make eye contact.
					</td>
				</tr>
				<tr>
					<td>
						15
					</td>
					<td>
						Suffers from stigmata.
					</td>
				</tr>
				<tr>
					<td>
						16
					</td>
					<td>
						Sounds seem muffled when they are near.
					</td>
				</tr>
				<tr>
					<td>
						17
					</td>
					<td>
						Jaw is locked shut, forcing the character to speak through clenched teeth.
					</td>
				</tr>
				<tr>
					<td>
						18
					</td>
					<td>
						Dogs bark whenever near the character.
					</td>
				</tr>
				<tr>
					<td>
						19
					</td>
					<td>
						Raises the hair on people's necks when within a few feet.
					</td>
				</tr>
				<tr>
					<td>
						20
					</td>
					<td>
						One eye appears to be glazed over and dead.
					</td>
				</tr>
				<tr>
					<td>
						21
					</td>
					<td>
						Sweats constantly.
					</td>
				</tr>
				<tr>
					<td>
						22
					</td>
					<td>
						Nose trickles blood at random moments.
					</td>
				</tr>
				<tr>
					<td>
						23
					</td>
					<td>
						Fingers and hands constantly twitch.
					</td>
				</tr>
				<tr>
					<td>
						24
					</td>
					<td>
						Has tattoos that seem to shift and move out of the corner of your eye.
					</td>
				</tr>
				<tr>
					<td>
						25
					</td>
					<td>
						Eyes are black pools like a shark.
					</td>
				</tr>
				<tr>
					<td>
						26
					</td>
					<td>
						Smells like rotting meat.
					</td>
				</tr>
				<tr>
					<td>
						27
					</td>
					<td>
						 Teeth are sharp like a predators.
					</td>
				</tr>
				<tr>
					<td>
						28
					</td>
					<td>
						Lips are a bright purple.
					</td>
				</tr>
				<tr>
					<td>
						29
					</td>
					<td>
						Completely hairless.
					</td>
				</tr>
				<tr>
					<td>
						30
					</td>
					<td>
						Can only stomach raw meat.
					</td>
				</tr>
				<tr>
					<td>
						31
					</td>
					<td>
						Body covered with lesions.
					</td>
				</tr>
				<tr>
					<td>
						32
					</td>
					<td>
						Hears a constant hum of whispers.
					</td>
				</tr>
				<tr>
					<td>
						33
					</td>
					<td>
						Skin is almost translucent.
					</td>
				</tr>
				<tr>
					<td>
						34
					</td>
					<td>
						Face trapped in a rictus grin.
					</td>
				</tr>
				<tr>
					<td>
						35
					</td>
					<td>
						Flies are a constant presence around them.
					</td>
				</tr>
				<tr>
					<td>
						36
					</td>
					<td>
						Mutters the same prayer under their breath compulsively.
					</td>
				</tr>
				<tr>
					<td>
						37
					</td>
					<td>
						Eyes have taken on the aspect of a snake.
					</td>
				</tr>
				<tr>
					<td>
						38
					</td>
					<td>
						Forked tongue.
					</td>
				</tr>
				<tr>
					<td>
						39
					</td>
					<td>
						Unable to maintain weight and has a skeletal appearance.
					</td>
				</tr>
				<tr>
					<td>
						40
					</td>
					<td>
						Has grown a tail.
					</td>
				</tr>
				<tr>
					<td>
						41
					</td>
					<td>
						Skin is constantly peeling.
					</td>
				</tr>
				<tr>
					<td>
						42
					</td>
					<td>
						Has grown small horns just above the hairline.
					</td>
				</tr>
				<tr>
					<td>
						43
					</td>
					<td>
						Eyes glow red in the darkness.
					</td>
				</tr>
				<tr>
					<td>
						44
					</td>
					<td>
						Wracked by bloody coughing fits.
					</td>
				</tr>
				<tr>
					<td>
						45
					</td>
					<td>
						Eyes tear up with blood.
					</td>
				</tr>
				<tr>
					<td>
						46
					</td>
					<td>
						A third eye has sprouted on their body somewhere.
					</td>
				</tr>
				<tr>
					<td>
						47
					</td>
					<td>
						Covered in a constant rash.
					</td>
				</tr>
				<tr>
					<td>
						48
					</td>
					<td>
						Cannot abide sunlight.
					</td>
				</tr>
				<tr>
					<td>
						49
					</td>
					<td>
						Has hair growing on their palms.
					</td>
				</tr>
				<tr>
					<td>
						50
					</td>
					<td>
						Ring fingers have grown longer than other fingers.
					</td>
				</tr>
				<tr>
					<td>
						51
					</td>
					<td>
						Wounds heal over with a waxy substance rather than skin.
					</td>
				</tr>
				<tr>
					<td>
						52
					</td>
					<td>
						Patches of skin have taken on a rocky look and feel.
					</td>
				</tr>
				<tr>
					<td>
						53
					</td>
					<td>
						Fires suddenly glow brighter when they are near.
					</td>
				</tr>
				<tr>
					<td>
						54
					</td>
					<td>
						Skin is ice cold to the touch, even chilling cups in their hand.
					</td>
				</tr>
				<tr>
					<td>
						55
					</td>
					<td>
						Ears have taken on a sharp, pointed shape.
					</td>
				</tr>
				<tr>
					<td>
						56
					</td>
					<td>
						Skin has taken on a blueish white color.
					</td>
				</tr>
				<tr>
					<td>
						57
					</td>
					<td>
						Skin is overly dry. Constantly cracking and bleeding.
					</td>
				</tr>
				<tr>
					<td>
						58
					</td>
					<td>
						Smells faintly of blood.
					</td>
				</tr>
				<tr>
					<td>
						59
					</td>
					<td>
						Their blood is black and smells foul.
					</td>
				</tr>
				<tr>
					<td>
						60
					</td>
					<td>
						Radiates heat enough that when they touch water it noticeably warms.
					</td>
				</tr>
				<tr>
					<td>
						61
					</td>
					<td>
						Skin has taken on a greenish color with a hint of scales.
					</td>
				</tr>
				<tr>
					<td>
						62
					</td>
					<td>
						Vermin become bold when they are around.
					</td>
				</tr>
				<tr>
					<td>
						63
					</td>
					<td>
						Does not cast a reflection.
					</td>
				</tr>
				<tr>
					<td>
						64
					</td>
					<td>
						Lights dim when they enter a room.
					</td>
				</tr>
				<tr>
					<td>
						65
					</td>
					<td>
						Glows softly in darkness.
					</td>
				</tr>
				<tr>
					<td>
						66
					</td>
					<td>
						Select an Adversary with the Tainted Descriptor and apply those Talents to your character.
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>