<div class="clearfix gutters block" id="traits">
	<aside class="span-3 col empty">
		&nbsp;
	</aside>
	<div class="span-6 col">
		<hr>
		<h3>Traits &amp; Talents</h3>
		<p class="first">Traits are what define the capabilities of characters in the game. Each trait has a number associated with it to indicate the base number of dice rolled in a Challenge. The traits also have a description to identify what things are possible using it. If anything you characters wish to try does not fall under one of the traits, the Master chooses the closest approximation.</p>
		<div class="clearfix">
			<ul class="spaced-list unstyled span-6 col">
				<li>Athleticism<br><small>Atheleticism is the measure of a character's physical capabilities. It is used in Challenges for any physical action not covered by the other traits.</small></li>
				<li>Temperament<br><small>Temperament is a measure of a character's strength of personality. It is used in Challenges for psychological actions not covered by other traits.</small></li>
				<li>Leadership<br><small>Leadership is a measure of a character's charisma and self control. It is used in Challenges for command-based pursuits.</small></li>
				<li>Wyrd<br><small>Wyrd is the measure of a character's ability to manipulate the Wyrd to shape reality to their will. It is used to resolve Rituals and in Wyrdings.</small></li>
			</ul>
			<ul class="spaced-list unstyled span-6 col">
				<li>Skullduggery<br><small>Skullduggery is a measure of a character's ability to engage in underhanded and sneaky deeds. It is used in Challenges covering criminal behaviors and generally stealthy behavior.</small></li>
				<li>Craftsmanship<br><small>Craftsmanship is a measure of a character's ability to create, be it music or a horseshoe. It is used to resolve Challenges centered on the act of creation.</small></li>
				<li>Fighting<br><small>Fighting is a measure of a character's ability to fight and defend themselves. It is used primarily as a part of Skirmishes.</small></li>
			</ul>		
		</div>
		<p class="first">Derived traits are the resources you manage throughout play. They are pools spent to engage in Challenges, fight Duels, and perform Wyrdings and Rituals. Each is derived by combining specific traits.</p>
		<ul class="spaced-list unstyled">
			<li>Vitality<br><small>Temperament + Athleticism + Fighting + Skullduggery</small></li>
			<li>Vitality Recovery<br><small>Athleticism</small></li>
			<li>Influence<br><small>Leadership + Temperament</small></li>
			<li>Influence Recovery<br><small>Network Size</small></li>
			<li>Willpower<br><small>Wyrd + Temperament</small></li>
			<li>Willpower Recovery<br><small>Temperament</small></li>
		</ul>			
		<p class="first">Talents are special abilities the character has that provide some sort of advantage. The nature of each talent is outlined in its description and can only be used in the defined manner and context. Some provide call on abilities to do something in play while others provide additions to the character's Network, improve the character's Derived Traits, or specific Resources.</p>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>
