/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Allerta+Stencil);

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 100%;
	font-family:'Open Sans', sans-serif;
}

a {
    color: #685c39;
	text-decoration:none;

}

a:visited {
    color: #685c39;
}

a:hover {
    color: #e1002c;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#main{
	height:100%;
	min-height:480px;
	width:100%;
	margin:0px auto 50px auto;
	background:url(../img/start-screen/mobile.jpg) no-repeat;
	background-size:cover;
}
#content{
	width:100%;
	padding: 0px;
	width:300px;
	margin:20px auto 20px auto;
	background-color: rgba(34, 34, 34, 0.6);
	padding:5px;
	font-size:90%;
	line-height:140%;
	border-radius:8px;
}
.play-mp3{
	cursor:pointer;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Allerta Stencil', sans-serif;
}

#content hgroup{
	padding:3px;
}
#content hgroup h1{
	margin:0px 0px 20px 0px;
	font-size:370%;
	color:#ebebeb;
	line-height:105%;
}
#content hgroup h2{
	margin:5px 0px 0px;
	font-size:125%;
	color:#ebebeb;
	margin:0px 0px 20px 0px;
}
#content #biography{
	color:#ebebeb;
}
#recent-things ul, #social-media ul{
	list-style:none;
	padding:0;
	margin:10px 0px;
	width:290px;
	margin:0 auto;
}
#recent-things ul li, #social-media ul li{
	text-indent:-99999px;
	display:inline-block;
	float:left;
	margin:12px;
	border-radius:8px;
}
#recent-things ul li a, #social-media ul li a{
	display:block;
	height:100%;
	width:100%;
}
#rule{
	opacity: 0.4;
	margin:15px -1px;
	height:2px;
	width:auto;
}
#rule hr{
	border-top:1px solid #000000;
	border-bottom:1px solid #ffffff;
	margin:0;
	line-height:1px;
	height:0;
	filter:alpha(opacity=15);
	opacity:.15;
}
/* ==========================================================================
   Recent Things
   ========================================================================== */

#apprentice-behance{
	background:url(../img/behance-apprentice.jpg) no-repeat;
	height:48px;
	width:48px;
	background-size:cover;
}
#apprentice-book{
	background:url(../img/apprentice-game.jpg) no-repeat;
	height:48px;
	width:48px;
	background-size:cover;
}
#cos-tarot{
	background:url(../img/cos-tarot.jpg) no-repeat;
	height:48px;
	width:48px;
	background-size:cover;
}

#dreamhouse{
	background:url(../img/barbie-twitter.jpg) no-repeat;
	height:48px;
	width:48px;
	background-size:cover;	
}
#casa{
	background:url(../img/casa.jpg) no-repeat;
	height:48px;
	width:48px;
	background-size:cover;	
}

/* ==========================================================================
   Social Media
   ========================================================================== */

#linkedin{
	background:url(../img/linkedin.jpg) no-repeat;
	height:48px;
	width:48px;
	background-size:cover;
}
#twitter{
	background:url(../img/twitter.jpg) no-repeat;
	height:48px;
	width:48px;
	background-size:cover;
}
#google-plus{
	background:url(../img/google-plus.jpg) no-repeat;
	height:48px;
	width:48px;
	background-size:cover;	
}
#tumblr{
	background:url(../img/my-tumblr.jpg) no-repeat;
	height:48px;
	width:48px;
	background-size:cover;	
}

#recipes{
	background:url(../img/recipes.jpg) no-repeat;
	height:48px;
	width:48px;
	background-size:cover;
}
#behance{
	background:url(../img/behance.jpg) no-repeat;
	height:48px;
	width:48px;
	background-size:cover;
}
#untitled{
	background:url(../img/untitled.jpg) no-repeat;
	height:48px;
	width:48px;
	background-size:cover;	
}
#youtube{
	background:url(../img/youtube.jpg) no-repeat;
	height:48px;
	width:48px;
	background-size:cover;	
}

/* ==========================================================================
   FOOTER
   ========================================================================== */

footer{
	background-color: #DF7718; 
	border-bottom:4px solid #bdbdbd;
	padding:3px 0px;
	color:#FFFFFF;
	position:relative;
	position: relative;
	margin-top: -50px; /* negative value of footer height */
	height: 50px;
	clear:both;
}
footer p{
	font-size:60%;
	text-align:right;
	padding-right:20px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width:480px){
	#main{
		min-height:320px;
		background:url(../img/start-screen/full-size.jpg) no-repeat;
		background-size:cover;
	}
	#content{
		width:460px;
	}
}
@media only screen and (min-width:600px){
	#main{
		min-height:800px;
		background:url(../img/start-screen/full-size.jpg) no-repeat;
		background-size:cover;
	}
	#content{
		margin:35px 0px 0px 15px;
		width:580px;
	}
	#recent-things ul, #social-media ul{
		width:100%;
	}
	
}
@media only screen and (min-width:768px){
	#main{
		min-height:1024px;
		background:url(../img/start-screen/full-size.jpg) no-repeat;
		background-size:cover;
	}
	#content{
		width:640px;
		margin:35px 0px 0px 15px;
	}
	#recent-things ul, #social-media ul{
		width:100%;
	}

}
@media only screen and (min-width: 800px) {
	#main{
		min-height:600px;
		background:url(../img/start-screen/full-size.jpg) no-repeat;
		background-size:cover;
	}
	#content{
		margin:35px 0px 0px 15px;
		width:640px;
	}
	#recent-things ul, #social-media ul{
		width:100%;
	}


}
@media only screen and (min-width:1024px){
	#main{
		min-height:622px;
		background:url(../img/start-screen/full-size.jpg) no-repeat;
		background-size:cover;
	}
	#content{
		width:640px;
		margin:35px 0px 0px 15px;
	}
	#recent-things ul, #social-media ul{
		width:100%;
	}


}





@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}
