<section id="patreon">
	<div class="content">
		<div class="col span-3 empty"></div>
		<div class="col span-6">
			<a href="https://www.etsy.com/shop/ConspiracyofShadows" target="blank">
				<img src="/img/homepage/etsy-logo.png" alt="Etsy" width="64px"/>
			</a>
			<hr/>
			<h3 class="text-center">More Than a Marketplace</h3>
			<p class="text-center">Purchase are prints and unique, handmade artwork made by me in my garage.</p>
		</div>
		<div class="col span-3 empty"></div>
	</div>
</section>
