html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'HPSimplified_Bd';
  src: url("https://ssl.www8.hp.com/h10180/hp-fonts/v2-0/hps-euro-w01-bold-eot.eot");
  src: url("https://ssl.www8.hp.com/h10180/hp-fonts/v2-0/hps-euro-w01-bold-eot.eot?#iefix") format("embedded-opentype"), url("https://ssl.www8.hp.com/h10180/hp-fonts/v2-0/hps-euro-w01-bold-woff.woff ") format("woff"), url("https://ssl.www8.hp.com/h10180/hp-fonts/v2-0/hps-euro-w01-bold-ttf.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HPSimplified_Rg';
  src: url("https://ssl.www8.hp.com/h10180/hp-fonts/v2-0/hps-euro-w01-regular-eot.eot");
  src: url("https://ssl.www8.hp.com/h10180/hp-fonts/v2-0/hps-euro-w01-regular-eot.eot?#iefix") format("embedded-opentype"), url("https://ssl.www8.hp.com/h10180/hp-fonts/v2-0/hps-euro-w01-regular-woff.woff") format("woff"), url("https://ssl.www8.hp.com/h10180/hp-fonts/v2-0/hps-euro-w01-regular-ttf.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HPSimplified_Lt';
  src: url("https://ssl.www8.hp.com/h10180/hp-fonts/v2-0/hps-euro-w01-light-eot.eot");
  src: url("https://ssl.www8.hp.com/h10180/hp-fonts/v2-0/hps-euro-w01-light-eot.eot?#iefix") format("embedded-opentype"), url("https://ssl.www8.hp.com/h10180/hp-fonts/v2-0/hps-euro-w01-light-woff.woff") format("woff"), url("https://ssl.www8.hp.com/h10180/hp-fonts/v2-0/hps-euro-w01-light-ttf.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.global-sprite, .global-arrow-left, .global-arrow-right, .global-checkbox-checked, .global-checkbox, .global-close, .global-email, .global-facebook-logo, .global-flag-au, .global-footer-newsletter, .global-link-more-bottom, .global-link-more-left, .global-link-more-right, .global-link-more-top, .global-print, .global-ribbon-save, .global-ribbon-top-voted, .global-share, .global-view-all, .global-view-grid, .global-view-list {
  background: url('../../img/global-sed04ffee95.png') no-repeat;
}

.global-arrow-left {
  background-position: 0 -320px;
  height: 25px;
  width: 13px;
}
.global-arrow-left:hover, .global-arrow-left.arrow-left_hover, .global-arrow-left.arrow-left-hover {
  background-position: 0 -295px;
}

.global-arrow-right {
  background-position: 0 -379px;
  height: 25px;
  width: 13px;
}
.global-arrow-right:hover, .global-arrow-right.arrow-right_hover, .global-arrow-right.arrow-right-hover {
  background-position: 0 -248px;
}

.global-checkbox-checked {
  background-position: 0 -223px;
  height: 25px;
  width: 25px;
}

.global-checkbox {
  background-position: 0 -467px;
  height: 25px;
  width: 25px;
}

.global-close {
  background-position: 0 -273px;
  height: 22px;
  width: 21px;
}

.global-email {
  background-position: 0 -404px;
  height: 12px;
  width: 16px;
}

.global-facebook-logo {
  background-position: 0 -416px;
  height: 24px;
  width: 20px;
}

.global-flag-au {
  background-position: 0 -544px;
  height: 16px;
  width: 16px;
}

.global-footer-newsletter {
  background-position: 0 -50px;
  height: 58px;
  width: 96px;
}

.global-link-more-bottom {
  background-position: 0 -162px;
  height: 20px;
  width: 20px;
}

.global-link-more-left {
  background-position: 0 -182px;
  height: 21px;
  width: 21px;
}

.global-link-more-right {
  background-position: 0 -142px;
  height: 20px;
  width: 21px;
}

.global-link-more-top {
  background-position: 0 -203px;
  height: 20px;
  width: 20px;
}

.global-print {
  background-position: 0 -440px;
  height: 13px;
  width: 15px;
}

.global-ribbon-save {
  background-position: 0 -345px;
  height: 34px;
  width: 102px;
}

.global-ribbon-top-voted {
  background-position: 0 -108px;
  height: 34px;
  width: 134px;
}

.global-share {
  background-position: 0 -453px;
  height: 14px;
  width: 14px;
}

.global-view-all {
  background-position: 0 0;
  height: 50px;
  width: 50px;
}

.global-view-grid {
  background-position: 0 -492px;
  height: 26px;
  width: 26px;
}

.global-view-list {
  background-position: 0 -518px;
  height: 26px;
  width: 31px;
}

.btn {
  -webkit-box-shadow: 0 1px 5px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 1px 5px rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 5px rgba(255, 255, 255, 0.2);
  text-shadow: rgba(255, 255, 255, 0.75) 0 1px 1px;
  -webkit-border-radius: 0 5px 0 5px;
  -moz-border-radius: 0 5px 0 5px;
  -ms-border-radius: 0 5px 0 5px;
  -o-border-radius: 0 5px 0 5px;
  border-radius: 0 5px 0 5px;
  border: none;
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-family: HPSimplified_Rg, Arial, Helvetica;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}
.btn.btn-white {
  color: #0096d6;
  background-color: #fff;
}
.btn.btn-white:hover {
  color: #006699;
}
.btn.btn-critical {
  background-color: #d7410b;
}
.btn.btn-critical:hover {
  background-color: #c1401a;
}
.btn.btn-primary {
  background-color: #0096d6;
}
.btn.btn-primary:hover {
  background-color: #006699;
}
.btn.btn-disabled {
  background-color: #cccccc;
  cursor: default;
}

a {
  color: #0096d6;
  text-decoration: none;
}
a:hover {
  color: #006699;
}
a.link-more {
  text-decoration: none;
  padding-right: 15px;
  color: #000;
}
a.link-more span {
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 5px;
}
a.link-more:hover span {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}

h1 {
  font-family: HPSimplified_Lt, Arial, Helvetica;
  font-size: 40px;
  color: #000;
  font-weight: normal;
}

h2 {
  font-family: HPSimplified_Lt, Arial, Helvetica;
  font-size: 40px;
  color: #000;
  font-weight: normal;
}

h3 {
  font-family: HPSimplified_Lt, Arial, Helvetica;
  font-size: 32px;
  color: #000;
  font-weight: normal;
}

div.clearfix {
  clear: both;
}

div.price {
  color: #d7410b;
  padding-bottom: 10px;
  font-size: 36px;
  font-family: HPSimplified_Lt, Arial, Helvetica;
}
div.price span {
  margin: 0;
  display: table-cell;
}
div.price span.legend {
  font-size: 0.4em;
  color: #5a5a5a;
  display: block;
  margin-bottom: 3px;
}
div.price span.legend strong.line-through {
  text-decoration: line-through;
}
div.price span.currency {
  font-size: 0.6em;
  vertical-align: top;
}
div.price span.decimal {
  font-size: 0.6em;
  vertical-align: top;
}
div.price span.inc {
  font-size: 0.4em;
  color: #5a5a5a;
  padding-left: 5px;
}

div.share-button span {
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
}

ul.section-tabs {
  list-style: none;
  width: 100%;
  padding: 0;
}
ul.section-tabs li {
  float: left;
  text-align: center;
  margin-right: 2px;
  background: #e5e8e8;
  position: relative;
  cursor: pointer;
}
ul.section-tabs li.active, ul.section-tabs li:hover {
  background: #0096d6;
}
ul.section-tabs li.active:after, ul.section-tabs li:hover:after {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 150, 214, 0);
  border-top-color: #0096d6;
  border-width: 6px;
  left: 50%;
  margin-left: -6px;
}
ul.section-tabs li.active a, ul.section-tabs li:hover a {
  color: #fff;
}
ul.section-tabs li:last-child {
  margin-right: 0;
}
ul.section-tabs li a {
  color: #000;
}

.global-ribbon-top-voted {
  position: absolute;
  z-index: 1;
  color: #fff;
  font: normal 14px/30px HPSimplified_Bd, Arial, Helvetica;
  text-align: center;
  padding-left: 15px;
}

.global-ribbon-save {
  position: absolute;
  z-index: 1;
  color: #fff;
  font: normal 14px/30px HPSimplified_Bd, Arial, Helvetica;
  text-align: center;
  padding-left: 0;
}

div.share-button {
  position: absolute;
  right: 0;
  top: 50px;
}

#lpButton {
  position: fixed;
  right: 0;
  top: 280px;
  background: url("../../img/livetalk.png") no-repeat;
  height: 114px;
  width: 108px;
  cursor: pointer;
}

#header {
  /* Begin Menu Bar */
  /* End Menu Bar */
  /* Begin Header Tabs */
  /* End Header Tabs */
  /* Begin Menu Tabs */
  /* End Menu Tabs */
  /* Begin Tab Sections */
  /* End Tab Sections */
  /* Begin Sub Menu */
  /* End Sub Menu */
  /* Begin Sub Menu Content */
  /* End Sub Menu Content */
  /* Begin Generic Styles */
  /* End Generic Styles */
  /* Begin Accent Image Styles */
  /* End Accent Image Styles */
  /* Begin Menu Images */
  /* End Menu Images */
  /* Inline on Original */
}
#header .megaNavUI {
  width: 100%;
  height: 38px;
  background: #252525;
}
#header .campaignHeader {
  position: relative;
  height: 96px;
  width: 100%;
  z-index: 1;
  background: url("../../img/shipping-information/header-bg.png") repeat-x;
}
#header .headerLogo {
  position: relative;
  float: left;
  top: 15px;
  left: 35px;
  border: 0;
  z-index: 502;
}
#header .campaignContainer {
  position: relative;
  z-index: 502;
  float: left;
  padding: 0px 0px 0px 50px;
  color: #ffffff;
}
#header .left_col_campaigns {
  width: 100%;
}
#header .campaignContainer h3 {
  font-size: 28px;
  color: #ffffff;
  font-weight: normal;
  margin: 10px 0px 0px 0px;
}
#header .campaignContainer p {
  margin: 0;
  font-size: 12px;
}
#header #headerTopBar {
  width: 990px;
  margin: 0 auto;
}
#header #localeSelectorContainer {
  width: auto;
  float: left;
  margin-right: 18px;
  margin-top: 0px;
  vertical-align: text-top;
  z-index: 503;
}
#header #headerTopBar {
  z-index: 503;
}
#header #hppSignIn {
  font-size: .9em;
  position: relative;
  float: right;
  margin-top: 6px;
  width: auto;
  z-index: 503;
}
#header #hppAccountOpts {
  height: inherit;
  float: left;
  z-index: 503;
  vertical-align: middle;
  padding: 5px 15px 0px 0px;
  color: #ffffff;
}
#header #searchAreaWide {
  z-index: 503;
  height: 28px;
  width: 146px;
  position: relative;
  margin-top: 6px;
  float: right;
}
#header #searchBoxW {
  background: url("../../img/shipping-information/search.png") no-repeat;
  height: 27px;
  width: 146px;
  margin-right: 10px;
  z-index: 504;
  float: left;
  position: relative;
}
#header .searchButtonInput {
  position: relative;
  clear: none;
  left: 0px;
  top: 0px;
  border: 0;
  cursor: pointer;
  height: 27px;
  padding: 0;
  width: 22px;
  background: transparent;
  z-index: 504;
}
#header #hppSignIn a {
  font-size: 1em;
  color: #FFFFFF;
  text-decoration: none;
}
#header #hppSignIn a:hover {
  text-decoration: underline;
}
#header input#textboxW {
  top: 7px;
  z-index: 9;
  font-size: 12px;
  height: 15px;
  vertical-align: top;
  position: relative;
  left: 0;
  border: 0;
}
#header #searchAreaWide #searchBoxW input#textboxW, #header #searchAreaWide #searchBoxW input#textboxW {
  padding: 0;
  margin-right: 0px;
  margin-left: 5px;
  width: 118px;
  color: #666;
}
#header .navDropdownsMenu {
  background: #252525;
  font-size: small;
  width: 990px;
  color: #000000;
  margin: 0 auto;
  padding: 0;
  z-index: 26;
}
#header .navDropdownsOut a, #header .navDropdownsMenu a {
  color: #FFFFFF;
}
#header .navDropdownsOut {
  float: left;
  left: auto;
  margin: 0;
  padding: 0;
  position: relative;
  top: auto;
  z-index: 15;
}
#header .navDropdownsLink {
  color: #FFFFFF;
  font-size: inherit;
  font-weight: bold;
  left: auto;
  margin: 0;
  padding: 12px 9px 0px;
  position: relative;
  height: 26px;
  top: auto;
  z-index: 2;
}
#header .navDropdownsLink a {
  text-align: center;
}
#header .tabLink {
  float: left;
  white-space: nowrap;
  color: #FFFFFF;
  text-align: center;
  top: 50%;
}
#header .navDropdownsLink a:link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 13px;
}
#header .tabMenu {
  overflow: hidden;
  width: 247px;
  color: #000000;
  left: 0px;
  padding: 0px;
  position: absolute;
  top: 38px;
  visibility: hidden;
  z-index: 23;
  background: url("../../img/default-menu-bg-left.png") repeat-y;
}
#header .dropDownTitle {
  font-weight: bold;
  display: block;
  color: #FFFFFF;
  padding: 15px 15px 8px;
  margin: 0px;
  position: relative;
  z-index: 607;
}
#header .titleImage ~ .dropDownTitle {
  padding-left: 0px;
  left: 10px;
}
#header .navDropdownsMenu .homeImg {
  width: 17px;
  height: 20px;
}
#header .sectionWrapper {
  zoom: 1;
  position: relative;
  clear: left;
  left: 0px;
  width: 217px;
  margin-top: 3px;
  padding: 6px 0px;
  padding-left: 15px;
  overflow: hidden;
  z-index: 609;
}
#header .sectionWrapper .dropDownSubNav {
  padding: 0px 0px 0px 0px;
}
#header .sectionWrapper .dropDownSubNav .sectionText {
  margin: 0px;
}
#header .dropDownSubNav {
  color: #FFFFFF;
  clear: both;
  min-height: 14px;
  padding: 7px 15px;
  margin: 0px;
  float: left;
  position: relative;
  z-index: 606;
  zoom: 1.0;
}
#header p.sectionText {
  float: left;
  margin: 0px;
}
#header .tabMenu .dropDownSubNav .menuSectionName {
  float: left;
}
#header .dropDownSubNav a {
  color: inherit;
}
#header .menuSectionDetail {
  clear: left;
  padding-left: 0px;
  padding-top: 1px;
  position: relative;
  display: none;
  color: #FFFFFF;
  max-width: 190px;
  z-index: 605;
}
#header .menuSectionImage ~ .menuSectionDetail {
  clear: none;
  padding-left: 0px;
}
#header .menuSectionImage {
  clear: left;
  display: block;
  margin: 0px;
  position: relative;
  float: left;
  padding-left: 0px;
  padding-right: 10px;
  padding-top: 2px;
  z-index: 607;
}
#header .subNavMenu {
  float: left;
  left: 246px;
  width: 266px;
  padding: 0px;
  margin: 0;
  position: absolute;
  top: 38px;
  visibility: hidden;
  z-index: 14;
}
#header .sideMenu {
  zoom: 1;
  width: 266px;
  visibility: hidden;
  position: absolute;
  z-index: 607;
}
#header .subMenuTitle {
  color: #FFFFFF;
  display: block;
  min-height: 1em;
  left: 10px;
  padding: 10px 10px 8px 0px;
  width: 225px;
  margin: 0px;
  position: relative;
  z-index: 607;
}
#header .titleImage, #header .subMenuImage, #header .detailImage {
  display: block;
  margin: 0px;
  position: relative;
  float: left;
  padding-right: 10px;
  z-index: 607;
}
#header .subMenuContent:hover, #header .subMenuContent:hover a.contentLinkColor {
  color: #66CC00;
}
#header div.subMenuDetail {
  padding-top: 1px;
  display: block;
  width: 240px;
  color: #FFFFFF;
  margin: 0px;
  position: relative;
  z-index: 607;
}
#header .subMenuContent {
  clear: left;
  left: 0px;
  color: #FFFFFF;
  background: none;
  padding-left: 10px;
  position: relative;
  overflow: hidden;
  z-index: 607;
}
#header .subContentBound {
  top: 0;
  left: 0;
  display: none;
  position: absolute;
  z-index: 607;
}
#header .sideMenu br {
  height: .25em;
}
#header .contentLinkColor {
  cursor: default;
  clear: both;
}
#header .tabMenu .rightArrow {
  float: left;
  margin-top: 5px;
  margin-left: 3px;
  border-top-width: 3px;
  border-bottom-width: 3px;
}
#header div.small a.colorFFFFFF, #header tabMenu a.colorFFFFFF {
  color: #FFFFFF;
}
#header img.divImage {
  position: relative;
  float: left;
  border-style: none;
  margin: 0;
  padding: 0;
  top: 0px;
  z-index: 20;
}
#header h4:hover a.colorFFFFFF {
  color: #66CC00;
}
#header .colorFFFFFF:hover {
  color: #66CC00;
}
#header .expand {
  font-size: 13px;
  font-family: monospace;
}
#header .menubg {
  position: absolute;
  background: black;
  display: none;
  z-index: 11;
  left: 0;
  top: 38px;
}
#header .bgBot {
  position: absolute;
  background: black;
  display: none;
  height: 5px;
  z-index: 12;
  left: 0;
  top: 0;
}
#header #lBGBot {
  width: 247px;
}
#header #rBGBot {
  width: 266px;
  z-index: 13;
}
#header .menuShadow {
  position: absolute;
  display: none;
  z-index: 13;
  left: 0;
  top: 38px;
}
#header #lMenuBG {
  width: 247px;
}
#header #rMenuBG.menubg {
  width: 266px;
  z-index: 13;
}
#header .sectionMarker {
  position: absolute;
  display: none;
  width: 247px;
  z-index: 15;
  left: 0;
  top: 0;
}
#header .tabOn {
  height: 38px;
  position: absolute;
  display: none;
  z-index: 10;
  left: 0;
  top: 0;
}
#header .tabMark {
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 11;
}
#header .subNavMenuMarker {
  position: absolute;
  visibility: hidden;
  padding-top: 1px;
  height: 26px;
  width: 247px;
  z-index: 603;
}
#header .detailMarker {
  position: absolute;
  display: none;
  width: 266px;
  z-index: 14;
  top: 0;
  left: 0;
}
#header .detailImage {
  padding-right: 10px;
  padding-top: 2px;
}
#header .titleImage, #header .subMenuImage {
  padding-top: 10px;
  left: 10px;
}
#header .subMenuImage {
  padding-bottom: 5px;
}
#header #tab_0 {
  padding: 9px 10px 0px;
  height: 29px;
}
#header #headerLink_1, #header #headerLink_2, #header #headerLink_3, #header #headerLink_4, #header #headerLink_6, #header #headerLink_7 {
  color: white;
  text-decoration: none;
  cursor: default;
}
#header #headerLink_5 {
  color: #66cc00;
  text-decoration: none;
  cursor: default;
}
#header #tab_5 .downArrow {
  border-top-color: #66cc00;
}
#header #tab_1 .downArrow {
  border-top-color: white;
}
#header #menu_1 {
  visibility: hidden;
}
#header .megaNavUI {
  z-index: 1500;
}

#header {
  font-family: HPSimplified_Rg, Arial, Helvetica;
}

#mainContainer {
  width: 960px;
  margin: 0 auto;
  font: normal 14px HPSimplified_Rg, Arial, Helvetica;
}
#mainContainer.full-width {
  width: 100%;
}
#mainContainer #enhancedSectionalNav {
  width: 200px;
  font: normal 16px HPSimplified_Rg, Arial, Helvetica;
  color: #000;
  padding: 0px;
}
#mainContainer #enhancedSectionalNav h3 {
  font: normal 32px HPSimplified_Lt, Arial, Helvetica;
  padding: 15px 0 30px 0;
}
#mainContainer #enhancedSectionalNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#mainContainer #enhancedSectionalNav ul li {
  padding-bottom: 30px;
  width: 171px;
}
#mainContainer #enhancedSectionalNav ul li a {
  color: #000;
  text-decoration: none;
}
#mainContainer #internalContentArea #headlineContent .headlineContent {
  width: 1000px;
  margin: 0 auto;
  height: 117px;
  position: relative;
}
#mainContainer #internalContentArea #headlineContent .headlineContent h1 {
  display: inline;
  line-height: 117px;
}
#mainContainer #internalContentArea #headlineContent .headlineContent p {
  bottom: 79px !important;
}
#mainContainer #internalContentArea #headlineContent .headlineContent img {
  position: absolute;
  bottom: 27px;
  right: 0;
}
#mainContainer #internalContentArea #headlineContent .headlineContent ul {
  position: absolute;
  bottom: 14px;
}
#mainContainer #internalContentArea #headlineContent .headlineContent ul li {
  display: inline;
  padding: 0 0 10px 0;
  margin-right: 30px;
}
#mainContainer #internalContentArea #headlineContent .headlineContent ul li a {
  font: normal 16px HPSimplified_Rg, Arial, Helvetica;
  color: #767676;
}
#mainContainer #internalContentArea #headlineContent .headlineContent ul li:hover, #mainContainer #internalContentArea #headlineContent .headlineContent ul li.active {
  border-bottom: solid 4px #0096d6;
}
#mainContainer #internalContentArea #headlineContent .headlineContent ul li:hover a, #mainContainer #internalContentArea #headlineContent .headlineContent ul li.active a {
  color: #000;
}
#mainContainer #internalContentArea #headlineContent .headlineContent p {
  position: absolute;
  bottom: 14px;
  right: 0;
  font: normal 12px HPSimplified_Bd, Arial, Helvetica;
}
#mainContainer #internalContentArea #bannerContent {
  background: url("../../img/banner-bg.jpg") center no-repeat #eaeaea;
  height: 500px;
}
#mainContainer #internalContentArea #bannerContent .bannerContent {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
#mainContainer #internalContentArea #internalContent .internalContent {
  padding: 40px 0;
  border-bottom: solid 1px #e5e8e8;
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
#mainContainer #internalContentArea #internalContent .internalContent h3 {
  padding-bottom: 20px;
}
#mainContainer #internalContentArea #internalContent .internalContent h4 {
  padding-bottom: 20px;
}
#mainContainer #internalContentArea #internalContent .internalContent table {
  width: 100%;
}
#mainContainer #internalContentArea #internalContent .internalContent table thead th {
  background: #0096d6;
  font: normal 14px HPSimplified_Bd, Arial, Helvetica;
  color: #fff;
  padding: 25px 0 25px 20px;
  border-right: solid 1px #fff;
}
#mainContainer #internalContentArea #internalContent .internalContent table thead th:last-child {
  border-right: none;
}
#mainContainer #internalContentArea #internalContent .internalContent table tbody td {
  padding: 25px 70px 25px 20px;
  border: solid 1px #ccc;
}
#mainContainer #internalContentArea #internalContent .internalContent table tbody td:first-child {
  background: #f2f2f2;
  width: 170px;
}
#mainContainer #internalContentArea #internalContent .internalContent table tbody td span {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-latest-news {
  background: #0096d6;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-latest-news .footer-latest-news {
  width: 1000px;
  margin: 0 auto;
  height: 180px;
  position: relative;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-latest-news .footer-latest-news div.global-footer-newsletter {
  position: absolute;
  top: 60px;
  left: 0;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-latest-news .footer-latest-news h3 {
  font: normal 50px/50px HPSimplified_Lt, Arial, Helvetica;
  color: #fff;
  position: absolute;
  left: 120px;
  top: 55px;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-latest-news .footer-latest-news h4 {
  font: normal 16px/16px HPSimplified_Rg, Arial, Helvetica;
  color: #fff;
  position: absolute;
  left: 125px;
  top: 106px;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-latest-news .footer-latest-news div.footer-links {
  position: absolute;
  right: 0;
  top: 50%;
  height: 36px;
  margin-top: -18px;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-latest-news .footer-latest-news div.footer-links a {
  font: normal 15px/36px HPSimplified_Bd, Arial, Helvetica;
  color: #0096d6 !important;
  padding: 0 !important;
  height: 100%;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-latest-news .footer-latest-news div.footer-links a:hover {
  color: #000;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-latest-news .footer-latest-news div.footer-links a span.global-facebook-logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-latest-news .footer-latest-news div.footer-links a#facebook-like {
  width: 193px;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-latest-news .footer-latest-news div.footer-links a#subscribe-offers {
  width: 180px;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-latest-news .footer-latest-news div.footer-links a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-latest-news .footer-latest-news div.footer-links > span {
  padding: 0 15px;
  font: normal 16px/16px HPSimplified_Rg, Arial, Helvetica;
  color: #fff;
  display: inline;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-country-information .footer-country-information {
  width: 1000px;
  margin: 0 auto;
  height: 166px;
  position: relative;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-country-information .footer-country-information p {
  font-size: 12px;
  position: absolute;
  top: 68px;
  bottom: 68px;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-navigation {
  background: #f2f2f2;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-navigation .footer-navigation {
  width: 1000px;
  margin: 0 auto;
  border-bottom: solid 1px #b9b8b8;
  height: 220px;
  position: relative;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-navigation .footer-navigation > div {
  float: left;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-navigation .footer-navigation > div.navigation-tools {
  padding: 30px 120px;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-navigation .footer-navigation > div.navigation-my-account {
  padding: 30px 160px 30px 0;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-navigation .footer-navigation > div.navigation-customer-service {
  padding: 30px 160px 30px 0;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-navigation .footer-navigation > div h4 {
  font: normal 14px/14px HPSimplified_Bd, Arial, Helvetica;
  color: #5a5a5a;
  padding-bottom: 10px;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-navigation .footer-navigation > div ul li {
  padding-bottom: 5px;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-navigation .footer-navigation > div ul li a {
  color: #5a5a5a;
  font: normal 14px/14px HPSimplified_Rg, Arial, Helvetica;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-navigation .footer-navigation > div ul li a:hover {
  color: #000;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-copyright {
  background: #f2f2f2;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-copyright .footer-copyright {
  width: 1000px;
  margin: 0 auto;
  height: 115px;
  clear: both;
  text-align: center;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-copyright .footer-copyright ul {
  padding: 20px 0 10px;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-copyright .footer-copyright ul li {
  display: inline;
  padding: 0 8px;
  border-right: solid 1px #5a5a5a;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-copyright .footer-copyright ul li:last-child {
  border-right: none;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-copyright .footer-copyright ul li a {
  color: #5a5a5a;
  font: normal 14px/14px HPSimplified_Rg, Arial, Helvetica;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-copyright .footer-copyright ul li a:hover {
  color: #000;
}
#mainContainer #internalContentArea #internalContent #internal-footer-content #footer-copyright .footer-copyright p {
  color: #5a5a5a;
  font: normal 14px/14px HPSimplified_Rg, Arial, Helvetica;
}

/*@import "sprites";*/
#internalContentArea.compare #headlineContent .headlineContent h1 {
  display: block !important;
  margin-top: 30px;
  line-height: 60px !important;
}
#internalContentArea.compare #internalContent .internalContent {
  padding-top: 0 !important;
}
#internalContentArea.compare #internalContent .internalContent .helpers-links {
  clear: both;
}
#internalContentArea.compare #internalContent .internalContent .helpers-links ul {
  float: right;
}
#internalContentArea.compare #internalContent .internalContent .helpers-links ul li {
  display: inline;
}
#internalContentArea.compare #internalContent .product-features-container {
  clear: both;
  padding-top: 30px;
}
#internalContentArea.compare #internalContent .product-features-container .header-text {
  height: 90px;
  border: solid 1px #c8caca;
}
#internalContentArea.compare #internalContent .product-features-container .header-text h2 {
  float: left;
  margin-left: 20px;
  line-height: 90px;
}
#internalContentArea.compare #internalContent .product-features-container .header-text a.link-more {
  float: right;
  margin-top: 35px;
  margin-right: 20px;
}
#internalContentArea.compare #internalContent .product-features-container .filters-options {
  padding: 20px;
  border: solid 1px #c8caca;
  border-width: 0 1px 1px;
}
#internalContentArea.compare #internalContent .product-features-container .filters-options div.options {
  width: 191.6px;
  float: left;
  padding-top: 20px;
}
#internalContentArea.compare #internalContent .product-features-container .filters-options div.options h4 {
  font-size: 16px;
  padding: 0 0 15px 0 !important;
}
#internalContentArea.compare #internalContent .product-features-container .filters-options div.options ul li {
  padding-bottom: 15px;
}
#internalContentArea.compare #internalContent .product-features-container .filters-options div.options ul li span {
  cursor: pointer;
  display: inline-block;
  margin-right: 7px;
  vertical-align: middle;
}
#internalContentArea.compare #internalContent .product-features-container .filters-options div.options ul li input {
  display: none;
}
#internalContentArea.compare #internalContent .product-features-container .filters-options div.options ul li label {
  cursor: pointer;
}
#internalContentArea.compare #internalContent .product-features-container .filters-options div.options p {
  font-size: 16px;
  margin-bottom: 30px;
}
#internalContentArea.compare #internalContent .product-features-container .filters-options div.reset-link {
  clear: both;
  padding-top: 20px;
  width: 100%;
  text-align: right;
}
#internalContentArea.compare #internalContent .products-container {
  clear: both;
  font-size: 16px;
}
#internalContentArea.compare #internalContent .products-container #compare-products .carousel-info {
  height: 80px;
  position: relative;
}
#internalContentArea.compare #internalContent .products-container #compare-products .carousel-info a.carousel-controls {
  float: left;
  color: #0096d6;
  background: none;
  margin-top: 35px;
  position: absolute;
  z-index: 1;
}
#internalContentArea.compare #internalContent .products-container #compare-products .carousel-info a.carousel-controls.right {
  padding-right: 0;
  right: 0;
}
#internalContentArea.compare #internalContent .products-container #compare-products .carousel-info a.carousel-controls.right span {
  margin-right: 0;
  margin-left: 5px;
}
#internalContentArea.compare #internalContent .products-container #compare-products .carousel-info div.carousel-text-info {
  position: absolute;
  width: 100%;
  top: 35px;
  text-align: center;
  z-index: 0;
}
#internalContentArea.compare #internalContent .products-container #compare-products div.carousel-inner {
  clear: both;
  width: 100%;
}
#internalContentArea.compare #internalContent .products-container #compare-products div.carousel-inner .item .product-item {
  width: 320px;
  border: solid 1px #c8caca;
  margin-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  text-align: center;
}
#internalContentArea.compare #internalContent .products-container #compare-products div.carousel-inner .item .product-item:first-child {
  margin-left: 0;
}
#internalContentArea.compare #internalContent .products-container #compare-products div.carousel-inner .item .product-item .close-product {
  text-align: right;
  margin: 15px 15px 0 0;
  padding-bottom: 20px;
}
#internalContentArea.compare #internalContent .products-container #compare-products div.carousel-inner .item .product-item .close-product span {
  display: inline-block;
}
#internalContentArea.compare #internalContent .products-container #compare-products div.carousel-inner .item .product-item .product-img {
  text-align: center;
  padding-bottom: 20px;
}
#internalContentArea.compare #internalContent .products-container #compare-products div.carousel-inner .item .product-item h3 {
  font: normal 28px HPSimplified_Lt, Arial, Helvetica;
  height: 50px;
}
#internalContentArea.compare #internalContent .products-container #compare-products div.carousel-inner .item .product-item p {
  font: normal 14px HPSimplified_Rg, Arial, Helvetica;
  margin: 0 auto;
  width: 90%;
}
#internalContentArea.compare #internalContent .products-container #compare-products div.carousel-inner .item .product-item div.product-info {
  padding-top: 35px;
  padding-left: 25px;
}
#internalContentArea.compare #internalContent .products-container #compare-products div.carousel-inner .item .product-item div.product-info .price {
  text-align: left;
  float: left;
}
#internalContentArea.compare #internalContent .products-container #compare-products div.carousel-inner .item .product-item div.product-info ul {
  float: right;
  padding-right: 25px;
}
#internalContentArea.compare #internalContent .products-container #compare-products div.carousel-inner .item .product-item div.product-info ul li {
  text-align: right;
  margin-bottom: 10px;
}
#internalContentArea.compare #internalContent .products-container #compare-products div.carousel-inner .item .product-item div.product-add-cart {
  clear: both;
  height: 55px;
  background: #d7410b;
}
#internalContentArea.compare #internalContent .products-container #compare-products div.carousel-inner .item .product-item div.product-add-cart a {
  font: normal 16px/55px HPSimplified_Bd, Arial, Helvetica;
  color: #fff;
}
#internalContentArea.compare #internalContent .products-container #compare-products div.carousel-inner .item .product-item div.product-add-cart a:hover {
  text-decoration: underline;
}
#internalContentArea.compare #internalContent .products-specs {
  clear: both;
  width: 100%;
  border: solid 1px #c8caca;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#internalContentArea.compare #internalContent .products-specs h4 {
  height: 90px;
  padding-bottom: 0 !important;
  text-align: center;
  background: #f2f2f2;
  font: normal 40px HPSimplified_Lt, Arial, Helvetica;
  line-height: 90px;
}
#internalContentArea.compare #internalContent .products-specs > ul > li {
  display: none;
  width: 33%;
  vertical-align: top;
}
#internalContentArea.compare #internalContent .products-specs > ul > li.active {
  display: inline-block;
}
#internalContentArea.compare #internalContent .products-specs > ul > li div {
  padding: 40px;
  text-align: center;
}
#internalContentArea.compare #internalContent .products-specs > ul > li div span {
  font-family: HPSimplified_Lt, Arial, Helvetica;
  display: block;
}
#internalContentArea.compare #internalContent .products-specs > ul > li div span.text-small {
  font-family: HPSimplified_Rg, Arial, Helvetica;
  font-size: 14px;
}
#internalContentArea.compare #internalContent .products-specs > ul > li div span.text-medium {
  font-size: 28px;
}
#internalContentArea.compare #internalContent .products-specs > ul > li div span.text-large {
  font-size: 60px;
}
#internalContentArea.compare #internalContent .products-specs > ul > li div span.strong {
  font-family: HPSimplified_Bd, Arial, Helvetica;
}
#internalContentArea.compare #internalContent .products-specs > ul > li div span.disabled {
  color: #b9b8bb;
}
#internalContentArea.compare #internalContent .products-specs > ul > li div ul {
  text-align: left;
  margin-left: 50px;
}
#internalContentArea.compare #internalContent .products-specs > ul > li div ul.disabled {
  color: #b9b8bb;
}
#internalContentArea.compare #internalContent .products-specs > ul > li div ul li {
  padding-bottom: 10px;
  width: 200px;
}
