<footer id="site-footer">
	<p>Copyright &copy; 2004 - 2014 Keith Senkowski. All rights reserved.</p>
	<p>Support this art project at <a href="http://www.patreon.com/keithsenkowski" target="_blank">Patreon</a> | Follow Keith <a href="https://twitter.com/ksenkowski"><strong>@ksenkowski</strong></a> or on <a href="https://plus.google.com/u/0/+KeithSenkowski/posts"><strong>G+</strong></a>.</p>
</footer>
<script src="/js/libs/jquery-2.1.1.min.js"></script>
<script src="/js/libs/picturefill.js" async></script>
<script src="/js/libs/jquery.unveil.js"></script>
<script src="/js/app.js"></script>
