<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ site.title }} | {{ page.title }}</title>
    <meta name="description" content="{{ site.description }}">
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,300italic' rel='stylesheet' type='text/css'>
    <link media="all" rel="stylesheet" type="text/css" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link media="print" rel="stylesheet" type="text/css" href="{{ "/css/print.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
