<div class="content" id="search-box">
	<fieldset class="col span-12">
		<input type="text" class="search" placeholder="Search Conspiracy of Shadows">
	</fieldset>
	<div id="results">
		<ul class="unstyled"></ul>
	</div>			
</div>
<header id="masthead" class="content">
		<div class="col span-7">
		<a href="/">
				<img src="/img/common-2x/title.png" alt="Conspiracy of Shadows" class="logo">
		</a>
		</div>
	<nav id="menu" class="clearfix col span-5">
		<div class="col span-2">
			<a href="#" class="open-search"><img src="/img/common/search.png" width="48px" title="Search the Archive"></a>
		</div>
		<div class="col span-2">
			<a href="archive.html"><img src="/img/common/articles.png" width="48px" title="Browse the Articles"></a>
		</div>
		<div class="col span-2">
			<a href="http://keithsenkowski.tumblr.com/" target="_blank"><img src="/img/common/tumblr.png" width="48px" title="Checkout My Tumblr"></a>
		</div>
		<div class="col span-2">
			<a href="https://twitter.com/ksenkowski" target="_blank"><img src="/img/common/twitter.png" width="48px" title="Checkout My Twitter"></a>
		</div>
		<div class="col span-2">
			<a href="https://plus.google.com/+KeithSenkowski/posts" target="_blank"><img src="/img/common/google-plus.png" width="48px" title="Checkout My Google+"></a>
		</div>
		<div class="col span-2">
			<a href="https://www.pinterest.com/keithsenkowski/" target="_blank"><img src="/img/common/pinterest.png" width="48px" title="Checkout My Pinterest"></a>
		</div>
	</nav>
</header>
