<header id="masthead">
	<div class="content">
	<a href="/">
		<picture>
			<source media="(min-width: 65.000em)" srcset="/img/common/title.png, /img/common-2x/title.png 2x">
				<source media="(min-width: 48.000em)" srcset="/img/common/title-portrait.png, /img/common-2x/title-portrait.png 2x">
					<source media="(min-width: 20.em)" srcset="/img/common/title-mid.png, /img/common-2x/title-mid.png 2x">
						<source media="(min-width: 1.000em)" srcset="/img/common/title-mobile.png, /img/common-2x/title-mobile.png 2x">
			<img src="/img/common/title.png" alt="Conspiracy of Shadows" class="logo">
		</picture>
	</a>
	</div>
</header>
