<header id="masthead">
	<div class="content">
		<div class="col span-2">
		<a href="/">
				<img src="{{ site.baseurl }}/img/common/raven.svg" onerror="this.src='{{ site.baseurl }}/img/common/raven.png'" class="logo" width="64px">
		</a>
		</div>
	<nav id="menu" class="col span-10">
		<ul>
			<li>
				<a href="/articles.html">Articles</a>
			</li>
			<li>
				<a href="/musings.html">Musings</a>
			</li>
			<li>
				<a href="/games.html">Games</a>
			</li>
			<li>
				<a href="/info.html">Info</a>
			</li>
			
		</ul>
	</nav>
</div>
</header>
