/* ==========================================================================
   ARTICLE AND MUSINGS GLOBAL STYLES
   ========================================================================== */
.single{
	.header{
		.hgroup{
			min-width:300px;
			margin:0 auto;
			text-align:center;
			padding:5% 0 3%;
			
			.post-meta{
				font-family:$secondary-stack;
				margin:0;
				line-height:50%;
				font-weight:400;
				color:$color-primary-1;
			}
			h1{
				font-family:$secondary-stack;
				margin:0;
				line-height:105%;
				color:$black;
				font-size:em(70px);
			}	
		}	
		img{
			border-bottom:6px solid $color-primary-1;
			border-top:6px solid $color-primary-1;
			
		}
	}
	.continued{
		padding:4% 2% 2%;
		.related-posts{
			margin:0 auto;
			text-align:center;
		}
		
		.first-letter-box{
			background:$color-primary-1;
		  	float: left;
			height:80px;
			width:80px;
			margin:7px 15px 5px 0px;
		    border: 6px solid $color-primary-4;
		    font-weight: bold;
		    display: inline-block;
			span{
			  display:block;
			  font-size: em(30px);
			  text-align:center;
			  line-height:80px;
			  padding:15px;
			  color:$white;
			  margin-top:-18px;
			}
		}
		table{
			border:3px solid $color-primary-4;
			thead{
				background:$white;
				@include breakpoint(landscape){
					border-bottom:3px solid $color-primary-4;
				}
				
				tr{
					th{
						color:$color-primary-4;
					}
				}
			}
			tbody{
				tr{
					td{
						color:$color-primary-4;
					}
				}
				tr:nth-of-type(odd){
					background:$color-primary-2;
					td{
						color:$white;
					}
				}
				
			}
		}
		
		code{
			border:4px dashed $color-primary-2;
			color:$color-primary-1;
			margin:em(20px) 0;
		}
		h2{
			color:$color-primary-2;
			font-size:em(28px);
			margin:em(24px) 0 em(8px);
		}
		h3{
			color:$color-primary-2;
			font-size:em(24px);
			margin:em(24px) 0 em(8px);
		}
		p,ul, ol{
			hyphens:auto;
			em, strong{
				color:$color-primary-1;			
			}			
		}
		p + p{
			margin:0;
			text-indent:em(24px);
		}			
	}
	
	
	figure{
		margin:em(50px) auto;
	    border-top:6px solid $color-complement-1;
	    border-bottom:6px solid $color-complement-1;
		padding:1% 0;
		img{
			display:block;
			margin:0 auto;
		}
		figcaption{
		    border-top:6px solid $color-complement-1;
			margin:0;
			padding:em(10px) em(10px) em(4px);
			font-size:em(16px);
			line-height:100%;
			background:$white;
			color:$color-complement-0;
			font-weight:800;
			@include breakpoint(portrait){
				margin:0;
			}
		}
	}
	table{
		border:3px solid $dark-gray;
		width:100%;
		margin-bottom:em(30px);
		
		small{
			display:block;
		}
		caption{
			font-size:1.6em;
			font-family:$secondary-stack;
			line-height:1.7em;
			text-align:center;
			margin:.8em 0;
		}
		thead{
			background:$off-white;
			font-family:$secondary-stack;
			text-transform:uppercase;
			@include breakpoint(landscape){
				border-bottom:3px solid $dark-gray;
			}
			tr{
				th{
					font-weight:800;
					padding:12px 30px;
					color:$dark-gray;
					text-align:left;
				}
			}
		}
		tbody{
			tr{
				td{
					padding:12px 30px;
					color:$dark-gray;
				}
			}
		}
	}
	
}
/* ==========================================================================
   ARTICLES SPECIFIC STYLES
   ========================================================================== */
#traits-talents{
	ul{
		margin-bottom:em(40px);
		.futhark{
			font-size:em(20px);
		}
	}
}
#playing-the-game, #running-the-game{
	ul{
		margin-bottom:em(40px);
	}
	.futhark{
		font-size:em(40px);
	}	
}
/* ==========================================================================
   SOON TO BE REPLACED
   ========================================================================== */
article{
	.dream{
		figcaption{
			border-top:3px solid $gray;
			padding-top:.05em;
			margin:.5em 0 0;
			font-size:.75em;
			line-height:1.5em;
			font-weight:400;
			font-family:$secondary-stack;
			text-transform:uppercase;
			color:$dark-gray;
		}
	}
	h3 + p.first{
		margin-top:-1.25em;
	}
	h4, h5, h6{
		margin:1.8em 0 .25em 0;
	}
	.maps{
		border-top:3px solid $black;
		margin:1% 0;
	}
}
