/* ==========================================================================
   ARTICLE AND MUSINGS GLOBAL STYLES
   ========================================================================== */
.single{
	.header{
		background-repeat:no-repeat;
		background-size:cover;
		background-color:$black;			
		background-color:$color-primary-2;
		padding:180px 2% 1%;
		margin:0 0 em(30px);
		color:$white;
		.hgroup{
			max-width:330px;
			.post-meta{
				font-family:$secondary-stack;
				margin:0;
				font-weight:400;
			}
			h1{
				font-family:$secondary-stack;
				margin:0 0 30px;
				line-height:105%;
			}
			.icons{
				padding:0 0 em(15px);
				margin-top:em(10px);
				padding-left:0;
				text-align:center;
				li{
					display:inline;
					text-transform:uppercase;
					font-weight:700;
					letter-spacing:0.03em;
					margin-right:em(18px);
					font-size:rem(54px);
					font-family:$futhark;
			
					
				}
			}
			
		}	
	}
	.continued{
		padding:4% 2% 2%;
		.related-posts{
			max-width:400px;
			margin:0 auto;
		}
		
		.first-letter-box{
			background:$color-primary-2;
		  	float: left;
			max-width:50px;
			max-height:50px;
			height:50px;
			width:50px;
			margin:10px 20px 5px 15px;
		    border: 6px solid $color-primary-4;
		    font-weight: bold;
		    transform: rotate(45deg);
		    display: inline-block;
			span{
			  transform: rotate(-45deg);
			  display:inline-block;
			  font-size: em(30px);
			  text-align:center;
			  line-height:0;
			  padding:15px;
			  max-width:60px;
			  max-height:60px;
			  min-height:60px;
			  min-width:60px;
			  color:$color-primary-4;
			}
		}
		table{
			border:3px solid $color-primary-4;
			thead{
				background:$white;
				@include breakpoint(landscape){
					border-bottom:3px solid $color-primary-4;
				}
				
				tr{
					th{
						color:$color-primary-4;
					}
				}
			}
			tbody{
				tr{
					td{
						color:$color-primary-4;
					}
				}
				tr:nth-of-type(odd){
					background:$color-primary-2;
					td{
						color:$white;
					}
				}
				
			}
		}
		
		code{
			border:1px dashed $color-primary-4;
			background:$color-primary-2;
			color:white;
			margin:0 0 20px;
		}
		h2{
			margin:0 0 em(20px);
			color:$color-primary-4;
		}
		h3, h4, h5, h6{
			color:$color-primary-4;
		}
		p,ul, ol{
			em, strong{
				color:$color-primary-2;			
			}			
		}
		
	}
	
	
	.continued{
		padding:0 em(20px);
		p{
			margin:0 0 20px;
			strong, em{
				font-family:$secondary-stack;			
			}
		}	
		ul{
			strong, em{
				font-family:$secondary-stack;			
			}
			
		}
	}
	figure{
		border-left:2px solid $color-primary-4;
		border-right:2px solid $color-primary-4;
		border-top:2px solid $color-primary-4;
		margin:0 auto 3%;
		max-width:400px;
		img{
			display:block;
			margin:0 auto;
			padding:4%;
		}
		figcaption{
			margin:0 0 em(20px);
			padding:em(10px);
			font-size:em(14px);
			line-height:120%;
			font-style:italic;
			border-bottom:2px solid $color-primary-4;
			background:$color-primary-2;
			color:$white;
			
			@include breakpoint(portrait){
				margin:0;
			}
		}
	}
	table{
		border:3px solid $dark-gray;
		width:100%;
		margin-bottom:em(30px);
		
		small{
			display:block;
		}
		caption{
			font-size:1.6em;
			font-family:$secondary-stack;
			line-height:1.7em;
			text-align:center;
			margin:.8em 0;
		}
		thead{
			background:$off-white;
			font-family:$secondary-stack;
			text-transform:uppercase;
			@include breakpoint(landscape){
				border-bottom:3px solid $dark-gray;
			}
			tr{
				th{
					font-weight:800;
					padding:12px 30px;
					color:$dark-gray;
					text-align:left;
				}
			}
		}
		tbody{
			tr{
				td{
					padding:12px 30px;
					color:$dark-gray;
				}
			}
		}
	}
	
}
.primary{
	.header{
	}
	.review, .continued{
		
	}	
}

/* ==========================================================================
   ARTICLES SPECIFIC STYLES
   ========================================================================== */
#traits-talents{
	ul{
		margin-bottom:em(40px);
		.futhark{
			font-size:em(20px);
		}
	}
}
#playing-the-game, #running-the-game{
	ul{
		margin-bottom:em(40px);
	}
	.futhark{
		font-size:em(40px);
	}	
}
/* ==========================================================================
   SOON TO BE REPLACED
   ========================================================================== */
article{
	.dream{
		figcaption{
			border-top:3px solid $gray;
			padding-top:.05em;
			margin:.5em 0 0;
			font-size:.75em;
			line-height:1.5em;
			font-weight:400;
			font-family:$secondary-stack;
			text-transform:uppercase;
			color:$dark-gray;
		}
	}
	h3 + p.first{
		margin-top:-1.25em;
	}
	h4, h5, h6{
		margin:1.8em 0 .25em 0;
	}
	.maps{
		border-top:3px solid $black;
		margin:1% 0;
	}
}
