.info{
	.header{
		padding:4% 0 2%;
		.post-meta{
			font-family:$secondary-stack;
			margin:0;
			font-weight:400;
			color:$white;
		}
		img{
			border-bottom:6px solid $color-primary-1;
			border-top:6px solid $color-primary-1;
			margin:0 auto em(25px);
		}
		h1{
			color:$black;
			font-family:$secondary-stack;
			margin:0 0 em(10px);
			line-height:125%;
		}
		p{
			color:$black;
		}
		p + p{
			margin:0;
			text-indent:em(24px);
		}			
	}
	.know-more{
		padding:0 0 2%;
		.profile{
			border-bottom:6px solid $color-primary-1;
			border-top:6px solid $color-primary-1;
			max-width:250px;
			margin:0 auto 15px;
			display:block;
		}
		h2{
			margin:0 0 em(10px);
			color:$color-primary-1;
		}
		ul{
			li{
				line-height:125%;
				margin:0 0 em(10px);
			}
		}
		p{
			color:$color-complement-1;
			font-weight:600;
			margin-bottom:em(20px);
		}
	}
}
