/* ==========================================================================
   SITE FOOTER
   ========================================================================== */
.site-footer{
	padding:35px 10px 15px;
	min-height:200px;
	background:$off-white;
	width:100%;
	z-index:500;
	border-top:2px solid $white;
	@include breakpoint(portrait){
		background:$off-white url('/assets/img/common/footer.png') right center no-repeat;

	}
	
	nav{
		padding:0 0 rem(15px);
		margin-top:rem(10px);
		@include breakpoint(portrait){
			margin-top:rem(26px);
		}
		ul{
			padding-left:0;
			margin:0;		
			li{
				display:inline;
				text-transform:uppercase;
				font-weight:700;
				letter-spacing:0.03em;
				margin-right:rem(5px);
				font-size:rem(14px);
				font-family:$secondary-stack;
			
			
				@include breakpoint(portrait){
					margin-right:rem(18px);
			
				}
				a{
					padding:rem(7px) 0;
					background:none;
					text-shadow: none;
				}
			}
		}
	}
	
	p{
		font-size:rem(12px);
		text-indent:0;
		margin:0;
	}
}
