/* ==========================================================================
   MAIN HEADER
   ========================================================================== */

.masthead {
	background-color:$off-white;
	box-shadow:none;
	position:relative;
	display:block;
	padding: 0;
	z-index:5;
	.logo{
		margin:0 auto;
		max-width:64px;
		display:block;		
	}
}
.menu{
	background:$off-white;	
	padding:0 0 em(15px);
	margin-top:em(10px);
	@include breakpoint(portrait){
		margin-top:em(26px);
	}
	
	ul{
		text-align:center;
		padding-left:0;
		@include breakpoint(portrait){
			float:right;
		}
		
		li{
			display:inline;
			text-transform:uppercase;
			font-weight:700;
			letter-spacing:0.03em;
			margin-right:em(5px);
			font-size:em(14px);
			font-family:$secondary-stack;
			
			@include breakpoint(portrait){
				margin-right:em(18px);
			
			}
			a{
				padding:em(7px) 0;
				background:none;
				text-shadow: none;
			}
		}
	}
}
