<h6>Rankians</h6>
<p class="first">Throughout most of the 2nd Age, the Rankians dominated the lands between the two great rivers of Aki and Zumi. There they held sway over the wide variety of tribes that made the great plain their home. While their subjugation of these peoples was not overtly harsh, it did force these cultures into positions of subservience with no hope of changing their station.</p>
<p>Then came Gampo, a shaman and chieftain of the Onike people. He united the many clans of the Onike as well as secured the loyalty of the Fetash, a strange, pale skinned people who lived on the edge of the dread Kingdoms of Ivory. With their macabre rituals supporting his Onike warriors, they proceeded to annihilate the Rankian people, man woman and child. Not a city was left standing, nor any part of the great plain untouched by his wrath.</p>
<p>Only the Ghaziya, a religious sect who follow the Way, escaped the holocaust. They fled north to the Great Plateau and sought shelter in what was then the Empire of Hikmet. From there they spread throughout the West, carving out a niche for themselves in society's underbelly. There they flourish, doing the jobs religion prohibits, often profiting greatly allowing them to buy a measure of respectability and some have even purchased nobility.</p>
<p class="first"><strong>Names</strong><br/>Rankian first names reflect the mythic 21 founders of the Rankian people and their wives. They have no other names and for this reason their surnames are complex and varied in their construction. The typical format of their surname is a conjunction of their tribal name (Atha, Blak, Bok, Bran, Der, Dan, Fan, Frek, Jaco, Kir, Mar, Mor and Sker), place of birth, and occupation (Lorita Der'Paci Drover).</p>
<div class="clearfix">
	<ul class="spaced-list unstyled span-6 col">
		<li>Male Names<br><small>AAdama, Boubacar, Coulizay, Driza, Giawara, Hama, Hamido, Ibrazim, Iziaka, Jacob, Kariz, Laurez, Mamado, Nidibe, Oumar, Paz, Ridy, Seydo, Trayzor, Yaya, Zairo.</small></li>
	</ul>
	<ul class="spaced-list unstyled span-6 col">
		<li>Female Names<br><small>Awa, Anata, Bibata, Cisse, Diakho, Elodie, Fadima, Fatoumaza, Galia, Hellen, Karida, Koumba, Lorita, Miriam, Ouraba, Rahma, Salamita, Sarre, Wassa, Yaye, Zeinab.</small></li>
	</ul>
</div>
<p class="first"><strong>Talents</strong></p>
<div class="clearfix">
	<ul class="spaced-list unstyled span-6 col">
		<li><strong>Blood of Princes</strong><br><small>.<br><em>You may spend both your Willpower and Vitality for Wyrdings and Rituals.</em></small></li>
	</ul>
	<ul class="spaced-list unstyled span-6 col">
		<li><strong>s</strong><br><small>U.<br><em>W.</em></small></li>
	</ul>
</div>
