	<section class="clearfix gutters">
		<aside class="span-3 col empty">&nbsp;
		</aside>
		<div class="span-6 col">
			<h3>Choose Your Culture &amp; Name</h3>
			<p class="first">Creating a character begins with selecting the culture they were raised in. Doing so provides you with naming options, a starting language, and dictates your vocation options in the next step. The following cultures represent those found in and around the capital of the Empire, Ciderio.</p>
		</div>
		<aside class="span-3 col empty">&nbsp;
		</aside>
	</section>
	<section class="clearfix gutters">
		<aside class="span-3 col empty">&nbsp;
		</aside>
		<div class="span-6 col">
			{% include core/characters/backgrounds/hellas.html %}
		</div>
		<aside class="span-3 col empty">&nbsp;
		</aside>
	</section>
	<section class="clearfix gutters">
		<aside class="span-3 col empty">&nbsp;
		</aside>
		<div class="span-6 col">
	{% include core/characters/backgrounds/malins.html %}
		</div>
		<aside class="span-3 col empty">&nbsp;
		</aside>
	</section>
	<section class="clearfix gutters">
		<aside class="span-3 col empty">&nbsp;
		</aside>
		<div class="span-6 col">
	{% include core/characters/backgrounds/navari.html %}
		</div>
		<aside class="span-3 col empty">&nbsp;
		</aside>
	</section>
	<section class="clearfix gutters">
		<aside class="span-3 col empty">&nbsp;
		</aside>
		<div class="span-6 col">
	{% include core/characters/backgrounds/rankians.html %}
		</div>
		<aside class="span-3 col empty">&nbsp;
		</aside>
	</section>
	<section class="clearfix gutters">
		<aside class="span-3 col empty">&nbsp;
		</aside>
		<div class="span-6 col">
	{% include core/characters/backgrounds/vors.html %}
		</div>
		<aside class="span-3 col empty">&nbsp;
		</aside>
	</section>
	<section class="clearfix gutters">
		<aside class="span-3 col empty">&nbsp;
		</aside>
		<div class="span-6 col">
	{% include core/characters/backgrounds/zehar.html %}
		</div>
		<aside class="span-3 col empty">&nbsp;
		</aside>
	</section>