<section class="clearfix gutters block">
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>Character Details</h3>
		<p class="first">Fleshing out your character's personal details simply requires you pull 4 random Runes out, toss them and note which are face up and face down. You then assign each of these Runes to one of the following tables and note the results.</p>
	</div>
	<aside class="span-3 col empty">&nbsp;
	</aside>
</section>
<section class="clearfix gutters block">
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<h4>Dirty Secrets</h4>
		<p class="first">The Dirty Secrets table works to to provide an air of mystery surrounding your character. The heros of <em>Conspiracy of Shadows</em> are flawed individuals and these secrets help bring them to life. If the Dirty Secret involves a person, add that person to your Network.</p>
	</div>
	<aside class="span-3 col empty">&nbsp;
	</aside>
</section>
<table class="table-scroll">
	<caption>Dirty Secrets Table</caption>
	<thead>
		<tr>
			<th>Rune</th>
			<th>Dirty Secret</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><span class="futhark">J</span> Astrild Face Down</td>
			<td>Fears inheriting the throne of...</td>
		</tr>
		<tr>
			<td><span class="futhark">J</span> Astrild Face Up</td>
			<td>Haunted by memories of the time they...</td>
		</tr>
		<tr>
			<td><span class="futhark">A</span> Atridr Face Up</td>
			<td>Seeks the end to a curse from...</td>
		</tr>
		<tr>
			<td><span class="futhark">A</span> Atridr Face Down</td>
			<td>Is searching for an artifact from...</td>
		</tr>
		<tr>
			<td><span class="futhark">L</span> Avling Face Down</td>
			<td>Suffers from prophetic fits when...</td>
		</tr>
		<tr>
			<td><span class="futhark">L</span> Avling Face Up</td>
			<td>Looking for their lost love named...</td>
		</tr>
		<tr>
			<td><span class="futhark">M</span> Beli Face Down</td>
			<td>Seek immortality because...</td>
		</tr>
		<tr>
			<td><span class="futhark">M</span> Beli Face Up</td>
			<td>Seeks revenge because...</td>
		</tr>
		<tr>
			<td><span class="futhark">Y</span> Bragi Face Down</td>
			<td>Suffers from fits on insality because...</td>
		</tr>
		<tr>
			<td><span class="futhark">Y</span> Bragi Face Up</td>
			<td>Stalks the poor at night to...</td>
		</tr>
		<tr>
			<td><span class="futhark">K</span> Cheru Face Up</td>
			<td>Compulsively needs to touch everything because...</td>
		</tr>
		<tr>
			<td><span class="futhark">K</span> Cheru Face Down</td>
			<td>Suffers a severe allergy to...</td>
		</tr>
		<tr>
			<td><span class="futhark">V</span> Dod Face Up</td>
			<td>They become violent when...</td>
		</tr>
		<tr>
			<td><span class="futhark">V</span> Dod Face Down</td>
			<td>They secretly worship...</td>
		</tr>
		<tr>
			<td><span class="futhark">B</span> Fiollnir Face Down</td>
			<td>The are an imposter of...</td>
		</tr>
		<tr>
			<td><span class="futhark">B</span> Fiollnir Face Up</td>
			<td>They fake an illness because...</td>
		</tr>
		<tr>
			<td><span class="futhark">S</span> Fiolsvid Face Down</td>
			<td>They have their eye on the throne of...</td>
		</tr>
		<tr>
			<td><span class="futhark">S</span> Fiolsvid Face Up</td>
			<td>Their family is near ruin because...</td>
		</tr>
		<tr>
			<td><span class="futhark">Q</span> Fiorgyn Face Up</td>
			<td>They murdered their father because...</td>
		</tr>
		<tr>
			<td><span class="futhark">Q</span> Fiorgyn Face Down</td>
			<td>They are possessed by a demon because...</td>
		</tr>
		<tr>
			<td><span class="futhark">I</span> Glede Face Down</td>
			<td>They secretly study...</td>
		</tr>
		<tr>
			<td><span class="futhark">I</span> Glede Face Up</td>
			<td>They can see the dead when...</td>
		</tr>
		<tr>
			<td><span class="futhark">Z</span> Mot Face Down</td>
			<td>They once worked as a...</td>
		</tr>
		<tr>
			<td><span class="futhark">Z</span> Mot Face Up</td>
			<td>They have killed so many because...</td>
		</tr>
		<tr>
			<td><span class="futhark">O</span> Modi Face Down</td>
			<td>They believe the herald of the end times is...</td>
		</tr>
		<tr>
			<td><span class="futhark">O</span> Modi Face Up</td>
			<td>Is a master of...</td>
		</tr>
		<tr>
			<td><span class="futhark">R</span> Reise Face Up</td>
			<td>Is the secret leader of...</td>
		</tr>
		<tr>
			<td><span class="futhark">R</span> Reise Face Down</td>
			<td>They spent time in the forbidden...</td>
		</tr>
		<tr>
			<td><span class="futhark">U</span> Rikdom Face Up</td>
			<td>They are slowly poisoning...</td>
		</tr>
		<tr>
			<td><span class="futhark">U</span> Rikdom Face Down</td>
			<td>They masquerade as...</td>
		</tr>
		<tr>
			<td><span class="futhark">P</span> Sannhet Face Down</td>
			<td>They have perfected the elixer of...</td>
		</tr>
		<tr>
			<td><span class="futhark">P</span> Sannhet Face Up</td>
			<td>They collect human fat to...</td>
		</tr>
		<tr>
			<td><span class="futhark">D</span> Skadi Face Down</td>
			<td>They eat the flesh of...</td>
		</tr>
		<tr>
			<td><span class="futhark">D</span> Skadi Face Up</td>
			<td>They burned...</td>
		</tr>
		<tr>
			<td><span class="futhark">X</span> Smerte Face Up</td>
			<td>Wants to die because...</td>
		</tr>
		<tr>
			<td><span class="futhark">X</span> Smerte Face Down</td>
			<td>Has been replaced by...</td>
		</tr>
		<tr>
			<td><span class="futhark">E</span> Trenger Face Up</td>
			<td>Is bound to...</td>
		</tr>
		<tr>
			<td><span class="futhark">E</span> Trenger Face Down</td>
			<td>Is a compulsive...</td>
		</tr>
		<tr>
			<td><span class="futhark">W</span> Uthold Face Up</td>
			<td>They bathe in...</td>
		</tr>
		<tr>
			<td><span class="futhark">W</span> Uthold Face Down</td>
			<td></td>
		</tr>
		<tr>
			<td><span class="futhark">F</span> Vajir Face Up</td>
			<td>They invented a...</td>
		</tr>
		<tr>
			<td><span class="futhark">F</span> Vajir Face Down</td>
			<td>Is actually a...</td>
		</tr>
		<tr>
			<td><span class="futhark">N</span> Velded Face Down</td>
			<td>They secretly fought for...</td>
		</tr>
		<tr>
			<td><span class="futhark">N</span> Velded Face Up</td>
			<td>They covered up the murders of...</td>
		</tr>
		<tr>
			<td><span class="futhark">T</span> Vijir Face Down</td>
			<td>Is addicted to...</td>
		</tr>
		<tr>
			<td><span class="futhark">T</span> Vijir Face Up</td>
			<td>Only steals...</td>
		</tr>
		<tr>
			<td><span class="futhark">H</span> Vojin Face Down</td>
			<td>Will only eat after...</td>
		</tr>
		<tr>
			<td><span class="futhark">H</span> Vojin Face Up</td>
			<td>Has a pet that is realy a...</td>
		</tr>
	</tbody>
</table>
<section class="clearfix gutters block">
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<h4>Affectations</h4>
		<p class="first">The Affectations table works to flesh out details about your character. They are the little things that help bring that character to life when they are using in roleplaying. When combined with the other details of your character they can lead you into new and interesting places you may not have thought of before.</p>
	</div>
	<aside class="span-3 col empty">&nbsp;
	</aside>
</section>
<table class="table-scroll">
	<caption>Affectation</caption>
	<thead>
		<tr>
			<th>Rune</th>
			<th>Affectation</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><span class="futhark">J</span> Astrild Face Down</td>
			<td>Always in military uniform</td>
		</tr>
		<tr>
			<td><span class="futhark">J</span> Astrild Face Up</td>
			<td>Is short with red hair and old scars</td>
		</tr>
		<tr>
			<td><span class="futhark">A</span> Atridr Face Up</td>
			<td>Tall, thin and pale</td>
		</tr>
		<tr>
			<td><span class="futhark">A</span> Atridr Face Down</td>
			<td>So fat they can't walk without assistance</td>
		</tr>
		<tr>
			<td><span class="futhark">L</span> Avling Face Down</td>
			<td>Wears too much makeup</td>
		</tr>
		<tr>
			<td><span class="futhark">L</span> Avling Face Up</td>
			<td>Has one green and one yellow eye</td>
		</tr>
		<tr>
			<td><span class="futhark">M</span> Beli Face Down</td>
			<td>Is entirely hairless</td>
		</tr>
		<tr>
			<td><span class="futhark">M</span> Beli Face Up</td>
			<td>Has tattoos that change daily</td>
		</tr>
		<tr>
			<td><span class="futhark">Y</span> Bragi Face Down</td>
			<td>Is constantly eating</td>
		</tr>
		<tr>
			<td><span class="futhark">Y</span> Bragi Face Up</td>
			<td>Always has bloodshot eyes</td>
		</tr>
		<tr>
			<td><span class="futhark">K</span> Cheru Face Up</td>
			<td>Fingers are always stained with ink</td>
		</tr>
		<tr>
			<td><span class="futhark">K</span> Cheru Face Down</td>
			<td>Has shaky hands</td>
		</tr>
		<tr>
			<td><span class="futhark">V</span> Dod Face Up</td>
			<td>Tunelessly whistles constantly</td>
		</tr>
		<tr>
			<td><span class="futhark">V</span> Dod Face Down</td>
			<td>Is covered in self mutilated scars</td>
		</tr>
		<tr>
			<td><span class="futhark">B</span> Fiollnir Face Down</td>
			<td>Wears a toupe/wig</td>
		</tr>
		<tr>
			<td><span class="futhark">B</span> Fiollnir Face Up</td>
			<td>Has a shocking head of white hair</td>
		</tr>
		<tr>
			<td><span class="futhark">S</span> Fiolsvid Face Down</td>
			<td>Always sloppily dressed</td>
		</tr>
		<tr>
			<td><span class="futhark">S</span> Fiolsvid Face Up</td>
			<td>Constantly grooming themself</td>
		</tr>
		<tr>
			<td><span class="futhark">Q</span> Fiorgyn Face Up</td>
			<td>Is an albino</td>
		</tr>
		<tr>
			<td><span class="futhark">Q</span> Fiorgyn Face Down</td>
			<td>Is comically terrible with names</td>
		</tr>
		<tr>
			<td><span class="futhark">I</span> Glede Face Down</td>
			<td>Has no short term memory</td>
		</tr>
		<tr>
			<td><span class="futhark">I</span> Glede Face Up</td>
			<td>Is missing an eye</td>
		</tr>
		<tr>
			<td><span class="futhark">Z</span> Mot Face Down</td>
			<td>Is missing a limb</td>
		</tr>
		<tr>
			<td><span class="futhark">Z</span> Mot Face Up</td>
			<td>Is profusely hairy</td>
		</tr>
		<tr>
			<td><span class="futhark">O</span> Modi Face Down</td>
			<td>Constantly strokes their face</td>
		</tr>
		<tr>
			<td><span class="futhark">O</span> Modi Face Up</td>
			<td>Is very short</td>
		</tr>
		<tr>
			<td><span class="futhark">R</span> Reise Face Up</td>
			<td>Wears an eye patch</td>
		</tr>
		<tr>
			<td><span class="futhark">R</span> Reise Face Down</td>
			<td>Carries an ornate cane</td>
		</tr>
		<tr>
			<td><span class="futhark">U</span> Rikdom Face Up</td>
			<td>Wears outrageous outfits</td>
		</tr>
		<tr>
			<td><span class="futhark">U</span> Rikdom Face Down</td>
			<td>Is constantly checking time</td>
		</tr>
		<tr>
			<td><span class="futhark">P</span> Sannhet Face Down</td>
			<td>Is fat and constantly skulking about</td>
		</tr>
		<tr>
			<td><span class="futhark">P</span> Sannhet Face Up</td>
			<td>Has true visions when on drugs</td>
		</tr>
		<tr>
			<td><span class="futhark">D</span> Skadi Face Down</td>
			<td>Is very young</td>
		</tr>
		<tr>
			<td><span class="futhark">D</span> Skadi Face Up</td>
			<td>Always apologizing when talking</td>
		</tr>
		<tr>
			<td><span class="futhark">X</span> Smerte Face Up</td>
			<td>Has parchment-like skin</td>
		</tr>
		<tr>
			<td><span class="futhark">X</span> Smerte Face Down</td>
			<td>Gums and teeth are horribly stained</td>
		</tr>
		<tr>
			<td><span class="futhark">E</span> Trenger Face Up</td>
			<td>Has a childlike appearance</td>
		</tr>
		<tr>
			<td><span class="futhark">E</span> Trenger Face Down</td>
			<td>Has shocking green eyes</td>
		</tr>
		<tr>
			<td><span class="futhark">W</span> Uthold Face Up</td>
			<td>Always playing with a knife</td>
		</tr>
		<tr>
			<td><span class="futhark">W</span> Uthold Face Down</td>
			<td>Is missing fingers</td>
		</tr>
		<tr>
			<td><span class="futhark">F</span> Vajir Face Up</td>
			<td>Smells like lilacs</td>
		</tr>
		<tr>
			<td><span class="futhark">F</span> Vajir Face Down</td>
			<td>Has an unnerving stare</td>
		</tr>
		<tr>
			<td><span class="futhark">N</span> Velded Face Down</td>
			<td>Smells musky</td>
		</tr>
		<tr>
			<td><span class="futhark">N</span> Velded Face Up</td>
			<td>Always fidgeting</td>
		</tr>
		<tr>
			<td><span class="futhark">T</span> Vijir Face Down</td>
			<td>Has shining, observant eyes</td>
		</tr>
		<tr>
			<td><span class="futhark">T</span> Vijir Face Up</td>
			<td>Has bleeding gums</td>
		</tr>
		<tr>
			<td><span class="futhark">H</span> Vojin Face Down</td>
			<td>Always has a weapon in their hand</td>
		</tr>
		<tr>
			<td><span class="futhark">H</span> Vojin Face Up</td>
			<td>Always speaks in a whisper</td>
		</tr>
	</tbody>
</table>
<section class="clearfix gutters block">
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<h4>Relationships</h4>
		<p class="first">The Relationship table dictates an important person to your character and the nature of their relationship to one another. Give that person a name and think about how your characters feels towards them and the circumstances of the relationship. Then add that character to your Network.</p>
	</div>
	<aside class="span-3 col empty">&nbsp;
	</aside>
</section>
<table class="table-scroll">
	<caption>Relationship</caption>
	<thead>
		<tr>
			<th>Rune</th>
			<th>Relationship</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><span class="futhark">J</span> Astrild Face Down</td>
			<td>Always avoiding...</td>
		</tr>
		<tr>
			<td><span class="futhark">J</span> Astrild Face Up</td>
			<td>Married to...</td>
		</tr>
		<tr>
			<td><span class="futhark">A</span> Atridr Face Up</td>
			<td>Engaged to...</td>
		</tr>
		<tr>
			<td><span class="futhark">A</span> Atridr Face Down</td>
			<td>Murdered the parent of...</td>
		</tr>
		<tr>
			<td><span class="futhark">L</span> Avling Face Down</td>
			<td>Lives in fear of...</td>
		</tr>
		<tr>
			<td><span class="futhark">L</span> Avling Face Up</td>
			<td>Openly loves...</td>
		</tr>
		<tr>
			<td><span class="futhark">M</span> Beli Face Down</td>
			<td>Holds a grudge against...</td>
		</tr>
		<tr>
			<td><span class="futhark">M</span> Beli Face Up</td>
			<td>Writes poetry for...</td>
		</tr>
		<tr>
			<td><span class="futhark">Y</span> Bragi Face Down</td>
			<td>Hates...</td>
		</tr>
		<tr>
			<td><span class="futhark">Y</span> Bragi Face Up</td>
			<td>Slept with...</td>
		</tr>
		<tr>
			<td><span class="futhark">K</span> Cheru Face Up</td>
			<td>Is the parent of...</td>
		</tr>
		<tr>
			<td><span class="futhark">K</span> Cheru Face Down</td>
			<td>Secretly stalks...</td>
		</tr>
		<tr>
			<td><span class="futhark">V</span> Dod Face Up</td>
			<td>Is the child of...</td>
		</tr>
		<tr>
			<td><span class="futhark">V</span> Dod Face Down</td>
			<td>Pines after...</td>
		</tr>
		<tr>
			<td><span class="futhark">B</span> Fiollnir Face Down</td>
			<td>Always lies about...</td>
		</tr>
		<tr>
			<td><span class="futhark">B</span> Fiollnir Face Up</td>
			<td>Has blackmail on...</td>
		</tr>
		<tr>
			<td><span class="futhark">S</span> Fiolsvid Face Down</td>
			<td>Murdered the eldest child of...</td>
		</tr>
		<tr>
			<td><span class="futhark">S</span> Fiolsvid Face Up</td>
			<td>Lives to please...</td>
		</tr>
		<tr>
			<td><span class="futhark">Q</span> Fiorgyn Face Up</td>
			<td>Constantly forgets...</td>
		</tr>
		<tr>
			<td><span class="futhark">Q</span> Fiorgyn Face Down</td>
			<td>Covets...</td>
		</tr>
		<tr>
			<td><span class="futhark">I</span> Glede Face Down</td>
			<td>Is never without...</td>
		</tr>
		<tr>
			<td><span class="futhark">I</span> Glede Face Up</td>
			<td>Survived an attack by...</td>
		</tr>
		<tr>
			<td><span class="futhark">Z</span> Mot Face Down</td>
			<td>Once found...</td>
		</tr>
		<tr>
			<td><span class="futhark">Z</span> Mot Face Up</td>
			<td>Once was lost with...</td>
		</tr>
		<tr>
			<td><span class="futhark">O</span> Modi Face Down</td>
			<td>Likes to get drunk with...</td>
		</tr>
		<tr>
			<td><span class="futhark">O</span> Modi Face Up</td>
			<td>Often gambles with...</td>
		</tr>
		<tr>
			<td><span class="futhark">R</span> Reise Face Up</td>
			<td>Was in prison with...</td>
		</tr>
		<tr>
			<td><span class="futhark">R</span> Reise Face Down</td>
			<td>Was stranded with...</td>
		</tr>
		<tr>
			<td><span class="futhark">U</span> Rikdom Face Up</td>
			<td>Maimed in battle...</td>
		</tr>
		<tr>
			<td><span class="futhark">U</span> Rikdom Face Down</td>
			<td>Is wanted by...</td>
		</tr>
		<tr>
			<td><span class="futhark">P</span> Sannhet Face Down</td>
			<td>Knows the true name of...</td>
		</tr>
		<tr>
			<td><span class="futhark">P</span> Sannhet Face Up</td>
			<td>Owes a huge debt to...</td>
		</tr>
		<tr>
			<td><span class="futhark">D</span> Skadi Face Down</td>
			<td>Holds a marker on...</td>
		</tr>
		<tr>
			<td><span class="futhark">D</span> Skadi Face Up</td>
			<td>Has a child with...</td>
		</tr>
		<tr>
			<td><span class="futhark">X</span> Smerte Face Up</td>
			<td>Is business partners with...</td>
		</tr>
		<tr>
			<td><span class="futhark">X</span> Smerte Face Down</td>
			<td>Was owned by...</td>
		</tr>
		<tr>
			<td><span class="futhark">E</span> Trenger Face Up</td>
			<td>Burned down the home of...</td>
		</tr>
		<tr>
			<td><span class="futhark">E</span> Trenger Face Down</td>
			<td>Was nearly executed by...</td>
		</tr>
		<tr>
			<td><span class="futhark">W</span> Uthold Face Up</td>
			<td>Was abandonned by...</td>
		</tr>
		<tr>
			<td><span class="futhark">W</span> Uthold Face Down</td>
			<td>Traveled far with...</td>
		</tr>
		<tr>
			<td><span class="futhark">F</span> Vajir Face Up</td>
			<td>Was rescued by...</td>
		</tr>
		<tr>
			<td><span class="futhark">F</span> Vajir Face Down</td>
			<td>Abandonned...</td>
		</tr>
		<tr>
			<td><span class="futhark">N</span> Velded Face Down</td>
			<td>Was the mentor of...</td>
		</tr>
		<tr>
			<td><span class="futhark">N</span> Velded Face Up</td>
			<td>Was taught by...</td>
		</tr>
		<tr>
			<td><span class="futhark">T</span> Vijir Face Down</td>
			<td>Once owned as a slave...</td>
		</tr>
		<tr>
			<td><span class="futhark">T</span> Vijir Face Up</td>
			<td>When to school with...</td>
		</tr>
		<tr>
			<td><span class="futhark">H</span> Vojin Face Down</td>
			<td>Stole something precious from...</td>
		</tr>
		<tr>
			<td><span class="futhark">H</span> Vojin Face Up</td>
			<td>Used to work with...</td>
		</tr>
	</tbody>
</table>
<section class="clearfix gutters block">
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<h4>Languages</h4>
		<p class="first">Languages define with who a character can communicate. This can be simple mundane communication between people or communication with supernatural monstrosities. </p>
	</div>
	<aside class="span-3 col empty">&nbsp;
	</aside>
</section>
<table class="table-scroll">
	<caption>Languages</caption>
	<thead>
		<tr>
			<th>Rune</th>
			<th>Languages</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><span class="futhark">J</span> Astrild Face Up</td>
			<td>Alfen</td>
		</tr>
		<tr>
			<td><span class="futhark">J</span> Astrild Face Down</td>
			<td>Orun</td>
		</tr>
		<tr>
			<td><span class="futhark">A</span> Atridr Face Up</td>
			<td>Ayun and Vorish</td>
		</tr>
		<tr>
			<td><span class="futhark">A</span> Atridr Face Down</td>
			<td>Irun</td>
		</tr>
		<tr>
			<td><span class="futhark">L</span> Avling Face Up</td>
			<td>Djinni</td>
		</tr>
		<tr>
			<td><span class="futhark">L</span> Avling Face Down</td>
			<td>Barun</td>
		</tr>
		<tr>
			<td><span class="futhark">M</span> Beli Face Up</td>
			<td>Jutun</td>
		</tr>
		<tr>
			<td><span class="futhark">M</span> Beli Face Down</td>
			<td>Davrun</td>
		</tr>
		<tr>
			<td><span class="futhark">Y</span> Bragi Face Up</td>
			<td>Skalfar</td>
		</tr>
		<tr>
			<td><span class="futhark">Y</span> Bragi Face Down</td>
			<td>Luvilun</td>
		</tr>
		<tr>
			<td><span class="futhark">K</span> Cheru Face Up</td>
			<td>Demonic</td>
		</tr>
		<tr>
			<td><span class="futhark">K</span> Cheru Face Down</td>
			<td>Hellas</td>
		</tr>
		<tr>
			<td><span class="futhark">V</span> Dod Face Up</td>
			<td>Otash</td>
		</tr>
		<tr>
			<td><span class="futhark">V</span> Dod Face Down</td>
			<td>Zeher</td>
		</tr>
		<tr>
			<td><span class="futhark">B</span> Fiollnir Face Up</td>
			<td>Nardosh</td>
		</tr>
		<tr>
			<td><span class="futhark">B</span> Fiollnir Face Down</td>
			<td>Avagoni</td>
		</tr>
		<tr>
			<td><span class="futhark">S</span> Fiolsvid Face Down</td>
			<td>Castanata</td>
		</tr>
		<tr>
			<td><span class="futhark">S</span> Fiolsvid Face Up</td>
			<td>Kidan</td>
		</tr>
		<tr>
			<td><span class="futhark">Q</span> Fiorgyn Face Up</td>
			<td>Besh</td>
		</tr>
		<tr>
			<td><span class="futhark">Q</span> Fiorgyn Face Down</td>
			<td>Falkan</td>
		</tr>
		<tr>
			<td><span class="futhark">I</span> Glede Face Down</td>
			<td>Nis</td>
		</tr>
		<tr>
			<td><span class="futhark">I</span> Glede Face Up</td>
			<td>Uar</td>
		</tr>
		<tr>
			<td><span class="futhark">Z</span> Mot Face Down</td>
			<td>Vlesi</td>
		</tr>
		<tr>
			<td><span class="futhark">Z</span> Mot Face Up</td>
			<td>Skari</td>
		</tr>
		<tr>
			<td><span class="futhark">O</span> Modi Face Down</td>
			<td>Vorish</td>
		</tr>
		<tr>
			<td><span class="futhark">O</span> Modi Face Up</td>
			<td>Sarlot</td>
		</tr>
		<tr>
			<td><span class="futhark">R</span> Reise Face Up</td>
			<td>Kol</td>
		</tr>
		<tr>
			<td><span class="futhark">R</span> Reise Face Down</td>
			<td>Ayun</td>
		</tr>
		<tr>
			<td><span class="futhark">U</span> Rikdom Face Up</td>
			<td>Inga</td>
		</tr>
		<tr>
			<td><span class="futhark">U</span> Rikdom Face Down</td>
			<td>Hazan</td>
		</tr>
		<tr>
			<td><span class="futhark">P</span> Sannhet Face Down</td>
			<td>Hanud</td>
		</tr>
		<tr>
			<td><span class="futhark">P</span> Sannhet Face Up</td>
			<td>Anab</td>
		</tr>
		<tr>
			<td><span class="futhark">D</span> Skadi Face Down</td>
			<td>Ranka</td>
		</tr>
		<tr>
			<td><span class="futhark">D</span> Skadi Face Up</td>
			<td>Vashish</td>
		</tr>
		<tr>
			<td><span class="futhark">X</span> Smerte Face Up</td>
			<td>Toloskan</td>
		</tr>
		<tr>
			<td><span class="futhark">X</span> Smerte Face Down</td>
			<td>Umarsi</td>
		</tr>
		<tr>
			<td><span class="futhark">E</span> Trenger Face Up</td>
			<td>Sarl</td>
		</tr>
		<tr>
			<td><span class="futhark">E</span> Trenger Face Down</td>
			<td>Vessasi</td>
		</tr>
		<tr>
			<td><span class="futhark">W</span> Uthold Face Up</td>
			<td>Daskan</td>
		</tr>
		<tr>
			<td><span class="futhark">W</span> Uthold Face Down</td>
			<td>Larjeti</td>
		</tr>
		<tr>
			<td><span class="futhark">F</span> Vajir Face Up</td>
			<td>Bravish</td>
		</tr>
		<tr>
			<td><span class="futhark">F</span> Vajir Face Down</td>
			<td>Zimbish</td>
		</tr>
		<tr>
			<td><span class="futhark">N</span> Velded Face Down</td>
			<td>Bemi</td>
		</tr>
		<tr>
			<td><span class="futhark">N</span> Velded Face Up</td>
			<td>Eskari</td>
		</tr>
		<tr>
			<td><span class="futhark">T</span> Vijir Face Down</td>
			<td>Isoli</td>
		</tr>
		<tr>
			<td><span class="futhark">T</span> Vijir Face Up</td>
			<td>Navari</td>
		</tr>
		<tr>
			<td><span class="futhark">H</span> Vojin Face Down</td>
			<td>Omeroni</td>
		</tr>
		<tr>
			<td><span class="futhark">H</span> Vojin Face Up</td>
			<td>Tarathan</td>
		</tr>
	</tbody>
</table>
	
	<table class="table-scroll">
		<caption>Character Details Table</caption>
		<thead>
			<tr>
				<th class="twenty">Draw</th>
				<th class="twenty">Vocation</th>
				<th class="twenty">Dirty Secret</th>
				<th class="twenty">Affectation</th>
				<th class="ten">Relationship</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>The Avenger</td>
				<td>Orthodox Monk</td>
				<td>Fears inheriting the throne</td>
				<td>Always in military uniform</td>
				<td>Engaged to..</td>
			</tr>
			<tr>
				<td>The Beast</td>
				<td>Arms Smuggler</td>
				<td>Haunted by memories of their past life</td>
				<td>Is short with red hair and old scars</td>
				<td>Married to...</td>
			</tr>
			<tr>
				<td>The Charlatan</td>
				<td>University Student</td>
				<td>Seeks to be free from an ancient curse</td>
				<td>Tall, thin and pale</td>
				<td>Murdered...</td>
			</tr>
			<tr>
				<td>The Dark Master</td>
				<td>Cult Leader</td>
				<td>Is searching for a First Men artifact...</td>
				<td>So fat they can't walk without assistance</td>
				<td>Always avoiding...</td>
			</tr>
			<tr>
				<td>The Fates</td>
				<td>Imperial Officer</td>
				<td>Suffers from prophetic fits</td>
				<td>Wears too much makeup</td>
				<td>Openly Loves...</td>
			</tr>
			<tr>
				<td>The Fool</td>
				<td>University Professor</td>
				<td>They are scouring the land for their lost love</td>
				<td>Has a green and yellow eye</td>
				<td>Lives in fear of...</td>
			</tr>
			<tr>
				<td>The Ghost</td>
				<td>Converted Pagan</td>
				<td>They are dying from a terminal illness and seek immortality</td>
				<td>Is entirely hairless</td>
				<td>Holds a grudge against...</td>
			</tr>
			<tr>
				<td>The Hanged God</td>
				<td>Assassin</td>
				<td>Seeks revenge against their sibling who betrayed them</td>
				<td>Has tattoos that change daily</td>
				<td>Hates...</td>
	</tr>
			<tr>
				<td>The Hooded Man</td>
				<td>Alchemist</td>
				<td>Suffers from fits of insanity</td>
				<td>Constantly eating</td>
				<td>Secretly stalks...</td>
			</tr>
			<tr>
				<td>The Horseman</td>
				<td>Demon Hunter</td>
				<td>They stalk the poor at night</td>
				<td>Bloodshot eyes</td>
				<td>Writes poetry for...</td>
			</tr>
			<tr>
				<td>The Innocent</td>
				<td>Bandit</td>
				<td>They compulsively need to touch everything</td>
				<td>Fingers stained with ink</td>
				<td>Slept with...</td>
			</tr>
			<tr>
				<td>The Jutun</td>
				<td>Smuggler</td>
				<td>They suffer a sever allergy to iron</td>
				<td>Has shaky hands</td>
				<td>Pines after...</td>
			</tr>
			<tr>
				<td>The Lost</td>
				<td>Converted Pagan</td>
				<td>They are obsessive and violent</td>
				<td>Tunelessly whistles</td>
				<td>Always lies about...</td>
			</tr>
			<tr>
				<td>The Puppet</td>
				<td>Disinherited Noble</td>
				<td>They secretly worship the War God</td>
				<td>Covered in self mutilated scars</td>
				<td>Has murdered the eldest child of...</td>
			</tr>
			<tr>
				<td>The Raven</td>
				<td>Apothecary</td>
				<td>They are not the last scion of their house, but an impostor</td>
				<td>Wears a toupe/wig</td>
				<td>Is the parent of...</td>
			</tr>
			<tr>
				<td>The Sanctuary</td>
				<td>Beggar</td>
				<td>They are deaf in one ear</td>
				<td>Shocking head of white hair</td>
				<td>Is the child of...</td>
			</tr>
			<tr>
				<td>The Shepherd</td>
				<td>Vampire Hunter</td>
				<td>Has their eye on the throne</td>
				<td>Sloppily dressed</td>
				<td>Has blackmail on...</td>
			</tr>
			<tr>
				<td>The Torturers</td>
				<td>Bodyguard</td>
				<td>Their house is on the edge of financial ruin</td>
				<td>Constantly grooming</td>
				<td>Covets...</td>
				<td>Luvilun</td>
			</tr>
			<tr>
				<td>The Traitor</td>
				<td>Bounty Hunter</td>
				<td>They murdered their father.</td>
				<td>An albino</td>
				<td>Lives to please...</td>
				<td>Navari</td>
			</tr>
			<tr>
				<td>The Warden</td>
				<td>Astrologer</td>
				<td>They are possessed by a demon</td>
				<td>Is comically terrible with names</td>
				<td>Constantly forgets...</td>
				<td>Isoli</td>
			</tr>
			<tr>
				<td>The Wild Hunt</td>
				<td>Bored Rich Kid</td>
				<td>Is secretly a nercomancer</td>
				<td>Has no short term memory</td>
				<td>Is never without...</td>
				<td>Eskari</td>
			</tr>
			<tr>
				<td>The Torn Sky</td>
				<td>Burglar</td>
				<td>They see and speak with the dead</td>
				<td>Missing an eye</td>
				<td>Has tasted...</td>
				<td>Tarathan</td>
			</tr>
			<tr>
				<td>The Discovery</td>
				<td>Con Man</td>
				<td>Once worked the high seas</td>
				<td>Missing a limb</td>
				<td>Once found...</td>
				<td>Omeroni</td>
			</tr>
			<tr>
				<td>The Forging</td>
				<td>Reformed Criminal</td>
				<td>They are a serial killer.</td>
				<td>Profusely hairy</td>
				<td>Once fell in...</td>
				<td>Besh</td>
			</tr>
			<tr>
				<td>The Prayer</td>
				<td>Orthodox Priest</td>
				<td>Thinks their pet cat is the herald of end times</td>
				<td>Constantly strokes face</td>
				<td>Always forgets their...</td>
				<td>Kida</td>
			</tr>
			<tr>
				<td>The Meeting</td>
				<td>Street Thug</td>
				<td>Is a master of poisons</td>
				<td>Very short</td>
				<td>Never notices...</td>
				<td>Nardosh</td>
			</tr>
			<tr>
				<td>The Courtship</td>
				<td>Duelist</td>
				<td>Is the secret leader of the Guild</td>
				<td>Swarthy skinned</td>
				<td>Engaged to...</td>
				<td>Otash</td>
			</tr>
			<tr>
				<td>The Perfect Moment</td>
				<td>City Watchman</td>
				<td>Has spent time in a Kalifate prison</td>
				<td>Wears an eye patch</td>
				<td>Married to...</td>
				<td>Skari</td>
			</tr>
			<tr>
				<td>The Beginning of the End</td>
				<td>Hermit</td>
				<td>Is slowly poisoning their spouse</td>
				<td>Carries an ornate cane</td>
				<td>Lives in fear of...</td>
				<td>Kol</td>
			</tr>
			<tr>
				<td>The Unfortunate Need</td>
				<td>Peasant Farmer</td>
				<td>They masquerade as their sibling</td>
				<td>Wears outrageous outfits</td>
				<td>Compelled to protect..</td>
				<td>Uar</td>
			</tr>
			<tr>
				<td>The Escape</td>
				<td>Escaped Slave</td>
				<td>Is working to get their son on the throne</td>
				<td>Constantly checking time</td>
				<td>Was once attacked by...</td>
				<td>Inga</td>
			</tr>
			<tr>
				<td>The Perfect Gift</td>
				<td>Hunter</td>
				<td>Has perfected a youth elixir</td>
				<td>Fat and skulking</td>
				<td>Has rivalry with...</td>
				<td>Salot</td>
			</tr>
			<tr>
				<td>The Long Road</td>
				<td>Information Broker</td>
				<td>Has true visions when on drugs</td>
				<td>Very old</td>
				<td>Owes money too...</td>
				<td>Anab</td>
			</tr>
			<tr>
				<td>The Bull God</td>
				<td>Investigator</td>
				<td>Collects human fat for his work</td>
				<td>Very young</td>
				<td>Always lies about...</td>
				<td>Ayun</td>
			</tr>
			<tr>
				<td>The Axeman</td>
				<td>Locksmith</td>
				<td>Eats the flesh of the dead</td>
				<td>Covered in scars</td>
				<td>Trusts only...</td>
				<td>Hazan</td>
			</tr>
			<tr>
				<td>The Archer</td>
				<td>Scout</td>
				<td>Once pushed a coworker into the fire</td>
				<td>Always apologizing when talking</td>
				<td>Always avoiding...</td>
				<td>Hanud</td>
			</tr>
			<tr>
				<td>The Destroyer</td>
				<td>Rebel</td>
				<td>Is hundreds of years old, but looks 25</td>
				<td>Always eating</td>
				<td>Covets...</td>
				<td>Ranka</td>
			</tr>
			<tr>
				<td>The Parasites</td>
				<td>Pirate</td>
				<td>Studies the dark arts</td>
				<td>Has parchment like skin</td>
				<td>Slept with...</td>
				<td>Umarsi</td>
			</tr>
			<tr>
				<td>Ther Purifier</td>
				<td>Sailor</td>
				<td>Wants to die, but fears to take their own life</td>
				<td>Gums and teeth horribly stained</td>
				<td>Is never without...</td>
				<td>Vessasi</td>
			</tr>
			<tr>
				<td>The Savior</td>
				<td>Historian</td>
				<td>Has been replaced by "something" else</td>
				<td>Childlike appearance</td>
				<td>Murdered...</td>
				<td>Larjeti</td>
			</tr>
			<tr>
				<td>The Warlord</td>
				<td>Physician</td>
				<td>Is bound to an ancient artifact</td>
				<td>Shocking green eyes</td>
				<td>Hates...</td>
				<td>Zimbish</td>
			</tr>
			<tr>
				<td>The Guardian</td>
				<td>Witch/Wizard</td>
				<td>Is a compulsive liar</td>
				<td>Always plays with knives</td>
				<td>Loves...</td>
				<td>Bemi</td>
			</tr>
			<tr>
				<td>The Dead Eaters</td>
				<td>Missionary</td>
				<td>When they sing, small animals that hear them die</td>
				<td>Missing fingers</td>
				<td>Compelled to protect...</td>
				<td>Hellas</td>
			</tr>
			<tr>
				<td>The Deathless</td>
				<td>Cup Knight Soldier</td>
				<td>They bathe in the blood of orphans</td>
				<td>Smells like lilacs</td>
				<td>Writes poetry for...</td>
				<td>Hellas</td>
	</tr>
			<tr>
				<td>The Dead Queen</td>
				<td>Cup Knight</td>
				<td>Has invented an explosive compound</td>
				<td>Has an unnerving stare</td>
				<td>Never notices...</td>
				<td>Besh</td>
			</tr>
			<tr>
				<td>The Bull</td>
				<td>Gladiator</td>
				<td>Has prophetic dreams</td>
				<td>Fidgets</td>
				<td>Is the parent of...</td>
				<td>Kida</td>
			</tr>
			<tr>
				<td>The Coyote</td>
				<td>Smith</td>
				<td>Is a ghost that can take corporeal form for short periods of time</td>
				<td>Smells musky</td>
				<td>Loves...</td>
				<td>Avagoni</td>
			</tr>
			<tr>
				<td>The Crab</td>
				<td>Thief Catcher</td>
				<td>They secretly fought in the war under the guise of their famous uncle</td>
				<td>Shining, observant eyes</td>
				<td>Compelled to protect...</td>
				<td>Ayun</td>
			</tr>
			<tr>
				<td>The Ouroboros</td>
				<td>Militia</td>
				<td>Owes a substantial debt</td>
				<td>Has bleeding gums</td>
				<td>Writes poetry for...</td>
				<td>Umarsi</td>
			</tr>
			<tr>
				<td>The Balance</td>
				<td>Herdsman</td>
				<td>They cover up for her sibling's murders</td>
				<td>Always carries a weapon</td>
				<td>Is never without...</td>
				<td>Inga</td>
			</tr>
			<tr>
				<td>The Stag</td>
				<td>Servant</td>
				<td>Is an addict</td>
				<td>Moves very deliberately</td>
				<td>Never notices...</td>
				<td>Skari</td>
			</tr>
			<tr>
				<td>The Mermaid</td>
				<td>Cook</td>
				<td>Has constructed a flesh golem that has since escaped</td>
				<td>Covered in tattoos</td>
				<td>Engaged to...</td>
				<td>Navari</td>
			</tr>
			<tr>
				<td>The Lovers</td>
				<td>Animal Trainer</td>
				<td>Eats the flesh of the dead</td>
				<td>Covered in scars</td>
				<td>Is the parent of...</td>
				<td>Hellas</td>
			</tr>
			<tr>
				<td>The Usurper</td>
				<td>Cartographer</td>
				<td>Is a cult member</td>
				<td>Missing an eye</td>
				<td>Murdered...</td>
				<td>Bemi</td>
			</tr>
			<tr>
				<td>The High Priest</td>
				<td>Artist</td>
				<td>Is a cult leader</td>
				<td>Always whispers</td>
				<td>Has tasted...</td>
				<td>Vorish</td>
			</tr>
			<tr>
				<td>The Scorpion</td>
				<td>Fisherman</td>
				<td>Once patrolled the sea as a pirate</td>
				<td>Speaks with an unidentifiable accent</td>
				<td>Always lies about...</td>
				<td>Ayun</td>
			</tr>
			<tr>
				<td>The Mercenary</td>
				<td>Laborer</td>
				<td>Does freelance muscle work</td>
				<td>Never travels alone</td>
				<td>Once found...</td>
				<td>Hellas</td>
			</tr>
			<tr>
				<td>The Hunter</td>
				<td>Street Orphan</td>
				<td>Only steals from wealthy men</td>
				<td>Short and tedious</td>
				<td>Slept with...</td>
				<td>Vorish</td>
			</tr>
			<tr>
				<td>The Guardsman</td>
				<td>Prostitute</td>
				<td>Served in the war</td>
				<td>Always too warm</td>
				<td>Has murdered the eldest child of...</td>
				<td>Larjeti</td>
			</tr>
			<tr>
				<td>The Skald</td>
				<td>Ratter</td>
				<td>Won their home in a card game</td>
				<td>Ends every sentence with "what"</td>
				<td>Jealous of...</td>
				<td>Ranka</td>
			</tr>
			<tr>
				<td>The Apprentice</td>
				<td>Tutor</td>
				<td>Is embroiled in a dangerous love affair</td>
				<td>Never blinks</td>
				<td>Looking for...</td>
				<td>Otash</td>
			</tr>
			<tr>
				<td>The Caravan Master</td>
				<td>Scribe</td>
				<td>Has a pet that isn't really an animal</td>
				<td>Never looks you in the eyes</td>
				<td>Tinkers with...</td>
				<td>Toloskan</td>
			</tr>
			<tr>
				<td>The Ana Sister</td>
				<td>Mercenary Soldier</td>
				<td>Gullible</td>
				<td>Incredibly beautiful</td>
				<td>Engaged to...</td>
				<td>Sarl</td>
			</tr>
			<tr>
				<td>The Guildsman</td>
				<td>Yeoman Soldier</td>
				<td>Always armed with one extra weapon</td>
				<td>Has 25 children</td>
				<td>Wants to kill...</td>
				<td>Falkan</td>
			</tr>
			<tr>
				<td>The Inquisidar</td>
				<td>Teamster</td>
				<td>Murdered someone with dangerous connections</td>
				<td>Walks with a limp</td>
				<td>Never notices...</td>
				<td>Daskan</td>
			</tr>
			<tr>
				<td>The Bearskin</td>
				<td>Thatcher</td>
				<td>Always avoids the authorities</td>
				<td>Has a deformed hand</td>
				<td>Hiding from...</td>
				<td>Umarsi</td>
			</tr>
			<tr>
				<td>The Alfar King</td>
				<td>Toymaker</td>
				<td>Lives in fear of a family member</td>
				<td>Covered in burn scars</td>
				<td>Is the parent of...</td>
				<td>Ayun</td>
			</tr>
			<tr>
				<td>The Galgarmar</td>
				<td>Chandler</td>
				<td>Stalks people of authority</td>
				<td>Never completes their sentences</td>
				<td>Friends with...</td>
				<td>Vorish</td>
			</tr>
		</tbody>
	</table>
