<article class="item">
	<section class="clearfix gutters block">
		<aside class="span-3 col empty">
			&nbsp;
		</aside>
		<div class="span-6 col">
			<h3>Tally Up Your Traits</h3>
			<p class="first">As you went through the character creation process you where prompted to add or subtract from your Traits. Now is the time to total all of those modifiers up to create your Core Traits. These traits will define the number of runestones you throw in any given situation. </p>
			<h4 id="derived-traits">Core Traits</h4>
			<div class="clearfix">
				<ul class="spaced-list unstyled span-6 col">
					<li>Athletics<br><small>Athletics is the measure of a character's physical capabilities. It is used in Challenges for any physical action not covered by the other traits.</small></li>
					<li>Temperament<br><small>Temperament is a measure of a character's strength of personality. It is used in Challenges for psychological actions not covered by other traits.</small></li>
					<li>Leadership<br><small>Leadership is a measure of a character's charisma and self control. It is used in Challenges for command-based pursuits.</small></li>
					<li>Wyrd<br><small>Wyrd is the measure of a character's ability to manipulate the Wyrd to shape reality. It is used to resolve Rituals and Wyrdings.</small></li>
				</ul>
				<ul class="spaced-list unstyled span-6 col">
					<li>Skullduggery<br><small>Skullduggery is a measure of a character's ability to engage in underhanded and sneaky deeds. It is used in Challenges covering criminal behaviors and generally stealthy behavior.</small></li>
					<li>Craftsmanship<br><small>Craftsmanship is a measure of a character's ability to create, be it music or a horseshoe. It is used to resolve Challenges centered on the act of creation.</small></li>
					<li>Fighting<br><small>Fighting is a measure of a character's ability to fight and defend themselves. It is used primarily as a part of Skirmishes.</small></li>
				</ul>		
			</div>
			<h4 id="derived-traits">Derived Traits</h4>
			<p class="first">Derived traits are the resources you manage throughout play. They are pools spent to engage in Challenges, in Skirmishes, and to manipulate the Wyrd. Each is derived by combining specific traits. After totallying them up, be sure to add or subtract any modifications that came out of the earlier stages of the character creation process.</p>
			<ul class="spaced-list unstyled">
				<li>Vitality<br><small>Temperament + Athletics + Fighting + Skullduggery</small></li>
				<li>Vitality Recovery<br><small>Athletics</small></li>
				<li>Influence<br><small>Leadership + Temperament</small></li>
				<li>Influence Recovery<br><small>Network Size</small></li>
				<li>Willpower<br><small>Wyrd + Temperament</small></li>
				<li>Willpower Recovery<br><small>Temperament</small></li>
			</ul>			
		</div>
		<aside class="span-3 col empty">
		&nbsp;
		</aside>
	</section>
	
</article>