<section class="clearfix gutters block">
	<aside class="span-3 col empty">&nbsp;</aside>
	<div class="span-6 col">
		<h3>Select Talents</h3>
		<p class="first">When creating a character you create two talents that help to define your character. Talents are a brief description of something the character is capable and even good at doing. It is important that they describe only one capability.</p>
		<p>Each Talent is also associated with a Rune. When writing down the Talent also include this Rune. If while using this Talent during a toss that Rune appears face-up, the character gets a +1s.</p>
		<h4>Example Talents</h4>
		<ul class="spaced-list unstyled">
			<li>Confuse the minds of others with words and gestures</li>
			<li>Trained to utilize agility and flexibility to move quietly</li>
			<li>Jumps and maintains balance like a cat</li>
			<li>Can tap into the Wyrding to shape the world</li>
			<li>Purified and sanctified against Taint</li>
			<li>Has a seemingly endless reservoir of physical endurance</li>
			<li>Can kill the feeble minded with a word</li>
			<li>Can transfer Wyrds onto scrolls for others to use</li>
			<li>Has studied the ways of the Alfar and knows their weaknesses</li>
		</ul>
	</div>
	<aside class="span-3 col empty">&nbsp;</aside>
</section>
	
