<section class="clearfix gutters block">
	<aside class="span-3 col empty">&nbsp;</aside>
	<div class="span-6 col">
		<h3>Select Talents</h3>
		<p class="first">When creating a character you create three talents that help to define your character. Talents are a brief description of something the character is capable and even good at doing. It is important that they describe only one capability. Below are some examples.</p>
		<ul class="spaced-list unstyled">
			<li></li>
		</ul>
	</div>
	<aside class="span-3 col empty">&nbsp;</aside>
</section>
	
