<article class="item" data-nav="The Things You Carry">
<section class="clearfix gutters block" id="gear">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>The Things You Carry</h3>
		<p class="first">The people in the Empire trade in a variety of currencies. That being said, Imperial coin is always welcome for it's high gold and silver content. The following table outlines the types of coinage and their relations to one another.</p>
		<p>When creating a new character, multiply the total number of your character's Influence Pool value by their VOcation's Annual Earnings number. This is the amount of Decanidi you have to spend on your character's initial gear. When done purchasing gear toss twelve rune stones and multiply the total number of successes by your character's Influence Pool value and add to that any remaining Decanidi. This is the amount of liquid assets your character has available to them at the start of play.</p>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</section>
<table class="table-scroll">
	<caption>Rates of Exchange</caption>
	<thead>
		<tr>
			<th>Currency Type</th>
			<th>Solidi</th>
			<th>Folidi</th>
			<th>Half Folidi</th>
			<th>Decanidi</th>
			<th>Pentanidi</th>
			<th>Numis</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Solidi</td>
			<td>1</td>
			<td>420</td>
			<td>840</td>
			<td>1,680</td>
			<td>3,360</td>
			<td>16,800</td>
		</tr>
		<tr>
			<td>Folidi</td>
			<td>1/420</td>
			<td>1</td>
			<td>2</td>
			<td>4</td>
			<td>8</td>
			<td>40</td>
		</tr>
		<tr>
			<td>Half Folidi</td>
			<td>1/840</td>
			<td>1/2</td>
			<td>1</td>
			<td>2</td>
			<td>4</td>
			<td>20</td>
		</tr>
		<tr>
			<td>Decanidi</td>
			<td>1/1,680</td>
			<td>1/4</td>
			<td>1/2</td>
			<td>1</td>
			<td>2</td>
			<td>10</td>
		</tr>
		<tr>
			<td>Pentanidi</td>
			<td>1/3,360</td>
			<td>1/8</td>
			<td>1/4</td>
			<td>1/2</td>
			<td>1</td>
			<td>5</td>
		</tr>
		<tr>
			<td>Numis</td>
			<td>1/16,800</td>
			<td>1/40</td>
			<td>1/20</td>
			<td>1/10</td>
			<td>1/5</td>
			<td>1</td>
		</tr>
	</tbody>
</table>
<div class="clearfix gutters block">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h4>Solidi and Influence</h4>
		<p>The Solidi to Influence Table shows how a character can expand their Influence Pool temporarily by spending coin. The exchange rate is both ways, so a character can also spend Influence to get access to temporary cash. Role-play how this works within the context of a Scene.</p>
		<table class="table-scroll">
			<caption>Solidi to Influence Conversion</caption>
			<thead>
				<tr>
					<th>Solidi Value</th>
					<th>Influence</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>10</td>
					<td>1</td>
				</tr>
				<tr>
					<td>100</td>
					<td>2</td>
				</tr>
				<tr>
					<td>200</td>
					<td>3</td>
				</tr>
				<tr>
					<td>500</td>
					<td>4</td>
				</tr>
				<tr>
					<td>1,500</td>
					<td>5</td>
				</tr>
				<tr>
					<td>3,000</td>
					<td>6</td>
				</tr>
				<tr>
					<td>5,000</td>
					<td>7</td>
				</tr>
				<tr>
					<td>10,000</td>
					<td>8</td>
				</tr>
				<tr>
					<td>20,000</td>
					<td>9</td>
				</tr>
				<tr>
					<td>30,000</td>
					<td>10</td>
				</tr>
			</tbody>
		</table>
		<table class="table-scroll">
			<caption>Animal &amp; Animal Care Table</caption>
			<thead>
				<tr>
					<th class="twenty">Type</th>
					<th class="ten">Cost</th>
					<th>Notes</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Bear, Trained</td>
					<td>300d</td>
					<td>Trained Bears can be used in Skirmishes.</td>
				</tr>
				<tr>
					<td>Camel</td>
					<td>60d</td>
					<td>Lower the difficulty of desert terrain by 1.</td>
				</tr>
				<tr>
					<td>Dog, Guard</td>
					<td>24d</td>
					<td>Guard dogs provide a +1R for tosses against surprise and can be used in Skirmishes.</td>
				</tr>
				<tr>
					<td>Dog, Hunting</td>
					<td>18d</td>
					<td>Hunting dogs provide a +1R for hunting tosses and can be used in Skirmishes</td>
				</tr>
				<tr>
					<td>Dog, War</td>
					<td>30d</td>
					<td>War dogs can be used in Skirmishes</td>
				</tr>
				<tr>
					<td>Horse, Riding</td>
					<td>360d</td>
					<td>Increases horseback travel distance by 10 miles.</td>
				</tr>
				<tr>
					<td>Horse, War</td>
					<td>600d</td>
					<td>A war horse will automatically pass its first morale test in a Skirmish.</td>
				</tr>
				<tr>
					<td>Veterinarian Care</td>
					<td>6d per Day</td>
					<td>For each week of care remove 1 Condition or Wound.</td>
				</tr>
			</tbody>
		</table>
		<table class="table-scroll">
			<caption>Armor Table</caption>
			<thead>
				<tr>
					<th>Type</th>
					<th>Cost</th>
					<th>Cutting DR</th>
					<th>Piercing DR</th>
					<th>Impact DR</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Leather Hauberk</td>
					<td>60d</td>
					<td>4</td>
					<td>2</td>
					<td>3</td>
				</tr>
				<tr>
					<td>Imperial Watch Harness</td>
					<td>75d</td>
					<td>5</td>
					<td>3</td>
					<td>4</td>
				</tr>
				<tr>
					<td>Malin Mercenary Harness</td>
					<td>90d</td>
					<td>6</td>
					<td>5</td>
					<td>4</td>
				</tr>
				<tr>
					<td>2nd Era Cuirboilli Panapoly</td>
					<td>120d</td>
					<td>4</td>
					<td>3</td>
					<td>3</td>
				</tr>
				<tr>
					<td>2nd Era Iron Panapoly</td>
					<td>570d</td>
					<td>7</td>
					<td>4</td>
					<td>4</td>
				</tr>
				<tr>
					<td>Navari Mail Harness</td>
					<td>420d</td>
					<td>6</td>
					<td>5</td>
					<td>5</td>
				</tr>
				<tr>
					<td>Imperial Infantry Harness</td>
					<td>600d</td>
					<td>8</td>
					<td>5</td>
					<td>6</td>
				</tr>
				<tr>
					<td>Imperial Horseman Harness</td>
					<td>3,000d</td>
					<td>10</td>
					<td>6</td>
					<td>7</td>
				</tr>
			</tbody>
		</table>
		<ul class="unstyled spaced-list">
			<li><strong>Leather Hauberk:</strong><br/><small>It is worn over a light layer of quilted cloth with wrist guards and stiff leather boots.</small></li>
			<li><strong>Imperial Watch Harness:</strong><br/><small>It is a jack with plate poleyns tied to quilt cloth with a light celata. Only members of the Imperial Watch may wear this armor without drawing attention as illegally doing so is an automatic prison sentence of 5 years.</small></li>
			<li><strong>Malin Mercenary Harness:</strong><br/><small>It is a buffcoat with a steel cuirass, leather guantlets, morion and boots. Light and flexible it is the favored harness of the Malin bodyguards and mercenaries.</small></li>
			<li><strong>2nd Age Cuirboilli Panapoly:</strong><br/><small>It is a cuirass with tassets, shoulders, vambraces, greaves, and a casque helmet. Designed for a different age, this leather and bronze armor still finds use, both ceremonially among the patricians of the Empire and by less affluent soldiers.</small></li>
			<li><strong>2nd Age Iron Panapoly:</strong><br/><small>It is a cuirass made of iron with tassets, vambraces, greaves and barbuta. Only the wealthiest warriors of the previous age could afford this armor, and as such is rarely seen as it often stays within the family of the wealthy. As a symbol of status they also provide a +1R in social situations.</small></li>
			<li><strong>Navari Mail Harness:</strong><br/><small>The common armor of the Navari is that of a mail hauberk with leather backings and an open helmet. Relatively easy to make compared to other armor types, it has spread in popularity throughout the Empire.</small></li>
			<li><strong>Imperial Infantry Harness:</strong><br/><small>It is a half plate harness with reinforced breeches, leather boots, and casque. Both the Imperial Guard and the Imperial military have adopted this harness for their foot soldiers.</small></li>
			<li><strong>Imperial Horseman Harness:</strong><br/><small>It is a three quarters plate harness over pourpoint with leather boots, gauntlets, and casque. Both the Imperial Guard and the Imperial military have adopted this harness for their calvary.</small></li>
		</ul>
		<table class="table-scroll">
			<caption>Apothecary Table</caption>
			<thead>
				<tr>
					<th class="twenty">Type</th>
					<th class="ten">Cost</th>
					<th>Notes</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Acid</td>
					<td>60d</td>
					<td>If the Acid gets past armor it does +10 Damage.</td>
				</tr>
				<tr>
					<td>Alchemist Fire</td>
					<td>60d</td>
					<td>Toss 12 rune stones and total the successes. Regardless of armor, it does +6 Damage each round for that number of successes.</td>
				</tr>
				<tr>
					<td>Antitoxin</td>
					<td>60d</td>
					<td>Provides a +1s to resist poisons.</td>
				</tr>
				<tr>
					<td>Aphrodisiac</td>
					<td>60d</td>
					<td>Provides +1s to compel or convince others to do what you wish when they have taken it.</td>
				</tr>
				<tr>
					<td>Hallucinogen</td>
					<td>60d</td>
					<td>Provides +1s to frighten or confuse those who have taken it..</td>
				</tr>
				<tr>
					<td>Healing Poultice</td>
					<td>60d</td>
					<td>Toss 6 rune stones. A healing poultice removes a number of wounds from the character equal to the number of successes for draws against the Skirmishes Aftermath table.</td>
				</tr>
				<tr>
					<td>Narcotic</td>
					<td>60d</td>
					<td>When taking this, ignore all wound penalties but you cannot use Willpower or engage in Willpower based Challenges.</td>
				</tr>
				<tr>
					<td>Oil</td>
					<td>60d</td>
					<td>In Skirmishes it counts as Very Difficult Ground. Toss 6 rune stones and total the number of successes. When lit on fire does +4 Damage each round for that number of successes.</td>
				</tr>
				<tr>
					<td>Poison</td>
					<td>60d</td>
					<td>Poison forces an Athletics Challenge against a Difficulty of 6. Failure means death.</td>
				</tr>
				<tr>
					<td>Stimulant</td>
					<td>60d</td>
					<td>Provides +1s to alertness-based Challenges</td>
				</tr>
				<tr>
					<td>Strength Booster</td>
					<td>60d</td>
					<td>Grants +3 Vitality for one Scene.</td>
				</tr>
			</tbody>
		</table>
		<table class="table-scroll">
			<caption>Clothing Table</caption>
			<thead>
				<tr>
					<th class="twenty">Type</th>
					<th class="ten">Cost</th>
					<th>Notes</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Linen Clothing</td>
					<td>81d</td>
					<td>Linen is derived from flax and is the most common fabric found throughout the world. Linen is the clothing of everyone, be they wealthy or poor as it wears well in most climates.</td>
				</tr>
				<tr>
					<td>Serge Clothing</td>
					<td>93d</td>
					<td>A wool twill weave, it is a tough fabric ideal for work wear. It provides a protection of +1DR against cutting and piercing attacks.</td>
				</tr>
				<tr>
					<td>Bokeram Clothing</td>
					<td>119d</td>
					<td>A fine cotton or linen cloth typically worn by artisans or used for curtains, lining, and banners by the nobility. It is the mark of an individual of means and thus provides a +1R when that is relevant.</td>
				</tr>
				<tr>
					<td>Quilt Clothing</td>
					<td>228d</td>
					<td>Quilted clothing is typically worn as padding for armor, providing a protection of +2DR against cutting attacks.</td>
				</tr>
				<tr>
					<td>Silk Clothing</td>
					<td>719d</td>
					<td>Silk is an expensive material imported to the West from Iga Anba, with only the most wealthy and powerful owning more than one outfit. Silk clothing is a mark of true power and always provides a +1R in all social situations.</td>
				</tr>
				<tr>
					<td>Sealskin Clothing</td>
					<td>395d</td>
					<td>Sealskin is the prefered clothing of the Imperial Marines and the Sea People, who find it's qualities ideal for their time spent in and out of the water. Sealskin is insulated, providing a +1R against the cold.</td>
				</tr>
				<tr>
					<td>Bearskin Clothing</td>
					<td>356d</td>
					<td>Typically imported from Bravich. Vasha and Sarl Country, Bearskin has recently become popular among the young nobility, who currently style themselves as rugged adventurers. The hide is so thick it provides a protection of +1DR  and a +1R against the cold.</td>
				</tr>
				<tr>
					<td>Repairs</td>
					<td>-</td>
					<td>Repairs cost one half the value of the clothing rounded up.</td>
				</tr>
			</tbody>
		</table>
		<table class="table-scroll">
			<caption>Innkeeper Table</caption>
			<thead>
				<tr>
					<th class="twenty">Type</th>
					<th class="ten">Cost</th>
					<th>Notes</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Ale, Hogshead</td>
					<td>70d</td>
					<td>A hogshead is a large volume equivalent to 60 gallons.</td>
				</tr>
				<tr>
					<td>Ale, Pint</td>
					<td>1p</td>
					<td></td>
				</tr>
				<tr>
					<td>Beer, Hogshead</td>
					<td>75d</td>
					<td>A hogshead is a large volume equivalent to 60 gallons.</td>
				</tr>
				<tr>
					<td>Beer, Pint</td>
					<td>1p</td>
					<td></td>
				</tr>
				<tr>
					<td>Brandy, Hogshead</td>
					<td>1s</td>
					<td>It is very rare to find brandy in this quantity.</td>
				</tr>
				<tr>
					<td>Brandy, Cup</td>
					<td>4d</td>
					<td>Only the highest quality places will have this available.</td>
				</tr>
				<tr>
					<td>Meal, Cheap</td>
					<td>1p</td>
					<td>Typically bread, cheese and perhaps a thin soup.</td>
				</tr>
				<tr>
					<td>Meal, Common</td>
					<td>1d</td>
					<td>Typically a meat, stew, and warm bread.</td>
				</tr>
				<tr>
					<td>Meal, Lavish</td>
					<td>12d</td>
					<td>Exotic foods served over several courses with desert.</td>
				</tr>
				<tr>
					<td>Room, Dormatory</td>
					<td>1d per Night</td>
					<td>Typically a straw mattress and rooms without doors.</td>
				</tr>
				<tr>
					<td>Room, Private</td>
					<td>6d per Night</td>
					<td>A room with a locking door and perhaps a window.</td>
				</tr>
				<tr>
					<td>Room, Suite</td>
					<td>20d</td>
					<td>A room with a bed, fireplace and perhaps a balcony.</td>
				</tr>
				<tr>
					<td>Stabling</td>
					<td>2d per Day</td>
					<td>This price is per horse. Includes feed.</td>
				</tr>
				<tr>
					<td>Wine, Hogshead</td>
					<td>100f</td>
					<td>A hogshead is a large volume equivalent to 60 gallons</td>
				</tr>
				<tr>
					<td>Wine, Cup</td>
					<td>3p</td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<table class="table-scroll">
			<caption>Slaves &amp; Servants Table</caption>
			<thead>
				<tr>
					<th class="twenty">Type</th>
					<th class="ten">Cost</th>
					<th>Notes</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Bodyguard</td>
					<td>5p per Day</td>
					<td>You may add this character to your Network, where they will remain until you no longer pay them.</td>
				</tr>
				<tr>
					<td>Guide</td>
					<td>15f per Trip</td>
					<td>A Guide provides a +4R to the Athletics tosses for one leg of your journey.</td>
				</tr>
				<tr>
					<td>Mercenary, Archer</td>
					<td>9f per Month</td>
					<td>You may add this character to your Network, where they will remain until you no longer pay them.</td>
				</tr>
				<tr>
					<td>Mercenary, Infantryman</td>
					<td>6f per Month</td>
					<td>You may add this character to your Network, where they will remain until you no longer pay them.</td>
				</tr>
				<tr>
					<td>Mercenary, Calvary</td>
					<td>24f per Month</td>
					<td>You may add this character to your Network, where they will remain until you no longer pay them.</td>
				</tr>
				<tr>
					<td>Slave, Bodyguard</td>
					<td>600d</td>
					<td>You may add this character to your Network. The Conspiracy gets a +1R to subvert them.</td>
				</tr>
				<tr>
					<td>Slave, Labor</td>
					<td>240d</td>
					<td>You may add this character to your Network. They provide a +1R to one labor project per Turn. The Conspiracy gets a +1R to subvert them.</td>
				</tr>
				<tr>
					<td>Slave, Tutor</td>
					<td>2,000d</td>
					<td>You may add this character to your Network. They provide a +4R to one Advancement toss per Arc. The Conspiracy gets a +1R to subvert them.</td>
				</tr>
				<tr>
					<td>Temporary, Labor</td>
					<td>7p per Day</td>
					<td>This includes heralds, footmen, laborers, and messengers. This provides a +1R to the appropriate tosses. They may not be added to your Network.</td>
				</tr>
				<tr>
					<td>Temporary, Muscle</td>
					<td>12p per Day</td>
					<td>They may not be added to your Network.</td>
				</tr>
			</tbody>
		</table>
		<table class="table-scroll">
			<caption>Tools Table</caption>
			<thead>
				<tr>
					<th class="twenty">Type</th>
					<th class="ten">Cost</th>
					<th>Notes</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Alchemical Supplies</td>
					<td>100f</td>
					<td>Provides a +1s to the creation of exotic chemicals and substances.</td>
				</tr>
				<tr>
					<td>Craftsman Tools</td>
					<td>24d</td>
					<td>Provides a +1s to any vocational Challenges.</td>
				</tr>
				<tr>
					<td>Medical Supplies</td>
					<td>50f</td>
					<td>Allows a character to attempt to heal someone every Turn with a +1s.</td>
				</tr>
				<tr>
					<td>Thieves Tools</td>
					<td>60d</td>
					<td>Provides a +1s to Skullduggery Challenges.</td>
				</tr>
			</tbody>
		</table>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>
<table class="table-scroll">
	<caption>Weapon Table</caption>
	<thead>
		<tr>
			<th class="twenty">Type</th>
			<th class="ten">Cost</th>
			<th class="ten">Cutting Damage</th>
			<th class="ten">Piercing Damage</th>
			<th class="ten">Impact Damage</th>
			<th class="ten">Reach</th>
			<th class="ten">Armor</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Crossbow</td>
			<td>60d</td>
			<td>0</td>
			<td>12</td>
			<td>0</td>
			<td>25</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Dagger</td>
			<td>24d</td>
			<td>4</td>
			<td>5</td>
			<td>0</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Hatchet</td>
			<td>10d</td>
			<td>5</td>
			<td>0</td>
			<td>2</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Horseman's Axe</td>
			<td>70d</td>
			<td>6</td>
			<td>0</td>
			<td>6</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Horse Bow</td>
			<td>24d</td>
			<td>0</td>
			<td>6</td>
			<td>0</td>
			<td>Athletics x 5</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Javelin</td>
			<td>36d</td>
			<td>0</td>
			<td>4</td>
			<td>0</td>
			<td>1/Athletics x 2</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Knife</td>
			<td>2p</td>
			<td>3</td>
			<td>4</td>
			<td>0</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Lance</td>
			<td>120d</td>
			<td>0</td>
			<td>10</td>
			<td>0</td>
			<td>2</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Long Bow</td>
			<td>36d</td>
			<td>0</td>
			<td>7</td>
			<td>0</td>
			<td>Athletics x 10</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Mace</td>
			<td>84d</td>
			<td>0</td>
			<td>0</td>
			<td>6</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Pike</td>
			<td>96d</td>
			<td>0</td>
			<td>6</td>
			<td>0</td>
			<td>3</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Poleaxe</td>
			<td>80d</td>
			<td>7</td>
			<td>0</td>
			<td>4</td>
			<td>1</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Quarterstaff</td>
			<td>2p</td>
			<td>0</td>
			<td>0</td>
			<td>4</td>
			<td>2</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Shield, Buckler</td>
			<td>24d</td>
			<td>0</td>
			<td>0</td>
			<td>4</td>
			<td>1</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Shield, Imperial</td>
			<td>96d</td>
			<td>0</td>
			<td>0</td>
			<td>6</td>
			<td>1</td>
			<td>6</td>
		</tr>
		<tr>
			<td>Short Spear</td>
			<td>60d</td>
			<td>0</td>
			<td>6</td>
			<td>0</td>
			<td>2</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Sling</td>
			<td>6p</td>
			<td>0</td>
			<td>0</td>
			<td>7</td>
			<td>Athletics x 8</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Sword, Arming</td>
			<td>90d</td>
			<td>6</td>
			<td>4</td>
			<td>0</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Sword, Broadsword</td>
			<td>150d</td>
			<td>6</td>
			<td>3</td>
			<td>0</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Sword, Saber</td>
			<td>120d</td>
			<td>7</td>
			<td>0</td>
			<td>0</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Sword, Flamberge</td>
			<td>230d</td>
			<td>8</td>
			<td>0</td>
			<td>0</td>
			<td>1</td>
			<td>2</td>
		</tr>
		<tr>
			<td>War Club</td>
			<td>8p</td>
			<td>0</td>
			<td>0</td>
			<td>4</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Warhammer</td>
			<td>90d</td>
			<td>0</td>
			<td>5</td>
			<td>6</td>
			<td>1</td>
			<td>1</td>
		</tr>
	</tbody>
</table>
	
</article>