<div class="clearfix gutters"  id="first-game">
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<hr>
		<h3>Terrain</h3>
		<p class="first">When establishing your terrain, understand that the ground scale is one inch/square/hex is equal to 5 feet. This conforms with the 25mm miniature scale. You can use smaller scaled figures or tokens, but remember to keep the scale consistent.</p>
		<table>
			<caption>Terrain Table</caption>
			<thead>
				<tr>
					<th>Type</th>
					<th>Cost Per Inch</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Open Ground<br/><small>Floors, level ground, ladders, stairs, ropes, &amp; open doors</small></td>
					<td>1</td>
				</tr>
				<tr>
					<td>Difficult Ground<br/><small>Steep slopes, bushes, &amp; angled roofs </small></td>
					<td>2</td>
				</tr>
				<tr>
					<td>Very Difficult Ground<br/><small>Crawl holes, rubble, slick surfaces, &amp; water</small></td>
					<td>3</td>
				</tr>
				<tr>
					<td>Barriers<br/><small>Walls, closed portals, and trees require the unit to either stop all movement, scale the obstacle, or remove the obstacle.</small></td>
					<td>All</td>
				</tr>
			</tbody>
		</table>
	</div>
	<aside class="span-3 col empty">&nbsp;
	</aside>
</div>