<div class="clearfix block gutters"  id="recovery">
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>Recovery</h3>
		<p class="first">The first round of a Skirmish does not have a Recovery Phase. All other rounds start with the recovery Phase. During this phase each unit that has Broken gets the chance to make a Leadership Challenge roll to try and return to the fight. Roll the unit's Temperament against a Difficulty equal 7 minus the your commander's Leadership Trait. If a unit is within a number of squares/inches of their Commander, they gain a 2D Advantage to their roll.</p>
	</div>
	<aside class="span-3 col empty">&nbsp;
	</aside>
</div>
