<div class="clearfix block gutters"  id="movement">
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>Movement</h3>
		<p class="first">During the Movement phase, the side with Tempo moves their units first or defers to the other side. Deferring movement automatically gives that side Tempo for the rest of the Round. If the unit is a mounted unit, the movement value of the mount is the only value used in the Skirmish.There are three kinds of Movement in a Skirmish:</p>
		<ul class="spaced-list">
			<li><strong>Running: </strong>The Unit may move 2x their Athletics. A character may only run if not engaged in Melee and is not passing within 2 inches/squares of an enemy. The character cannot engage in Range Attacks unless mounted. Costs 2 Vitality.</li>
			<li><strong>Maneuvering:</strong> The Unit may move equal to their Athletics. The unit may engage in Range and Melee. Costs 1 Vitality.</li>
			<li><strong>Compulsory:</strong> Units that have Broken must flee to the edge of the board at x2 their Athletics. Costs 1 Vitality.</li>
		</ul>
	</div>
	<aside class="span-3 col empty">&nbsp;
	</aside>
</div>
