<div class="clearfix block gutters"  id="ranged-attacks">
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>Ranged Attacks</h3>
		<p class="first">Any unit with a Range Weapon can shoot during the Range Attack Phase. They may not fire if they are engaged in Melee, has run, has recovered this Round, or is Stunned or Knocked Down.</p>
		<p>To shoot a target, a unit must have line of sight in a 180 degree arc from the front of the unit. A unit may turn freely during this Phase to change direction, such as shooting a target behind.</p>
		<p>A target that is partially obscured from the attacker has cover. Cover provides a +1D for the unit's defense roll. The terrain and other units dictate if a unit has cover or not.</p>
		<p>The range of a unit's attack during this phase is dictated by the weapon. See the Gear section for details on different weapon ranges.</p>
		<p>A Range Attack is resolved by the rolling a units Fighting Trait versus the Target's Fighting Trait, taking into account any Talents, Advantages or Disadvantages. It costs 1 Vitality to attack with crossbows and 2 Vitality for all other ranged weapons.</p>
		<p>The amount of damage is determined by the total number of successes resolved from the following formula:</p>
		<blockquote>
			<p>(Attacker Successes + Weapon) - (Target Successes + Armor) = Damage</p>
		</blockquote>
	</div>
	<aside class="span-3 col empty">&nbsp;
	</aside>
</div>
