<div class="clearfix block gutters"  id="melee-attacks">
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>Melee Attacks</h3>
		<p class="first">Any unit may engage in the Melee with units to their front or side that is within reach of their weapon. For the purposes of Skirmishes, weapons with a Reach of 0 may be used with adjacent units.</p>
		<p>A Melee Attack is resolved by rolling a unit's Fighting Trait versus the Target's Fighting Trait, taking into account any Advantages or Disadvantages. The amount of damage is determined by the total number of successes resolved from the following formula:</p>
		<blockquote>
			<p>(Attacker Successes + Weapon) - (Target Successes + Armor) = Damage</p>
		</blockquote>
	</div>
	<aside class="span-3 col empty">&nbsp;
	</aside>
</div>
