<div class="clearfix block gutters" id="wounds">
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>Wounds</h3>
		<p class="first">When a unit suffers damage in a missile or melee attack consult the injury table below. Each time a character suffers a wound, they need to make a Shock Roll. A Shock Roll requires a unit to roll Athletics with a Difficulty equal to the total number of wounds a unit has suffered. If a unit fails a Shock roll they become stunned. If they are already stunned, the are knocked down.</p>
		<table class="clearfix table-scroll">
			<caption>Injury Table</caption>
			<thead>
				<tr>
					<th>1 - 2</th>
					<th>3 - 4</th>
					<th>5+</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Light Wound<br/><small>-1 to Movement</small>
					</td>
					<td>
						Serious Wound<br/><small>-2 to Movement, -1D</small>
					</td>
					<td>
						Massive Wound<br/><small>-3 to Movement, -2D</small>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<aside class="span-3 col empty">&nbsp;
	</aside>
</div>
