<div class="clearfix block gutters"  id="morale">
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>Morale</h3>
		<p class="first">A unit may be required to engage in a Morale Challenge to avoid being Broken and fleeing the scene of a fight. Roll for a unit their Temperament against a Difficulty of 7 minus their Commander's Leadership Trait (taking into account any Advantages or Disadvantages) if the unit meets any of these conditions:</p>
		<ul class="spaced-list">
			<li><strong>All Alone: </strong>The unit is facing 2 or more enemies with no allies within 6 squares/inches.</li>
			<li><strong>Fear:</strong>  The unit faced has the Feared Advantage.</li>
			<li><strong>Wyrding:</strong> The unit had a Wyrding used against them.</li>
		</ul>
	</div>
	<aside class="span-3 col empty">&nbsp;
	</aside>
</div>
