<div class="clearfix block gutters"  id="adv-dis">
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>Advantages &amp; Disadvantages</h3>
		<p class="first">The following list contains common Advantages and Disadvantages in a Skirmish:</p>
		<ul class="spaced-list">
			<li><strong>Cover: </strong>+1A to the Target in Ranged Attacks</li>
			<li><strong>Long Range:</strong>  +1A to the Target in Ranged Attacks</li>
			<li><strong>Attacker Moved &amp; Shot:</strong> +1A to the Target in Ranged Attacks</li>
			<li><strong>Large Target: </strong>+1A to the Attacker in Ranged Attacks</li>
			<li><strong>Attacker in Elevated Position:</strong>  +1A to the Attacker</li>
			<li><strong>Stunned:</strong> +1A to Attacker in all Attacks</li>
			<li><strong>Knocked Down:</strong> +1A to Melee Attacker</li>
		</ul>
	</div>
	<aside class="span-3 col empty">&nbsp;
	</aside>
</div>
