<div class="clearfix block gutters"  id="wyrding-skirm">
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>Wyrding in Skirmishes</h3>
		<p class="first">If a character can use the Wyrding Talent to influence the game, they do so during the Range Attack Phase. To do so they roll their Wyrd versus the Difficulty of the Wyrd.</p>
		<p>A character with the Wyrding Talent may also engage in a Ritual during a Skirmish. Rituals have no Difficulty, but take a number of Rounds equal to the Difficulty of the Ritual minus the character's Wyrd Trait. The character may not engage in any other activity, and if the character is struck successfully, the Ritual is ruined.</p>
		<p>See the Wyrding section for Wyrds and Rituals that may be used in a Skirmish.</p>
	</div>
	<aside class="span-3 col empty">&nbsp;
	</aside>
</div>
