<div class="clearfix gutters block" id="skirmishes">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>Skirmishes</h3>
		<p class="first">The Skirmishes rules are designed to resolve marshal conflicts between two or more opposing forces. Each token or miniature you use represents a single participant. Each participant is a named individual with weapons, combat traits and sustain individual wounds.</p>
		<p>The units in a Skirmish are represented by a marker on the playing surface. I prefer to use wood blocks with stickers, but you can use miniatures or tokens that meet your preferences. The only requirement is that any unit that is "human sized" be sized the same.</p>
		<p>The surface for play can be virtually anything so long as it allows you to mark the terrain. Dry erase boards work great, as do chalk boards, and printed out hex maps. Terrain can be marked directly on the surface or you can use models, props or even well crafted miniature terrain to transform the surface to match the conditions of the Skirmish.</p>
	</div>
	<aside class="span-3 col empty">
		&nbsp;
	</aside>
</div>
{% include mountain/skirmishes/01-terrain.html %}
{% include mountain/skirmishes/02-sequence.html %}
{% include mountain/skirmishes/03-recovery.html %}
{% include mountain/skirmishes/04-tempo.html %}
{% include mountain/skirmishes/05-movement.html %}
{% include mountain/skirmishes/06-ranged-attack.html %}
{% include mountain/skirmishes/07-melee-attack.html %}
{% include mountain/skirmishes/08-wounds.html %}
{% include mountain/skirmishes/09-morale.html %}
{% include mountain/skirmishes/10-adv-disadv.html %}
{% include mountain/skirmishes/11-wyrding.html %}
{% include mountain/skirmishes/12-victory.html %}
{% include mountain/skirmishes/13-aftermath.html %}