<div class="clearfix gutters block" id="skirmishes">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<hr>
		<h3>Skirmishes</h3>
		<p class="first">The Skirmishes rules are designed to resolve marshal conflicts between two or more opposing forces. Each token or miniature you use represents a single participant. Each participant is a named individual with weapons, combat traits and sustain individual wounds.</p>
		<p>The units in a Skirmish are represented by a marker on the playing surface. I prefer to use wood blocks with stickers, but you can use miniatures or tokens that meet your preferences. The only requirement is that any unit that is "human sized" be sized the same.</p>
		<p>The surface for play can be virtually anything so long as it allows you to mark the terrain. Dry erase boards work great, as do chalk boards, and printed out hex maps. Terrain can be marked directly on the surface or you can use models, props or even well crafted miniature terrain to transform the surface to match the conditions of the Skirmish.</p>
	</div>
	<aside class="span-3 col empty">
		&nbsp;
	</aside>
</div>
<div class="clearfix gutters block">
	<aside class="span-3 col">
		<h4>Round Sequence</h4>
		<ol class="spaced-list">
			<li>Recovery</li>
			<li>Determine Tempo</li>
			<li>Movement</li>
			<li>Range Attacks</li>
			<li>Melee Attacks</li>
		</ol>
	</aside>
	<div class="span-6 col">
		<h4>Recovery Phase</h4>
		<p class="first">The first round of a Skirmish does not have a Recovery Phase. All other rounds start with the recovery Phase. During this phase each unit that has Broken gets the chance to make a Leadership Challenge roll to try and return to the fight. Roll the unit's Temperament against a Difficulty equal 7 minus the your commander's Leadership Trait. If a unit is within a number of squares/inches of their Commander, they gain a 2D Advantage to their roll.</p>
		<h4>Determine Tempo</h4>
		<p class="first">The first round of a Skirmish, Tempo is determined by either the narration leading up to the Skirmish or through a Leadership Versus Challenge. In the rounds that follow, Tempo is determined by a Leadership Versus Challenge with each side counting up their total number of units. The side with more units gets the difference as an Advantage to this roll.</p>
		<h4>Movement</h4>
		<p class="first">During the Movement phase, the side with Tempo moves their units first or defers to the other side. Deferring movement automatically gives that side Tempo for the rest of the Round. If the unit is a mounted unit, the movement value of the mount is the only value used in the Skirmish.There are three kinds of Movement in a Skirmish:</p>
		<ul class="spaced-list">
			<li><strong>Running: </strong>The Unit may move 2x their Athletics. A character may only run if not engaged in Melee and is not passing within 2 inches/squares of an enemy. The character cannot engage in Range Attacks unless mounted.</li>
			<li><strong>Maneuvering:</strong> The Unit may move equal to their Athletics. The unit may engage in Range and Melee.</li>
			<li><strong>Compulsory:</strong> Units that have Broken must flee to the edge of the board at x2 their Athletics.</li>
		</ul>
		<h4>Range Attack</h4>
		<p class="first">Any unit with a Range Weapon can shoot during the Range Attack Phase. They may not fire if they are engaged in Melee, has run, has recovered this Round, or is Stunned or Knocked Down.</p>
		<p>To shoot a target, a unit must have line of sight in a 180 degree arc from the front of the unit. A unit may turn freely during this Phase to change direction, such as shooting a target behind.</p>
		<p>A target that is partially obscured from the attacker has cover. Cover provides a +1A for the unit's defense roll. The terrain and other units dictate if a unit has cover or not.</p>
		<p>The range of a unit's attack during this phase is dictated by the weapon. See the Gear section for details on different weapon ranges.</p>
		<p>A Range Attack is resolved by the rolling a units Fighting Trait versus the Target's Fighting Trait, taking into account any Talents, Advantages or Disadvantages.</p>
		<p>The amount of damage is determined by the total number of successes resolved from the following formula:</p>
		<blockquote>
			<p>(Attacker Successes + Weapon) - (Target Successes + Armor) = Damage</p>
		</blockquote>
		<h4>Melee Attack</h4>
		<p class="first">Any unit may engage in the Melee with units to their front or side that is within reach of their weapon. For the purposes of Skirmishes, weapons with a Reach of 0 may be used with adjacent units.</p>
		<p>A Melee Attack is resolved by rolling a unit's Fighting Trait versus the Target's Fighting Trait, taking into account any Advantages or Disadvantages. The amount of damage is determined by the total number of successes resolved from the following formula:</p>
		<blockquote>
			<p>(Attacker Successes + Weapon) - (Target Successes + Armor) = Damage</p>
		</blockquote>
		<h4>Damage</h4>
		<p class="first">When a unit suffers damage in a missile or melee attack consult the injury table below. Each time a character suffers a wound, they need to make a Shock Roll. A Shock Roll requires a unit to roll Athleticism with a Difficulty equal to the total number of wounds a unit has suffered. If a unit fails a Shock roll they become stunned. If they are already stunned, the are knocked down.</p>
		<table>
			<caption>Injury Table</caption>
			<thead>
				<tr>
					<th>1 - 2</th>
					<th>3 - 4</th>
					<th>5+</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Light Wound<br/><small>-1 to Movement</small>
					</td>
					<td>
						Serious Wound<br/><small>-2 to Movement, +1D</small>
					</td>
					<td>
						Massive Wound<br/><small>-3 to Movement, +2D</small>
					</td>
				</tr>
			</tbody>
		</table>
		<h4>Morale</h4>
		<p class="first">A unit may be required to engage in a Morale Challenge to avoid being Broken and fleeing the scene of a fight. Roll for a unit their Temperament against a Difficulty of 7 minus their Commander's Leadership Trait (taking into account any Advantages or Disadvantages) if the unit meets any of these conditions:</p>
		<ul class="spaced-list">
			<li><strong>All Alone: </strong>The unit is facing 2 or more enemies with no allies within 6 squares/inches.</li>
			<li><strong>Fear:</strong>  The unit faced has the Feared Advantage.</li>
			<li><strong>Wyrding:</strong> The unit had a Wyrding used against them.</li>
		</ul>
		<h4>Advantages &amp; Disadvantages</h4>
		<p class="first">The following list contains common Advantages and Disadvantages in a Skirmish:</p>
		<ul class="spaced-list">
			<li><strong>Cover: </strong>+1A to the Target in Ranged Attacks</li>
			<li><strong>Long Range:</strong>  +1A to the Target in Ranged Attacks</li>
			<li><strong>Attacker Moved &amp; Shot:</strong> +1A to the Target in Ranged Attacks</li>
			<li><strong>Large Target: </strong>+1A to the Attacker in Ranged Attacks</li>
			<li><strong>Attacker in Elevated Position:</strong>  +1A to the Attacker</li>
			<li><strong>Stunned:</strong> +1A to Attacker in all Attacks</li>
			<li><strong>Knocked Down:</strong> +1A to Melee Attacker</li>
		</ul>
		<h4>Wyrding</h4>
		<p class="first">If a character can use the Wyrding Talent to influence the game, they do so during the Range Attack Phase. To do so they roll their Wyrd versus the Difficulty of the Wyrd.</p>
		<p>A character with the Wyrding Talent may also engage in a Ritual during a Skirmish. Rituals have no Difficulty, but take a number of Rounds equal to the Difficulty of the Ritual minus the character's Wyrd Trait. The character may not engage in any other activity, and if the character is struck successfully, the Ritual is ruined.</p>
		<p>See the Wyrding section for Wyrds and Rituals that may be used in a Skirmish.</p>
		<h4>Winning &amp; Losing</h4>
		<p class="first">A Skirmish ends when either one side concedes or one side defeats or drives off all the units of their opponent. You may choose to concede only during the Recovery Phase.</p>
		<h4>Aftermath</h4>
		<p class="first">Every character that has engaged in a Skirmish loses Vitality equal to the number of Rounds the Skirmish took divided by half. Any character that engaged in a Wyrding subtracts from their Willpower a number equal to the Wyrding they engaged in.</p>
		<p>For each unit that has suffered damage you must roll on the following table. Roll a D66 subtracting the total amount of damage the unit suffered.</p>
		<table>
			<caption>Aftermath Table</caption>
			<thead>
				<tr>
					<th width="20%">D66 Roll</th>
					<th>Result</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						11 - 15
					</td>
					<td>
						Death<br/><small>The character succumbs to their wounds.</small>
					</td>
				</tr>
				<tr>
					<td>
						16 - 19
					</td>
					<td>
						Multiple Injuries<br/><small>Roll D6. Roll that many times on this table, re-rolling Death, Multiple Injuries, and the Unharmed results.</small>
					</td>
				</tr>
				<tr>
					<td>
						20 - 21
					</td>
					<td>
						Chest Wound<br/><small>Roll D6.<br/>
						1 = Internal organ damage. Permanent +2D to physical actions.<br/>
						2-6 = Suffers a +2D to physical actions for 30 Turns.</small>
					</td>
				</tr>
				<tr>
					<td>
						22 - 23
					</td>
					<td>
						Lost Eye<br/><small>If this is the first eye lost, the character suffers a permanent +1D to all sight based rolls. If it is the second eye to go the character is blind and fails all sight based rolls. All other rolls in which sight is a key component suffer a 4D Disadvantage.</small>
					</td>
				</tr>
				<tr>
					<td>
						24 - 25
					</td>
					<td>
						Leg Wound<br/><small>Roll D6.<br/>
						1 = The leg must be amputated. Permanent +2D to physical actions.<br/>
						2-6 = Suffers a +2D to physical actions for 20 Turns.</small>
					</td>
				</tr>
				<tr>
					<td>
						26 - 27
					</td>
					<td>
						Arm Wound<br/><small>Roll D6.<br/>
						1 = The arm must be amputated. Permanent +2D to physical actions.<br/>
						2-6 = Suffers a +2D to physical actions for 20 Turns.</small>
					</td>
				</tr>
				<tr>
					<td>
						28 - 29
					</td>
					<td>
						Foot Wound<br/><small>Roll D6.<br/>
						1 = The foot must be amputated. Permanent +2D to physical actions.<br/>
						2-6 = Suffers a +1D to physical actions for 20 Turns.</small>
					</td>
				</tr>
				<tr>
					<td>
						30 - 31
					</td>
					<td>
						Hand Wound<br/><small>Roll D6.<br/>
						1 = The hand must be amputated. Permanent +2D to physical actions.<br/>
						2-6 = Suffers a +1D to physical actions for 20 Turns.</small>
					</td>
				</tr>
				<tr>
					<td>
						32 - 42
					</td>
					<td>
						PTSD<br/><small>Roll D6.<br/>
						1 = Fear. Permanent +2D to everything.<br/>
						2 - 3 = Injury triggered response. When suffering an injury suffer a +1D for the Turn.<br/>
						4 - 6 = Temporary Breakdown. Suffers a +2D to everything for 20 Turns.</small>
					</td>
				</tr>
				<tr>
					<td>
						43 - 44
					</td>
					<td>Wounded<br/><small>The character suffers from several minor wounds that causes a +1D to every Challenge for 10 Turns.</small>
					
					</td>
				</tr>
				<tr>
					<td>
						45
					</td>
					<td>
						Captured<br/><small>The character regains consciousness and is held captive by the enemy of the other side. If the unit is one of the PCs, end the Turn and open the next Turn centered on their rescue or escape.</small>
					</td>
				</tr>
				<tr>
					<td>
						46
					</td>
					<td>
						Robbed<br/><small>The character managed to escape but all of their Gear was lost in the fight.</small>
					</td>
				</tr>
				<tr>
					<td>
						47 - 50
					</td>
					<td>
						Scarred<br/><small>The character suffered superficial wounds that left horrible scars, leaving the character with a Permanent Advantage of Feared.</small>
					</td>
				</tr>
				<tr>
					<td>
						51 - 52
					</td>
					<td>
						Hardened<br/><small>The character survived and has come out stronger for it with a Permanent +1A against Fear inducing effects.</small>
					</td>
				</tr>
				<tr>
					<td>
						53 - 66
					</td>
					<td>
						Unharmed<br/><small>The wounds were not as grievous as they first appeared and the character walks away unharmed. The character also learned form the experience and advances their Fighting Trait by one.</small>
					</td>
				</tr>
			</tbody>
		</table>		
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>
{% include mountain/skirmishes/01-terrain.html %}
{% include mountain/skirmishes/02-sequence.html %}
{% include mountain/skirmishes/03-recovery.html %}
{% include mountain/skirmishes/04-tempo.html %}
{% include mountain/skirmishes/05-movement.html %}
{% include mountain/skirmishes/06-ranged-attack.html %}
{% include mountain/skirmishes/07-melee-attack.html %}
{% include mountain/skirmishes/08-wounds.html %}
{% include mountain/skirmishes/09-morale.html %}
{% include mountain/skirmishes/10-adv-disadv.html %}
{% include mountain/skirmishes/11-wyrding.html %}
{% include mountain/skirmishes/12-victory.html %}
{% include mountain/skirmishes/13-aftermath.html %}