{% include header.html %}
<div class="content">
<header class="content">
<h1>Conspiracy of Shadows: Apprentice</h1>
<h2>Translation Keith Senkowski</h2>
<nav>
<ul class="unstyled inline">
<li><a href="/apprentice/introduction.html" title="Introduction" rel="tooltip"><span>Introduction</span></a></li>
<li><a href="/apprentice/destiny-stones.html" title="Destiny Stones" rel="tooltip"><span class="down">Destiny Stones</span></a></li>
<li><a href="/apprentice/rune-stones.html" title="Rune Stones" rel="tooltip"><span>Rune Stones</span></a></li>
<li><a href="/apprentice/traits-heroics-talents.html" title="Traits, Heroics and Talents" rel="tooltip"><span class="up">Traits, Heroics and Talents</span></a></li>
<li><a href="/apprentice/resources-locations.html" title="Resources and Locations" rel="tooltip"><span>Resources and Locations</span></a></li>
<li><a href="/apprentice/turn-structure.html" title="Turn Structure" rel="tooltip"><span class="down">Turn Structure</span></a></li>
<li><a href="/apprentice/trial-declaration.html" title="Trial Declaration" rel="tooltip"><span>Trial Declaration</span></a></li>
<li><a href="/apprentice/journey-phase.html" title="Journey Phase" rel="tooltip"><span class="up">Journey Phase</span></a></li>
<li><a href="/apprentice/challenge-phase.html" title="Challenge Phase" rel="tooltip"><span>Challenge Phase</span></a></li>   
<li><a href="/apprentice/teamwork.html" title="Teamwork" rel="tooltip"><span class="down">Teamwork</span></a></li>
<li><a href="/apprentice/glorious-battle.html" title="Glorious Battle" rel="tooltip"><span>Glorious Battle</span></a></li>
<li><a href="/apprentice/litany-of-heroes.html" title="Litany of Heroes" rel="tooltip"><span class="up">Litany of Heroes</span></a></li>
<li><a href="/apprentice/endgame.html" title="Endgame" rel="tooltip"><span>Endgame</span></a></li>   
<li><a href="/apprentice/downloads.html" title="Downloads" rel="tooltip"><span class="down">Downloads</span></a></li>
<li><a href="/apprentice/interactive-map.html" title="Interactive Map" rel="tooltip"><span>Interactive Map</span></a></li>
</ul>
</nav>
</header>
<article class="content clearfix gutters">
{{ content }}
<aside class="related-content">
{% include apprentice-toc.html %}
</aside>
</article>
</div>
{% include footer.html %}