{% include header.html %}
<div class="content">
<header class="content">
<h1>Art Galleries</h1>
<h2>Artwork Keith Senkowski</h2>
<nav>
<ul class="unstyled inline">
<li><a href="/art.html" title="Main Gallery" rel="tooltip"><span class="down">Main Gallery</span></a></li>
<li><a href="tarot-deck.html" title="Tarot Deck" rel="tooltip"><span>Tarot Deck</span></a></li>
<li><a href="apprentice-illustrations.html" title="Apprentice Illustrations" rel="tooltip"><span class="up">Apprentice Illustrations</span></a></li>
<li><a href="apprentice-book.html" title="Apprentice Book" rel="tooltip"><span>Apprentice Book</span></a></li>
<li><a href="apprentice-wood-work.html" title="Apprentice Wood Work" rel="tooltip"><span class="down">Apprentice Wood Work</span></a></li>
</ul>
</nav>
</header>
<article class="content clearfix gutters">
{{ content }}
</article>
</div>
{% include footer.html %}