<!DOCTYPE html>
<html>
	{% include common/head.html %}
	<body>
		<!--[if lt IE 8]>
		    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		  <![endif]-->
		{% include common/header.html %}
		<main>
			<article class="archive">
				<section class="header">
					<div class="content">
						<div class="col span-3 empty"></div>
						<div class="col span-6">
							<h1>jackson pollack has nothing on me</h1>
							<p class="subtitle">These art postings will make your eyes explode with joy. Like <em><strong>1812 Overture explosions of joy</strong></em>. It's been proven. By scientists. I swear.</p>
						</div>
						<div class="col span-3 empty"></div>
	
					</div>
				</section>

			{% assign loopindex = 0 %}
			{% for page in site.posts reversed %}
				{% if page.category == 'artwork' %}
					{% assign loopindex = loopindex | plus: 1 %}
					{% assign rowfinder = loopindex | modulo: 4 %}
					{% if rowfinder == 1 %}
						<section class="artwork-gallery">
							<div class="content gutters">
								<div class="col span-3"> <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">
									<h2>{{ page.title }}</h2>
									<img src="{{ page.logo }}" class="{{ page.theme }}" alt="{{ page.title }}"/></a></div>
					{% elsif rowfinder == 0 %}
								<div class="col span-3"> <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">
									<h2>{{ page.title }}</h2>
									<img src="{{ page.logo }}"  class="{{ page.theme }}" alt="{{ page.title }}"/></a></div>
							</div>
						</section>
					{% elsif rowfinder == 2 %}
						<div class="col span-3"> <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">
							<h2>{{ page.title }}</h2>
							<img src="{{ page.logo }}"  class="{{ page.theme }}" alt="{{ page.title }}"/></a></div>
					{% else %}
						<div class="col span-3"> <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">
							<h2>{{ page.title }}</h2>
							<img src="{{ page.logo }}"  class="{{ page.theme }}" alt="{{ page.title }}"/></a></div>
					{% endif %}
				{% endif %}
			{% endfor %}
	
			</article>
		</main>
		{% include common/footer.html %}
	</body>
</html>
