<!DOCTYPE html>
<html>
	{% include common/head.html %}
	<body>
		{% include common/header.html %}
		<main>
			{% assign count = '0' %}
			{% assign idx = '0' %}
			{% for posts in site.posts limit: 3 %}
			{% capture count %}{{count | plus: '1'}}{% endcapture %}
			
			{% if count == '2' %}
				<section class="hero second">
					<div class="clearfix">		
						<div class="span-4 col article-meta">
							<h2>{{ posts.title }}</h2>
							<h3>{{ posts.subtitle }}</h3>
							<p class="description">{{ posts.excerpt }}<br/><a href="{{posts.url}}">Read More ></a></p>
						</div>
						<div class="span-8 col">
							<img src="{{site.baseurl}}/img/articles/{{ posts.image }}"/>
						</div>
					</div>
				</section>	
			{% else %}
				<section class="hero">
					<div class="clearfix">		
						<div class="span-8 col">
							<img src="{{site.baseurl}}/img/articles/{{ posts.image }}"/>
						</div>
						<div class="span-4 col article-meta">
							<h2>{{ posts.title }}</h2>
							<h3>{{ posts.subtitle }}</h3>
							<p class="description">{{ posts.excerpt }}<br/><a href="{{posts.url}}">Read More ></a></p>
						</div>
					</div>
				</section>	
			{% endif %}
			
			{% endfor %}
		</main>
		{% include common/footer.html %}
	</body>
</html>
