{% include header.html %}
<div class="content">
<header class="content">
<h1>Historia Imperio</h1>
<h2>Translation Keith Senkowski</h2>
<nav>
<ul class="unstyled inline">
<li><a href="#" title="Introduction" rel="tooltip"><span class="down">Introduction</span></a></li>
<li><a href="unity.html" title="Chapter One - Unity" rel="tooltip"><span>Chapter One - Unity</span></a></li>
</ul>
</nav>
</header>
<article class="content clearfix gutters">
{{ content }}
</article>
</div>
{% include footer.html %}