---
layout: default
---
<aside class="first">
	<h2>{{ page.title }}</h2>
	<div id="footnotes"></div>
</aside>
<article class="postings first">
	<p class="meta"><strong>Translated:</strong> {{ page.date | date_to_string }}</p>
	{{ content }}
	<div class="clearfix gutters">
		<div class="col span-4">
	<strong class="related-content small">Related Entries:</strong>
		</div>
		<div class="col span-8">
			<ul class="unstyled inline text-uppercase small">
				{% for tag in page.tags %}
				<li>
					<a href="{{ site.url }}/related-content/{{ tag | replace: ' ', '-' }}/" title="Pages tagged {{ tag }}" rel="tag">{{ tag }}</a>
				</li>
				{% unless forloop.last %} • {% endunless %}{% endfor %}
			</ul>
		</div>
	</div>
</article>
