{% include header.html %}
<div class="content">
<header class="content">
<h1>Historia Tarathica</h1>
<h2>Translation Keith Senkowski</h2>
<nav>
<ul class="unstyled inline">
<li><a href="historia-tarathica.html" title="Historia Tarathica" rel="tooltip"><span>Historia Tarathica</span></a></li>
<li><a href="valdamar.html" title="Valdamar" rel="tooltip"><span class="down">Valdamar</span></a></li>
<li><a href="karatarathi.html" title="Karatarathi" rel="tooltip"><span>Karatarathi</span></a></li>
<li><a href="gividas.html" title="Gividas" rel="tooltip"><span class="up">Gividas</span></a></li>
<li><a href="hatarathi.html" title="Hatarathi" rel="tooltip"><span>Hatarathi</span></a></li>
<li><a href="vitigar.html" title="Vitigar" rel="tooltip"><span class="down">Vitigar</span></a></li>
<li><a href="ilvabir.html" title="Ilvabir" rel="tooltip"><span>Ilvabir</span></a></li>
<li><a href="thedohar.html" title="Thedohar" rel="tooltip"><span class="up">Thedohar</span></a></li>
<li><a href="avalarik.html" title="Avalarik" rel="tooltip"><span>Avalarik</span></a></li>   
</ul>
</nav>
</header>
<article class="content clearfix gutters">
{{ content }}
<aside class="related-content">
{% include tag-list.html %}
</aside>
</article>
</div>
{% include footer.html %}