<h4>Caravan Master</h4>
<ul class="spaced-list unstyled">
	<li>Business Network<br/><small><strong>Requirements:</strong> Caravan<br/>No Caravan Master worth their salt operates without a network of business associates. Add +3 to your Influence Pool. When you enter a new city or town you may spend 3 Influence to have a business associate be in that town. Define their business and create them with the Character Generation Table. You may add them to your Network.</small></li>
	<li>Caravan<br/><small><strong>Requirements:</strong> None<br/>Traveling the open steppes, through mountain paths and across harsh deserts for profit takes a special kind of person. When in your caravan, you may spend 1 Influence to find whatever gear you need at any given moment. You may also spend 3 Influence to have a passenger with a useful skill, who can then be added to your Network.</small></li>
	<li>Forgery<br/><small><strong>Requirements:</strong> None<br/>The caravan routes move through a wide variety of polities. Sometimes it is prudent to have the right documents, and sometimes it is even more prudent to sell fake stock. When you spend 3 Influence, and with the right tools available, you can make a replica of any item that they have knowledge of.</small></li>
	<li>Smell a Deal<br/><small><strong>Requirements:</strong> None<br/></small></li>
	<li>Warehouse Space<br/><small><strong>Requirements:</strong> Caravan<br/></small></li>
</ul>
