<h5>Imperial Legionnaire</h5>
<p class="first">Drawn primarily from men of the frozen north, Imperial Legionnaires are frightening in both appearance and equipment. They attack their enemies with reckless rage, neither caring about the loss of blood or their wounds. Coupled with their unwavering loyalty to the Emnperadors, they are regarded as the most fearsome enemies any man could come to know.</p>
<ul class="spaced-list unstyled">
	<li>Cult of the Emperador<br/><small><strong>Requirements:</strong> None<br/></small></li>
	<li>Field Training<br/><small><strong>Requirements:</strong> None<br/></small></li>
	<li>Survivalist<br/><small><strong>Requirements:</strong> None<br/>The character gets a +1A to survival oriented Challenges.</small></li>
	<li>Team Player<br/><small><strong>Requirements:</strong> None<br/></small></li>
	<li>Weapon Bond<br/><small><strong>Requirements:</strong> None<br/>Select a specific weapon and give it a name. The character can never lose this weapon and gains a +1 to damage with it after damage is determined.</small></li>
</ul>