<h4>Sual</h4>
<p class="first"></p>
<p></p>
<h5>Talents</h5>
<p class="first">The Ana Sisterhood focuses it's training on achieving both physical and mental perfection. The following list of Talents reflect this synergistic approach to their training at the Finishing School.</p>
<ul class="spaced-list unstyled">
	<li>Blind But Not Blind<br/><small><strong>Requirements:</strong> None<br/>Description</small></li>
	<li>Chain of Events<br/><small><strong>Requirements:</strong> None<br/>Description</small></li>
	<li>Drink Fear<br/><small><strong>Requirements:</strong> None<br/>Description</small></li>
	<li>Hard Training<br/><small><strong>Requirements:</strong> None<br/>Description</small></li>
	<li>Haunting Melody<br/><small><strong>Requirements:</strong> None<br/>Description</small></li>
	<li>Loyalty<br/><small><strong>Requirements:</strong> None<br/>Description</small></li>
	<li>Mad Faith<br/><small><strong>Requirements:</strong> None<br/>Description</small></li>
	<li>Never Stop<br/><small><strong>Requirements:</strong> None<br/>Description</small></li>
	<li>Speak the Name<br/><small><strong>Requirements:</strong> None<br/>Description</small></li>
	<li>Unnatural Will<br/><small><strong>Requirements:</strong> None<br/>Description</small></li>
</ul>
<h5>Cultural Synergies</h5>
<p class="first"></p>
<ul class="spaced-list unstyled">
	<li>Name<br/><small><strong>Requirements:</strong> Malin Culture<br/>Description</small></li>
	<li>Name<br/><small><strong>Requirements:</strong> Vor Culture<br/>Description</small></li>
	<li>Name<br/><small><strong>Requirements:</strong> Hellas Culture<br/>Description</small></li>
</ul>