<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Category | HP eCommerce</title>
        <meta name="viewport" content="width=device-width">
        
        <link href="vendors/bootstrap.min.css" rel="stylesheet" type="text/css" />
        
        <link href="css/category/category.css" rel="stylesheet" type="text/css" />
        
        <!--[if IE 9]>
            <link href="/css/ie9.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->
    </head>

    <body>
        
        <div id="header">
    <div class="campaignHeader">
        <div id="headerTopBar">
            <a href="http://h20386.www2.hp.com/HongKongStore/Default.aspx"><img id="hplogo" class="headerLogo" src="img/shipping-information/HP-logo-large.png"></a>
            <div class="campaignContainer"> 
                <div class="left_col_campaigns">
                    <h3>HP Online Store</h3>
                    <p>Shopping Hotline 1300 304 889<br>Monday to Friday 9:00 am to 5:30 pm</p>
                </div>
            </div>

            <form id="searchForm" action="http://h20386.www2.hp.com/HongKongStore/SearchResults.aspx" method="GET">
                <div id="searchAreaWide">
                    <div id="searchBoxW" class="bold">
                        <input type="text" name="stretchValue" size="10" maxlength="100" id="textboxW" onfocus="clearSearch(this);" onblur="restoreSearch(this);" value="Search:" />
                        <input type="submit" class="searchButtonInput" value="" title="Begin your search">
                    </div>
                </div>
            </form>
            <div id="hppSignIn">
                <div id="hppAccountOpts">
                    <a href="https://h20386.www2.hp.com/HongKongStore/SimpleRegistration.aspx" class="small">Register</a>&nbsp;<span class="color666666">|</span>&nbsp;<a class="small" href="https://h20386.www2.hp.com/HongKongStore/Login.aspx">Sign-in</a>&nbsp;

                </div>
            </div>
        </div>
    </div>


    <div class="megaNavUI">
        <div class="navDropdownsMenu" id="tabMenuShop">
            <img class="tabOn" alt="" src="img/menu-chimney.png">
            <img class="tabMark" alt="" src="img/tab-marker.png">
            <img id="lMenuBG" alt="" src="img/default-menu-bg-left.png" class="menubg">
            <img id="lBGBot" alt="" class="bgBot" src="img/bg-left-bot.png">
            <img id="rMenuBG" alt="" src="img/default-menu-bg-right.png" class="menubg">
            <img id="rBGBot" alt="" class="bgBot" src="img/bg-right-bot.png">
            <img id="mShadow" alt="" src="img/menu-shadow.png" class="menuShadow">
            <img class="sectionMarker" src="img/menu-marker.png" id="tabm_1" alt="">
            <img class="detailMarker" src="img/detail_marker.png" id="sub_1" alt="">
            <div class="navDropdownsOut" id="header_0">
                <h4 id="tab_0" class="navDropdownsLink">
                    <a href="/" target="_self">
                        <img src="img/hho_icon_home.gif" title="Home" class="homeImg" alt="" border="0">
                    </a>
                </h4>
            </div>
            <img class="divImage" alt="" src="img/header-div.png">

        </div>
    </div>

</div>

        
        <div id="mainContainer" class="full-width">
            <div id="internalContentArea" class="category">
                <div id="headlineContent">
    <div class="headlineContent">
        <h1>HP laptops & tablets</h1>
        <ul></ul>
        <p>HP recommends Windows</p>
		<a href="#"><img src="img/get-to-know-windows.png" alt="Get to Know Windows" /></a>
    </div>
</div>

<div id="bannerContent">
    <div class="bannerContent">
        <img src="img/category/placeholders/product-banner-1.png" alt="" />
        <div class="banner-text">
            <h3>HP Pavilion Chromebook</h3>
            <h2>Welcome to life in the cloud</h2>
            <p>The World's first full-size Chromebook delivers you the best of Google, plus fast access to your social networks, photos, videos, music and more. </p>
            <div class="price">
                <span class="currency">$</span>
                <span class="amount">329.</span>
                <span class="decimal">99</span>
            </div>
            <a href="#" class="btn btn-critical">View details</a>
        </div>
    </div>
</div>

<div id="internalContent">
    <div class="internalContent">
        <h3>Browse our products</h3>
        <!-- div class="share-button"><span class="global-share"></span>Share</div -->
        
        <ul id="tab-products" class="section-tabs"></ul>
        
        <div class="compare-info">
            <input type="button" class="btn btn-disabled" value="Compare (0)" />
        </div>
        
        <div id="tab-internal-content" class="tab-content"></div>
        
    </div>

    <div id="internal-footer-content">
        <div id="footer-latest-news">
    <div class="footer-latest-news">
        <div class="global-footer-newsletter"></div>
        <h3>Get the latest news</h3>
        <h4>Stay connected with the latest updates and newsletters.</h4>
        <div class="footer-links">
            <a href="#" class="btn btn-white" id="facebook-like"><span class="global-facebook-logo"></span>Like us on Facebook</a>
            <span>or</span>
            <a href="#" class="btn btn-white" id="subscribe-offers">Subscribe to HP offers</a>
        </div>
    </div>
</div>

<div id="footer-country-information">
    <div class="footer-country-information">
	<p>Not all features are available in all editions of Windows 8 and Windows 8.1. Systems may require upgraded and/or separately purchased hardware, drivers and/or software to take full advantage of Windows 8 and Windows 8.1 functionality. See <a href="http://www.microsoft.com">http://www.microsoft.com</a>   </p>
     </div>
</div>

<div id="footer-navigation">
    <div class="footer-navigation">
        <div class="navigation-tools">
            <h4>Tools</h4>
            <ul>
                <li><a href="#">View Bundled Products</a></li>
                <li><a href="#">Basic Search</a></li>
                <li><a href="#">Advanced Search</a></li>
                <li><a href="#">Fast Add</a></li>
            </ul>
        </div>
        <div class="navigation-my-account">
            <h4>My Account</h4>
            <ul>
                <li><a href="#">My Wishlist</a></li>
                <li><a href="#">My Order History</a></li>
                <li><a href="#">My Saved Quotes</a></li>
                <li><a href="#">Order Status</a></li>
            </ul>
        </div>
        <div class="navigation-customer-service">
            <h4>Customer Service</h4>
            <ul>
                <li><a href="#">Frequently Asked Questions</a></li>
                <li><a href="#">Shipping Information</a></li>
                <li><a href="#">Return Policy</a></li>
                <li><a href="#">Ways to Pay</a></li>
                <li><a href="#">Security</a></li>
                <li><a href="#">Terms & Conditions</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="footer-copyright">
    <div class="footer-copyright">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Site Map</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms of Use</a></li>
        </ul>
        <p>&copy; 2013 Hewlett-Packard Development Company, L.P.</p>
    </div>
</div>

    </div>

</div>
<script type="text/template" id="template-headline">
    <% _.each( categories, function( category, i ) { %>
        <li><a href="#" data-slug="<%= category.slug %>"><%= category.name %></a></li>
    <% }); %>
</script>
<script type="text/template" id="template-tab-products">
    <% _.each( sub_categories, function( sub_category, i ) { %>
        <li <%= ( i == 0 ) ? 'class="active"' : '' %>>
            <a href="#<%= sub_category.subcategory_slug %>"><%= sub_category.subcategory_name %></a>
        </li>
    <% }); %>
</script>
<script type="text/template" id="template-tab-pane">
    <% _.each( sub_categories, function( sub_category, i ) { %>
        <div class="tab-pane <%= ( i == 0 ) ? 'active' : '' %>" id="<%= sub_category.subcategory_slug %>"></div>
    <% }); %>
</script>

<script type="text/template" id="template-product-item">
    <% _.each( products, function( product, i ) { %>
        <div class="product-item <%= ( i > 3 ) ? 'hide' : '' %>">
            <div class="product-container">
                
                <% if( product.is_top ) { %>
                    <div class="global-ribbon-top-voted">Top voted</div>
                <% } %>
            
                <div class="compare">
                    <label for="compare-<%= product.id %>">Compare</label>
                    <span class="global-checkbox" id="checkbox-<%= product.id %>"></span>
                    <input class="compare" type="checkbox" id="compare-<%= product.id %>" name="compare[]" value="<%= product.id %>">
                </div>
        
                <div id="carousel-<%= product.id %>" class="carousel slide">
                    <div class="carousel-inner">
                        <% _.each( product.gallery(), function( image, i ) { %> 
                            <div class="item <%= ( i == 0 ) ? 'active' : '' %>"><img src="<%= image %>" alt="" /></div>
                        <% }); %>
                    </div>
            
                    <% if( product.gallery().length > 1 ) { %>
                        <a class="global-arrow-left controls" href="#carousel-<%= product.id %>" data-slide="prev"></a>
                        <a class="global-arrow-right controls" href="#carousel-<%= product.id %>" data-slide="next"></a>
                    <% } %>
                </div>
        
                <h3><%= product.name %></h3>
				
                <% var log =  _.each( product.features, function( feature ) { %>
                    <li class="child"><%= feature.textContent %></li>
                <% }); %>
        
           			
                <div class="clearfix"></div>
            </div>
            <div class="product-price">
                <div class="price">
                    <% if( product.usualprice != "" ) { %>
                        <span class="legend">Starting at <strong class="line-through">$<%= product.usualprice %></strong></span>
                    <% } %>
                    <span class="currency">$</span>
                    <span class="amount"><%= product.price() %>.</span>
                    <span class="decimal"><%= product.decimals() %></span>
                </div>

                <div class="links-product">
                    <a href="<%= product.fullspec %>">View Full Specs</a>
                    <a href="<%= product.wishlist %>">Add to Wishlist</a>
                </div>
            </div>
            <div class="product-add-cart">
                <a href="<%= product.buynow %>">Add to Cart</a>
            </div>
        </div>
    <% }); %>

    <div class="view-more">
        <% if( products.length > 4 ) { %>
            <a href="#" class="link-more">View all <span class="global-view-all"></span></a>
        <% } %>
    </div>
</script>


            </div>
        </div>

        <script type="text/javascript" src="vendors/jquery-1.8.3.js"></script>
        <script type="text/javascript" src="vendors/bootstrap.min.js"></script>
        <script type="text/javascript" src="vendors/jquery.ba-hashchange.min.js"></script>
        <script type="text/javascript" src="vendors/underscore-min.js"></script>
        <script type="text/javascript" src="js/topnav.js"></script>
        
        <script type="text/javascript" src="js/category/getProducts.js"></script>
        
    </body>
</html>