#internalContentArea.category #internalContent .internalContent .tab-content .product-item .product-add-cart{
	width:478px;
}
#internalContentArea.category #internalContent .internalContent .tab-content .product-item .product-price {
	width:478px;
}
#internalContentArea.category #internalContent .internalContent .tab-content .product-item {
width: 480px;
}