#internalContentArea.category #internalContent .internalContent .tab-content .product-item .product-add-cart{
	width:468px;
}
#internalContentArea.category #internalContent .internalContent .tab-content .product-item .product-price {
	width:468px;
}
#internalContentArea.category #internalContent .internalContent .tab-content .product-item {
width: 470px;
}