<section class="clearfix gutters block">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>Adversaries</h3>
		<p class="first">The road to the Mountain is populated with all manner of monsters and people who would stand in the Cell's way. Creating Adversaries is done utilizing a procedure similar to that used to create characters. This allows you to quickly generate foes to fit into the world of the Mountain.</p>
		<ol class="spaced-list">
			<li>Create a Mark and an Instinct</li>
			<li>Select a Template</li>
			<li>Make Them Unique</li>
		</ol>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</section>
<section class="clearfix gutters block">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h4>Create a Mark and an Instinct</h4>
		<p class="first">An Adversary's Mark is a characteristic that makes them stand out and be memorable. They help you get a grasp on the character through auditory, manual or visual descriptions. </p>
		<p>Instincts are the reasoning and motivations of the Adversary. They give you an easy short-hand for how they should behave in a scene. Will they run away from an overwhelming force or stand and fight? To they use sex as a weapon? Are they simply misunderstood or are they malicious in their intent?</p>
		<p>You can create your own Marks and Instincts or use the one provided with the Template.</p>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</section>

<section class="clearfix gutters block">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h4>Select a Template</h4>
		<p class="first">To facilitate the rapid creation of Adversaries there are several templates that outline common individuals and monsters found in the world of The Mountain. Select from the list below.</p>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</section>

<section class="clearfix gutters block">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h4>Make Them Unique</h4>
		<p class="first">Unique Adversaries are more fun to bring into a game than mooks with swords. To make your Adversaries unique look at other Templates or all the Talents available and pick some or swap them out with those found in the Template. Select or create an Artifact and give it to the Adversary. Variety is the spice of life and the spice must flow.</p>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</section>
