<div class="clearfix gutters block" id="adversaries">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>Adversaries</h3>
		<p class="first">The road to the Mountain is populated with all manner of monsters and people who would stand in the Cell's way. Adversaries are broken into three categories; the Fey, the Tainted, and the Mundane. Within those categories is a wide variety of opponents and allies the Cell could encounter on their journey.</p>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>
<div class="clearfix gutters block">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h4>Mundane</h4>
		<p class="first">The road to the Mountain is populated with all manner of monsters and people who would stand in the Cell's way. Adversaries are broken into three categories; the Fey, the Tainted, and the Mundane. Within those categories is a wide variety of opponents and allies the Cell could encounter on their journey.</p>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>
{% include mountain/adversaries/mundane/guild-thug.html %}

<div class="clearfix gutters block">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h4>Fey</h4>
		<p class="first">The road to the Mountain is populated with all manner of monsters and people who would stand in the Cell's way. Adversaries are broken into three categories; the Fey, the Tainted, and the Mundane. Within those categories is a wide variety of opponents and allies the Cell could encounter on their journey.</p>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>
<div class="clearfix gutters block">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h4>Tainted</h4>
		<p class="first">The road to the Mountain is populated with all manner of monsters and people who would stand in the Cell's way. Adversaries are broken into three categories; the Fey, the Tainted, and the Mundane. Within those categories is a wide variety of opponents and allies the Cell could encounter on their journey.</p>

	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>