<section class="clearfix gutters block" >
	<aside class="span-3 col empty">&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>What is the Game About?</h3>
		<p class="first"><em>The Mountain</em> is a play on the dark gothic fantasy role-playing games I so enjoyed in the 90's. In it you take on the role of the overwhelmed but determined hero on an impossible quest to save the world from darkness. In doing so you explore gothic castles, face tainted monstrosities, and strive against a twisted conspiracy as you march slowly to your final destination, "The Mountain."</p>
		<p>This is a game about being the hero. It is about drawing a line in the sand and shaking your fist against the night. It isn't about survival, but about ensuring the world's survival.</p>
	</div>
	<aside class="span-3 col empty">&nbsp;
	</aside>
</section>