	<section class="clearfix gutters block">
		<aside class="span-3 col empty">&nbsp;
		</aside>
		<div class="span-6 col">
			<h3>Roles &amp; Responsibilities</h3>
			<p class="first">In this game, one player takes on the responsibility of playing the adversaries and allies, staging the scenes, and keeping track of the flow of the game. This is the Game Master (GM) and is a tough job.</p>
			<p>The other players take on the role of the Cell members. They are the heroes fighting against the obstacles the GM puts in their path. There is always at least one hero and no more than five.</p>
		</div>
		<aside class="span-3 col empty">&nbsp;
		</aside>
	</section>
	<div class="divider"></div>
