	<section class="clearfix gutters block">
		<aside class="span-3 col empty">&nbsp;
		</aside>
		<div class="span-6 col">
		<h3>What You Need to Play</h3>
		<p class="first"><em>The Mountain</em> can be played with a handful of six sided dice, some tokens for skirmishes, pencils and paper, but that is only the bare minimum. It isn't the most exciting way to play, but it can certainly work. However, I find that games are always more fun around a comfortable table with handfuls of tokens, maps, and character sheets.</p>
		<p>The ideal set up is a good sized table that can accommodate the Journey Map and a space to play out skirmishes. Whiteboards are always useful, and even better is putting maps under some glass in which you can write on with dry erase markers. Mix in glass beads for managing Pools, tokens for the Journey Map, and miniatures for Skirmishes, and you will have everything you need to really enjoy the game.</p>
		</div>
		<aside class="span-3 col empty">&nbsp;
		</aside>
	</section>
	<div class="divider"></div>
