<div class="clearfix gutters block" id="structure-play">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<hr>
		<h3>Structure of Play</h3>
		<p class="first"><em>The Mountain</em> is broken into Scenes, Turns, and Arcs. Gameplay is divided into three segments which are built on top of one another to tell the story of your Cell's attempt to acquire. Arcs are constructed from a number of Turns, and Turns are constructed by a number of Scenes. It is the Game Master's responsibility to manage and track all of this.</p>
		<p> Scenes are the narration and role-playing portion of play. They can be centered on color, challenges or Skirmishes. Color scenes where no Challenges or Skirmishes take place but information is exchanged. Challenge scenes are where players roll to overcome obstacles in an attempt to achieve a single goal (e.g. infiltrate the castle, track the villain to their lair). Skirmish scenes are where a fight breaks out and the Skirmish rules are used.</p>
		<p>Turns are a collection of scenes centered on a single idea or goal. New Turns begin when the focus of the scenes change. For example, if the Cell was infiltrating the castle to plant evidence on the lord for heresy and then shifted gears to follow the high priest to a clandestine meeting as he left the castle, that would be the start of a new turn. The Game Master decides when a Turn ends and informs the players.</p>
		<p>Arcs are a collection of Turns that take place at a single location. They begin when the Cell arrives and end when the Cell begins the next leg of their journey.</p>		
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>
