<div class="clearfix gutters block" id="character-sheet">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>The Character Sheet</h3>
		<p class="first">To play <em>The Mountain</em>, you need to keep a written record of your character. When filling it out, make sure to use a pencil as during play the character will constantly be changing. It is also useful to have it handy as you read through the text as a reference. Using the sheet in this way will provide context.</p>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>
<figure class="clearfix">
	<picture>
		<img data-src="/img/articles/mountain/cs-one.jpg" alt="Character Sheet Front">
	</picture>
	<figcaption>
		<p>The front of the character sheet is universal to all Archetypes.</p>	
	</figcaption>
</figure>
<figure class="clearfix gutters">
	<picture>
		<img data-src="/img/articles/mountain/cs-two.jpg" alt="Character Sheet Back">
	</picture>
	<figcaption>
		<p>The back of the character sheet is designed for each individual Archetype.</p>	
	</figcaption>
</figure>


