	<section class="clearfix gutters block">
		<aside class="span-3 col empty">
		&nbsp;
		</aside>
		<div class="span-6 col">
			<h3>The Basics</h3>
			<p class="first">The Mountain uses six-sided dice for all rolls in one of two ways. To decide the outcome of actions taken by characters, you roll a handful of dice. In this kind of roll, each die counts on it's own, with a result of 4, 5, or 6 being a success. Each success is then counted up for your total.</p>
			<p>The dice are also used to roll against a table to get a result. In this case you use dice of varying colors, identifying before you roll which die is first, second, third and so on. The result is then tallied as a number. FOr example, when rolling a D66, you take two six-sided dice, designating one the first number and the other the seond. The result will then be between 11 and 66, which is then compared against a table.</p>
			<h4>Difficulty</h4>
			<p class="first">The adversity a character must overcome is called the Difficulty and is dictated by the GM based upon the context of the situation. It is either a fixed number or equal to the number of successes rolled in opposition to the character.</p>
			<table id="dificulty-table">
				<caption>
					Difficulty Table
				</caption>
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>Difficulty</th>
						<th>Cost</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Tough</td>
						<td>2</td>
						<td>1</td>
					</tr>
					<tr>
						<td>Challenging</td>
						<td>3</td>
						<td>2</td>
					</tr>
					<tr>
						<td>Formidable</td>
						<td>4</td>
						<td>3</td>
					</tr>
					<tr>
						<td>Heroic</td>
						<td>5</td>
						<td>4</td>
					</tr>
					<tr>
						<td>Super Heroic</td>
						<td>6</td>
						<td>5</td>
					</tr>
					<tr>
						<td>Supernatural</td>
						<td>7</td>
						<td>6</td>
					</tr>
				</tbody>
			</table>
			<h4>Challenges</h4>
			<p class="first">Challenges are constructed of two parts. One is a resource management mechanic tied to the character's three main resources and the other is the actual dice. When a character falls into opposition with the Game Master, meaning the Game Master has decided to say no to the player's narration of events, the GM first determines what kind of Challenge the character must overcome.</p>
			<p>Challenges fall into three broad types; Physical, Mental and Social. These categories dictate how many successes the player must roll, the duration of any Condition that may be assigned them should they fail, and the cost to the character's appropriate resource. Vitality is required to engage in any physical activity, Influence for any social activity, and Willpower can be used for any physical, mental or Wyrding activity.</p>
			<p>To resolve a Challenge the player rolls a number of six sided dice equal to the Trait appropriate to the Challenge plus or minus dice dictated by Advantages (+1D) and Disadvantages (-1D). Advantages and Disadvantages are the result of environmental effects, the character's Skills, and Condition caused by previous Challenges. If the roll is opposed by another character directly, the Difficulty is the number of success the opponent makes with their own roll.</p>
			<h4>Twists &amp; Conditions</h4>
			<p class="first">When a player fails the roll, the GM has two options they can pursue. They can either deny the character what they want (boring), give the character what they want and assign them a Condition or give the character what they want and add a twist to their plan.</p>
			<p>A Twist is a change in the narrative that adds a new obstacle to overcome. They can be immediate, like an ambush, or a more long term issue, like the lose of a primary source of income. They are opportunities to take the game in new and interesting directions and to add some additional excitement.</p>
			<p>A Condition is a disadvantage that applies a -1D to a specific set of circumstances for a specific set of time. The time is lasts a number of Turns equal to the margin of failure and the circumstances are based on the context of the situation as interpreted by the GM.</p>
			<h4>Advantages &amp; Disadvantages</h4>
			<p class="first">An Advantage is a bonus to the character's rolls. It is indicated with a +1D, +2D, etc. This means that you add that number of dice to any rolls covered by the Advantage.</p>
			<p>A Disadvantage follows the same patter, but with the opposite effect. It is indicated with a -1D, -2D, etc. This means that you subtract that number of dice to any rolls covered by the Disadvantage.</p>
			<h4>Success Modifiers</h4>
			<p class="first">Success modifiers add or subtract to your total number of successes without being tied to a specific die roll. This is indicated with a +1s, -1s, etc. Doom is a prime example of a success modifier.</p>
			<h4>Margin of Victory</h4>
			<p class="first">The margin of victory indicates the result you get when you subtract the Difficulty or the total number of successes of loser in a Challenge roll from the total number of successes of the victor.</p>
			<h4>Margin of Failure</h4>
			<p class="first">The margin of failure indicates the result you get when you subtract the total number of successes of the loser in a Challenge roll from the Difficulty or the total number of successes of the victor.</p>
		</div>
		<aside class="span-3 col empty">
		&nbsp;
		</aside>
	</section>
