<div class="clearfix gutters block" id="terminology">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h3>Terminology</h3>
		<p class="first"></p>
		<h4>Difficulty</h4>
		<p class="first"></p>
		<h4>Twists &amp; Conditions</h4>
		<p class="first"></p>
		<h4>Advantages &amp; Disadvantages</h4>
		<p class="first"></p>
		<h4>Success Modifiers</h4>
		<p class="first"></p>
		<h4>Margin of Victory</h4>
		<p class="first"></p>
		<h4>Margin of Failure</h4>
		<p class="first"></p>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</div>
