<section class="clearfix gutters block">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h4>Effects</h4>
		<p class="first">Wyrds can have one of the following five effects. It may confuse, hinder, help, harm or manipulate.</p>
		<p>A character may use the Wyrd to create illusions that confuse or deceive others. When using a Confuse Wyrd, enter a Versus Challenge between the character's Wyrd and the victim's Temperament Trait. If successful, the victim believes the illusion to be true.</p>
		<p>A character may use the Wyrd to hinder a victim's abilities. When doing this, the ability or abilities must be named. Each +1 Difficulty the character wishes to add to an opponent's Challenge adds 1 to the Wyrd's Difficulty.</p>
		<p>A character may use the Wyrd to help themself or another. When doing this, the ability or abilities that you wish the help must be named. Each 1D of Advantage the character wishes to add to the target's roll adds 1 to the Wyrd's Difficulty.</p>
		<p>Conversely Help can also be used to remove Condition or Taint from a character. Each Condition or Taint effect the character wishes to remove adds 1 to the Wyrd's Difficulty.</p>
		<p>A character may use the Wyrd to unleash eldritch energies to harm an opponent. The form in which this takes is up to the player. The base difficulty is always four.</p>
		<p>A character may manipulate the Wyrd by forcing a Versus Challenge between their Wyrd Trait and an opponent's Athletics Trait. When doing so they declare how they are trying to manipulate their target (push, pull, knock down, stun, immobilize). If successful, the victim suffers.</p>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</section>
