<section class="clearfix gutters block">
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
	<div class="span-6 col">
		<h4>Summoning Rituals</h4>
		<p class="first">Summoning Rituals allow a diabolist to summon a spirit or demonic entity and bind it to their service. The entity once summoned can provide one of three services. They can perform a physical task, empower the diabolist, or reveal an unknown truth.</p>
		<p>The Summoning ritual is a Wyrding Challenge with the Difficulty being equal to the target entity's Taint Trait. If success the target is bound to serve the diabolist at a price. If failed, the target will either arrive angry and need to be convinced to enter into a contract with the diabolist, or some other entity will be summoned. The GM should use their imagination to see where that goes.</p>
		<p>Any deal made with a summoned entity is a bargain, with the diabolist paying a price in exchange for a service. If both sides can't come to an agreement a Skullduggery or Temperament Challenge against the entity's Taint Trait is necessary. Failure in this case means the diabolist earns the enmity of the entity after it leaves.</p>
		<p>The terms of the bargain are on one side the entity performs a specific service for a set duration. On the other, the diabolist must pay a specific price. The greater the service, the steeper the price.</p>
	</div>
	<aside class="span-3 col empty">
	&nbsp;
	</aside>
</section>