{% include core/wyrding/01-creating-wyrds.html %}
{% include core/wyrding/02-effects.html %}
{% include core/wyrding/03-scope.html %}
{% include core/wyrding/04-duration.html %}
{% include core/wyrding/05-consequences.html %}
{% include core/wyrding/06-named-wyrds.html %}
{% include core/wyrding/07-rituals.html %}
{% include core/wyrding/08-necromancy.html %}
{% include core/wyrding/16-domination.html %}
{% include core/wyrding/09-exorcism.html %}
{% include core/wyrding/12-geas.html %}
{% include core/wyrding/13-shapechanging.html %}
{% include core/wyrding/11-summoning.html %}
{% include core/wyrding/15-warding.html %}