{% include core/wyrding/01-creating-wyrds.html %}
{% include core/wyrding/02-command.html %}
{% include core/wyrding/03-curse.html %}
{% include core/wyrding/04-hex.html %}
{% include core/wyrding/05-making.html %}
{% include core/wyrding/06-seeing.html %}
{% include core/wyrding/07-sending.html %}
{% include core/wyrding/08-warding.html %}
{% include core/wyrding/09-bond.html %}
{% include core/wyrding/10-enchantment.html %}
{% include core/wyrding/11-entrapment.html %}
{% include core/wyrding/12-exorcism.html %}
{% include core/wyrding/13-inscription.html %}
{% include core/wyrding/14-oath.html %}
{% include core/wyrding/15-offering.html %}
{% include core/wyrding/16-purification.html %}
{% include core/wyrding/17-reading.html %}
{% include core/wyrding/18-summoning.html %}