			<h4>Navari</h4>
			<p>The Navari made their appearance on the world stage dramatically on 8 Lugor 476 3E when a Navari fleet destroyed an imperial garrison on the island of Lidnikos. The devastation of that key island shocked and alerted the Empire that no place was safe from these warriors from the frozen north. More than any other single event, this attack demonized the Navari in the eyes of the people of the Empire, shaping their interactions to this day, over 400 years later.</p>
			<p>The Navari see themselves as the descendants of the three brothers who overthrew the Jutun in the First Age and became the Cold Gods; Vajir, Vojin, and Vijir. Each of these gods embody the three virtues that the Navari hold dear to this day; self-sacrifice, persistence, and deception. Combined with a belief that the destiny of everyone is set by the three Fates, has molded their society around the idea that any day can be your last, so seek glory at every opportunity.</p>
			<h5>Names</h5>
			<p>Navari names focus on first names coupled with colorful descriptors. Surnames, both Patronymic and Matronymic are used, but due to changeable nature and a lack of inheritence of surnames over generations, they are less useful than the descriptors. Patronymic surnames terminate with a <em>-sen</em> suffix and Matronymic surnames terminate with a <em>-sena</em> suffix (Britor "The Golden" Dalmarsen or Oda "Blood Eyes" Sifsena).</p>
			<ul class="spaced-list unstyled">
				<li><strong>Male Names:</strong> Adler, Alban, Britor, Cort, Dalmar, Eiolf, Froydar, Gjorulf, Hildrulf, Ingvar, Jarluf, Kjetel, Lars, Magnulf, Nels, Odulf, Rondar, Sigmar, Torulf, Ulf, Valdemar, Yngvar.</li>
				<li><strong>Female Names:</strong> Adelis, Alba, Brita, Cilje, Dagmar, Embjorg, Froydis, Gjorild, Hildri, Ingvei, Janhilde, Ket, Lif, Marfrid, Nelbjorg, Oda, Rondri, Sif, Tjonni, Ulfi, Valda, Yngvil.</li>
			</ul>
			<h5>Language</h5>
			<p>The Navari natively speak Navari, a language common in the north. Because of this they also have a passing understanding of the other Jutuni languages, Isoli, Eskari, Tarathan, and Omeroni.</p>
			<h5>Base Traits</h5>
			<ul class="unstyled">
				<li><strong>Athletics (2)</strong></li>
				<li><strong>Leadership (1)</strong></li>
				<li><strong>Craftsmanship (1)</strong></li>
				<li><strong>Wyrd (2)</strong></li>
				<li><strong>Skullduggery (1)</strong></li>
				<li><strong>Fighting (2)</strong></li>
				<li><strong>Temperament (1)</strong></li>
			</ul>
			<h5>Vocations</h5>
			<p>A character's Vocation is a Talent that reflects the nature of their cultural background. Social standing, job training, and life experience all determine what capabilities the characters has.</p>
			<h6>Those Who Fight</h6>
			<p>In the Second Era, the Jutuni peoples held that the only way to reach paradise was to die in battle. While their belief in how one achieves heaven has changed over time to include those who serve any of the Twenty Four, violence against enemies is still viewed as the ideal path. For the Navari this evolution in thought created an entire ruling class centered on the capability to wage war, which dominates their society today.</p>
			<ul class="spaced-list unstyled">
				<li><strong>The Gal</strong> A Navari warrior is expected to be at once warrior, sailor and merchant. They are not professional soldiers by any stretch of the imagination, but their ferocity more than outclasses the peasants with pitchforks they often face.
					<ul class="unspaced-list">
							<li><strong>Athletics (+2)</strong></li>
							<li><strong>Leadership (+0)</strong></li>
							<li><strong>Craftsmanship (+2)</strong></li>
							<li><strong>Wyrd (+0)</strong></li>
							<li><strong>Skullduggery (+1)</strong></li>
							<li><strong>Fighting (+2)</strong></li>
							<li><strong>Temperament (+0)</strong></li>
						<li><strong>Influence Recovery (+1)</strong></li>
						<li><strong>Talent:</strong> <em>They are resigned to their fate and do not fear death</em></li>
					</ul>
				</li>
				<li><strong>The Hirdmann</strong> Man or woman, a Hirdmann is a warrior sworn to a Navari Thegn. They are equal parts bodyguard, professional soldier and reaver.
					<ul class="unspaced-list">
							<li><strong>Athletics (+2)</strong></li>
							<li><strong>Leadership (+0)</strong></li>
							<li><strong>Craftsmanship (+2)</strong></li>
							<li><strong>Wyrd (+0)</strong></li>
							<li><strong>Skullduggery (+1)</strong></li>
							<li><strong>Fighting (+2)</strong></li>
							<li><strong>Temperament (+0)</strong></li>
						<li><strong>Influence Recovery (+3)</strong></li>
						<li><strong>Talent:</strong> <em>When working with other members of the Hird they are seemingly unstoppable</em></li>
					</ul>
				</li>
				<li><strong>The Imperial Guardsman</strong> The constant warfare of the distant north has lead many Navari warriors to seek their fortune in the Mother of Cities. At Cidiero they comprise an elite bodyguard and shock troop that serves the Emperador.
					<ul class="unspaced-list">
							<li><strong>Athletics (+2)</strong></li>
							<li><strong>Leadership (+2)</strong></li>
							<li><strong>Craftsmanship (+0)</strong></li>
							<li><strong>Wyrd (+0)</strong></li>
							<li><strong>Skullduggery (+0)</strong></li>
							<li><strong>Fighting (+3)</strong></li>
							<li><strong>Temperament (+1)</strong></li>
						<li><strong>Influence Recovery (+1)</strong></li>
						<li><strong>Talent:</strong> <em>Can turn anything into a deadly weapon</em></li>
					</ul>
				</li>
				<li><strong>The Lendmann</strong> The Lendmann is the captain of a Thegn's Hird as well as the master of the fleet.
					<ul class="unspaced-list">
							<li><strong>Athletics (+2)</strong></li>
							<li><strong>Leadership (+3)</strong></li>
							<li><strong>Craftsmanship (+0)</strong></li>
							<li><strong>Wyrd (+0)</strong></li>
							<li><strong>Skullduggery (+0)</strong></li>
							<li><strong>Fighting (+2)</strong></li>
							<li><strong>Temperament (+2)</strong></li>
						<li><strong>Influence Recovery (+3)</strong></li>
						<li><strong>Talent:</strong> <em>They are at their best when they are leading men in battle</em></li>
					</ul>
				</li>
				<li><strong>The Thegn</strong> A Thegn is a leader of a Navari community, which can be as small as a single reaver fleet or as large as the entire country of Navaren.
					<ul class="unspaced-list">
							<li><strong>Athletics (+0)</strong></li>
							<li><strong>Leadership (+4)</strong></li>
							<li><strong>Craftsmanship (+0)</strong></li>
							<li><strong>Wyrd (+0)</strong></li>
							<li><strong>Skullduggery (+1)</strong></li>
							<li><strong>Fighting (+2)</strong></li>
							<li><strong>Temperament (+2)</strong></li>
						<li><strong>Influence Recovery (+4)</strong></li>
						<li><strong>Talent:</strong> <em>Is adept at getting others to compromise</em></li>
					</ul>
				</li>
			</ul>
			<h6>Those Who Work</h6>
			<p>All Navari are expected to be able to fight, however not all are a part of the ruling clans. Those that find themselves outside the circles of the elite maintain their honor in one of the socially acceptable trades. They know that a simple economic downturn can lead them thralldom.</p>
				<ul class="spaced-list unstyled">
					<li><strong>The Handverker</strong> Fine crafts are revered in Navari society. Their handverker are well known for their work in wood and iron.
						<ul class="unspaced-list">
							<li><strong>Athletics (+2)</strong></li>
							<li><strong>Leadership (+0)</strong></li>
							<li><strong>Craftsmanship (+3)</strong></li>
							<li><strong>Wyrd (+0)</strong></li>
							<li><strong>Skullduggery (+1)</strong></li>
							<li><strong>Fighting (+0)</strong></li>
							<li><strong>Temperament (+0)</strong></li>
							<li><strong>Influence Recovery (+1)</strong></li>
							<li><strong>Talent:</strong> <em>Is adept at one particular craft</em></li>
						</ul>
					</li>
					<li><strong>The Fisker</strong> Navari society is one lashed to the currents and tides of the world. Fiskers are bold and daring, traveling far to pull in all manner of exotic catches.
						<ul class="unspaced-list">
							<li><strong>Athletics (+2)</strong></li>
							<li><strong>Leadership (+0)</strong></li>
							<li><strong>Craftsmanship (+2)</strong></li>
							<li><strong>Wyrd (+0)</strong></li>
							<li><strong>Skullduggery (+2)</strong></li>
							<li><strong>Fighting (+0)</strong></li>
							<li><strong>Temperament (+0)</strong></li>
							<li><strong>Influence Recovery (+1)</strong></li>
							<li><strong>Talent:</strong> <em>Can hide in plain sight</em></li>
						</ul>
					</li>					
					<li><strong>The Galgagramr</strong> Part revered holy man and part feared sorceror, Galgagramr's are famous for their ability to manipulate the Wyrd, speak the language of birds, and to interpret the will of the Fates for others.
						<ul class="unspaced-list">
							<li><strong>Athletics (+1)</strong></li>
							<li><strong>Leadership (+0)</strong></li>
							<li><strong>Craftsmanship (+0)</strong></li>
							<li><strong>Wyrd (+4)</strong></li>
							<li><strong>Skullduggery (+1)</strong></li>
							<li><strong>Fighting (+0)</strong></li>
							<li><strong>Temperament (+2)</strong></li>
							<li><strong>Influence Recovery (+2)</strong></li>
							<li><strong>Talent:</strong> <em>Sees all that the crow sees</em></li>
						</ul>
					</li>
					<li><strong>The Gjeter</strong> The Navari view the cultivation of the earth as a sacrilege against Rikdom. It is for this reason you will find among Those Who Work gjeter that tend to sheep and pigs.
						<ul class="unspaced-list">
							<li><strong>Athletics (+2)</strong></li>
							<li><strong>Leadership (+0)</strong></li>
							<li><strong>Craftsmanship (+2)</strong></li>
							<li><strong>Wyrd (+0)</strong></li>
							<li><strong>Skullduggery (+0)</strong></li>
							<li><strong>Fighting (+0)</strong></li>
							<li><strong>Temperament (+1)</strong></li>
							<li><strong>Influence Recovery (+1)</strong></li>
							<li><strong>Talent:</strong> <em>They can find their ways quickly through the hills and fjords</em></li>
						</ul>
					</li>
					<li><strong>The Btygger</strong> The btygger holds a sacred position in Navari society as masters of the water ways. Said to have learned their trade directly from Vajir, they build the means in which the Navari engage with the world.
						<ul class="unspaced-list">
							<li><strong>Athletics (+3)</strong></li>
							<li><strong>Leadership (+0)</strong></li>
							<li><strong>Craftsmanship (+2)</strong></li>
							<li><strong>Wyrd (+0)</strong></li>
							<li><strong>Skullduggery (+1)</strong></li>
							<li><strong>Fighting (+1)</strong></li>
							<li><strong>Temperament (+0)</strong></li>
							<li><strong>Talent:</strong> <em>They know the secret currents to speed them along</em></li>
						</ul>
					</li>
					<li><strong>The Skald</strong> The storyteller is a key component of Navari society, which has a very low literacty rate, but a strong oral traddition. They sing songs, tell tales, keep the histories, and function as messangers between the hundreds of courts that dot the land.
						<ul class="unspaced-list">
							<li><strong>Athletics (+1)</strong></li>
							<li><strong>Leadership (+0)</strong></li>
							<li><strong>Craftsmanship (+0)</strong></li>
							<li><strong>Wyrd (+0)</strong></li>
							<li><strong>Skullduggery (+2)</strong></li>
							<li><strong>Fighting (+0)</strong></li>
							<li><strong>Temperament (+4)</strong></li>
							<li><strong>Influence Recovery (+1)</strong></li>
							<li><strong>Talent:</strong> <em>They can inspire with a song</em></li>
						</ul>
					</li>
			</ul>
			<h6>Those Who Serve</h6>
			<p>In many ways, Navari society is built upon the back of thralls. Thralls are typically individuals who are captured in battle but unable to be ransomed. Whatever their life was before, they are broken and forced work as servants, farmers and laborers for their masters.</p>			
				<ul class="spaced-list unstyled">
					<li><strong>The Thrall Bonde</strong> The Navari believe that it is decreed by the Twenty Four that only the weak and the damned are destined to till the earth. However, grains and vegetables are necessary for a society to thrive, so Thralls are forced into this damned role.
						<ul class="unspaced-list">
							<li><strong>Athletics (+3)</strong></li>
							<li><strong>Leadership (+0)</strong></li>
							<li><strong>Craftsmanship (+2)</strong></li>
							<li><strong>Wyrd (+0)</strong></li>
							<li><strong>Skullduggery (+0)</strong></li>
							<li><strong>Fighting (+0)</strong></li>
							<li><strong>Temperament (+2)</strong></li>
							<li><strong>Influence Recovery (+0)</strong></li>
							<li><strong>Talent:</strong> <em>They can survive the worst harships</em></li>
						</ul>
					</li>
					<li><strong>The Thrall Arbeider</strong> Navari society is built on the strong backs of Thralls who erect their homes, help build their ships, and clear the land. Most Thralls fall into this category of slavery.
						<ul class="unspaced-list">
							<li><strong>Athletics (+2)</strong></li>
							<li><strong>Leadership (+0)</strong></li>
							<li><strong>Craftsmanship (+4)</strong></li>
							<li><strong>Wyrd (+0)</strong></li>
							<li><strong>Skullduggery (+0)</strong></li>
							<li><strong>Fighting (+0)</strong></li>
							<li><strong>Temperament (+1)</strong></li>
 							<li><strong>Influence Recovery (+0)</strong></li>
							<li><strong>Talent:</strong> <em>They know how to find food to survive</em></li>
						</ul>
					</li>					
					<li><strong>The Thrall Tjenner</strong> Those Thralls that are cultured, educated or skilled are taken into the households of Thegns and wealthy craftsmen. In many cases they become more trusted by their owners than blood relations.
						<ul class="unspaced-list">
							<li><strong>Athletics (+2)</strong></li>
							<li><strong>Leadership (+0)</strong></li>
							<li><strong>Craftsmanship (+1)</strong></li>
							<li><strong>Wyrd (+0)</strong></li>
							<li><strong>Skullduggery (+2)</strong></li>
							<li><strong>Fighting (+0)</strong></li>
							<li><strong>Temperament (+3)</strong></li>
							<li><strong>Influence Recovery (+0)</strong></li>
							<li><strong>Talent:</strong> <em>They know how to hide in plain sight</em></li>
						</ul>
					</li>
			</ul>